::ng-deep .card-stats .card-body {
    padding: 15px 15px 0;
}

::ng-deep .text-success,
a.text-success:focus,
a.text-success:hover {
    color: #6bd098!important;
}

::ng-deep .nc-money-coins::before {
    content: "";
}

::ng-deep .card-stats .icon-big i {
    line-height: 59px;
}

::ng-deep .mat-icon {
    line-height: 59px !important;
    font-size: 1.3em !important;
}

::ng-deep .nc-icon {
    display: inline-block;
    font: normal normal normal 14px/1 nucleo-icons;
    font-size: inherit;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::ng-deep .card-stats .icon-big {
    font-size: 3em;
    min-height: 64px;
}

::ng-deep .card-stats .card-body .numbers {
    text-align: right;
    font-size: 1.6em;
}

::ng-deep .card-stats .card-body .numbers .card-category {
    color: #9a9a9a;
    font-size: 16px;
    line-height: 1.4em;
}

::ng-deep .card-stats .card-body .numbers p {
    margin-bottom: 0;
}

::ng-deep .card-stats .card-footer {
    padding: 0 15px 15px;
}

::ng-deep .card .card-footer {
    background-color: transparent;
    border: 0;
}

::ng-deep .card-stats .card-footer .stats {
    color: #9a9a9a;
}

::ng-deep .card .card-footer .stats i {
    margin-right: 5px;
    position: relative;
    top: 0;
    color: #66615b;
}

::ng-deep .card {
    border-radius: 12px;
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, .15);
    background-color: #fff;
    color: #252422;
    position: relative;
    border: 0;
}