<div fxLayout="column" style="padding: 8vw;" fxLayoutAlign="center center" [hidden]="!modalloaderenable">
    <div id="modalInnerLoader"></div>
    <div id="modalInnerLoaderText">Loading...</div>
</div>

<div class='UserButton' fxLayout="row" fxLayoutAlign="end center" [hidden]="modalloaderenable">

    <button type="button" pButton icon="pi pi-save" id="saveClient" [ngStyle]="{'margin-right':'5px','cursor':'pointer' }" (click)="saveBudget()" label="Update"></button>

    <button type="button" pButton icon="pi pi-times" (click)="cancel();" label="Cancel" class="ui-button-secondary" style="background-color:ghostwhite;"></button>

</div>

<div *ngIf="!modalloaderenable" #scrollDown>



    <div class="p-grid p-justify-around p-align-center" style="padding: 10px 0px 0px 0px;">


        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-4 col-md-3">
                            <div class="icon-big text-center icon-warning"><i class="fa fa-university" aria-hidden="true"></i></div>
                        </div>
                        <div class="col-8 col-md-9" style="padding: 0px 10px 0px 0px;">
                            <div class="numbers">
                                <p class="card-category">Total</p>
                                <p class="card-title">{{currency}} {{adminObject.oldBudget.Amount | number}} </p>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="stats"><i class="fa fa-calendar-o"></i> {{adminObject.oldBudget.LastUpdated | date:'MMM dd, yyyy'}} </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-4 col-md-3">
                            <div class="icon-big text-center icon-warning">
                                <mat-icon>account_balance_wallet</mat-icon>
                            </div>
                        </div>
                        <div class="col-8 col-md-9" style="padding: 0px 10px 0px 0px;">
                            <div class="numbers">
                                <p class="card-category">Revenue</p>
                                <p class="card-title">{{currency}} {{adminObject.oldBudget.AmountRevenue | number }} </p>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="stats"><i class="fa fa-calendar-o"></i> {{adminObject.oldBudget.LastUpdated | date:'MMM dd, yyyy'}}</div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-4 col-md-3">
                            <div class="icon-big text-center icon-warning"><i class="fa fa-credit-card" aria-hidden="true"></i></div>
                        </div>
                        <div class="col-8 col-md-9" style="padding: 0px 10px 0px 0px;">
                            <div class="numbers">
                                <p class="card-category">OOP</p>
                                <p class="card-title">{{currency}} {{adminObject.oldBudget.AmountOOP | number}} </p>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="stats"><i class="fa fa-calendar-o"></i> {{adminObject.oldBudget.LastUpdated | date:'MMM dd, yyyy'}} </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-4 col-md-3">
                            <div class="icon-big text-center icon-warning"><i class="fa fa-calculator" aria-hidden="true"></i></div>
                        </div>
                        <div class="col-8 col-md-9" style="padding: 0px 10px 0px 0px;">
                            <div class="numbers">
                                <p class="card-category">Tax</p>
                                <p class="card-title">{{currency}} {{adminObject.oldBudget.AmountTax | number}} </p>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="stats"><i class="fa fa-calendar-o"></i> {{adminObject.oldBudget.LastUpdated | date:'MMM dd, yyyy'}} </div>
                </div>
            </div>
        </div>
    </div>

    <p-card class="p-col-12">
        <div class="p-col-12">

            <div class="p-col-2" *ngFor="let type of budgetType" style="float: left;">
                <p-radioButton name="budgetType" [value]="type.value" [label]="type.label" [(ngModel)]="selectedValue" inputId="selectedValue"></p-radioButton>
            </div>
        </div>
        <br><br>

        <form [formGroup]='changeBudgetForm' class="p-col-12">

            <!-- first Row html -->
            <div class="p-grid">
                <div class="p-grid p-col">
                    <div class="p-col-4"><span class="compulsory">*</span>Total Amount</div>
                    <div class="p-col-8">
                        <input type="number" size="30" style="width: 100%;" formControlName="total" placeholder="Total Amount" pInputText>
                        <div class="error" *ngIf="isBudgetFormSubmit && changeBudgetForm.controls.total.errors">
                            <div *ngIf="changeBudgetForm.controls.total.errors.required">Total Amount is required</div>
                            <div *ngIf="changeBudgetForm.controls.total.errors.nonZeroNumber">
                                Total cannot be less than equal to zero</div>
                        </div>
                    </div>
                </div>
                <div class="p-grid p-col">
                    <div class="p-col-4"><span class="compulsory">*</span>Revenue</div>
                    <div class="p-col-8">
                        <input type="number" size="30" style="width: 100%;" formControlName="revenue" placeholder="Revenue Amount" (change)="setPOTotal()" pInputText>
                        <div class="error" *ngIf="isBudgetFormSubmit && changeBudgetForm.controls.revenue.errors">
                            <div *ngIf="changeBudgetForm.controls.revenue.errors.required">Revenue is required</div>
                            <div *ngIf="changeBudgetForm.controls.revenue.errors.positiveNumber">
                                Revenue cannot be less than zero</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- second Row html  -->
            <div class="p-grid" [hidden]="showeditPO">
                <div class="p-grid p-col">
                    <div class="p-col-4"><span class="compulsory">*</span>OOP Amount</div>
                    <div class="p-col-8">
                        <input type="number" size="30" style="width: 100%;" formControlName="oop" placeholder="OOP Amount" (change)="setPOTotal()" pInputText>
                        <div class="error" *ngIf="isBudgetFormSubmit && changeBudgetForm.controls.oop.errors">
                            <div *ngIf="changeBudgetForm.controls.oop.errors.required">OOP is required</div>
                            <div *ngIf="changeBudgetForm.controls.oop.errors.positiveNumber">
                                OOP cannot be less than zero.</div>
                        </div>
                    </div>
                </div>
                <div class="p-grid p-col">
                    <div class="p-col-4"><span class="compulsory">*</span>Tax Amount</div>
                    <div class="p-col-8">
                        <input type="number" size="30" style="width: 100%;" formControlName="tax" placeholder="Tax Amount" (change)="setPOTotal()" pInputText>
                        <div class="error" *ngIf="isBudgetFormSubmit && changeBudgetForm.controls.tax.errors">
                            <div *ngIf="changeBudgetForm.controls.tax.errors.required">Tax is required</div>
                            <div *ngIf="changeBudgetForm.controls.tax.errors.positiveNumber">
                                Tax cannot be less than zero.</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="p-grid">

            <div class="p-grid p-col">
                <div class="p-col-2"><span class="compulsory">*</span>PO File</div>
                <div class="p-col-4">
                <input type="file" style="width: 100%;" formControlName="poFile" (change)="onFileChange($event)" pInputText>
                <div class="error" *ngIf="isBudgetFormSubmit && changeBudgetForm.controls.poFile.errors">
                    <div *ngIf="changeBudgetForm.controls.poFile.errors.required">
                        PO File is required</div>
                </div>
            </div>
            </div>
            </div>


        </form>

    </p-card>
</div>


<!-- <p-dialog [(visible)]="showaddBudget" [modal]="true" appendTo="body" [contentStyle]="{'max-height':'500px', 'top':'0px'}" [style]="{width: '90%'}">
    <p-header>
        Change Budget
    </p-header>

    <p-dropdown [options]="budgetType" placeholder="Select Value" [(ngModel)]="selectedValue" filter="true" resetFilterOnHide="true">
    </p-dropdown>

    <div class="ui-g" *ngIf="checkBudgetValue">
        <div class="ui-g-12 error">Please Select Value</div>
    </div>

    <form [formGroup]='changeBudgetForm'>
        <div class="p-grid mt-20">
            <div *ngIf="adminObject.oldBudget" class="p-col-2 card-section">
                <div class="card">
                    <div class="content">
                        <div class="p-grid">
                            <div class="p-col-5">
                                <div class="icon-big icon-warning text-center">
                                    <i class="fa fa-money"></i>
                                </div>
                            </div>
                            <div class="p-col-7">
                                <div class="numbers">
                                    <p>Total</p>
                                    <span class="brandColor">{{adminObject.oldBudget.Amount}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr>
                            <div class="stats">
                                <i class="pi pi-clock"></i> {{adminObject.oldBudget.LastUpdated | date:'MMM dd, yyyy'}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="adminObject.oldBudget" class="p-col-2 card-section">
                <div class="card">
                    <div class="content">
                        <div class="p-grid">
                            <div class="p-col-5">
                                <div class="icon-big icon-warning text-center">
                                    <i class="fa fa-money"></i>
                                </div>
                            </div>
                            <div class="p-col-7">
                                <div class="numbers">
                                    <p>Revenue</p>
                                    <span class="brandColor">{{adminObject.oldBudget.AmountRevenue}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr>
                            <div class="stats">
                                <i class="pi pi-clock"></i> {{adminObject.oldBudget.LastUpdated | date:'MMM dd, yyyy'}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="adminObject.oldBudget" class="p-col-2 card-section">
                <div class="card">
                    <div class="content">
                        <div class="p-grid">
                            <div class="p-col-5">
                                <div class="icon-big icon-warning text-center">
                                    <i class="fa fa-money"></i>
                                </div>
                            </div>
                            <div class="p-col-7">
                                <div class="numbers">
                                    <p>OOP</p>
                                    <span class="brandColor">{{adminObject.oldBudget.AmountOOP}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr>
                            <div class="stats">
                                <i class="pi pi-clock"></i> {{adminObject.oldBudget.LastUpdated | date:'MMM dd, yyyy'}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="adminObject.oldBudget" class="p-col-2 card-section">
                <div class="card">
                    <div class="content">
                        <div class="p-grid">
                            <div class="p-col-5">
                                <div class="icon-big icon-warning text-center">
                                    <i class="fa fa-money"></i>
                                </div>
                            </div>
                            <div class="p-col-7">
                                <div class="numbers">
                                    <p>Tax</p>
                                    <span class="brandColor">{{adminObject.oldBudget.AmountTax}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr>
                            <div class="stats">
                                <i class="pi pi-clock"></i> {{adminObject.oldBudget.LastUpdated | date:'MMM dd, yyyy'}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-grid mt-20">
            <div class="p-col-2">Total Amount</div>
            <div class="p-col-2">
                <input class="mr-5" type="number" size="30" formControlName="total" placeholder="Total Amount" pInputText>
                <div class="error" *ngIf="cmObject.isBudgetFormSubmit && changeBudgetForm.controls.total.errors">
                    <div *ngIf="changeBudgetForm.controls.total.errors.required">Total Amount is required</div>
                </div>
            </div>
        </div>
        <div class="p-grid mt-20">
            <div class="p-col-2 ">Revenue</div>
            <div class="p-col-4">
                <input class="mr-5" type="number" size="30" formControlName="revenue" placeholder="Revenue" (change)="setPOTotal()" pInputText>
                <div class="error" *ngIf="cmObject.isBudgetFormSubmit && changeBudgetForm.controls.revenue.errors">
                    <div *ngIf="changeBudgetForm.controls.revenue.errors.required">Revenue is required</div>
                </div>
            </div>
        </div>
        <div class="p-grid mt-20">
            <div class="p-col-2 ">OOP</div>
            <div class="p-col-4">
                <input class="mr-5" type="number" size="30" formControlName="oop" placeholder="OOP" (change)="setPOTotal()" pInputText>
                <div class="error" *ngIf="cmObject.isBudgetFormSubmit && changeBudgetForm.controls.oop.errors">
                    <div *ngIf="changeBudgetForm.controls.oop.errors.required">OOP is required</div>
                </div>
            </div>
        </div>
        <div class="p-grid mt-20">
            <div class="p-col-2 ">Tax</div>
            <div class="p-col-4">
                <input class="mr-5" type="number" size="30" formControlName="tax" placeholder="Tax" (change)="setPOTotal()">
                <div class="error" *ngIf="cmObject.isBudgetFormSubmit && changeBudgetForm.controls.tax.errors">
                    <div *ngIf="changeBudgetForm.controls.tax.errors.required">Tax is required</div>
                </div>
            </div>
        </div>
    </form>
    <p-footer>
        <button pButton label="Submit" type="button" class="adminBtn" (click)="saveBudget()"></button>
    </p-footer>
</p-dialog> -->