<div fxLayout="row" fxLayoutAlign="space-between center">
    <p-tabMenu [model]="items" fxFlex="97"></p-tabMenu>

    <i fxFlex="3" title="Create Task" *ngIf="isUserFTE" (click)="createTask()"
        style="cursor: pointer; font-size: 2em;padding:3px;border-bottom:1px solid #C53E3E;" class="fa fa-user"
        aria-hidden="true">
    </i>

    <i fxFlex="3" (click)="loadTimeBookingDialog()" title="Time Booking"
        style="cursor: pointer; font-size: 2em;padding:3px;border-bottom:1px solid #C53E3E;"
        class="fa fa-calendar-plus-o" aria-hidden="true"></i>
</div>

<p-toast [style]="{marginTop: '80px'}" styleClass="custom-toast" key="custom" [hideTransitionOptions]="'0ms'"
    position="bottom-center">
</p-toast>

<ng-container #createTaskcontainer></ng-container>

<router-outlet (activate)="onActivate($event) " #myOutlet="outlet"></router-outlet>