<div class="p-d-flex p-flex-column" style="padding: 12vw;" *ngIf="modalloaderenable">
    <div id="modalInnerLoader"></div>
    <div id="modalInnerLoaderText">Loading...</div>
</div>


<div class="pdialogButton p-col-12 p-grid p-jc-end" *ngIf="!modalloaderenable">
    <button icon="pi pi-save" pButton pRipple type="button" (click)="SaveDetails()" label="Save" class="p-mx-2 p-button-raised p-button-danger cls_blockResSave"></button>

    <button type="button " pButton icon="pi pi-times " (click)="cancel(); " label="Cancel " class="p-mr-3 p-button-raised p-button-danger cls_blockResCancel"></button>
</div>



<div class="p-grid" *ngIf="!modalloaderenable">

    <form [formGroup]='BlockResourceForm' class="p-col">

        <div class="editInvoiceHeight p-grid p-mt-2">

            <div class="p-col-12 p-md-12 p-lg-12 p-grid">
                <div class="p-col-6 p-md-4 p-lg-3 blockResItem">Resources</div>
                <div class="p-col-6 p-md-8 p-lg-9 blockResItem">
                    <p-dropdown resetFilterOnHide="true" [style]="{'width':'100%'}" [disabled]="readonly" class="cls_blockResResources" [options]="Resources" [showClear]="true" formControlName="Resource" placeholder="Select Resource" [filter]="true" optionLabel="label"></p-dropdown>

                    <!-- optionLabel="label" (onChange)=setBudgetHoursValidation()></p-dropdown> -->
                    <div *ngIf="isBlockResourceFormSubmit && BlockResourceForm.controls.Resource.errors">
                        <div *ngIf="BlockResourceForm.controls.Resource.errors.required" style="color:red;">
                            Please provide Resource.</div>
                    </div>
                </div>
            </div>
            <div class="p-col-12 p-md-12 p-lg-12 p-grid">
                <div class="p-col-6 p-md-4 p-lg-3 blockResItem">Title</div>
                <div class="p-col-6 p-md-8 p-lg-9 blockResItem">
                    <input type="text" pInputText class="p-col-12 cls_blockResTitle" formControlName="Title" />
                    <div *ngIf="isBlockResourceFormSubmit && BlockResourceForm.controls.Title.errors">
                        <div *ngIf="BlockResourceForm.controls.Title.errors.required" style="color:red;">Please provide Title.</div>
                    </div>
                </div>
            </div>

            <div class="p-col-12 p-md-12 p-lg-12 p-grid">
                <div class="p-col-6 p-md-4 p-lg-3 blockResItem">Start Date</div>
                <div class="p-col-6 p-md-8 p-lg-9 blockResItem">

                    <p-calendar styleClass="pCalendarBtn" [disabled]="readonly" [showIcon]="true" class="cls_blockResStartDate" [minDate]="SDminDateValue" [maxDate]="SDmaxDateValue" placeholder="Select Start Date" [disabledDays]="[0,6]" dateFormat="M dd, yy" yearRange="{{yearsRange}}"
                        appendTo="body" [monthNavigator]="true" [yearNavigator]="true" formControlName="StartDate" (onClose)="SetDateValidation('startDate')"></p-calendar>

                    <div *ngIf="isBlockResourceFormSubmit && BlockResourceForm.controls.StartDate.errors">
                        <div *ngIf="BlockResourceForm.controls.StartDate.errors.required" style="color:red;">Please provide Start Date.</div>
                    </div>
                </div>
            </div>

            <div class="p-col-12 p-md-12 p-lg-12 p-grid">
                <div class="p-col-6 p-md-4 p-lg-3 blockResItem">End Date</div>
                <div class="p-col-6 p-md-8 p-lg-9 blockResItem">

                    <p-calendar styleClass="pCalendarBtn" [disabled]="readonly" [showIcon]="true" class="cls_blockResEndDate" [minDate]="EDminDateValue" [maxDate]="EDmaxDateValue" placeholder="Select End Date" [disabledDays]="[0,6]" dateFormat="M dd, yy" yearRange="{{yearsRange}}"
                        appendTo="body" [monthNavigator]="true" [yearNavigator]="true" formControlName="EndDate" (onClose)="SetDateValidation('endDate')"></p-calendar>

                    <div *ngIf="isBlockResourceFormSubmit && BlockResourceForm.controls.EndDate.errors">
                        <div *ngIf="BlockResourceForm.controls.EndDate.errors.required" style="color:red;">Please provide End Date.</div>
                    </div>
                </div>
            </div>

            <div class="p-col-12 p-md-12 p-lg-12 p-grid">
                <div class="p-col-6 p-md-4 p-lg-3 blockResItem">Expected Time</div>
                <div class="p-col-6 p-md-8 p-lg-9 blockResItem">
                    <app-allocation-overlay #dailyAllocateOP></app-allocation-overlay>
                    <input type="number" onchange="validity.valid||(value='0');" step="0.25" pInputText class="cls_blockResExpectedTime" formControlName="ExpectedTime" [style.width]="isViewAllocation ? '87%' : '100%'" max={{maxExpectedHrs}} value="0" />

                    <ng-container *ngIf="isViewAllocation">
                        <button pButton type="button" (click)="viewAllocation('')" class="viewAllocation ui-button-danger" icon='pi pi-sliders-h'></button>
                        <i title="Click to see allocation split" style="font-size: 22px;
                            margin-left: 2px;
                            vertical-align: text-bottom;" class="fa fa-info-circle overlayIconGantt" aria-hidden="true" (click)="showOverlayPanel($event, dailyAllocateOP)"></i>
                    </ng-container>
                    <div *ngIf="isBlockResourceFormSubmit && BlockResourceForm.controls.ExpectedTime.errors">
                        <div *ngIf="BlockResourceForm.controls.ExpectedTime.errors.required" style="color:red;">Please provide Expected Time.</div>
                        <div *ngIf="BlockResourceForm.controls.ExpectedTime.errors.gtZeroNumber" style="color:red;">
                            Expected Time cannot be less than equal to zero</div>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>