<div fxLayout="column" style="padding: 12vw;" fxLayoutAlign="center center" [hidden]="!modalloaderenable">
    <div id="modalInnerLoader"></div>
    <div id="modalInnerLoaderText">Loading...</div>
</div>



<div class='UserButton' fxLayout="row" fxLayoutAlign="end center" *ngIf="!modalloaderenable">

    <button type="button" pButton icon="pi pi-save" class="cls_blockResSave" id="saveClient" [ngStyle]="{'margin-right':   '5px','cursor':'pointer' }" (click)="SaveDetails()" label="Save"></button>

    <button type="button" class="cls_blockResCancel" pButton icon="pi pi-times" id="cancelClient" (click)="cancel();" label="Cancel"></button>

</div>

<div fxLayout="row" #scrollDown fxLayoutAlign="space-between start" fxLayoutGap="5px" *ngIf="!modalloaderenable">

    <form [formGroup]='BlockResourceForm' class="p-col">

        <div class="editInvoiceHeight p-grid">

            <div class="p-col-12 p-md-12 p-lg-12 p-grid">
                <div class="p-col-6 p-md-4 p-lg-3 blockResItem">Resources</div>
                <div class="p-col-6 p-md-8 p-lg-9 blockResItem">
                    <p-dropdown resetFilterOnHide="true" [style]="{'width':'100%'}" class="cls_blockResResources" [options]="Resources" [showClear]="true" formControlName="Resource" placeholder="Select Resource" [filter]="true" optionLabel="label" (onChange)=setBudgetHoursValidation()></p-dropdown>
                    <div *ngIf="isBlockResourceFormSubmit && BlockResourceForm.controls.Resource.errors">
                        <div *ngIf="BlockResourceForm.controls.Resource.errors.required" style="color:red;">
                            Please provide Resource.</div>
                    </div>
                </div>
            </div>
            <div class="p-col-12 p-md-12 p-lg-12 p-grid">
                <div class="p-col-6 p-md-4 p-lg-3 blockResItem">Title</div>
                <div class="p-col-6 p-md-8 p-lg-9 blockResItem">
                    <input type="text" pInputText class="textfeildClass cls_blockResTitle" formControlName="Title" />
                    <div *ngIf="isBlockResourceFormSubmit && BlockResourceForm.controls.Title.errors">
                        <div *ngIf="BlockResourceForm.controls.Title.errors.required" style="color:red;">Please provide Title.</div>
                    </div>
                </div>
            </div>

            <div class="p-col-12 p-md-12 p-lg-12 p-grid">
                <div class="p-col-6 p-md-4 p-lg-3 blockResItem">Start Date</div>
                <div class="p-col-6 p-md-8 p-lg-9 blockResItem">

                    <p-calendar styleClass="pCalendarBtn" [showIcon]="true" class="cls_blockResStartDate" [minDate]="SDminDateValue" [maxDate]="SDmaxDateValue" placeholder="Select Start Date" [disabledDays]="[0,6]" dateFormat="M dd, yy" yearRange="{{yearsRange}}" appendTo="body"
                        [monthNavigator]="true" [yearNavigator]="true" formControlName="StartDate" (onClose)="SetDateValidation('startDate')"></p-calendar>

                    <div *ngIf="isBlockResourceFormSubmit && BlockResourceForm.controls.StartDate.errors">
                        <div *ngIf="BlockResourceForm.controls.StartDate.errors.required" style="color:red;">Please provide Start Date.</div>
                    </div>
                </div>
            </div>

            <div class="p-col-12 p-md-12 p-lg-12 p-grid">
                <div class="p-col-6 p-md-4 p-lg-3 blockResItem">End Date</div>
                <div class="p-col-6 p-md-8 p-lg-9 blockResItem">

                    <p-calendar styleClass="pCalendarBtn" [showIcon]="true" class="cls_blockResEndDate" [minDate]="EDminDateValue" [maxDate]="EDmaxDateValue" placeholder="Select End Date" [disabledDays]="[0,6]" dateFormat="M dd, yy" yearRange="{{yearsRange}}" appendTo="body"
                        [monthNavigator]="true" [yearNavigator]="true" formControlName="EndDate" (onClose)="SetDateValidation('endDate')"></p-calendar>

                    <div *ngIf="isBlockResourceFormSubmit && BlockResourceForm.controls.EndDate.errors">
                        <div *ngIf="BlockResourceForm.controls.EndDate.errors.required" style="color:red;">Please provide End Date.</div>
                    </div>
                </div>
            </div>

            <div class="p-col-12 p-md-12 p-lg-12 p-grid">
                <div class="p-col-6 p-md-4 p-lg-3 blockResItem">Expected Time (Per Day)</div>
                <div class="p-col-6 p-md-8 p-lg-9 blockResItem">

                    <input type="number" step="0.25" pInputText class="textfeildClass cls_blockResExpectedTime" formControlName="ExpectedTime" />
                    <div *ngIf="isBlockResourceFormSubmit && BlockResourceForm.controls.ExpectedTime.errors">
                        <div *ngIf="BlockResourceForm.controls.ExpectedTime.errors.required" style="color:red;">Please provide Expected Time.</div>
                        <div *ngIf="BlockResourceForm.controls.ExpectedTime.errors.gtZeroNumber" style="color:red;">Expected Time should be greater than 0.</div>
                        <div *ngIf="BlockResourceForm.controls.ExpectedTime.errors.max" style="color:red;">Expected Time should be less than or equal to {{BlockResourceForm.value.Resource.value.MaxHrs}}.</div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>