<div class="clearBoth">
  <div class="p-grid mt-20">
    <div class="p-col-2"><span class="compulsory">*</span>Groups</div>
    <div class="p-col-3">
      <p-dropdown placeholder="Select Group" [options]="groupsArray" [(ngModel)]="selectedGroup" filter="true" resetFilterOnHide="true">
      </p-dropdown>
    </div>
    <div class="p-col-2"><span class="compulsory">*</span>Description</div>
    <div class="p-col-3">
      <textarea [rows]="5" [cols]="30" [(ngModel)]="description" pInputTextarea></textarea>
    </div>
    <div class="p-col-2">
      <button pButton label="Save" type="button" (click)="saveDescription()"></button>
    </div>
  </div>
</div>