<p-dialog header="Add Author" [(visible)]="addAuthorModal" [modal]="true" [draggable]="false" [style]="{'width': '70%'}"
    [maximizable]="false" [contentStyle]="{'max-height':'400px'}" (onHide)="cancelFormSub('addAuthor')">
    <div class="pdialogButton p-col-12 p-grid p-jc-end">
        <button type="button " pButton icon="pi pi-save" id="saveClient" [disabled]="submitBtn.isClicked"
            class="p-mx-1 p-button-raised p-button-danger " (click)="onSubmit('addAuthor')" label="Add"></button>
        <button type="button " pButton icon="pi pi-times" (click)="cancelFormSub('addAuthor')" label="Cancel"
            class="p-button-raised p-button-danger "></button>
    </div>
    <form [formGroup]="add_author_form">
        <div class="p-col p-grid p-my-2">
            <div class="p-col p-grid p-p-1">
                <label for="FirstName" class="p-col-12 p-m-0 p-md-4 p-mb-md-0 p-p-3"><span
                        class="compulsory">*</span>First Name</label>
                <div class="p-col-12 p-md-8">
                    <input type="text" maxlength="25" id="FirstName" placeholder="ABC" formControlName="FirstName">
                    <div class="error"
                        *ngIf="!add_author_form.controls['FirstName'].valid&&add_author_form.controls['FirstName'].touched">
                        First Name is required</div>
                </div>
            </div>
            <div class="p-col p-grid p-p-0">
                <label for="LastName" class="p-col-12 p-m-0 p-md-4 p-mb-md-0 p-p-3"><span
                        class="compulsory">*</span>LastName</label>
                <div class="p-col-12 p-md-8">
                    <input type="text" maxlength="25" id="lastname" placeholder="ABC" formControlName="LastName">
                    <div class="error"
                        *ngIf="!add_author_form.controls['LastName'].valid&&add_author_form.controls['LastName'].touched">
                        Last Name is required</div>
                </div>
            </div>
        </div>
        <div class="p-col p-grid p-p-1">
            <div class="p-col p-grid p-p-1">
                <label for="Comments" class="p-col-12 p-m-0 p-md-4 p-mb-md-0 p-p-3"><span
                        class="compulsory">*</span>Comments</label>
                <div class="p-col-12 p-md-8">
                    <textarea maxlength="1000" placeholder="Comment text" formControlName="Comments"></textarea>
                    <div class="error"
                        *ngIf="!add_author_form.controls['Comments'].valid&&add_author_form.controls['Comments'].touched">
                        Comment is required.</div>
                </div>
            </div>
            <div class="p-col p-grid p-p-0">
                <label for="HighestDegree" class="p-col-12 p-m-0 p-md-4 p-mb-md-0 p-p-3"><span
                        class="compulsory">*</span>Highest Degree</label>
                <div class="p-col-12 p-md-8">
                    <input type="text" maxlength="25" id="degree" placeholder="MD" class="form-control"
                        formControlName="HighestDegree">
                    <div class="error"
                        *ngIf="!add_author_form.controls['HighestDegree'].valid&&add_author_form.controls['HighestDegree'].touched">
                        Highest Degree is required.</div>
                </div>
            </div>
        </div>
        <div class="p-col p-grid p-p-1">
            <div class="p-col p-grid p-p-1">
                <label for="EmailAddress" class="p-col-12 p-m-0 p-md-4 p-mb-md-0 p-p-3"><span
                        class="compulsory">*</span>Email Id</label>
                <div class="p-col-12 p-md-8">
                    <input type="text" maxlength="50" id="email" placeholder="j.watanabe@sschr.jp"
                        formControlName="EmailAddress">
                    <div class="error"
                        *ngIf="!add_author_form.controls['EmailAddress'].valid&&add_author_form.controls['EmailAddress'].touched">
                        Valid email ID is required.</div>
                </div>
            </div>
            <div class="p-col p-grid p-p-0">
                <label for="Address" class="p-col-12 p-m-0 p-md-4 p-mb-md-0 p-p-3"><span
                        class="compulsory">*</span>Address</label>
                <div class="p-col-12 p-md-8">
                    <input type="text" maxlength="50" id="Address"
                        placeholder="1007 Shimonagakubo, Nagaizumi-cho, Sunto-gun" class="form-control"
                        formControlName="Address">
                    <div class="error"
                        *ngIf="!add_author_form.controls['Address'].valid&&add_author_form.controls['Address'].touched">
                        Address is required.</div>
                </div>
            </div>
        </div>
        <div class="p-col p-grid p-p-1">
            <div class="p-col p-grid p-p-1">
                <label for="Affiliation" class="p-col-12 p-m-0 p-md-4 p-mb-md-0 p-p-3"><span
                        class="compulsory">*</span>Affiliation</label>
                <div class="p-col-12 p-md-8">
                    <textarea maxlength="1000" placeholder="Shizuoka Cancer Centre" class="form-control"
                        formControlName="Affiliation"></textarea>
                    <div class="error"
                        *ngIf="!add_author_form.controls['Affiliation'].valid&&add_author_form.controls['Affiliation'].touched">
                        Affiliation is required.</div>
                </div>
            </div>
            <div class="p-col p-grid p-p-0">
                <label for="Phone_x0020_No" class="p-col-12 p-m-0 p-md-4 p-mb-md-0 p-p-3"><span
                        class="compulsory">*</span>Phone Number</label>
                <div class="p-col-12 p-md-8">
                    <input type="text" maxlength="25" id="phoneNumber" placeholder="81-55-989-5222" class="form-control"
                        formControlName="Phone_x0020_No" (keypress)="keyPress($event)">
                    <div class="error"
                        *ngIf="!add_author_form.controls['Phone_x0020_No'].valid&&add_author_form.controls['Phone_x0020_No'].touched">
                        Phone Number is required.</div>
                </div>
            </div>
        </div>
        <div class="p-col p-grid p-p-1">
            <div class="p-col p-grid p-p-1">
                <label for="Fax" class="p-col-12 p-m-0 p-md-4 p-mb-md-0 p-p-3"><span
                        class="compulsory">*</span>Fax</label>
                <div class="p-col-12 p-md-8">
                    <input type="text" maxlength="25" id="Fax" placeholder="81-55-989-5551" class="form-control"
                        formControlName="Fax" (keypress)="keyPress($event)">
                    <div class="error"
                        *ngIf="!add_author_form.controls['Fax'].valid&&add_author_form.controls['Fax'].touched">
                        Fax is required.</div>
                </div>
            </div>
            <div class="p-col p-grid p-p-0">
                <label for="AuthorType" class="p-col-12 p-m-0 p-md-4 p-mb-md-0 p-p-3"><span
                        class="compulsory">*</span>Type</label>
                <div class="p-col-12 p-md-8">
                    <select id="type" name="type" class="form-control"
                        [ngClass]="{'is-invalid': formSubmit.isSubmit &&  isValidAddAuthorForm.AuthorType.errors}"
                        formControlName="AuthorType">
                        <option value="">Select</option>
                        <option value="-">-</option>
                        <option value="Lead">Lead</option>
                        <option value="Correspondence">Correspondence</option>
                        <option value="Lead and Correspondence">Lead & Correspondence</option>
                    </select>
                    <div class="error"
                        *ngIf="!add_author_form.controls['AuthorType'].valid&&add_author_form.controls['AuthorType'].touched">
                        Type is required.
                    </div>
                </div>
            </div>
        </div>
    </form>
</p-dialog>