<div id="reviewerContent">

    <p-table #rd id="reviewerTable" [columns]="ReviewerDetailColumns" [value]="ReviewerDetail" [hidden]="hideTable" [rowsPerPageOptions]="[10,25,50]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {​​​​​​​​first}​​​​​​​​ to {​​​​​​​​last}​​​​​​​​ of {​​​​​​​​totalRecords}​​​​​​​​ entries"
     styleClass="p-datatable-cactus p-datatable-gridlines" stateStorage="local" stateKey="reviewerTable">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                        <p-columnFilter [field]="col.field" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                            <ng-template pTemplate="header">
                                <div class="p-px-3 p-pt-3 p-pb-0">
                                    <span class="p-text-bold"> {{col.header}} Picker</span>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-multiSelect [ngModel]="value" [options]="col.options" placeholder="All" (onChange)="filter($event.value)" optionLabel="label">
                                    <ng-template let-option pTemplate="item">
                                        <div class="p-multiselect-representative-option">
                                            <span class="p-ml-1">{{option.label}}</span>
                                        </div>
                                    </ng-template>
                                </p-multiSelect>
                            </ng-template>
                        </p-columnFilter>
                    </div>
                </th>
                <th>Actions</th>
            </tr>
            <!-- <tr>
                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                    <p-multiSelect *ngSwitchCase="'resource'" [style]="{'width':'100%'}" [options]="RDColArray.resource" defaultLabel="Resource" (onChange)="rd.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()" filter="true" resetFilterOnHide="true"
                        (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;" [maxSelectedLabels]="1"></p-multiSelect>
                    <p-multiSelect *ngSwitchCase="'taskTitle'" [style]="{'width':'100%'}" [options]="RDColArray.taskTitle" defaultLabel="Task Title" (onChange)="rd.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()" filter="true" resetFilterOnHide="true"
                        (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;" [maxSelectedLabels]="1"></p-multiSelect>
                    <p-multiSelect *ngSwitchCase="'taskCompletionDate'" [style]="{'width':'100%'}" [options]="RDColArray.taskCompletionDate" defaultLabel="Task Completion Date" (onChange)="rd.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()"
                        filter="true" resetFilterOnHide="true" (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;" [maxSelectedLabels]="1"></p-multiSelect>
                </th>
                <th></th>
            </tr> -->
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    <ng-container *ngIf="col.field !== 'docUrlHtmlTag' && col.field !== 'taskCompletionDate' && col.field !== 'docReviewUrlHtmlTag' &&  col.field !== '' && col.field !== 'taskTitle'">
                        {{rowData[col.field]}}
                    </ng-container>
                    <ng-container *ngIf="col.field === 'taskTitle'">
                        {{rowData[col.field]}}
                    </ng-container>
                    <ng-container *ngIf="col.field == 'taskCompletionDate'">
                        {{rowData[col.field] | date: 'MMM d, yyyy'}}
                    </ng-container>
                    <ng-container *ngIf="col.field === 'docUrlHtmlTag'">
                        <div [innerHTML]="rowData[col.field]"></div>
                    </ng-container>
                    <ng-container *ngIf="col.field === 'docReviewUrlHtmlTag'">
                        <div [innerHTML]="rowData[col.field]"></div>
                    </ng-container>
                </td>
                <td>
                    <a class="hoverClick" [hidden]="rowData['docUrlHtmlTag'] ? false : true" (click)="openfeedbackpopup([rowData], {parent:'Reviewer'})"><i class="fa fa-edit" aria-hidden="true"></i>Provide Rating</a>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="columns.length + 1">
                    No Data found
                </td>
            </tr>
        </ng-template>
    </p-table>
    <!-- <app-feedback-popup #feedbackPopup (setSuccessMessage)="callParentSuccessMsg($event)"  (bindTableEvent)="bindReviewerTable($event)"></app-feedback-popup> -->
</div>

<div class="tableLoader" [hidden]='hideLoader'>
    <div id="mainLoader"></div>
    <div id="mainLoaderText">Loading...</div>
</div>
