<div class="p-d-flex p-flex-column" style="padding: 2vw;" *ngIf="modalloaderenable">
    <div id="modalInnerLoader"></div>
    <div id="modalInnerLoaderText">Loading...</div>
</div>


<div class="pdialogButton p-col-12 p-grid p-jc-end" *ngIf="!modalloaderenable">

    <button type="button" pButton icon="pi pi-save" id="saveClient" (click)="savePOC();" label="{{buttonLabel}}" class="p-mx-1 p-button-raised p-button-danger"></button>
    <button type="button" pButton icon="pi pi-times" (click)="cancel();" label="Cancel" class="p-button-raised p-button-danger"></button>

</div>



<div *ngIf="!modalloaderenable" #scrollDown>

    <form [formGroup]='pocForm' class="p-col  formfont">

        <!-- first row html -->
        <div class="p-grid p-mt-2">
            <div class="p-grid p-col">
                <div class="p-col-4 p-grid p-ai-center"><span class="compulsory">*</span>First Name</div>
                <div class="p-col-8 p-grid p-ai-center">
                    <input type="text" style="width: 100%;" formControlName="fname" placeholder="First Name" pInputText>
                    <div class="error" *ngIf="isPOCFormSubmit && pocForm.controls.fname.errors">
                        <div *ngIf="pocForm.controls.fname.errors.required">
                            First Name is required</div>
                    </div>
                </div>
            </div>
            <div class="p-grid p-col">
                <div class="p-col-4 p-grid p-ai-center"><span class="compulsory">*</span>Last Name</div>
                <div class="p-col-8 p-grid p-ai-center">
                    <input type="text" style="width: 100%;" formControlName="lname" placeholder="Last Name" pInputText>
                    <div class="error" *ngIf="isPOCFormSubmit && pocForm.controls.lname.errors">
                        <div *ngIf="pocForm.controls.lname.errors.required">
                            Last Name is required</div>
                    </div>
                </div>
            </div>
            <div class="p-grid p-col">
                <div class="p-col-4 p-grid p-ai-center">Designation</div>
                <div class="p-col-8 p-grid p-ai-center">
                    <input type="text" style="width: 100%;" formControlName="designation" placeholder="Designation" pInputText>
                    <div class="error" *ngIf="isPOCFormSubmit && pocForm.controls.designation.errors">
                        <div *ngIf="pocForm.controls.designation.errors.required">
                            Designation is required</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- second row html  -->
        <div class="p-grid">
            <div class="p-grid p-col">
                <div class="p-col-4 p-grid p-ai-center"><span class="compulsory">*</span>Email</div>
                <div class="p-col-8 p-grid p-ai-center">
                    <input type="text" style="width: 100%;" formControlName="email" placeholder="Email" pInputText>
                    <div class="error" *ngIf="isPOCFormSubmit && pocForm.controls.email.errors">
                        <div *ngIf="pocForm.controls.email.errors.required">
                            Email is required</div>
                    </div>
                    <div class="error" *ngIf="isPOCFormSubmit && pocForm.controls.email.errors">
                        <div *ngIf="pocForm.controls.email.errors.email">Email must be a valid email address</div>
                    </div>
                </div>
            </div>
            <div class="p-grid p-col">
                <div class="p-col-4 p-grid p-ai-center">Phone No.</div>
                <div class="p-col-8 p-grid p-ai-center">
                    <input type="text" style="width: 100%;" formControlName="phone" placeholder="Phone Number" pInputText>
                </div>
            </div>
            <div class="p-grid p-col">
                <div class="p-col-4 p-grid p-ai-center">Department</div>
                <div class="p-col-8 p-grid p-ai-center">
                    <input type="text" style="width: 100%;" formControlName="department" placeholder="Department" pInputText>
                </div>
            </div>
        </div>

        <!-- Third row html  -->
        <div class="p-grid">
            <div class="p-grid p-col">
                <div class="p-col-4 p-grid p-ai-center"><span class="compulsory">*</span>Referral Source</div>
                <div class="p-col-8 p-grid p-ai-center">
                    <p-dropdown class="p-col p-px-0" [options]="adminObject.dropdown.POCRefferalSourceArray" placeholder="Select Referral Source" formControlName="referralSource" filter="true" appendTo="body" resetFilterOnHide="true" [style]="{'width':'100%'}"></p-dropdown>
                    <div class="error" *ngIf="isPOCFormSubmit && pocForm.controls.referralSource.errors">
                        <div *ngIf="pocForm.controls.referralSource.errors.required">
                            Referral Source is required</div>
                    </div>
                </div>
            </div>
            <div class="p-grid p-col">
                <div class="p-col-4 p-grid p-ai-center"><span class="compulsory">*</span>Project Contacts Type</div>
                <div class="p-col-8 p-grid p-ai-center">
                    <p-dropdown class="p-col p-px-0" [options]="adminObject.dropdown.POCProjectContactTypesArray" placeholder="Select Project Contacts Type" formControlName="contactsType" resetFilterOnHide="true" appendTo="body" filter="true" [style]="{'width':'100%'}"></p-dropdown>
                    <div class="error" *ngIf="isPOCFormSubmit && pocForm.controls.contactsType.errors">
                        <div *ngIf="pocForm.controls.contactsType.errors.required">
                            Project Contacts Type is required</div>
                    </div>
                </div>
            </div>
            <div class="p-grid p-col">
                <div class="p-col-4 p-grid p-ai-center">Relationship Strength</div>
                <div class="p-col-8 p-grid p-ai-center">
                    <p-dropdown class="p-col p-px-0" [options]="adminObject.dropdown.POCRelationshipArray" placeholder="Select Relationship" appendTo="body" formControlName="relationshipStrength" filter="true" [style]="{'width':'100%'}" resetFilterOnHide="true"></p-dropdown>
                </div>
            </div>
        </div>
        <!-- forth row html  -->
        <div class="p-grid">
            <div class="p-grid p-col">
                <div class="p-col-4 p-grid p-ai-center">Address</div>
                <div class="p-col-8 p-grid p-ai-center AddressText">
                    <input class="p-col-12 p-mb-1" type="text" formControlName="address1" pInputText>
                    <input class="p-col-12 p-mb-1" type="text" formControlName="address2" pInputText>
                    <input class="p-col-12 p-mb-1" type="text" formControlName="address3" pInputText>
                    <input class="p-col-12 p-mb-1" type="text" formControlName="address4" pInputText>
                </div>
            </div>
            <div class="p-grid p-col">
                <div class="p-col-4 p-grid p-ai-center">Engagement Plan</div>
                <div class="p-col-8 p-grid p-ai-center">
                    <textarea [rows]="5" [cols]="30" formControlName="engagementPlan" placeholder="Engagement Plan" pInputTextarea autoResize="autoResize" style="width: 100%;"></textarea>
                </div>
            </div>
            <div class="p-grid p-col">
                <div class="p-col-4 p-grid p-ai-center">Comments</div>
                <div class="p-col-8 p-grid p-ai-center">
                    <textarea [rows]="5" [cols]="30" formControlName="comments" placeholder="Comments" pInputTextarea autoResize="autoResize" style="width: 100%;"></textarea>
                </div>
            </div>
        </div>
    </form>
</div>