
<div class="p-col-12 p-md-12 p-lg-12 f-left">
    <div style="display: -webkit-inline-box;">
        <div class="box">
            <p-tabMenu [model]="fdConstantsService.fdComponent.tabs.scheduleMenu" [activeItem]="fdConstantsService.internalRouter"></p-tabMenu>
        </div>
        <div style="margin-left: 20px ;" class="box f-right">
            <p-calendar id="scheduledDR" [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true"
                dateFormat="M dd, yy" placeholder="Select Start & End Date" showButtonBar="true"
                (onClose)="SelectedDateRange()" (onClearClick)="setDefault()" [style]="{width:'300px'}" 
                mask="true" showButtonPanel="true">
            </p-calendar>
        </div>
    </div>
</div>
<div style="clear: both;"></div>


<router-outlet></router-outlet>