<!-- <div class="p-d-flex p-flex-column" style="padding: 12vw;" *ngIf="modalloaderenable">
    <div id="modalInnerLoader"></div>
    <div id="modalInnerLoaderText">Loading...</div>
</div> -->


<div class="pdialogButton p-col-12 p-grid p-jc-end">
    <button class="p-mx-1 p-button-raised p-button-danger" id="saveRule" type="button" pButton icon="pi pi-save" [ngStyle]="{'cursor':'pointer' }" (click)="saveDetails()" label="Update"></button>
    <button type="button" pButton icon="pi pi-times" (click)="cancel();" label="Cancel" class="p-button-raised p-button-danger"></button>
</div>




<!-- // display rule on dialog -->
<div class="p-col">
    <p-table [value]="rules">
        <ng-template pTemplate="body" let-rowData>
            <tr [ngStyle]="{ 'background-color' : rowData.RuleType === 'existing' && rowData.edited.IsActiveCH === false  && rowData.edited.UserEdited === false ?  '#cdcdcd' : rowData.RuleType === 'new' ? '#f1e5ca' : rowData.RuleType === 'existing' && rowData.IsActiveCH === 'No' ?  '#f1caca' : '#ecfbd0' ,'margin': index === 0 ? '0px' : '15px 0px', 'cursor':'pointer'}"
                class="p-grid Rules_tr">
                <td>
                    <i class="pi pi-bars"></i>
                </td>
                <td *ngFor='let Rule of rowData.DisplayRules;let j= index;' class="p-grid p-m-0 p-ai-center">
                    <div class="p-text-bold"> {{Rule.Value}}</div>
                    <i *ngIf="rowData.DisplayRules[j + 1] &&  rowData.DisplayRules.length - 1 > j " class="pi pi-chevron-right p-ml-2 p-ai-center"></i>

                </td>

            </tr>
        </ng-template>
    </p-table>
</div>


<div class="p-col p-grid p-justify-start">
    <div class="p-col" *ngFor='let ruleType of RuleTypeDD;let i=index;first as isFirst;'>
        <h6 class="first" *ngIf="isFirst">Owner</h6>
        <p-dropdown *ngIf="isFirst" [options]="ruleType.values" class="p-fluid" resetFilterOnHide="true" [(ngModel)]="ruleType.selectedValue" placeholder="Select owner" [filter]="true" (keydown.enter)="$event.preventDefault()"></p-dropdown>
        <h6 class="first" *ngIf="!isFirst">Access</h6>
        <p-multiSelect *ngIf="!isFirst" [options]="ruleType.values" resetFilterOnHide="true" (keydown.enter)="$event.preventDefault()" defaultLabel="Select User" [(ngModel)]="ruleType.selectedValue" class="p-fluid" [style]="{'z-index':'99999'}" [filter]="true"
            filterBy="label"></p-multiSelect>
    </div>
</div>