<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" style="padding:5px;"> </div>


<!-- *****************************************************************************************
                                                        Date Options 
****************************************************************************************** -->


<div fxLayout="row" fxLayoutAlign="space-between  center" fxLayoutGap="10px">

    <div fxLayoutAlign="start center" fxFlex="97" fxLayoutGap="10px">
        <button pButton type="button" label="Today" [ngClass]="selectedDate ==='Today'  ? 'selectedDateButton':''" class="ui-button-raised ui-button-secondary currenttask" (click)="GetDatabyDateSelection('Today',0)"></button>
        <button pButton type="button" label="Next 7 Days" [ngClass]="selectedDate ==='Next7'  ? 'selectedDateButton':''" class="ui-button-raised ui-button-secondary currenttask" (click)="GetDatabyDateSelection('Next',7)"></button>
        <button pButton type="button" label="Next 14 Days" class="ui-button-raised ui-button-secondary currenttask" [ngClass]="selectedDate ==='Next14'  ? 'selectedDateButton':''" (click)="GetDatabyDateSelection('Next',14)"></button>
        <button pButton type="button" label="Past 7 Days" class="ui-button-raised ui-button-secondary currenttask" [ngClass]="selectedDate ==='Past7'  ? 'selectedDateButton':''" (click)="GetDatabyDateSelection('Past',7)"></button>
        <button pButton type="button" label="Past 14 Days" class="ui-button-raised ui-button-secondary currenttask" [ngClass]="selectedDate ==='Past14'  ? 'selectedDateButton':''" (click)="GetDatabyDateSelection('Past',14)"></button>

        <p-calendar [(ngModel)]="rangeDates" selectionMode="range" (onClose)="GetDatabyDateSelection('Custom',0)" [style]="{'width':'130%'}" numberOfMonths='1' dateFormat="M dd, yy" [showIcon]="true" [disabledDays]="[0,6]" [readonlyInput]="true" placeholder="Select Custom Dates"
            [style]="{'cursor': 'pointer'}"></p-calendar>
    </div>

    <div fxLayoutAlign="start center" fxFlex="3" fxLayoutGap="10px" *ngIf="allTasks.length > 0 && !loderenable">
        <i style="font-size: 1.8em;cursor: pointer;" (click)="TasksTable.exportTasks();" title="Export To Excel" class="fa fa-fw fa-file-excel-o"></i>

    </div>
</div>


<!-- ******************************************************************************************
                                                         loader enable 
****************************************************************************************** -->
<div fxLayout="column" style="padding: 10vw;width: 100%;" fxLayoutAlign="center center" *ngIf="loaderenable">
    <div id="scInnerLoader"></div>
    <div id="scInnerLoaderText">Loading...</div>
</div>


<app-current-completed-tasks-table #TasksTable *ngIf="enableTableView" (reloadTableData)="updateTableDetail($event)" [allTasksData]="allTasks"></app-current-completed-tasks-table>


<router-outlet></router-outlet>