<div class="tableLoader" [hidden]='isAllSOWLoaderHidden'>
    <div id="allSOWLoader"></div>
    <div id="allSOWLoaderText">Loading...</div>
</div>
<div class="allSOW-section" [hidden]='isAllSOWTableHidden'>
    <p-table #allProjectRef [columns]="displayedColumns" [value]="pmObject.allSOWArrayCopy" [paginator]="true"
        [rows]="5" [lazy]="true" [totalRecords]="pmObject.totalRecords.AllSOW" [loading]="pmObject.loading.AllSOW"
        (onLazyLoad)="lazyLoadTask($event)" [lazyLoadOnInit]="false">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    {{ col.header }}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
                <th class="lastColumnWidth"></th>
            </tr>
            <tr>
                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                    <p-multiSelect *ngSwitchCase="'SOWCode'" [options]="allSOW.sowCodeArray" defaultLabel="All"
                        (onChange)="allProjectRef.filter($event.value, col.field, 'in')">
                    </p-multiSelect>
                    <p-multiSelect *ngSwitchCase="'ShortTitle'" [options]="allSOW.shortTitleArray" defaultLabel="All"
                        (onChange)="allProjectRef.filter($event.value, col.field, 'in')">
                    </p-multiSelect>
                    <p-multiSelect *ngSwitchCase="'ClientLegalEntity'" [options]="allSOW.clientLegalEntityArray"
                        defaultLabel="All" (onChange)="allProjectRef.filter($event.value, col.field, 'in')">
                    </p-multiSelect>
                    <p-multiSelect *ngSwitchCase="'POC'" [options]="allSOW.pocArray" defaultLabel="All"
                        (onChange)="allProjectRef.filter($event.value, col.field, 'in')">
                    </p-multiSelect>
                    <p-multiSelect *ngSwitchCase="'CreatedBy'" [options]="allSOW.createdByArray" defaultLabel="All"
                        (onChange)="allProjectRef.filter($event.value, col.field, 'in')">
                    </p-multiSelect>
                    <p-multiSelect *ngSwitchCase="'CreatedDate'" [options]="allSOW.createdDateArray" defaultLabel="All"
                        (onChange)="allProjectRef.filter($event.value, col.field, 'in')">
                    </p-multiSelect>
                </th>
                <th class="lastColumnWidth"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-task>
            <tr>
                <td>{{task.SOWCode}}</td>
                <td>{{task.ShortTitle}}</td>
                <td>{{task.ClientLegalEntity}}</td>
                <td>{{task.POC}}</td>
                <td>{{task.CreatedBy}}</td>
                <td>{{task.CreatedDate}}</td>
                <td>
                    <p-slideMenu [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'" #menu
                        [model]="popItems" [popup]="true" appendTo="body">
                    </p-slideMenu>
                    <i class="pi pi-ellipsis-v" style="font-size:2em;cursor: pointer;"
                        (click)="storeRowData(task); menu.toggle($event);"></i>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div class="all-project-section">
    <p-dialog [(visible)]="pmObject.isProjectVisible" [modal]="true" [style]="{width: '1300px'}">
        <mat-accordion>
            <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
                <mat-expansion-panel-header>
                    <mat-panel-title style="color:#000000;">
                        <mat-icon style="padding: 4px 0px 0px 0px;">event_note</mat-icon>&nbsp;&nbsp; Active Projects
                    </mat-panel-title>
                    <ng-template matExpansionPanelContent>
                        <div fxLayout="column" style="padding: 2vw;" fxLayoutAlign="center center"
                            [hidden]="activeProjectLoader">
                            <div id="mainLoader"></div>
                            <div id="mainLoaderText">Loading...</div>
                        </div>
                        <div [hidden]="isActiveProjectTableHidden">
                            <p-table #activeProject [columns]="projectsDisplayedColumns"
                                [value]="pmObject.allProjects.activeProjectCopyArray" [paginator]="true" [rows]="5"
                                [lazy]="true" [totalRecords]="pmObject.totalRecords.activeProject"
                                [loading]="pmObject.loading.activeProject"
                                (onLazyLoad)="activeProjectlazyLoadTask($event)" [lazyLoadOnInit]="false">
                                <ng-template pTemplate="caption">
                                    <div style="text-align: left">
                                        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                        <input type="text" pInputText size="50" placeholder="search"
                                            (input)="activeProject.filterGlobal($event.target.value, 'contains')"
                                            style="width:auto">
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                            {{ col.header }}
                                            <p-sortIcon [field]="col.field"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData let-task>
                                    <tr [pContextMenuRow]="rowData">
                                        <td>{{task.DeliverableType}}</td>
                                        <td><a href="javascript:void(0)" (click)="navigateToProject(task)">{{task.ProjectCode}}</a></td>
                                        <td>{{task.Title}}</td>
                                        <td>{{task.Budget}}</td>
                                        <td>{{task.Status}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </ng-template>
                </mat-expansion-panel-header>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
                <mat-expansion-panel-header>
                    <mat-panel-title style="color:#000000;">
                        <mat-icon style="padding: 4px 0px 0px 0px;">timer</mat-icon>&nbsp;&nbsp; Pipeline Projects
                    </mat-panel-title>
                    <ng-template matExpansionPanelContent>
                        <div fxLayout="column" style="padding: 2vw;" fxLayoutAlign="center center"
                            [hidden]="pipelineProjectLoader">
                            <div id="mainLoader"></div>
                            <div id="mainLoaderText">Loading...</div>
                        </div>
                        <div [hidden]="isPipelineProjectTableHidden">
                            <p-table #pipeLineProject [columns]="projectsDisplayedColumns"
                                [value]="pmObject.allProjects.pipelineProjectCopyArray" [paginator]="true" [rows]="5"
                                [lazy]="true" [totalRecords]="pmObject.totalRecords.pipelineProject"
                                [loading]="pmObject.loading.pipelineProject"
                                (onLazyLoad)="pipelineProjectlazyLoadTask($event)" [lazyLoadOnInit]="false">
                                <ng-template pTemplate="caption">
                                    <div style="text-align: left">
                                        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                        <input type="text" pInputText size="50" placeholder="search"
                                            (input)="pipeLineProject.filterGlobal($event.target.value, 'contains')"
                                            style="width:auto">
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                            {{ col.header }}
                                            <p-sortIcon [field]="col.field"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData let-task>
                                    <tr [pContextMenuRow]="rowData">
                                        <td>{{task.DeliverableType}}</td>
                                        <td><a href="javascript:void(0)" (click)="navigateToProject(task)">{{task.ProjectCode}}</a></td>
                                        <td>{{task.Title}}</td>
                                        <td>{{task.Budget}}</td>
                                        <td>{{task.Status}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>

                        </div>
                    </ng-template>
                </mat-expansion-panel-header>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)">
                <mat-expansion-panel-header>
                    <mat-panel-title style="color:#000000;">
                        <mat-icon style="padding: 4px 0px 0px 0px;">comment</mat-icon> &nbsp;&nbsp; InActive Projects
                    </mat-panel-title>
                    <ng-template matExpansionPanelContent>
                        <div fxLayout="column" style="padding: 2vw;" fxLayoutAlign="center center"
                            [hidden]="inActiveProjectLoader">
                            <div id="mainLoader"></div>
                            <div id="mainLoaderText">Loading...</div>
                        </div>
                        <div [hidden]="isInActiveProjectTableHidden">
                            <p-calendar [(ngModel)]="rangeDates" selectionMode="range"
                                (onClose)="getInactiveProject()" [style]="{'width':'130%'}"
                                numberOfMonths='1' appendTo="body" dateFormat="dd M , yy" [showIcon]="true"
                                [disabledDays]="[0,6]" [readonlyInput]="true" placeholder="Select Custom Dates"
                                [style]="{'cursor': 'pointer'}"></p-calendar>
                            <p-table #inActiveProject [columns]="projectsDisplayedColumns"
                                [value]="pmObject.allProjects.inActiveProjectCopyArray" [paginator]="true" [rows]="5"
                                [lazy]="true" [totalRecords]="pmObject.totalRecords.inActiveProject"
                                [loading]="pmObject.loading.inActiveProject" (onLazyLoad)="inActivelazyLoadTask($event)"
                                [lazyLoadOnInit]="false">
                                <ng-template pTemplate="caption">
                                    <div style="text-align: left">
                                        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                        <input type="text" pInputText size="50" placeholder="search"
                                            (input)="inActiveProject.filterGlobal($event.target.value, 'contains')"
                                            style="width:auto">
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                            {{ col.header }}
                                            <p-sortIcon [field]="col.field"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData let-task>
                                    <tr [pContextMenuRow]="rowData">
                                        <td>{{task.DeliverableType}}</td>
                                        <td><a href="javascript:void(0)"  (click)="navigateToProject(task)">{{task.ProjectCode}}</a></td>
                                        <td>{{task.Title}}</td>
                                        <td>{{task.Budget}}</td>
                                        <td>{{task.Status}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </ng-template>
                </mat-expansion-panel-header>
            </mat-expansion-panel>
        </mat-accordion>
    </p-dialog>
</div>
<app-timeline-history #timelineRef></app-timeline-history>