<!-- <div [hidden]='isAllSOWLoaderHidden' style="padding: 15vw;">
    <div id="allSOWLoader"></div>
    <div id="allSOWLoaderText">Loading...</div>
</div> -->


<div class="p-d-flex p-flex-column" style="padding: 10vw;width: 100%;" *ngIf="!isAllSOWLoaderHidden">
    <div id="scInnerLoader"></div>
    <div id="scInnerLoaderText">Loading...</div>
</div>



<div class="allSOW-section" [hidden]='!isAllSOWLoaderHidden'>
    <p-table #allSOWRef [columns]="displayedColumns" [value]="pmObject.allSOWArray" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,25,50]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        styleClass="p-datatable-cactus p-datatable-gridlines" stateStorage="local" [stateKey]="showProjectLink ? 'MyDashboardSowTable' : 'SowTable'" selectionMode="" exportFilename="All SOW">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th class="firstColumnWidth">S.No</th>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field" [hidden]="!col.visibility">
                    <!-- {{ col.header }}
                    <p-sortIcon [field]="col.field"></p-sortIcon> -->
                    <div class="p-d-flex p-jc-between p-ai-center">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                        <p-columnFilter *ngIf="col.header != ''" [field]="col.field" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                            <ng-template pTemplate="header">
                                <div class="p-px-3 p-pt-3 p-pb-0">
                                    <span class="p-text-bold"> {{col.header}} Picker</span>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-multiSelect [ngModel]="value" maxSelectedLabels="1" [options]="col.options" placeholder="All" (onChange)="filter($event.value)" optionLabel="label">
                                    <ng-template let-option pTemplate="item">
                                        <div class="p-multiselect-representative-option">
                                            <span class="p-ml-1">{{option.label}}</span>
                                        </div>
                                    </ng-template>
                                </p-multiSelect>
                            </ng-template>
                        </p-columnFilter>
                    </div>
                </th>
                <th class="lastColumnWidth">
                    <i (click)="pmCommonService.convertToExcelFile(allSOWRef)" title="Export To Excel" class="pi pi-file-excel tableExportIcon"></i>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-task let-rowIndex="rowIndex">
            <tr>
                <td>{{rowIndex+1}}</td>
                <td>{{task.SOWCode}}</td>
                <td>{{task.ShortTitle}}</td>
                <td>{{task.ClientLegalEntity}}</td>
                <td>{{task.POC}}</td>
                <td>{{task.Currency}}</td>
                <td>{{task.RevenueBudget}}</td>
                <td>{{task.OOPBudget}}</td>
                <td>{{task.ModifiedBy}}</td>
                <td>{{task.ModifiedDate | date:'MMM dd, yyyy, h:mm a'}}</td>
                <td class="lastColumnWidth">
                    <div>
                        <p-menu [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'" #menu [model]="popItems" [popup]="true">
                        </p-menu>
                        <i class="pi pi-ellipsis-v"  style="font-size:2em;cursor: pointer;" (click)="storeRowData(task, menu); menu.show($event);"></i>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td style="text-align:center" [attr.colspan]="columns.length + 2">
                    No sow found
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>


<div class="all-project-section">
    <p-dialog [(visible)]="pmObject.isProjectVisible" [modal]="true" [style]="{width: '80vw'}">
        <p-header>View Projects</p-header>
        <div class="p-mt-2">
            <p-accordion (onOpen)="onTabOpen($event.index)">
                <p-accordionTab [selected]="step === 0">
                    <ng-template pTemplate="header">
                        <div class="p-col p-grid p-pt-1 p-pb-0 p-px-2">
                            <div class="p-col">Active Projects</div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="content">
                        <div class="p-d-flex p-flex-column" style="padding: 2vw;" *ngIf="!activeProjectLoader">
                            <div id="modalInnerLoader"></div>
                            <div id="modalInnerLoaderText">Loading...</div>
                        </div>

                        <p-table *ngIf="activeProjectLoader" #activeProject [columns]="projectsDisplayedColumns" [value]="pmObject.allProjects.activeProjectCopyArray" [paginator]="true" [rows]="5" [lazy]="true" [totalRecords]="pmObject.totalRecords.activeProject" [loading]="pmObject.loading.activeProject"
                            [rowsPerPageOptions]="[5,10,15]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" styleClass="p-datatable-cactus p-datatable-gridlines" (onLazyLoad)="activeProjectlazyLoadTask($event)"
                            [lazyLoadOnInit]="false">
                            <ng-template pTemplate="caption">
                                <div class="p-d-flex">
                                    <span class="p-col p-grid p-ai-center vertical-container p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="text" size="50" (input)="activeProject.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" (keydown.enter)="$event.preventDefault()" />
                                    </span>
                                    <div class="p-col p-grid p-jc-between" *ngIf="!viewBudget">
                                        <span *ngIf="viewNote" class="error p-grid p-ai-center vertical-container">Note*:
                                Please click on load budgets button to load budget data. </span>
                                        <div class="p-m-auto" *ngIf="loaderenable" id="scTableInnerLoader"></div>

                                    </div>
                                    <div class="p-col p-grid p-ai-center vertical-container p-jc-around error" *ngIf="viewBudget">
                                        <span> Total  Revenue Budget : {{totalRevenueBudget}} </span>
                                        <span> Total OOP Budget : {{totalOOPBudget}} </span>
                                    </div>
                                    <div class="p-col-2 p-grid p-jc-end">
                                        <button pButton type="button" class="p-button-raised p-button-danger p-m-2" label="Load budgets" (click)="loadBudgetHours(pmConstant.filterAction.ACTIVE_PROJECT,  activeProject);viewNote =false;"></button>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                        {{ col.header }}
                                        <p-sortIcon [field]="col.field"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-task>
                                <tr [pContextMenuRow]="rowData">
                                    <td>{{task.DeliverableType}}</td>
                                    <td>
                                        <a *ngIf="showProjectLink" href="javascript:void(0)" (click)="navigateToProject(task)">{{task.ProjectCode}}</a>
                                        <span *ngIf="!showProjectLink">{{task.ProjectCode}}</span>
                                    </td>
                                    <td>{{task.Title}}</td>
                                    <td>{{task.RevenueBudget}}</td>
                                    <td>{{task.OOPBudget}}</td>
                                    <td>{{task.Status}}</td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage" let-columns>
                                <tr>
                                    <td style="text-align:center" [attr.colspan]="columns.length">
                                        No project found
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </ng-template>
                </p-accordionTab>
                <p-accordionTab [selected]="step === 1">
                    <ng-template pTemplate="header">
                        <div class="p-col p-grid p-pt-1 p-pb-0 p-px-2">
                            <div class="p-col">Pipeline Projects</div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="content">

                        <div class="p-d-flex p-flex-column" style="padding: 2vw;" *ngIf="!pipelineProjectLoader">
                            <div id="modalInnerLoader"></div>
                            <div id="modalInnerLoaderText">Loading...</div>
                        </div>
                        <p-table *ngIf="pipelineProjectLoader" #pipeLineProject [columns]="projectsDisplayedColumns" [value]="pmObject.allProjects.pipelineProjectCopyArray" [paginator]="true" [rows]="5" [lazy]="true" [totalRecords]="pmObject.totalRecords.pipelineProject" [loading]="pmObject.loading.pipelineProject"
                            [rowsPerPageOptions]="[5,10,15]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" styleClass="p-datatable-cactus p-datatable-gridlines" (onLazyLoad)="pipelineProjectlazyLoadTask($event)"
                            [lazyLoadOnInit]="false">
                            <ng-template pTemplate="caption">
                                <div class="p-d-flex">
                                    <span class="p-col p-grid p-ai-center vertical-container p-input-icon-left">
                                            <i class="pi pi-search"></i>
                                            <input pInputText type="text" size="50" (input)="pipeLineProject.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" (keydown.enter)="$event.preventDefault()" />
                                        </span>
                                    <div class="p-col p-grid p-jc-between" *ngIf="!viewBudget">
                                        <span *ngIf="viewNote" class="error p-grid p-ai-center vertical-container">Note*:
                                    Please click on load budgets button to load budget data. </span>
                                        <div class="p-m-auto" *ngIf="loaderenable" id="scTableInnerLoader"></div>

                                    </div>
                                    <div class="p-col p-grid p-ai-center vertical-container p-jc-around error" *ngIf="viewBudget">
                                        <span> Total  Revenue Budget : {{totalRevenueBudget}} </span>
                                        <span> Total OOP Budget : {{totalOOPBudget}} </span>
                                    </div>
                                    <div class="p-col-2 p-grid p-jc-end">
                                        <button pButton type="button" class="p-button-raised p-button-danger p-m-2" label="Load budgets" (click)="loadBudgetHours(pmConstant.filterAction.PIPELINE_PROJECT, pipeLineProject);viewNote =false;"></button>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                        {{ col.header }}
                                        <p-sortIcon [field]="col.field"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-task>
                                <tr [pContextMenuRow]="rowData">
                                    <td>{{task.DeliverableType}}</td>
                                    <td>
                                        <a *ngIf="showProjectLink" href="javascript:void(0)" (click)="navigateToProject(task)">{{task.ProjectCode}}</a>
                                        <span *ngIf="!showProjectLink">{{task.ProjectCode}}</span>
                                    </td>
                                    <td>{{task.Title}}</td>
                                    <td>{{task.RevenueBudget}}</td>
                                    <td>{{task.OOPBudget}}</td>
                                    <td>{{task.Status}}</td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage" let-columns>
                                <tr>
                                    <td style="text-align:center" [attr.colspan]="columns.length">
                                        No project found
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </ng-template>
                </p-accordionTab>
                <p-accordionTab [selected]="step === 2">
                    <ng-template pTemplate="header">
                        <div class="p-col p-grid p-pt-1 p-pb-0 p-px-2">
                            <div class="p-col">InActive Projects</div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="content">

                        <div class="p-d-flex p-flex-column" style="padding: 2vw;" *ngIf="!inActiveProjectLoader">
                            <div id="modalInnerLoader"></div>
                            <div id="modalInnerLoaderText">Loading...</div>
                        </div>

                        <div class="p-grid p-jc-start">
                            <div class="p-col-4">
                                <p-calendar *ngIf="inActiveProjectLoader" [(ngModel)]="rangeDates" selectionMode="range" (onClose)="getInactiveProject()" [style]="{'cursor': 'pointer'}" numberOfMonths='1' appendTo="body" dateFormat="dd M , yy" [showIcon]="true" [disabledDays]="[0,6]"
                                    [readonlyInput]="true" placeholder="Select Custom Dates"></p-calendar>
                            </div>
                        </div>
                        <p-table *ngIf="inActiveProjectLoader" #inActiveProject [columns]="projectsDisplayedColumns" [value]="pmObject.allProjects.inActiveProjectCopyArray" [paginator]="true" [rows]="5" [lazy]="true" [totalRecords]="pmObject.totalRecords.inActiveProject" [rowsPerPageOptions]="[5,10,15]"
                            [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" styleClass="p-datatable-cactus p-datatable-gridlines p-mt-2" [loading]="pmObject.loading.inActiveProject" (onLazyLoad)="inActivelazyLoadTask($event)"
                            [lazyLoadOnInit]="false">
                            <ng-template pTemplate="caption">

                                <div class="p-d-flex">
                                    <span class="p-col p-grid p-ai-center vertical-container p-input-icon-left">
                                            <i class="pi pi-search"></i>
                                            <input pInputText type="text" size="50" (input)="inActiveProject.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" (keydown.enter)="$event.preventDefault()" />
                                        </span>
                                    <div class="p-col p-grid p-jc-between" *ngIf="!viewBudget">
                                        <span *ngIf="viewNote" class="error p-grid p-ai-center vertical-container">Note*:
                                    Please click on load budgets button to load budget data. </span>
                                        <div class="p-m-auto" *ngIf="loaderenable" id="scTableInnerLoader"></div>

                                    </div>
                                    <div class="p-col p-grid p-ai-center vertical-container p-jc-around error" *ngIf="viewBudget">
                                        <span> Total  Revenue Budget : {{totalRevenueBudget}} </span>
                                        <span> Total OOP Budget : {{totalOOPBudget}} </span>
                                    </div>
                                    <div class="p-col-2 p-grid p-jc-end">
                                        <button pButton type="button" class="p-button-raised p-button-danger p-m-2" label="Load budgets" (click)="loadBudgetHours(pmConstant.filterAction.INACTIVE_PROJECT, inActiveProject);viewNote =false;"></button>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                        {{ col.header }}
                                        <p-sortIcon [field]="col.field"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-task>
                                <tr [pContextMenuRow]="rowData">
                                    <td>{{task.DeliverableType}}</td>
                                    <td>
                                        <a *ngIf="showProjectLink" href="javascript:void(0)" (click)="navigateToProject(task)">{{task.ProjectCode}}</a>
                                        <span *ngIf="!showProjectLink">{{task.ProjectCode}}</span>
                                    </td>
                                    <td>{{task.Title}}</td>
                                    <td>{{task.RevenueBudget}}</td>
                                    <td>{{task.OOPBudget}}</td>
                                    <td>{{task.Status}}</td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage" let-columns>
                                <tr>
                                    <td style="text-align:center" [attr.colspan]="columns.length">
                                        No project found
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </ng-template>
                </p-accordionTab>
            </p-accordion>
        </div>


        <!-- <mat-accordion>
            <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
                <mat-expansion-panel-header>
                    <mat-panel-title style="color:#000000;">
                        &nbsp;&nbsp; Active Projects
                    </mat-panel-title>
                    <ng-template matExpansionPanelContent>
                        <div fxLayout="column" style="padding: 2vw;" fxLayoutAlign="center center" [hidden]="activeProjectLoader">
                            <div id="mainLoader"></div>
                            <div id="mainLoaderText">Loading...</div>
                        </div>
                        <div [hidden]="isActiveProjectTableHidden">

                        </div>
                    </ng-template>
                </mat-expansion-panel-header>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
                <mat-expansion-panel-header>
                    <mat-panel-title style="color:#000000;">
                        &nbsp;&nbsp; Pipeline Projects
                    </mat-panel-title>
                    <ng-template matExpansionPanelContent>
                        <div fxLayout="column" style="padding: 2vw;" fxLayoutAlign="center center" [hidden]="pipelineProjectLoader">
                            <div id="mainLoader"></div>
                            <div id="mainLoaderText">Loading...</div>
                        </div>
                        <div [hidden]="isPipelineProjectTableHidden">
                            <p-table #pipeLineProject [columns]="projectsDisplayedColumns" [value]="pmObject.allProjects.pipelineProjectCopyArray" [paginator]="true" [rows]="5" [lazy]="true" [totalRecords]="pmObject.totalRecords.pipelineProject" [loading]="pmObject.loading.pipelineProject"
                                (onLazyLoad)="pipelineProjectlazyLoadTask($event)" [lazyLoadOnInit]="false">
                                <ng-template pTemplate="caption">
                                    <div style="text-align: left">
                                        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                        <input type="text" pInputText size="50" placeholder="search" (input)="pipeLineProject.filterGlobal($event.target.value, 'contains')" (keydown.enter)="$event.preventDefault()" style="width:auto">

                                        <span *ngIf="viewNote" style="color:red;    padding: 0px 0px 0px 15px;">Note*:
                                            Please click on load budgets button to load budget data. </span>
                                        <button pButton type="button" class="pmBtn" label="Load budgets" style="margin-left: 10px;;float: right;" (click)="loadBudgetHours(pmConstant.filterAction.PIPELINE_PROJECT);viewNote =false;"></button>
                                        <div *ngIf="loaderenable" id="scTableInnerLoader"></div>

                                        <span *ngIf="viewBudget" style="padding: 0px 25px 0px 25px;font-size: 500;color :darkred"> Total
                                            Revenue Budget : {{totalRevenueBudget}} </span>
                                        <span *ngIf="viewBudget" style="padding: 0px 25px 0px 25px;  font-size: 500;color :darkred"> Total
                                            OOP Budget : {{totalOOPBudget}} </span>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                            {{ col.header }}
                                            <p-sortIcon [field]="col.field"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData let-task>
                                    <tr [pContextMenuRow]="rowData">
                                        <td>{{task.DeliverableType}}</td>
                                        <td>
                                            <a *ngIf="showProjectLink" href="javascript:void(0)" (click)="navigateToProject(task)">{{task.ProjectCode}}</a>
                                            <span *ngIf="!showProjectLink">{{task.ProjectCode}}</span>
                                        </td>
                                        <td>{{task.Title}}</td>
                                        <td>{{task.RevenueBudget}}</td>
                                        <td>{{task.OOPBudget}}</td>
                                        <td>{{task.Status}}</td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage" let-columns>
                                    <tr>
                                        <td style="text-align:center" [attr.colspan]="9">
                                            No project found
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>

                        </div>
                    </ng-template>
                </mat-expansion-panel-header>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)">
                <mat-expansion-panel-header>
                    <mat-panel-title style="color:#000000;">
                        &nbsp;&nbsp; InActive Projects
                    </mat-panel-title>
                    <ng-template matExpansionPanelContent>
                        <div fxLayout="column" style="padding: 2vw;" fxLayoutAlign="center center" [hidden]="inActiveProjectLoader">
                            <div id="mainLoader"></div>
                            <div id="mainLoaderText">Loading...</div>
                        </div>
                        <div [hidden]="isInActiveProjectTableHidden">
                            <p-calendar [(ngModel)]="rangeDates" selectionMode="range" (onClose)="getInactiveProject()" [style]="{'width':'130%'}" numberOfMonths='1' appendTo="body" dateFormat="dd M , yy" [showIcon]="true" [disabledDays]="[0,6]" [readonlyInput]="true" placeholder="Select Custom Dates"
                                [style]="{'cursor': 'pointer'}"></p-calendar>
                            <p-table #inActiveProject [columns]="projectsDisplayedColumns" [value]="pmObject.allProjects.inActiveProjectCopyArray" [paginator]="true" [rows]="5" [lazy]="true" [totalRecords]="pmObject.totalRecords.inActiveProject" [loading]="pmObject.loading.inActiveProject"
                                (onLazyLoad)="inActivelazyLoadTask($event)" [lazyLoadOnInit]="false">
                                <ng-template pTemplate="caption">
                                    <div style="text-align: left">
                                        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                        <input type="text" pInputText size="50" (keydown.enter)="$event.preventDefault()" placeholder="search" (input)="inActiveProject.filterGlobal($event.target.value, 'contains')" style="width:auto">

                                        <span *ngIf="viewNote" style="color:red;    padding: 0px 0px 0px 15px;">Note*:
                                            Please click on load budgets button to load budget data. </span>

                                        <button pButton type="button" class="pmBtn" label="Load budgets" style="margin-left: 10px;;float: right;" (click)="loadBudgetHours(pmConstant.filterAction.INACTIVE_PROJECT);viewNote =false;"></button>

                                        <div *ngIf="loaderenable" id="scTableInnerLoader"></div>

                                        <span *ngIf="viewBudget" style="padding: 0px 25px 0px 25px;font-size: 500;color :darkred"> Total
                                            Revenue Budget : {{totalRevenueBudget}} </span>
                                        <span *ngIf="viewBudget" style="padding: 0px 25px 0px 25px;  font-size: 500;color :darkred"> Total
                                            OOP Budget : {{totalOOPBudget}} </span>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                            {{ col.header }}
                                            <p-sortIcon [field]="col.field"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData let-task>
                                    <tr [pContextMenuRow]="rowData">
                                        <td>{{task.DeliverableType}}</td>
                                        <td>
                                            <a *ngIf="showProjectLink" href="javascript:void(0)" (click)="navigateToProject(task)">{{task.ProjectCode}}</a>
                                            <span *ngIf="!showProjectLink">{{task.ProjectCode}}</span>
                                        </td>
                                        <td>{{task.Title}}</td>
                                        <td>{{task.RevenueBudget}}</td>
                                        <td>{{task.OOPBudget}}</td>
                                        <td>{{task.Status}}</td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage" let-columns>
                                    <tr>
                                        <td style="text-align:center" [attr.colspan]="9">
                                            No project found
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </ng-template>
                </mat-expansion-panel-header>
            </mat-expansion-panel>
        </mat-accordion> -->
    </p-dialog>
</div>

<!--***********************************************************************************
                     //  sidebar to display project details
*********************************************************************************** -->

<div *ngIf="pmObject.isSOWRightViewVisible" class="right-side-overlay">
    <p-sidebar [(visible)]="pmObject.isSOWRightViewVisible" position="right" [baseZIndex]="10000" [style]="{width:'28em'}">
        <p-scrollPanel [style]="{'width': '100%', 'height': '95vh'}">
            <p-table [value]="sowViewDataArray" styleClass="p-datatable-cactus p-datatable-sm p-datatable-gridlines">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width: 140px !important">Name</th>
                        <th>Value</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-task style="overflow: auto">
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">SOW ID</td>
                        <td>{{task.ID}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">SOW Code</td>
                        <td>{{task.SOWCode}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Client Legal Entity</td>
                        <td>{{task.ClientLegalEntity}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Billing Entity</td>
                        <td>{{task.BillingEntity}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Practice Areas</td>
                        <td>{{task.PracticeArea}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Client POC</td>
                        <td>{{task.PocText}} <br /> {{task.PocOptionalText}}
                        </td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">SOW Title</td>
                        <td>{{task.SOWTitle}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">SOW Creation Date</td>
                        <td>{{task.SOWCreationDate | date:'medium'}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">SOW Expiry Date</td>
                        <td>{{task.SOWExpiryDate | date:'medium'}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Status</td>
                        <td>{{task.Status}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Comments</td>
                        <td>{{task.Comments}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" [ngStyle]="{'color':'#d7181f'}"></td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Currency</td>
                        <td>{{task.Currency}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">SOW Document</td>
                        <td>
                            <span *ngIf="task.SOWDocument.length">
                            <a href="{{task.SOWDocument}}" target="_blank" style="color:red">Click here</a>
                        </span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" [ngStyle]="{'color':'#d7181f'}">Budget</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Total</td>
                        <td>{{task.Budget.Total}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Net</td>
                        <td>{{task.Budget.Net}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">OOP</td>
                        <td>{{task.Budget.OOP}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Tax</td>
                        <td>{{task.Budget.Tax}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Total Balance</td>
                        <td>{{task.Budget.TotalBalance}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Net Balance</td>
                        <td>{{task.Budget.NetBalance}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">OOP Balance</td>
                        <td>{{task.Budget.OOPBalance}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Tax Balance</td>
                        <td>{{task.Budget.TaxBalance}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" [ngStyle]="{'color':'#d7181f'}"></td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">CM1</td>
                        <td>{{task.CM1Text}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">CM2</td>
                        <td>{{task.CM2Text}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Delivery1</td>
                        <td>{{task.DeliveryText}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Delivery2</td>
                        <td>{{task.DeliveryOptionalText}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">SOW Owner</td>
                        <td>{{task.SOWOwnerText}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-scrollPanel>
    </p-sidebar>
</div>
<app-timeline-history #timelineRef></app-timeline-history>