<div>
    <div>
        <a (click)="downloadExcel(cmd)" class="download-worksheet td-none"><i class="fa fa-fw fa-file-excel-o"
                aria-hidden="true"></i>
        </a>
    </div>
    <div class="addNewClientBtnPosition">
        <button pButton type="button" class="adminBtn" icon="pi pi-plus-circle" label="Add New Client Form" *ngIf="isUserSPMCA" (click)="addEditClentLegalEntity('Add New Client Legal Entity', null)">
        </button>
    </div>
</div>
<div class="clearBoth"></div>
<div class="adminTable">
    <p-table #cmd [columns]="clientMasterDataColumns" [value]="clientMasterDataRows" exportFilename="Client Master Data" [paginator]="true" [rows]="10" class="minFirstLastCol5Per">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>Sr.No.</th>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field" [hidden]="!col.visibility">
                    {{col.header}}
                    <p-sortIcon [hidden]="!col.visibility" [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                </th>
                <th></th>
            </tr>
            <tr>
                <th></th>
                <th *ngFor="let col of columns" [hidden]="!col.visibility" [ngSwitch]="col.field">
                    <p-multiSelect *ngSwitchCase="'ClientLegalEntity'" [style]="{'width':'100%'}" [options]="adminObject.clientMasterDataColArray.ClientLegalEntity" defaultLabel="Client Legal Entry" (onChange)="cmd.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()"
                        filter="true" [maxSelectedLabels]="1" resetFilterOnHide="true" (onPanelShow)="isOptionFilter=true;"></p-multiSelect>
                    <p-multiSelect *ngSwitchCase="'BillingEntity'" [style]="{'width':'100%'}" [options]="adminObject.clientMasterDataColArray.BillingEntity" defaultLabel="Billing Entity" (onChange)="cmd.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()"
                        filter="true" [maxSelectedLabels]="1" resetFilterOnHide="true" (onPanelShow)="isOptionFilter=true;"></p-multiSelect>
                    <p-multiSelect *ngSwitchCase="'Bucket'" [style]="{'width':'100%'}" [options]="adminObject.clientMasterDataColArray.Bucket" defaultLabel="Bucket" (onChange)="cmd.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()" filter="true"
                        [maxSelectedLabels]="1" resetFilterOnHide="true" (onPanelShow)="isOptionFilter=true;"></p-multiSelect>
                    <p-multiSelect *ngSwitchCase="'Acronym'" [style]="{'width':'100%'}" [options]="adminObject.clientMasterDataColArray.Acronym" defaultLabel="Acronym" (onChange)="cmd.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()" filter="true"
                        [maxSelectedLabels]="1" resetFilterOnHide="true" (onPanelShow)="isOptionFilter=true;"></p-multiSelect>
                    <p-multiSelect *ngSwitchCase="'Market'" [style]="{'width':'100%'}" [options]="adminObject.clientMasterDataColArray.Market" defaultLabel="Market" (onChange)="cmd.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()" filter="true"
                        [maxSelectedLabels]="1" resetFilterOnHide="true" (onPanelShow)="isOptionFilter=true;"></p-multiSelect>
                    <p-multiSelect *ngSwitchCase="'InvoiceName'" [style]="{'width':'100%'}" [options]="adminObject.clientMasterDataColArray.InvoiceName" defaultLabel="Invoice Name" (onChange)="cmd.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()"
                        filter="true" [maxSelectedLabels]="1" resetFilterOnHide="true" (onPanelShow)="isOptionFilter=true;"></p-multiSelect>
                    <!-- <p-multiSelect *ngSwitchCase="'LastUpdated'" [style]="{'width':'100%'}"
                            [options]="adminObject.clientMasterDataColArray.LastUpdated" defaultLabel="LastUpdated"
                            (onChange)="cmd.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()"
                            filter="true" [maxSelectedLabels]="1" resetFilterOnHide="true" (onPanelShow)="isOptionFilter=true;"></p-multiSelect>
                        <p-multiSelect *ngSwitchCase="'LastUpdatedBy'" [style]="{'width':'100%'}"
                            [options]="adminObject.clientMasterDataColArray.LastUpdatedBy" defaultLabel="LastUpdatedBy"
                            (onChange)="cmd.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()"
                            filter="true" [maxSelectedLabels]="1" resetFilterOnHide="true" (onPanelShow)="isOptionFilter=true;"></p-multiSelect> -->
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
            <tr>
                <td>{{ rowIndex+1 }}</td>
                <td>
                    {{rowData.ClientLegalEntity}}
                </td>
                <td>
                    {{rowData.BillingEntity}}
                </td>
                <td>
                    {{rowData.Bucket}}
                </td>
                <td>
                    {{rowData.Acronym}}
                </td>
                <td>
                    {{rowData.Market}}
                </td>
                <td>
                    {{rowData.InvoiceName}}
                </td>
                <!-- <td>
                        {{rowData.LastUpdated | date:'MMM dd, yyyy'}}
                    </td>
                    <td>
                        {{rowData.LastUpdatedBy}}
                    </td> -->
                <td>
                    <div>
                        <p-menu #menu [popup]="true" [model]="items" styleClass="borderMenu"></p-menu>
                        <i class="pi pi-ellipsis-v" style="font-size:2em;top: 100px !important;cursor: pointer;" (click)="openMenuPopup(rowData);menu.toggle($event);"></i>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="columns.length">
                    No Data found
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>


<!-- Audit History -->
<!-- <div style="margin-top: 10px;">
      <h3 style="text-align: center">Audit History (On Page Open)</h3>
    </div>
    
    <p-table #ah [columns]="auditHistoryColumns" [value]="auditHistoryRows" exportFilename="Audit History">
      <ng-template pTemplate="header" let-columns>
          <tr>
              <th>Sr.No.</th>
              <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                  {{col.header}}
                  <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                      ariaLabelDesc="Activate to sort in descending order"
                      ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
              </th>
          </tr>
          <tr>
              <th></th>
              <th *ngFor="let col of columns" [ngSwitch]="col.field">
                  <p-multiSelect *ngSwitchCase="'Action'" [style]="{'width':'100%'}" appendTo="body"
                      [options]="auditHistoryArray.Action" defaultLabel="Action"
                      (onChange)="ah.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()"
                      filter="true" resetFilterOnHide="true"></p-multiSelect>
                  <p-multiSelect *ngSwitchCase="'ActionBy'" [style]="{'width':'100%'}" appendTo="body"
                      [options]="auditHistoryArray.ActionBy" defaultLabel="ActionBy"
                      (onChange)="ah.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()"
                      filter="true" resetFilterOnHide="true"></p-multiSelect>
                  <p-multiSelect *ngSwitchCase="'Date'" [style]="{'width':'100%'}" appendTo="body"
                      [options]="auditHistoryArray.Date" defaultLabel="Date"
                      (onChange)="ah.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()"
                      filter="true" resetFilterOnHide="true"></p-multiSelect>
                  <p-multiSelect *ngSwitchCase="'Details'" [style]="{'width':'100%'}" appendTo="body"
                      [options]="auditHistoryArray.Details" defaultLabel="Details"
                      (onChange)="ah.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()"
                      filter="true" resetFilterOnHide="true"></p-multiSelect>
              </th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
          <tr>
              <td>{{ rowIndex+1 }}</td>
              <td *ngFor="let col of columns">
                  <ng-container *ngIf="col.field != ''">
                      {{rowData[col.field]}}
                  </ng-container>
              </td>
          </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
          <tr>
              <td [attr.colspan]="columns.length">
                  No Data found
              </td>
          </tr>
      </ng-template>
    </p-table>
    
    <div style="margin-top: 10px;">
      <h3 style="text-align: center">Audit History (On Line Item Selection)</h3>
    </div>
    
    <p-table [columns]="auditHistorySelectedColumns" [value]="auditHistorySelectedRows" exportFilename="Audit History">
      <ng-template pTemplate="header" let-columns>
          <tr>
              <th>Sr.No.</th>
              <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                  {{col.header}}
                  <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                      ariaLabelDesc="Activate to sort in descending order"
                      ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
              </th>
          </tr>
          <tr>
              <th></th>
              <th *ngFor="let col of columns" [ngSwitch]="col.field">
                  <p-multiSelect *ngSwitchCase="'ClientLegalEntry'" [style]="{'width':'100%'}" appendTo="body"
                      [options]="auditHistorySelectedArray.ClientLegalEntry" defaultLabel="Client Legal Entry"
                      (onChange)="ah.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()"
                      filter="true" resetFilterOnHide="true"></p-multiSelect>
                  <p-multiSelect *ngSwitchCase="'Action'" [style]="{'width':'100%'}" appendTo="body"
                      [options]="auditHistorySelectedArray.Action" defaultLabel="Action"
                      (onChange)="ah.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()"
                      filter="true" resetFilterOnHide="true"></p-multiSelect>
                  <p-multiSelect *ngSwitchCase="'ActionBy'" [style]="{'width':'100%'}" appendTo="body"
                      [options]="auditHistorySelectedArray.ActionBy" defaultLabel="ActionBy"
                      (onChange)="ah.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()"
                      filter="true" resetFilterOnHide="true"></p-multiSelect>
                  <p-multiSelect *ngSwitchCase="'Date'" [style]="{'width':'100%'}" appendTo="body"
                      [options]="auditHistorySelectedArray.Date" defaultLabel="Date"
                      (onChange)="ah.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()"
                      filter="true" resetFilterOnHide="true"></p-multiSelect>
                  <p-multiSelect *ngSwitchCase="'Details'" [style]="{'width':'100%'}" appendTo="body"
                      [options]="auditHistorySelectedArray.Details" defaultLabel="Details"
                      (onChange)="ah.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()"
                      filter="true" resetFilterOnHide="true"></p-multiSelect>
              </th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
          <tr>
              <td>{{ rowIndex+1 }}</td>
              <td *ngFor="let col of columns">
                  <ng-container *ngIf="col.field != ''">
                      {{rowData[col.field]}}
                  </ng-container>
              </td>
          </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
          <tr>
              <td [attr.colspan]="columns.length">
                  No Data found
              </td>
          </tr>
      </ng-template>
    </p-table> -->


<!-- Sub-Division Dialog -->

<p-dialog [(visible)]="showSubDivisionDetails" [modal]="true" [contentStyle]="{'max-height':'500px', 'top':'0px'}" [style]="{width: '90%'}">
    <div>
        <a (click)="downloadExcel(sd)" class="download-worksheet td-none"><i class="fa fa-fw fa-file-excel-o"
                aria-hidden="true"></i>
        </a>
        <button styleClass="pBtnRight" pButton type="button" class="adminBtn" icon="pi pi-plus-circle" label="Add New Sub-Division" *ngIf="isUserSPMCA" (click)="addEditSubDivision('Add SubDivision', null)">
        </button>
    </div>
    <div class="clearBoth"></div>
    <p-header>
        Sub-Division Details
    </p-header>
    <div class="adminTable">
        <p-table #sd [columns]="subDivisionDetailsColumns" [value]="subDivisionDetailsRows" exportFilename="Sub Division Details" class="minFirstLastCol5Per" [paginator]="true" [rows]="10">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th>Sr.No.</th>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" [hidden]="!col.visibility">
                        {{col.header}}
                        <p-sortIcon [hidden]="!col.visibility" [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
                        </p-sortIcon>
                    </th>
                    <th></th>
                </tr>
                <tr>
                    <th></th>
                    <th *ngFor="let col of columns" [ngSwitch]="col.field" [hidden]="!col.visibility">
                        <p-multiSelect *ngSwitchCase="'SubDivision'" [style]="{'width':'100%'}" [options]="adminObject.subDivisionDetailsColArray.SubDivision" defaultLabel="Sub-Division" (onChange)="sd.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()"
                            filter="true" [maxSelectedLabels]="1" resetFilterOnHide="true" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect *ngSwitchCase="'LastUpdated'" [style]="{'width':'100%'}" [options]="adminObject.subDivisionDetailsColArray.LastUpdated" defaultLabel="LastUpdated" (onChange)="sd.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()"
                            filter="true" [maxSelectedLabels]="1" resetFilterOnHide="true" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect *ngSwitchCase="'LastUpdatedBy'" [style]="{'width':'100%'}" [options]="adminObject.subDivisionDetailsColArray.LastUpdatedBy" defaultLabel="LastUpdatedBy" (onChange)="sd.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()"
                            filter="true" [maxSelectedLabels]="1" resetFilterOnHide="true" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                    </th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                <tr>
                    <td>{{ rowIndex+1 }}</td>
                    <td>
                        {{rowData.SubDivision}}
                    </td>
                    <td>
                        {{rowData.LastUpdated | date:'MMM dd, yyyy'}}
                    </td>
                    <td>
                        {{rowData.LastUpdatedBy}}
                    </td>
                    <td>
                        <div>
                            <p-menu #menu [popup]="true" [model]="subDivisionItems" styleClass="borderMenu">
                            </p-menu>
                            <i class="pi pi-ellipsis-v" style="font-size:2em;top: 100px !important;cursor: pointer;" (click)="subDivisionMenu(rowData); menu.toggle($event);"></i>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="columns.length">
                        No Data found
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</p-dialog>

<!-- <p-dialog [(visible)]="showaddSubDivision" [modal]="true" appendTo="body" [style]="{width: '1000px', height: '500px'}">
    <p-header *ngIf="!showeditSubDivision">
        Add SubDivision
    </p-header>
    <p-header *ngIf="showeditSubDivision">
        Edit SubDivision
    </p-header>
</p-dialog> -->

<!-- POC Dialog -->

<p-dialog [(visible)]="showPointofContact" [modal]="true" [contentStyle]="{'max-height':'500px', 'top':'0px'}" [style]="{width: '90%'}">
    <div>
        <a (click)="downloadExcel(poc)" class="download-worksheet td-none"><i class="fa fa-fw fa-file-excel-o"
                aria-hidden="true"></i>
        </a>
        <button pButton styleClass="pBtnRight" type="button" class="adminBtn" icon="pi pi-plus-circle" label="Add New POC" *ngIf="isUserSPMCA" (click)="addEditPOC('Add Point Of Contact', null)"></button>
    </div>
    <div class="clearBoth"></div>
    <p-header>
        Point of Contact
    </p-header>
    <div class="adminTable">
        <p-table #poc [columns]="POCColumns" [value]="POCRows" class="minFirstLastCol5Per" exportFilename="Point of Contact" [paginator]="true" [rows]="10">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th>Sr.No.</th>
                    <th *ngFor="let col of columns" [hidden]="!col.visibility" [pSortableColumn]="col.field">
                        {{col.header}}
                        <p-sortIcon [hidden]="!col.visibility" [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
                        </p-sortIcon>
                    </th>
                    <th></th>
                </tr>
                <tr>
                    <th></th>
                    <th *ngFor="let col of columns" [hidden]="!col.visibility" [ngSwitch]="col.field">
                        <p-multiSelect *ngSwitchCase="'FName'" [style]="{'width':'100%'}" [options]="adminObject.POCColArray.FName" defaultLabel="First Name" (onChange)="poc.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()" filter="true" [maxSelectedLabels]="1"
                            resetFilterOnHide="true" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect *ngSwitchCase="'LName'" [style]="{'width':'100%'}" [options]="adminObject.POCColArray.LName" defaultLabel="Last Name" (onChange)="poc.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()" filter="true" [maxSelectedLabels]="1"
                            resetFilterOnHide="true" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect *ngSwitchCase="'EmailAddress'" [style]="{'width':'100%'}" [options]="adminObject.POCColArray.EmailAddress" defaultLabel="Email" (onChange)="poc.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()" filter="true"
                            [maxSelectedLabels]="1" resetFilterOnHide="true" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect *ngSwitchCase="'LastUpdated'" [style]="{'width':'100%'}" [options]="adminObject.POCColArray.LastUpdated" defaultLabel="LastUpdated" (onChange)="poc.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()" filter="true"
                            [maxSelectedLabels]="1" resetFilterOnHide="true" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect *ngSwitchCase="'LastUpdatedBy'" [style]="{'width':'100%'}" [options]="adminObject.POCColArray.LastUpdatedBy" defaultLabel="LastUpdatedBy" (onChange)="poc.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()" filter="true"
                            [maxSelectedLabels]="1" resetFilterOnHide="true" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                    </th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                <tr>
                    <td>{{ rowIndex+1 }}</td>
                    <td>
                        {{rowData.FName}}
                    </td>
                    <td>
                        {{rowData.LName}}
                    </td>
                    <td>
                        {{rowData.EmailAddress}}
                    </td>
                    <td>
                        {{rowData.LastUpdated | date:'MMM dd, yyyy'}}
                    </td>
                    <td>
                        {{rowData.LastUpdatedBy}}
                    </td>
                    <td>
                        <div>
                            <p-menu #menu [popup]="true" [model]="pocItems" styleClass="borderMenu">
                            </p-menu>
                            <i class="pi pi-ellipsis-v" style="font-size:2em;top: 100px !important;cursor: pointer;" (click)="pocMenu(rowData); menu.toggle($event);"></i>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="columns.length">
                        No Data found
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</p-dialog>

<!-- <p-dialog [(visible)]="showaddPOC" [modal]="true" appendTo="body" [contentStyle]="{'max-height':'500px', 'top':'0px'}" [style]="{width: '90%'}">
    <p-header *ngIf="!showeditPOC">
        Add Point Of Contact
    </p-header>
    <p-header *ngIf="showeditPOC">
        Edit Point Of Contact
    </p-header>
    <p-footer>
        <button pButton label="{{buttonLabel}}" type="button" class="adminBtn" (click)="savePOC()"></button>
    </p-footer>
</p-dialog> -->

<!-- PO Dialog -->

<p-dialog [(visible)]="showPurchaseOrder" [modal]="true" [contentStyle]="{'max-height':'500px', 'top':'0px'}" [style]="{width: '90%'}">





    <div>
        <a (click)="downloadExcel(poTable)" class="download-worksheet td-none"><i class="fa fa-fw fa-file-excel-o"
                aria-hidden="true"></i>
        </a>
        <button pButton styleClass="pBtnRight" type="button" class="adminBtn" icon="pi pi-plus-circle" label="Add New Purchase Order" *ngIf="isUserSPMCA || isUserPO" (click)="addEditPO('Add Purchase Order',null)">
        </button>
    </div>
    <div class="clearBoth"></div>
    <p-header>
        Purchase Order
    </p-header>

    <div fxLayout="column" style="padding: 8vw;" fxLayoutAlign="center center" [hidden]="!modalloaderenable">
        <div id="modalInnerLoader"></div>
        <div id="modalInnerLoaderText">Loading...</div>
    </div>

    <div class="adminTable" [hidden]="modalloaderenable">
        <p-table #poTable [columns]="POColumns" [value]="PORows" exportFilename="Purchase Order" class="minFirstLastCol5Per" [paginator]="true" [rows]="10">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th>Sr.No.</th>
                    <th *ngFor="let col of columns" [hidden]="!col.visibility" [pSortableColumn]="col.field">
                        {{col.header}}
                        <p-sortIcon [hidden]="!col.visibility" [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
                        </p-sortIcon>
                    </th>
                    <th></th>
                </tr>
                <tr>
                    <th></th>
                    <th *ngFor="let col of columns" [hidden]="!col.visibility" [ngSwitch]="col.field">
                        <p-multiSelect *ngSwitchCase="'PoName'" [style]="{'width':'100%'}" [options]="adminObject.POColArray.PoName" defaultLabel="Po Name" (onChange)="poTable.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()" filter="true" [maxSelectedLabels]="1"
                            resetFilterOnHide="true" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect *ngSwitchCase="'PoNumber'" [style]="{'width':'100%'}" [options]="adminObject.POColArray.PoNumber" defaultLabel="Po Number" (onChange)="poTable.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()" filter="true"
                            [maxSelectedLabels]="1" resetFilterOnHide="true" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect *ngSwitchCase="'AmountRevenue'" [style]="{'width':'100%'}" [options]="adminObject.POColArray.AmountRevenue" defaultLabel="Revenue" (onChange)="poTable.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()" filter="true"
                            [maxSelectedLabels]="1" resetFilterOnHide="true" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect *ngSwitchCase="'AmountOOP'" [style]="{'width':'100%'}" [options]="adminObject.POColArray.AmountOOP" defaultLabel="OOP" (onChange)="poTable.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()" filter="true" [maxSelectedLabels]="1"
                            resetFilterOnHide="true" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect *ngSwitchCase="'LastUpdated'" [style]="{'width':'100%'}" [options]="adminObject.POColArray.LastUpdated" defaultLabel="LastUpdated" (onChange)="poTable.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()" filter="true"
                            [maxSelectedLabels]="1" resetFilterOnHide="true" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect *ngSwitchCase="'LastUpdatedBy'" [style]="{'width':'100%'}" [options]="adminObject.POColArray.LastUpdatedBy" defaultLabel="LastUpdatedBy" (onChange)="poTable.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()"
                            filter="true" [maxSelectedLabels]="1" resetFilterOnHide="true" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                    </th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                <tr>
                    <td>{{ rowIndex+1 }}</td>
                    <td>
                        <span *ngIf="rowData.poDocLink;else isName"><a href="{{rowData.poDocLink}}" target="_blank" style="color:red; cursor: pointer;">  {{rowData.PoName}}</a>
                            </span>

                        <ng-template #isName>
                            {{rowData.PoName}}
                        </ng-template>
                    </td>
                    <td>
                        {{rowData.PoNumber}}
                    </td>
                    <td>
                        {{rowData.AmountRevenue}}
                    </td>
                    <td>
                        {{rowData.AmountOOP}}
                    </td>
                    <td>
                        {{rowData.LastUpdated | date:'MMM dd, yyyy'}}
                    </td>
                    <td>
                        {{rowData.LastUpdatedBy}}
                    </td>
                    <td>
                        <div>
                            <p-menu #menu [popup]="true" [model]="poItems" styleClass="borderMenu">
                            </p-menu>
                            <i class="pi pi-ellipsis-v" style="font-size:2em;top: 100px !important;cursor: pointer;" (click)="poMenu(rowData); menu.toggle($event);"></i>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="columns.length">
                        No Data found
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</p-dialog>





<div *ngIf="adminObject.po.isRightVisible" class="ng-right-side-overlay">
    <p-sidebar [(visible)]="adminObject.po.isRightVisible" position="right" styleClass="ui-sidebar-md">
        <p-table [value]="PORightRows">
            <ng-template pTemplate="header">
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-task style="overflow: auto">
                <tr>
                    <td [ngStyle]="{'color':'#d7181f'}">SOW ID</td>
                    <td>{{task.ID}}</td>
                </tr>
                <tr>
                    <td colspan="2" [ngStyle]="{'color':'#d7181f'}">Budget</td>
                </tr>
                <tr>
                    <td [ngStyle]="{'color':'#d7181f'}">Total</td>
                    <td>{{task.Amount}}</td>
                </tr>
                <tr>
                    <td [ngStyle]="{'color':'#d7181f'}">Net</td>
                    <td>{{task.AmountRevenue}}</td>
                </tr>
                <tr>
                    <td [ngStyle]="{'color':'#d7181f'}">OOP</td>
                    <td>{{task.AmountOOP}}</td>
                </tr>
                <tr>
                    <td [ngStyle]="{'color':'#d7181f'}">Tax</td>
                    <td>{{task.AmountTax}}</td>
                </tr>
            </ng-template>
        </p-table>
    </p-sidebar>
</div>

<p-toast position="bottom-center" key="adminAuth1"></p-toast>