<div class="tableLoader" [hidden]='isPSInnerLoaderHidden'>
    <div id="scInnerLoader"></div>
    <div id="scInnerLoaderText">Loading...</div>
</div>

<div class="financeTable" hideshowMenu>
    <p-table #rc [columns]="rejectCancelExpenseCols" [value]="rejectExpenses" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [paginator]="true" [rows]="10" exportFilename="Cancelled_Reject_Expenses"
        [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-cactus p-datatable-gridlines" stateStorage="local" stateKey="rejectCancelExpenseTable">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th class="firstColumnWidth">S.No</th>
                <th class="firstColumnWidth">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field" [hidden]="!col.visibility">
                    <!-- {{col.header}}
                    <p-sortIcon *ngIf="col.header != '' " [field]="col.field"></p-sortIcon> -->
                    <div *ngIf="col.field != ''" class="p-d-flex p-jc-between p-ai-center">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                        <p-columnFilter *ngIf="col.header != ''  && col.field !='docUrlHtmlTag' && col.field!='docReviewUrlHtmlTag'" [field]="col.field" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                            <ng-template pTemplate="header">
                                <div class="p-px-3 p-pt-3 p-pb-0">
                                    <span class="p-text-bold"> {{col.header}} Picker</span>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-multiSelect [ngModel]="value" maxSelectedLabels="1" [options]="col.options" placeholder="All" (onChange)="filter($event.value)" optionLabel="label">
                                    <ng-template let-option pTemplate="item">
                                        <div class="p-multiselect-representative-option">
                                            <span class="p-ml-1">{{option.label}}</span>
                                        </div>
                                    </ng-template>
                                </p-multiSelect>
                            </ng-template>
                        </p-columnFilter>
                    </div>
                </th>
                <th class="lastColumnWidth">
                    <i (click)="fdDataShareServie.convertToExcelFile(rc)" title="Export To Excel" class="pi pi-file-excel tableExportIcon"></i>
                </th>
            </tr>
            <!-- <tr>
                <th></th>
                <th></th>
                <th *ngFor="let col of columns" [ngSwitch]="col.field" class="ui-fluid" [hidden]="!col.visibility">
                    <ng-container *ngIf="col.field">
                        <p-multiSelect (keydown.enter)="$event.preventDefault()"  resetFilterOnHide="true"  *ngSwitchCase="'ProjectCode'" [options]="pendinExpenseColArray.ProjectCode"
                            defaultLabel="All" [maxSelectedLabels]="1"  (onChange)="rc.filter($event.value, col.field, 'in')" (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect (keydown.enter)="$event.preventDefault()"  resetFilterOnHide="true"  *ngSwitchCase="'ClientLegalEntity'"
                            [options]="pendinExpenseColArray.ClientLegalEntity" defaultLabel="All" [maxSelectedLabels]="1" 
                            (onChange)="rc.filter($event.value, col.field, 'in')" (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect (keydown.enter)="$event.preventDefault()"  resetFilterOnHide="true"  *ngSwitchCase="'Category'" [options]="pendinExpenseColArray.Category"
                            defaultLabel="All" [maxSelectedLabels]="1"  (onChange)="rc.filter($event.value, col.field, 'in')" (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect (keydown.enter)="$event.preventDefault()"  resetFilterOnHide="true"  *ngSwitchCase="'ExpenseType'" [options]="pendinExpenseColArray.ExpenseType"
                            defaultLabel="All" [maxSelectedLabels]="1"  (onChange)="rc.filter($event.value, col.field, 'in')" (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect (keydown.enter)="$event.preventDefault()"  resetFilterOnHide="true"  *ngSwitchCase="'ClientAmount'" [options]="pendinExpenseColArray.ClientAmount"
                            defaultLabel="All" [maxSelectedLabels]="1"  (onChange)="rc.filter($event.value, col.field, 'in')" (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect (keydown.enter)="$event.preventDefault()"  resetFilterOnHide="true"  *ngSwitchCase="'ClientCurrency'" [options]="pendinExpenseColArray.ClientCurrency"
                            defaultLabel="All" [maxSelectedLabels]="1"  (onChange)="rc.filter($event.value, col.field, 'in')" (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect (keydown.enter)="$event.preventDefault()"  resetFilterOnHide="true"  *ngSwitchCase="'Created'" [options]="pendinExpenseColArray.Created"
                            defaultLabel="All" [maxSelectedLabels]="1"  (onChange)="rc.filter($event.value, col.field, 'in')" (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect (keydown.enter)="$event.preventDefault()"  resetFilterOnHide="true"  *ngSwitchCase="'CreatedBy'" [options]="pendinExpenseColArray.CreatedBy"
                            defaultLabel="All" [maxSelectedLabels]="1"  (onChange)="rc.filter($event.value, col.field, 'in')" (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect (keydown.enter)="$event.preventDefault()"  resetFilterOnHide="true"  *ngSwitchCase="'ActionedBy'" [options]="pendinExpenseColArray.ActionedBy"
                            defaultLabel="All" [maxSelectedLabels]="1"  (onChange)="rc.filter($event.value, col.field, 'in')" (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect (keydown.enter)="$event.preventDefault()"  resetFilterOnHide="true"  *ngSwitchCase="'RejectionDate'" [options]="pendinExpenseColArray.RejectionDate"
                            defaultLabel="All" [maxSelectedLabels]="1"  (onChange)="rc.filter($event.value, col.field, 'in')" (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect (keydown.enter)="$event.preventDefault()"  resetFilterOnHide="true"  *ngSwitchCase="'ActionBy'" [options]="pendinExpenseColArray.ActionBy"
                            defaultLabel="All" [maxSelectedLabels]="1"  (onChange)="rc.filter($event.value, col.field, 'in')" (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect (keydown.enter)="$event.preventDefault()"  resetFilterOnHide="true"  *ngSwitchCase="'ModifiedDate'" [options]="pendinExpenseColArray.ModifiedDate"
                            defaultLabel="All" [maxSelectedLabels]="1"  (onChange)="rc.filter($event.value, col.field, 'in')" (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                    </ng-container>
                </th>
            </tr> -->
        </ng-template>
        <ng-template pTemplate="body" let-node="rowData" let-rowData let-columns="columns" let-rowIndex="rowIndex">
            <tr>
                <td>
                    {{rowIndex+1}}
                </td>
                <td>
                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                </td>
                <td *ngFor="let col of columns;index as i" [hidden]="!col.visibility" class="ui-resizable-column">
                    <ng-container *ngIf="col.field != 'ModifiedDate' &&  col.field != '' ">
                        {{rowData[col.field]}}
                    </ng-container>
                    <ng-container *ngIf="col.field == 'ModifiedDate'">
                        {{rowData[col.field] | date:'MMM dd, yyyy' }}
                    </ng-container>
                    <!-- <ng-container *ngIf="col.field == ''">
                        <div>
                            <p-menu #popupMenu [popup]="true" [model]="items" styleClass="borderMenu"></p-menu>
                            <i class="pi pi-ellipsis-v" style="font-size:2em;top: 100px !important;cursor: pointer;"
                                (click)="openTableAtt(rowData, popupMenu);popupMenu.show($event);"></i>
                        </div>
                    </ng-container> -->
                </td>
                <td class="lastColumnWidth">
                    <div>
                        <p-menu #popupMenu [popup]="true" [model]="items" styleClass="borderMenu"></p-menu>
                        <i class="pi pi-ellipsis-v" style="font-size:2em;top: 100px !important;cursor: pointer;" (click)="openTableAtt(rowData, popupMenu);popupMenu.show($event);"></i>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<div *ngIf="rejectExpenses.length == 0" style="color:red;text-align: center;padding-top: 20px;">
    No data available.
</div>
<!-- Right Side Bar -->
<p-sidebar [(visible)]="rightSideBar" position="right" [baseZIndex]="10000" [style]="{width:'28em'}">
    <p-scrollPanel [style]="{'width': '100%', 'height': '95vh'}">
        <ng-container *ngIf="rightSideBar">
            <app-table-attribute [rowItemData]="rowItemDetails"></app-table-attribute>
        </ng-container>
    </p-scrollPanel>
</p-sidebar>