<div class="p-d-flex p-flex-column" style="padding: 10vw;width: 100%;" *ngIf="loaderenable">
    <div id="scInnerLoader"></div>
    <div id="scInnerLoaderText">Loading...</div>
</div>



<div class="tooltip-data-container adminTable p-mt-2" *ngIf="!loaderenable">
    <p-table #bmd [columns]="bucketDataColumns" [value]="bucketDataRows" exportFilename="Bucket Master Data" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,25,50]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        styleClass="p-datatable-cactus p-datatable-gridlines" stateStorage="local" stateKey="bucketTable" hideshowMenu>
        <ng-template pTemplate="caption">
            <div class="table-header p-grid p-px-2 p-m-0 p-jc-between p-ai-center">
                <div>
                    <input class="cls_addBucktText p-mr-2" style="min-height: 36px;" pInputText type="text" [(ngModel)]="bucketData" placeholder="Bucket" />

                    <button pButton pRipple type="button" icon="pi pi-plus" label="Add" class="p-button-outlined p-button-danger cls_addBucket" (click)="addBucketData()"></button>
                </div>
                <i (click)="downloadExcel(bmd)" style="font-size: 2.5em;" class="pi pi-file-excel error" aria-hidden="true"></i>

            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th class="firstColumnWidth">Sr.No.</th>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field" [hidden]="!col.visibility">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                        <p-columnFilter *ngIf="col.header != ''" [field]="col.field" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                            <ng-template pTemplate="header">
                                <div class="p-px-3 p-pt-3 p-pb-0">
                                    <span class="p-text-bold"> {{col.header}} Picker</span>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-multiSelect [ngModel]="value" maxSelectedLabels="1" [options]="col.options" placeholder="All" (onChange)="filter($event.value)" optionLabel="label">
                                    <ng-template let-option pTemplate="item">
                                        <div class="p-multiselect-representative-option">
                                            <span class="p-ml-1">{{option.label}}</span>
                                        </div>
                                    </ng-template>
                                </p-multiSelect>
                            </ng-template>
                        </p-columnFilter>
                    </div>
                </th>
                <th class="lastColumnWidth">

                </th>
            </tr>

        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
            <tr>
                <td>{{ rowIndex+1 }}</td>
                <td *ngFor="let col of columns" [hidden]="!col.visibility">
                    <div *ngIf="col.field === 'LastUpdated';else second">
                        {{rowData[col.field] | date:'MMM dd, yyyy'}}
                    </div>
                    <ng-template #second>
                        <div *ngIf="col.field === 'PatClients'; else columnfield">
                            <a class="brandColor noTextDecoration error" href="javascript:void(0)" (click)="displayClient(rowData.RowClientsArray)"> {{rowData[col.field]}}</a>
                        </div>
                    </ng-template>
                    <ng-template #columnfield>
                        {{rowData[col.field]}}
                    </ng-template>
                </td>
                <td class="lastColumnWidth">
                    <div>
                        <p-menu #menu [popup]="true" [model]="items" styleClass="borderMenu"></p-menu>
                        <i class="pi pi-ellipsis-v" (click)="menu.toggle($event);bucketMenu(rowData)"></i>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="columns.length + 1">
                    No Data found
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div>

    <p-dialog [(visible)]="viewClient" [modal]="true" appendTo="body" [style]="{width: '1000px'}">
        <p-header>
            List of Clients
        </p-header>
        <p-table [value]="viewClientArray" [scrollable]="true" scrollHeight="400px" styleClass="p-datatable-cactus p-datatable-gridlines">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th class="firstColumnWidth">
                        Sr.No
                    </th>
                    <th>
                        Client Name
                    </th>
                    <th>Effective Date</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                <tr>
                    <td class="firstColumnWidth">
                        {{ rowIndex+1 }}
                    </td>
                    <td class="error">
                        {{rowData.Title}}
                    </td>
                    <td>{{rowData.EffectiveDate | date:'MMM dd, yyyy'}}</td>
                </tr>
            </ng-template>
        </p-table>
    </p-dialog>



    <p-dialog [(visible)]="editClient" [modal]="true" appendTo="body" [style]="{width: '1000px'}" [closable]="false">
        <p-header>
            Edit Client
        </p-header>

        <div class="p-offset-10">
            <div class="pdialogButton p-col-2 p-mx-0 p-grid p-jc-end">
                <button type="button" pButton icon="pi pi-save" title="Update" (click)="update()" class="cls_UpdateEC p-button-outlined p-button-danger p-mr-1"></button>
                <button type="button" pButton icon="pi pi-times" title="Close" (click)="editClient=false" class="cls_closeEC p-button-outlined p-button-danger"></button>
            </div>
        </div>

        <p-table class="p-mt-2" [value]="clientList" [(selection)]="selectedClient" dataKey="ID" [scrollable]="true" scrollHeight="400px" styleClass="p-datatable-cactus p-datatable-gridlines">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th class="firstColumnWidth">
                        Sr No.
                    </th>
                    <th class="firstColumnWidth">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th>
                        Clients
                    </th>
                    <th>Effective Date</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                <tr [ngClass]="{'disableColor':rowData.isCheckboxDisabled}">
                    <td class="firstColumnWidth">{{ rowIndex+1 }}</td>
                    <td class="firstColumnWidth">
                        <p-tableCheckbox [disabled]="rowData.isCheckboxDisabled" [value]="rowData"></p-tableCheckbox>
                    </td>
                    <td>
                        {{rowData.Title}}
                    </td>
                    <td>
                        <p-calendar styleClass="pCalendarBtn" [(ngModel)]="rowData.EffectiveDate" [minDate]="min30Days" [showIcon]="true" [maxDate]="minDateValue"   [showOnFocus]="false" appendTo="body"   [monthNavigator]="true" [readonlyInput]="true">
                        </p-calendar>
                    </td>
                </tr>
            </ng-template>
        </p-table>

    </p-dialog>