.redLight{
    background-color: #C53E3E !important;
    border: 1px solid;
}

::ng-deep body .ui-dialog .ui-dialog-titlebar {
    text-align: center !important;
}

::ng-deep p-calendar > span > .ui-inputtext, .ui-inputtext:enabled:focus:not(.ui-state-error) {
    border: 1px solid #a6a6a6 !important;
}

::ng-deep p-calendar>span>input {
    width: 22em !important;
}