<i class="pi pi-exclamation-triangle" style="font-size: 1.7em;margin-right: .5em;position: relative;top: .2em;"></i>
<span class="ui-confirmdialog-message">There are multiple end tasks for current slot. Are you sure that you want to continue?</span>


<hr style="border-top: 1.2px solid #cdcdcd;
margin: 20px 0px 10px 0px;">

<div class="ui-dialog-footer" style="border: none;">
    <button type="button" pButton icon="pi pi-check" label="Yes" (click)="Confirm(true)"></button>
    <button type="button" pButton icon="pi pi-times" label="No" (click)="Confirm(false)"></button>

</div>