<div>
  <div class="userRole">
    <div class="ui-g">
      <div class="ui-g-2">
        <span style="padding-right: 10px;">User:</span>
        <p-dropdown [options]="users" filter="true" resetFilterOnHide="true"
          placeholder='Select User' [(ngModel)]="selectedUser" (onChange)="userChange()">
        </p-dropdown>
      </div>

      <div class="ui-g-2">
        <span style="padding-right: 10px;">Client:</span>
        <p-dropdown [options]="clients" filter="true" resetFilterOnHide="true"
          placeholder='Select Client' [(ngModel)]="selectedClient" (onChange)="clientChange()">
        </p-dropdown>
      </div>

      <div class="ui-g-2">
        <p-button type="button" label="Save" (onClick)="save()"></p-button>
      </div>

      <div [hidden]="sowTable">
        <p-table [columns]="cols" [value]="sowList" [(selection)]="selectedSow" dataKey="sow" [paginator]="true"
          [rows]="10" (onRowSelect)="sowCheck($event)" (onRowUnselect)="uncheck($event)">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th style="width: 3em">
                <p-tableHeaderCheckbox (click)="headerCheck($event)"></p-tableHeaderCheckbox>
              </th>
              <th *ngFor="let col of columns">
                {{col.header}}
              </th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
            <tr>
              <td>
                <p-tableCheckbox [disabled]="isTypeDisabled[rowIndex]" [value]="rowData"></p-tableCheckbox>
              </td>
              <td *ngFor="let col of columns">
                {{rowData[col.field]}}
              </td>
              <td>
                <p-dropdown [disabled]="isTypeDisabled[rowIndex]" [options]="accessType" filter="true"
                  resetFilterOnHide="true" [(ngModel)]='rowData.type'
                  (onChange)="typeChange($event.value)">
                </p-dropdown>
              </td>
            </tr>
          </ng-template>
          <!-- <ng-template pTemplate="summary">
          <ul>
            <li *ngFor="let sow of selectedSow" style="text-align: left">
              {{sow | json}}
            </li>
          </ul>
        </ng-template> -->
        </p-table>
      </div>
    </div>
  </div>

</div>

<p-toast [style]="{marginTop: '80px'}"></p-toast>
<!-- <table>
        <tr *ngFor="let sowData of sowList; let i= index;">
          <td>
            <p-checkbox name="group1" [disabled]="isTypeDisabled[i]" [(ngModel)]="sowData.status" binary="true"
              (click)="sowCheck(i,sowData)"></p-checkbox>
          </td>
          <td>
            {{sowData.sow}}
          </td>
          <td>
            <p-dropdown [disabled]="isTypeDisabled[i]" [options]="accessType" filter="true"
              resetFilterOnHide="true" placeholder='Select value' [(ngModel)]='sowData.type'
              (onChange)="typeChange($event.value)">
            </p-dropdown>
          </td>
        </tr>
      </table> -->