::ng-deep #unallocatedTableDiv .ui-table-scrollable-body {
    min-height: 340px;
}
::ng-deep #unallocatedTableDiv  .ng-dropdown-panel .scroll-host {
    position: absolute;
    background-color: white;
}
::ng-deep .pointer { 
    font-size:1em;top: 100px !important;cursor: pointer;
  }