<!-- <div class="alertBox">
  <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
</div> -->
<p-toast position="top-right"></p-toast>
<div class="tableLoader" [hidden]='hideLoader'>
  <div id="mainLoader"></div>
  <div id="mainLoaderText">Loading...</div>
</div>
<div class="noDataMessage" [hidden]='hideNoDataMessage'>
  No Tasks Found.
</div>
<div [hidden]='hideTable' id="unallocatedTableDiv" class="table100 ver4 m-b-110">
  <p-table #unallocatedTable [columns]="displayedColumns" [value]="caGlobalService.dataSource" [paginator]="true" [rows]="30" [lazy]="true" [scrollable]="true" scrollHeight="600px" (onLazyLoad)="lazyLoadTask($event)" [totalRecords]="caGlobalService.totalRecords"
      [loading]="caGlobalService.loading" [lazyLoadOnInit]="false">
      <!-- <ng-template pTemplate="caption">
          <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
          
      </ng-template> -->
      <ng-template pTemplate="header" let-columns>
          <tr>
              <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                  {{ col.header }}
                  <p-sortIcon [field]="col.field"></p-sortIcon>
              </th>
              <th>Next Task Start</th>
              <th>Last Task End </th>
              <th>SC Date</th>
              <th>Allocated To</th>
              <th></th>
          </tr>
          <tr>
              <th *ngFor="let col of columns" [ngSwitch]="col.field">
                  <p-multiSelect *ngSwitchCase="'clientName'" [options]="unArrays.clientLegalEntityArray" defaultLabel="All" (onChange)="unallocatedTable.filter($event.value, col.field, 'in')"></p-multiSelect>
                  <p-multiSelect *ngSwitchCase="'projectCode'" [options]="unArrays.projectCodeArray" defaultLabel="All" (onChange)="unallocatedTable.filter($event.value, col.field, 'in')"></p-multiSelect>
                  <p-multiSelect *ngSwitchCase="'milestone'" [options]="unArrays.milestoneArray" defaultLabel="All" (onChange)="unallocatedTable.filter($event.value, col.field, 'in')"></p-multiSelect>
                  <p-multiSelect *ngSwitchCase="'taskName'" [options]="unArrays.taskArray" defaultLabel="All" (onChange)="unallocatedTable.filter($event.value, col.field, 'in')"></p-multiSelect>
                  <p-multiSelect *ngSwitchCase="'deliveryType'" [options]="unArrays.deliveryTypeArray" defaultLabel="All" (onChange)="unallocatedTable.filter($event.value, col.field, 'in')"></p-multiSelect>
                  <p-multiSelect *ngSwitchCase="'estimatedTime'" [options]="unArrays.allocatedArray" defaultLabel="All" (onChange)="unallocatedTable.filter($event.value, col.field, 'in')"></p-multiSelect>
                  <p-multiSelect *ngSwitchCase="'startDateText'" [options]="unArrays.startTimeArray" defaultLabel="All" (onChange)="unallocatedTable.filter($event.value, col.field, 'in')"></p-multiSelect>
                  <p-multiSelect *ngSwitchCase="'dueDateText'" [options]="unArrays.endTimeArray" defaultLabel="All" (onChange)="unallocatedTable.filter($event.value, col.field, 'in')"></p-multiSelect>
              </th>
              <th colspan="5">
                  <input type="text" pInputText size="50" placeholder="Global Filter" (keydown.enter)="onEnterKey($event)" (input)="unallocatedTable.filterGlobal($event.target.value, 'contains')" style="width:auto">
              </th>
              <!-- <th></th>
              <th></th>
              <th></th>
              <th></th> -->
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-task>
          <tr>
              <td>{{task.clientName}}</td>
              <td><a href="{{globalService.sharePointPageObject.webAbsoluteUrl}}/allocation#/taskAllocation?ProjectCode={{task.projectCode}}" target="_blank">{{task.projectCode}}</a> <br /> ({{task.projectName}}) </td>
              <td> {{task.milestone}} <span *ngIf="task.SubMilestones && task.SubMilestones !=='Default'"> -  {{task.SubMilestones}}</span></td>
              <td>{{task.taskName}}</td>
              <td>{{task.deliveryType}}</td>
              <td>{{task.estimatedTime}}</td>
              <td>{{task.startTime | date : 'd MMM, yyyy, hh:mm a'}}</td>
              <td>{{task.endTime | date : 'd MMM, yyyy, hh:mm a'}}</td>
              <td>{{task.nextTaskStartDateText}}</td>
              <td>{{task.lastTaskEndDateText}}</td>
              <td>{{task.sendToClientDateText}}</td>
              <td>
                  <ng-select #allocateResource id="allocateResource" [items]="task.selectedResources" bindLabel="Title" bindValue="UserName.ID" groupBy="userType" placeholder="Select Resource" (open)="fetchResources(task, allocateResource)" (clear)="onClear(task)" (close)="saveTask($event, task, unallocatedTable)"
                      [(ngModel)]="task.allocatedResource" required>
                      <ng-template ng-option-tmp let-item="item" let-index="index">
                          <div class="templateOption" [style.color]="item.Color">{{item.Title}} ({{item.timeAvailable}})</div>
                          <button (click)="showCapacityPopup(task,item,allocateResource)" class="allocate-btn" type="button">View Schedule</button>
                      </ng-template>
                  </ng-select>
              </td>
              <td><a class="pointer" title="Task Scope" alt="Task Scope" (click)="getAllocateTaskScope(task)"><i class="pi pi-comment"></i></a>
                <a  class="pointer" *ngIf="task.task!='QC' && task.task!='Edit' && task.task!='Graphics'" title="Delete Task" alt="Delete Task" (click)="deleteTask(task, unallocatedTable)" ><i class="pi pi-trash"></i></a>
                  <div class="hide taskID">
                      {{task.id}}
                  </div>
              </td>
          </tr>
      </ng-template>
  </p-table>
</div>
<ng-template #popupTaskScopeContent let-modal>
  <div class="modal-header">
      <!-- <div class="alertBox">
          <ngb-alert *ngIf="popupSuccessMessage" type="success" (close)="popupSuccessMessage = null">{{ popupSuccessMessage }}</ngb-alert>
      </div> -->
  </div>
  <div class="modal-body">
      <table>
          <thead>
              <tr>
                  <td>Task Scope</td>
                  <td>Task Previous Comment</td>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td><textarea cols="40" [(ngModel)]="caGlobalService.taskScope" rows="3" draggable="false" name="taskScope"></textarea></td>
                  <td>{{caGlobalService.taskPreviousComment}}</td>
              </tr>
          </tbody>
      </table>
  </div>
  <div class="modal-footer">
      <button type="button" [disabled]="isTaskScopeButtonDisabled" class="btn btn-primary" data-dismiss="modal" (click)="saveTaskScope(caGlobalService.curTaskScope, caGlobalService.taskScope)">Save</button>
      <button type="button" id="cancel-scope-btn" class="btn btn-primary" data-dismiss="modal" (click)="modalService.dismissAll()">Close</button>
  </div>
</ng-template>
<ng-template #popupContent let-modal>
  <div class="modal-body">
      <div id="mainLoaderText">Fetching available resources...</div>
  </div>
</ng-template>
<ng-template #popupUpdatingTaskContext let-modal>
  <div class="modal-body">
      <div id="mainLoaderText">Updating Task...</div>
  </div>
</ng-template>
<ng-template #popupDeletingTaskContext let-modal>
  <div class="modal-body">
      <div id="mainLoaderText">Deleting Task...</div>
  </div>
</ng-template>
<ng-template #popupContentCapacity let-modal>
</ng-template>