<div class="p-col p-mt-2 p-grid">
    <div class="p-d-flex p-flex-column" style="padding: 10vw;width: 100%;" *ngIf="loaderenable">
        <div id="scInnerLoader"></div>
        <div id="scInnerLoaderText">Loading...</div>
    </div>


    <div class="p-col-12 p-shadow-10" *ngIf="!loaderenable">


        <div class="p-col p-grid p-ai-center">
            <h5 class="p-col-1 p-m-0 error">User : </h5>
            <p-dropdown class="p-col-3 p-mr-2 p-fluid" [options]="users" filter="true" optionLabel="label" resetFilterOnHide="true" placeholder='Select User' [(ngModel)]="selectedUser" (onChange)="onUserChange()" [showClear]="true">
            </p-dropdown>
            <button pButton pRipple type="button" icon="pi pi-save" label="Save" class="p-py-1 p-button-outlined p-button-danger cls_saveUser" (click)="save()"></button>
        </div>
        <div class="p-col p-grid" *ngIf="showGroup">
            <h5 class="p-col-1 p-m-0 error">Groups : </h5>

            <div class="p-col p-grid">

                <div class="p-p-3 p-shadow-3 p-m-2" *ngFor="let group of groups; index as i">
                    <p-checkbox name="{{group.Title}}" value="{{group.Title}}" label="{{group.Title}}" [(ngModel)]="selectedRoles" inputId="r1" pTooltip="{{group.Description}}" tooltipPosition="top"> </p-checkbox>
                </div>


            </div>
        </div>

    </div>
</div>