<div>
    <div class="userRole">
        <div class="ui-g">
            <div class="ui-g-2">
                <span>User:</span>
            </div>
            <div class="ui-g-4">
                <p-dropdown [options]="users" filter="true" optionLabel="label" resetFilterOnHide="true"
                    placeholder='Select User' [(ngModel)]="selectedUser" (onChange)="onUserChange()">
                </p-dropdown>
            </div>
            <div class="ui-g-1">
                <button pButton class="adminBtn" label="Save" type="button" (onClick)="save()"></button>
            </div>
        </div>
    </div>
    <div class="userRole">
        <div class="ui-g">
            <div class="ui-g-2">
                <span>Groups:</span>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-3" *ngFor="let group of groups">
                <p-card>
                    <p-checkbox name="{{group.Title}}" value="{{group.Title}}" label="{{group.Title}}"
                        [(ngModel)]="selectedRoles" inputId="r1" pTooltip="{{group.Description}}" tooltipPosition="top">
                    </p-checkbox>
                </p-card>
            </div>
        </div>
    </div>
</div>