<div class='transitionButton' fxLayout="row" fxLayoutAlign="end center">
    <button type="button" pButton icon="pi pi-save" [ngStyle]="{'margin-right':   '5px','cursor':'pointer' }" (click)="saveTransition()" label="Confirm" class="saveTaskButton"></button>
    <button type="button" pButton icon="pi pi-times" (click)="close();" label="Cancel" class="ui-button-secondary" style="background-color:ghostwhite;"></button>
</div>


<div class="maincontent">
    <div class="writerSection">
        <h4><span>Writers Transition</span></h4>
        <ng-container *ngIf="writerArr.length; else noTransition">
            <div  *ngFor="let writer of writerArr">
                {{ writer.milestone }} <i style="vertical-align: middle;" class="pi pi-chevron-right"></i> {{ writer.resource}}
            </div>
            <div>Please Confirm</div>
        </ng-container>
        <div *ngIf="writerArr.length" class="p-grid p-col mt-20">
            <div class="p-col-2">
                Reason
            </div>
            <div class="p-col-4">
                <p-dropdown class="dropdown-border"  [style]="{'width':'100%'}" appendTo="body" [options]="writerReasons" placeholder="Select Reason" [showClear]="true" [(ngModel)]="writerReason" resetFilterOnHide="true">
                </p-dropdown>
            </div>
        </div>
    </div>

    <div class="reviewerSection">
        <h4><span>Reviewer Transition</span></h4>
        <ng-container *ngIf="reviewerArr.length; else noTransition">
            <div  *ngFor="let reviewer of reviewerArr">
                {{ reviewer.milestone }}  <i style="vertical-align: middle;" class="pi pi-chevron-right"></i> {{reviewer.resource}}
            </div>
            <div>Please Confirm</div>
        </ng-container>
        <div *ngIf="reviewerArr.length" class="p-grid p-col mt-20">
            <div class="p-col-2">
                Reason
            </div>
            <div class="p-col-4">
                <p-dropdown class="dropdown-border" [style]="{'width':'100%'}" appendTo="body" [options]="reviewerReasons" placeholder="Select Reason" [showClear]="true" [(ngModel)]="reviewerReason" resetFilterOnHide="true">
                </p-dropdown>
            </div>
        </div>
    </div>

    <ng-template #noTransition>
        <div class="p-col">
            No Transition
        </div>
    </ng-template>
</div>