#modalInnerLoader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid red;
    border-bottom: 5px solid red;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#modalInnerLoaderText {
    -moz-animation: loading-text-opacity 2s linear 0s infinite normal;
    -o-animation: loading-text-opacity 2s linear 0s infinite normal;
    -webkit-animation: loading-text-opacity 2s linear 0s infinite normal;
    animation: loading-text-opacity 2s linear 0s infinite normal;
    color: black;
    font-family: "Helvetica Neue, "Helvetica", ""arial";
    font-size: 10px;
    font-weight: bold;
    opacity: 0.5;
    text-align: center;
    text-transform: uppercase;
    top: 0;
}

 ::ng-deep .ui-state-active {
    border-color: #ca5151 !important;
    background-color: #c94c4c !important;
    color: #ffffff !important;
}

 :host ::ng-deep .ui-fileupload-choose,
 :host ::ng-deep .ui-fileupload-buttonbar>p-button>button {
    border-color: #c53e3e !important;
    background-color: #c53e3e !important;
    color: #ffffff !important;
}

 ::ng-deep body .ui-chkbox .ui-chkbox-box.ui-state-active:not(.ui-state-disabled):hover,
 ::ng-deep body .ui-fileupload-choose:not(.ui-state-disabled):hover,
 ::ng-deep body .ui-button.ui-state-default.ui-button-info:enabled:hover,
::ng-deep body .ui-buttonset.ui-button-info>.ui-button.ui-state-default:enabled:hover {
    border-color: #e49a9a !important;
    background-color: #e49a9a !important;
    color: #ffffff !important;
}

::ng-deep body .ui-progressbar .ui-progressbar-value {
    background: #c53e3e !important;
}

::ng-deep html [type=button],
[type=reset],
[type=submit] {
    -webkit-appearance: inherit !important;
}

::ng-deep .ui-fileupload-content {
    background: url('../images/drop-here.jpg') 50% 0% no-repeat !important;
    min-height: 20vh !important;
    background-size: 20VW 20VH !important;
    max-height: 40vh !important;
    overflow-y: auto !important;
}

::ng-deep .ui-tabmenuitem {
    cursor: pointer !important;
}

::ng-deep .ui-fileupload-row>div>.ui-button {
    background-color: #c53e3e !important;
    border: 1px solid #c53e3e !important;
}

::ng-deep .ui-dialog-titlebar {
    background-color: #f4f4f4 !important;
    font-size: 14px !important;
    font-weight: 700 !important;
    text-align: left !important;
}

::ng-deep .ui-dialog-titlebar-icon>.pi-times:before {
    padding: 0px 0px 0px 4px !important;
    vertical-align: sub !important;
}

.ui-treetable .ui-widget {
  margin-top: 5px;
}

body .ui-button {
  color: #333333;
  background-color: #c53e3e !important;
  border: 1px solid #C53E3D !important;
}

.fileName {
  width: 80%;
}

.pointer {
  cursor: pointer;
  font-size: 22px;
  vertical-align: text-bottom;
}
.docHeader1 {
  margin-left: 30px;
}
.docHeader2 {
  margin-left: 5px;
}
