<!-- <p-tabView> -->
    <!-- [ngStyle]="{'padding': this.config.data === undefined ? '10px':''}"  -->
<p-tabMenu [model]="items" [activeItem]="activeItem">
</p-tabMenu>

<div class="p-d-flex p-flex-column" style="padding: 2vw;" *ngIf="loaderenable">
    <div id="modalInnerLoader"></div>
    <div id="modalInnerLoaderText">Loading...</div>
</div>


<p-fileUpload [style]="{'margin-top':'1vh'}" *ngIf="!loaderenable && (selectedTab === 'My Drafts' || selectedTab ==='Source Docs' || selectedTab ==='References' || selectedTab ==='Meeting Notes' || selectedTab === 'Client Comments')" customUpload="true"
    (uploadHandler)="uploadDocs($event,selectedTab, crDocs)" multiple="multiple" maxFileSize="500000000">
</p-fileUpload>

<div *ngIf="selectedTab !== 'Client Comments'">

    <p-tabPanel [header]="item.label" [hidden]="loaderenable" *ngFor="let item of items; let i = index" [selected]="item.label === selectedTab">

        <p-table [style]="{'font-size':'12px'}" *ngIf="DocumentArray.length > 0" [columns]="cols" [(selection)]="selectedDocuments" [value]="DocumentArray" styleClass="p-datatable-cactus p-datatable-gridlines p-mt-1">

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width: 3em">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th [ngStyle]="{'width': isFirst ? '35%':''}" *ngFor="let col of columns; index as i; first as isFirst" [pSortableColumnDisabled]="isFirst" [pSortableColumn]="col.field">
                        <span> {{col.header}}</span>
                        <p-sortIcon [field]="col.field" *ngIf="!isFirst"></p-sortIcon>
                        <button *ngIf="item.label ==='My Drafts' && ModifiedSelectedTaskName !=='Client Review' " style="float: right;font-size: 12px;" [hidden]="col.header !=='Document Name'" [hidden]="col.header !=='Document Name'" pButton type="button" label="Mark final"
                            (click)="markAsFinal()" class="p-button-raised p-button-danger p-ml-1"></button>

                        <button style="float: right;font-size: 12px;" [hidden]="col.header !=='Document Name'" pButton type="button" label="Download" (click)="downloadFile()" class="p-button-raised p-button-danger"></button>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [ngStyle]="{'background-color': rowData.isFileMarkedAsFinal ? '#fff1f1':'#ffffff'}">
                    <td style="width: 3em">
                        <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                    </td>
                    <td *ngFor="let col of columns">
                        <a href="{{rowData.ServerRelativeUrl}}" target="_blank" style="color:#c53e3e;cursor: pointer;word-break: break-all;" *ngIf="col.field === 'Name'">{{rowData[col.field]}}</a>
                        <span *ngIf="col.field !== 'Name'">{{rowData[col.field]}}</span>
                    </td>
                </tr>
            </ng-template>
        </p-table>

    </p-tabPanel>

</div>
<!-- </p-tabView> -->
<p-treeTable #dt [value]="crDocs" selectionMode="checkbox" [(selection)]="selectedDocuments" (onEditCancel)="edit($event)" (onEditComplete)="edit($event)" [hidden]="loaderenable" [style]="{'margin-top':'1vh','font-size':'12px'}" *ngIf="selectedTab === 'Client Comments'">
    <ng-template pTemplate="header">
        <tr>
            <th width="40%">
                <div class="p-grid">
                    <div class="p-col">
                        <span class="docHeader1">Document Name</span>
                        <div class="docHeader2">
                            <p-treeTableHeaderCheckbox></p-treeTableHeaderCheckbox>
                            (Click on the cell to edit the file name)
                        </div>
                    </div>
                    <div class="p-col p-grid p-pt-4  p-jc-end">
                        <button pButton pRipple type="button" label="Download" class="p-button-outlined p-button-danger" (click)="downloadFile()"></button>
                    </div>
                </div>
            </th>
            <th width="20%">
                Modified By
            </th>
            <th width="15%">
                Modified Date
            </th>
            <th width="20%">
                Milestone
            </th>
            <th width="5%">

                <button *ngIf="selectedTab === 'Client Comments'" icon="pi pi-save" title="Save All" pButton pRipple type="button" (click)="saveAll()" class="p-button-outlined p-button-danger pointer"></button>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
        <tr [ngStyle]="{'background-color': rowData.isFileMarkedAsFinal ? '#fff1f1':'#ffffff'}">
            <td [ttEditableColumn]="rowData" [ttEditableColumnField]="'Name'">
                <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                <p-treeTableCheckbox [value]="rowNode"></p-treeTableCheckbox>
                <span *ngIf="!rowData.ServerRelativeUrl;else onlyText">{{rowData.newFileName}}</span>
                <ng-template #onlyText>
                    <p-treeTableCellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" (change)="edit(rowData)" class="fileName" [(ngModel)]="rowData.filenamewithoutExt">
                            <span>&nbsp;{{rowData.extension}}</span>
                        </ng-template>
                        <ng-template pTemplate="output">
                            <a href="{{rowData.ServerRelativeUrl}}" download (click)="stopEdit($event)" target="_blank" style="color:#c53e3e;cursor: pointer;word-break: break-all;">{{rowData.newFileName}}</a>
                        </ng-template>
                    </p-treeTableCellEditor>
                </ng-template>
            </td>
            <td>
                <span> {{rowData.modifiedUserName}}</span>
            </td>
            <td>
                <span> {{rowData.ModifiedDateString}}</span>
            </td>
            <td>
                <p-dropdown [options]="rowData.TagMilestones" [(ngModel)]="rowData.selectedMilestone" *ngIf="rowData.TagMilestones"></p-dropdown>
            </td>
            <td>
                <a (click)="save(rowData)">
                    <i class="pi pi-save pointer" *ngIf="rowData.TagMilestones && selectedTab === 'Client Comments'" title="Save"></i>
                </a>
            </td>
        </tr>
    </ng-template>
</p-treeTable>
<div *ngIf="DocumentArray.length === 0 && !loaderenable && ModifiedSelectedTaskName !=='Client Review'" style="    padding: 30px 0px 0px 0px;color: #c53e3e;font-size: 1.2em;">* No Documents present for current task. </div>