<div class="financeTable">
    <p-table [value]="rowData" [rowsPerPageOptions]="[10,25,50]" [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {​​​​​​​​first}​​​​​​​​ to {​​​​​​​​last}​​​​​​​​ of {​​​​​​​​totalRecords}​​​​​​​​ entries"
    styleClass="p-datatable-cactus p-datatable-gridlines" stateStorage="local" stateKey="illiTable">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td [ngStyle]="{'color':'#d7181f'}">Project Code</td>
                <td>{{rowItemData.ProjectCode}}</td>
            </tr>
            <tr *ngIf="rowItemData.ClientName">
                <td [ngStyle]="{'color':'#d7181f'}">Client</td>
                <td>{{rowItemData.ClientName}}</td>
            </tr>
            <tr *ngIf="rowItemData.ClientLegalEntity">
                <td [ngStyle]="{'color':'#d7181f'}">Client</td>
                <td>{{rowItemData.ClientLegalEntity}}</td>
            </tr>
            <tr>
                <td [ngStyle]="{'color':'#d7181f'}">Practice Area</td>
                <td>{{rowItemData.PracticeArea}}</td>
            </tr>
            <tr>
                <td [ngStyle]="{'color':'#d7181f'}">SOW Code</td>
                <td>{{rowItemData.SOWCode}}</td>
            </tr>
            <tr>
                <td [ngStyle]="{'color':'#d7181f'}">SOW Name</td>
                <td>{{rowItemData.SOWName}}</td>
            </tr>
            <tr>
                <td [ngStyle]="{'color':'#d7181f'}">Project Milestone</td>
                <td>{{rowItemData.ProjectMileStone}}</td>
            </tr>
            <tr>
                <td [ngStyle]="{'color':'#d7181f'}">PO Number</td>
                <td>{{rowItemData.PONumber}}</td>
            </tr>
            <tr>
                <td [ngStyle]="{'color':'#d7181f'}">PO Name</td>
                <td>{{rowItemData.POName}}</td>
            </tr>
            <tr>
                <td [ngStyle]="{'color':'#d7181f'}">Scheduled Date</td>
                <td>{{rowItemData.ScheduledDate | date:'mediumDate'}}</td>
            </tr>
            <tr>
                <td [ngStyle]="{'color':'#d7181f'}">Scheduled Type</td>
                <td>{{rowItemData.ScheduleType}}</td>
            </tr>
            <tr>
                <td [ngStyle]="{'color':'#d7181f'}">Currency</td>
                <td>{{rowItemData.Currency}}</td>
            </tr>
            <tr>
                <td [ngStyle]="{'color':'#d7181f'}">Amount</td>
                <td>{{rowItemData.Amount}}</td>
            </tr>
            <!-- <tr>
          <td [ngStyle]="{'color':'#d7181f'}">Client Currency</td>
          <td>{{rowItemData.ClientCurrency}}</td>
      </tr>
      <tr>
          <td [ngStyle]="{'color':'#d7181f'}">Client Amount</td>
          <td>{{rowItemData.ClientAmount}}</td>
      </tr> -->
            <tr>
                <td [ngStyle]="{'color':'#d7181f'}">Status</td>
                <td>{{rowItemData.Status}}</td>
            </tr>
            <!-- <tr>
                <td [ngStyle]="{'color':'#d7181f'}">Notes</td>
                <td>{{rowItemData.Notes}}</td>
            </tr> -->

            <tr>
                <td [ngStyle]="{'color':'#d7181f'}">POC Name</td>
                <td>{{rowItemData.POCName}}</td>
            </tr>
            <tr>
                <td [ngStyle]="{'color':'#d7181f'}">Address Type</td>
                <td>{{rowItemData.AddressType}}</td>
            </tr>
            <tr>
                <td [ngStyle]="{'color':'#d7181f'}">CS</td>
                <td>{{rowItemData.CS}}</td>
            </tr>
            <tr *ngIf="rowItemData.TaggedDate">
                <td [ngStyle]="{'color':'#d7181f'}">Tagged Date</td>
                <td>{{rowItemData.TaggedDate | date:'medium'}}</td>
            </tr>
            <tr>
                <td [ngStyle]="{'color':'#d7181f'}">Template</td>
                <td>{{rowItemData.Template}}</td>
            </tr>
            <tr>
                <td [ngStyle]="{'color':'#d7181f'}">Modified</td>
                <td>{{rowItemData.Modified | date:'mediumDate'}}</td>
            </tr>
            <tr>
                <td [ngStyle]="{'color':'#d7181f'}">Modified By</td>
                <td>{{rowItemData.ModifiedBy}}</td>
            </tr>


            <!-- <tr>
      <td [ngStyle]="{'color':'#d7181f'}">Modified Date</td>
      <td>{{rowItemData.ModifiedDate}}</td>
    </tr>
    <tr>
      <td [ngStyle]="{'color':'#d7181f'}">Modified</td>
      <td>{{rowItemData.Modified}}</td>
    </tr>
    <tr>
      <td [ngStyle]="{'color':'#d7181f'}">Date Spend</td>
      <td>{{rowItemData.DateSpend}}</td>
    </tr>
    <tr>
      <td [ngStyle]="{'color':'#d7181f'}">Created</td>
      <td>{{rowItemData.Created}}</td>
    </tr>

    <tr>
      <td [ngStyle]="{'color':'#d7181f'}">Approver Comments</td>
      <td>{{rowItemData.ApproverComments}}</td>
    </tr> -->

            <!-- <tr>
      <td [ngStyle]="{'color':'#d7181f'}">Approver File Url</td>
      <td><a href="{{rowItemData.ApproverFileUrl}}" target="_blank" style="color:red">Click here</a>
      </td>
    </tr>
    <tr>
      <td [ngStyle]="{'color':'#d7181f'}">File URL</td>
      <td><a href="{{rowItemData.FileURL}}" target="_blank" style="color:red">Click here</a>
      </td>
    </tr>
    <tr>
      <td [ngStyle]="{'color':'#d7181f'}">Client Approval File URL</td>
      <td><a href="{{rowItemData.ClientApprovalFileURL }}" target="_blank" style="color:red">Click here</a>
      </td>
    </tr> -->
        </ng-template>
    </p-table>
</div>