<div class="p-d-flex p-flex-column" style="padding: 2vw;" *ngIf="modalloaderenable">
    <div id="modalInnerLoader"></div>
    <div id="modalInnerLoaderText">Loading...</div>
</div>

<div class="pdialogButton p-col-12 p-grid p-jc-end" [hidden]="modalloaderenable">
    <button type="button " pButton [icon]="buttonloader ? 'pi  pi-spin pi-spinner' : 'pi pi-save' " id="saveUser " class="p-mx-1 p-button-raised p-button-danger " (click)="AuditProjects(AuditType)" [disabled]="selectedProjects.length === 0 || (selectedProjects.length > 10) || buttonloader
    " label="Audit"></button>
    <button type="button " pButton icon="pi pi-times " (click)="cancel(); " label="Cancel " class="p-button-raised p-button-danger "></button>
</div>

<div class="p-col-12" style="color: #ff0000;" *ngIf="!modalloaderenable">*Note : Multiselect checkbox can select first 10 rows of current page.</div>

<p-table #csfinanceAuditTable [hidden]="modalloaderenable" [columns]="displayedColumns" [(selection)]="selectedProjects" dataKey="ProjectCode" [value]="projectList" (onRowSelect)='onRowSelect()' (onRowUnselect)="onRowUnselect()" [paginator]="true" [rows]="10"
    (onHeaderCheckboxToggle)="MultipleSelectRows(AuditType)" [rowsPerPageOptions]="[10,25,50]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [style]="{'font-size':'13px'}" styleClass="p-datatable-cactus p-datatable-gridlines p-pt-3">
    <ng-template pTemplate="header" let-columns>
        <tr class="mainHeader">
            <th class="firstColumnWidth" style="top: 0px !important;">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th style="top: 0px !important;" *ngFor="let col of columns" [pSortableColumn]="col.field">
                <div class="p-d-flex p-jc-between p-ai-center">
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                    <p-columnFilter *ngIf="col.header != ''  && col.field !='PrimaryResources' " [field]="col.field" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                        <ng-template pTemplate="header">
                            <div class="p-px-3 p-pt-3 p-pb-0">
                                <span class="p-text-bold"> {{col.header}} Picker</span>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">

                            <p-multiSelect [ngModel]="value" maxSelectedLabels="1" [options]="col.options" placeholder="All" (onChange)="filter($event.value)" optionLabel="label">
                                <ng-template let-option pTemplate="item">
                                    <div class="p-multiselect-representative-option">
                                        <span class="p-ml-1">{{option.label}}</span>
                                    </div>
                                </ng-template>
                            </p-multiSelect>
                        </ng-template>
                    </p-columnFilter>

                    <p-columnFilter *ngIf="col.header != ''  && col.field ==='PrimaryResources' " type="text" [field]="col.field" matchMode="contains" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false"></p-columnFilter>
                </div>

            </th>
        </tr>
        <!-- <tr>
            <th></th>
            <th *ngFor="let col of columns" [ngSwitch]="col.field" class="ui-fluid">


                <p-multiSelect *ngSwitchCase="'SOWCode'" [options]="allProjects.SOWCode" defaultLabel="All" [(ngModel)]="columnFilter.SOWCode" [maxSelectedLabels]="1" (onChange)="allProjectRef.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()"
                    resetFilterOnHide="true" (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                </p-multiSelect>

                <p-multiSelect *ngSwitchCase="'ProjectCode'" [options]="allProjects.ProjectCode" defaultLabel="All" [(ngModel)]="columnFilter.ProjectCode" [maxSelectedLabels]="1" (onChange)="allProjectRef.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()"
                    resetFilterOnHide="true" (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                </p-multiSelect>
                <p-multiSelect *ngSwitchCase="'ShortTitle'" [options]="allProjects.ShortTitle" defaultLabel="All" [(ngModel)]="columnFilter.ShortTitle" [maxSelectedLabels]="1" (onChange)="allProjectRef.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()"
                    resetFilterOnHide="true" (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                </p-multiSelect>
                <p-multiSelect *ngSwitchCase="'ClientLegalEntity'" [options]="allProjects.ClientLegalEntity" [(ngModel)]="columnFilter.ClientLegalEntity" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="allProjectRef.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()"
                    resetFilterOnHide="true" (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                </p-multiSelect>

                <p-multiSelect *ngSwitchCase="'ProjectType'" [options]="allProjects.ProjectType" defaultLabel="All" [(ngModel)]="columnFilter.ProjectType" [maxSelectedLabels]="1" (onChange)="allProjectRef.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()"
                    resetFilterOnHide="true" (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                </p-multiSelect>

                <input *ngSwitchCase="'PrimaryResources'" pInputText type="text" [(ngModel)]="columnFilter.PrimaryResources" (input)="allProjectRef.filter($event.target.value, col.field, col.filterMatchMode)" (keydown.enter)="$event.preventDefault()">


                <p-multiSelect *ngSwitchCase="'POC'" [options]="allProjects.POC" defaultLabel="All" [(ngModel)]="columnFilter.POC" [maxSelectedLabels]="1" (onChange)="allProjectRef.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true"
                    (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                </p-multiSelect>
                <p-multiSelect *ngSwitchCase="'TA'" [options]="allProjects.TA" defaultLabel="All" [(ngModel)]="columnFilter.TA" [maxSelectedLabels]="1" (onChange)="allProjectRef.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true"
                    (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                </p-multiSelect>
                <p-multiSelect *ngSwitchCase="'Molecule'" [options]="allProjects.Molecule" defaultLabel="All" [(ngModel)]="columnFilter.Molecule" [maxSelectedLabels]="1" (onChange)="allProjectRef.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()"
                    resetFilterOnHide="true" (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                </p-multiSelect>
            </th>
        </tr> -->
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-task let-rowIndex="rowIndex">
        <tr>
            <td>

                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
            </td>
            <td>{{task.SOWCode}}</td>
            <td [style.backgroundColor]="GetTaskBackrgoundColor(task.ProjectCode)">{{task.ProjectCode}}</td>
            <td>{{task.ShortTitle}}</td>
            <td>{{task.ClientLegalEntity}}</td>
            <td>{{task.ProjectType}}</td>
            <td>{{task.PrimaryResources}}</td>
            <td>{{task.POC}}</td>
            <td>{{task.TA}}</td>
            <td>{{task.Molecule}}</td>
        </tr>
    </ng-template>
</p-table>





<!-- <p-dialog header="Change Status of Project" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <p>Are you sure you want to change the Status of Projects
    </p>
    <ul>
        <li *ngFor="let project of selectedProjects">{{project.ProjectCode}}</li>
    </ul>
    <p> from Finance Audit to Closed ? </p>

    <p-footer>
        <button type="button" pButton icon="pi pi-check" (click)="displayModal=false" label="Yes"></button>
        <button type="button" pButton icon="pi pi-times" (click)="displayModal=false" label="No" class="ui-button-secondary"></button>
    </p-footer>
</p-dialog> -->