:host ::ng-deep .mainHeader>th {
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
    z-index: 9999;
}


/* ::ng-deep .ui-dialog .ui-dialog-titlebar {
    background-color: #f4f4f4 !important;
    font-weight: 700 !important;
    font-size: 14px !important;
}



 ::ng-deep .ui-dialog .ui-dialog-content {
    padding: 0em 1em 1em 1em !important;
}

:host ::ng-deep .ui-table.ui-widget {
    margin-top: 0px !important;
} */


/* @media screen and (max-width: 64em) {
     :host ::ng-deep .ui-table-wrapper .ui-table-thead>tr>th {
        top: 100px;
    }
} */


/* 
::ng-deep .UserButton {
    float: right;
    position: fixed !important;
    width: 100% !important;
    margin: -42px !important;
    text-align: left !important;
}

::ng-deep #saveUser {
    background-color: #C53E3E !important;
    border-color: #C53E3E !important;
    cursor: pointer;
} */


/* ::ng-deep .ui-dialog .ui-dialog-content {
    padding: 0.571em 1em !important;
} */