<p-accordion [activeIndex]="index" (onClose)="onTabClose($event)" (onOpen)="onTabOpen($event)">
    <p-accordionTab header="Project" class="" [selected]="true">

        <app-project-access [RuleType]="ruleType"></app-project-access>

    </p-accordionTab>
    <p-accordionTab header="SOW" class="">
        <ng-template pTemplate="content">
            <app-project-access [RuleType]="ruleType"></app-project-access>
        </ng-template>
    </p-accordionTab>
    <p-accordionTab header="Client Dissatisfaction" class="">
        <ng-template pTemplate="content">
            <app-project-access [RuleType]="ruleType"></app-project-access>
        </ng-template>
    </p-accordionTab>
    <p-accordionTab header="Positive Feedback" class="">
        <ng-template pTemplate="content">
            <app-project-access [RuleType]="ruleType"></app-project-access>
        </ng-template>
    </p-accordionTab>
</p-accordion>