<!-- <div class="alertBox">
  <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
</div> -->
<p-toast position="top-right"></p-toast>
<div class="tableLoader" style="padding-top: 15vh;" [hidden]='allocatedHideLoader'>
    <div id="mainLoader"></div>
    <div id="mainLoaderText">Loading...</div>
</div>
<div class="noDataMessage" [hidden]='allocatedHideNoDataMessage'>
    No Tasks Found.
</div>
<div [hidden]='allocatedHideTable' id="allocatedTableDiv" class="table100 ver4 m-b-110">
    <p-table #allocatedTable [columns]="displayedColumns" [value]="caGlobal.dataSource" [paginator]="true" [rows]="30" [lazy]="true" [scrollable]="true" scrollHeight="600px" (onLazyLoad)="lazyLoadTask($event)" [totalRecords]="caGlobal.totalRecords" [loading]="caGlobal.loading"
        [lazyLoadOnInit]="false">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    {{ col.header }}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
                <th>Next Task Start</th>
                <th>Last Task End </th>
                <th>SC Date</th>
                <th [pSortableColumn]="'assignedTo'">Allocated To
                    <p-sortIcon [field]="'assignedTo'"></p-sortIcon>
                </th>
                <th style="width: 3%;"></th>
            </tr>
            <tr>
                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                    <p-multiSelect *ngSwitchCase="'clientName'" [options]="acArrays.clientLegalEntityArray" defaultLabel="All" (onChange)="allocatedTable.filter($event.value, col.field, 'in')"></p-multiSelect>
                    <p-multiSelect *ngSwitchCase="'projectCode'" [options]="acArrays.projectCodeArray" defaultLabel="All" (onChange)="allocatedTable.filter($event.value, col.field, 'in')"></p-multiSelect>
                    <p-multiSelect *ngSwitchCase="'milestone'" [options]="acArrays.milestoneArray" defaultLabel="All" (onChange)="allocatedTable.filter($event.value, col.field, 'in')"></p-multiSelect>
                    <p-multiSelect *ngSwitchCase="'taskName'" [options]="acArrays.taskArray" defaultLabel="All" (onChange)="allocatedTable.filter($event.value, col.field, 'in')"></p-multiSelect>
                    <p-multiSelect *ngSwitchCase="'deliveryType'" [options]="acArrays.deliveryTypeArray" defaultLabel="All" (onChange)="allocatedTable.filter($event.value, col.field, 'in')"></p-multiSelect>
                    <p-multiSelect *ngSwitchCase="'estimatedTime'" [options]="acArrays.allocatedArray" defaultLabel="All" (onChange)="allocatedTable.filter($event.value, col.field, 'in')"></p-multiSelect>
                    <p-multiSelect *ngSwitchCase="'startDateText'" [options]="acArrays.startTimeArray" defaultLabel="All" (onChange)="allocatedTable.filter($event.value, col.field, 'in')"></p-multiSelect>
                    <p-multiSelect *ngSwitchCase="'dueDateText'" [options]="acArrays.endTimeArray" defaultLabel="All" (onChange)="allocatedTable.filter($event.value, col.field, 'in')"></p-multiSelect>
                </th>
                <th colspan="5">
                    <input type="text" pInputText size="50" placeholder="Global Filter" (keydown.enter)="onEnterKey($event)" (input)="allocatedTable.filterGlobal($event.target.value, 'contains')" style="width:auto">
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-task>
            <tr>
                <td>{{task.clientName}}</td>
                <td><a style="color:#C53E3E;" href="{{globalService.sharePointPageObject.webAbsoluteUrl}}/allocation#/taskAllocation?ProjectCode={{task.projectCode}}" target="_blank">{{task.projectCode}}</a> <br /> ({{task.projectName}}) </td>
                <td> {{task.milestone}} <span *ngIf="task.SubMilestones && task.SubMilestones !=='Default'"> -  {{task.SubMilestones}}</span></td>
                <td>{{task.taskName}}</td>
                <td>{{task.deliveryType}}</td>
                <td>{{task.estimatedTime}}</td>
                <td>{{task.startTime | date : 'd MMM, yyyy, hh:mm a'}}</td>
                <td>{{task.endTime | date : 'd MMM, yyyy, hh:mm a'}}</td>
                <td>{{task.nextTaskStartDateText}}</td>
                <td>{{task.lastTaskEndDateText}}</td>
                <td>{{task.sendToClientDateText}}</td>
                <td>
                    <ng-select #allocateResource id="allocateResource" [items]="task.selectedResources" [hidden]="task.isAllocatedSelectHidden" bindLabel="Title" bindValue="UserName.ID" groupBy="userType" placeholder="Select Resource" (open)="fetchResources(task, allocateResource)"
                        (close)="saveTask($event, task)" (clear)="onClear(task)" [(ngModel)]="task.allocatedResource" required>
                        <ng-template ng-option-tmp let-item="item" let-index="index">
                            <div class="templateOption" [style.color]="item.Color">{{item.Title}} ({{item.timeAvailable}})</div>
                            <button (click)="showCapacityPopup(task,item,allocateResource)" class="allocate-btn" type="button">View Schedule</button>
                        </ng-template>
                    </ng-select>
                    <span [hidden]="task.isAssignedToHidden">{{task.assignedTo}} </span>
                </td>
                <td style="width: 3%;">
                    <p-menu #popupMenu [style]="{'width': '16em'}" [popup]="true" [model]="taskMenu"></p-menu>

                    <i class="pi pi-ellipsis-v" style="font-size:2em;cursor: pointer;" (click)="openPopup(task, popupMenu);popupMenu.show($event);"></i>

                    <!-- <a class="pointer" [title]="task.isEditEnabled ? 'Edit Assgined To' : 'Cancel Assigned To'" (click)="task.isEditEnabled ? enabledAllocateSelect($event,task): cancelledAllocatedSelect($event,task)"><i style="font-size: 2em;" [class]="task.isEditEnabled ? 'pi pi-pencil' : 'pi pi-times' "></i></a>
                    <a class="pointer" title="Task Scope" (click)="getAllocateTaskScope(task)"><i style="font-size: 2em;" class="pi pi-comment"></i></a> -->
                    <div class="hide taskID">
                        {{task.id}}
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>


</div>
<div class="hide">
    <app-usercapacity #userCapacityTask></app-usercapacity>
</div>
<ng-template #popupTaskScopeContent let-modal>
    <div class="modal-header">
        <!-- <div class="alertBox">
          <ngb-alert *ngIf="popupSuccessMessage" type="success" (close)="popupSuccessMessage = null">{{ popupSuccessMessage }}</ngb-alert>
      </div> -->
    </div>
    <div class="modal-body">
        <table>
            <thead>
                <tr>
                    <td>Task Scope</td>
                    <td>Task Previous Comment</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><textarea cols="40" [(ngModel)]="caGlobal.taskScope" rows="3" draggable="false" name="taskScope"></textarea></td>
                    <td>{{caGlobal.taskPreviousComment}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" [disabled]="isTaskScopeButtonDisabled" class="btn btn-primary" data-dismiss="modal" (click)="saveTaskScope(caGlobal.curTaskScope, caGlobal.taskScope)">Save</button>
        <button type="button" id="cancel-scope-btn" class="btn btn-primary" data-dismiss="modal" (click)="modalService.dismissAll()">Close</button>
    </div>
</ng-template>
<ng-template #popupContent let-modal>
    <div class="modal-body">
        <div id="mainLoaderText">Fetching available resources...</div>
    </div>
</ng-template>
<ng-template #popupUpdatingTaskContext let-modal>
    <div class="modal-body">
        <div id="mainLoaderText">Updating Task...</div>
    </div>
</ng-template>
<ng-template #popupContentCapacity let-modal>
    <div class="modal-body">
        <div id="ngModalAllocatedCapacityContent"></div>
    </div>
    <div class="modal-footer">
        <button type="button" id="cancel-edit-btn" class="btn btn-primary" data-dismiss="modal" (click)="closeModal()">Close</button>
    </div>
</ng-template>