.inprogress {
    color: rgb(255, 223, 40);
}

.error {
    color: #bf0000;
}

.hide {
    display: none;
}

#modalInnerLoader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid red;
    border-bottom: 5px solid red;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

 ::ng-deep .timepicker-dial__control {
    color: #c53e3e !important;
}

#modalInnerLoaderText {
    -moz-animation: loading-text-opacity 2s linear 0s infinite normal;
    -o-animation: loading-text-opacity 2s linear 0s infinite normal;
    -webkit-animation: loading-text-opacity 2s linear 0s infinite normal;
    animation: loading-text-opacity 2s linear 0s infinite normal;
    color: black;
    font-family: "Helvetica Neue, "Helvetica", ""arial";
    font-size: 10px;
    font-weight: bold;
    opacity: 0.5;
    text-align: center;
    text-transform: uppercase;
    top: 0;
}

.hideImp {
    display: none !important;
}

.colorLeave {
    background-color: grey;
}

.colorgoLive {
    background-color: #ccffcc;
}

.colortrainee {
    background-color: #ffffff;
}

.colorAvailable {
    background-color: #55bf3b;
    cursor: pointer;
}

.colorFullAllocated {
    background-color: #EF3D3D;
    cursor: pointer;
}

.btnSave {
    margin-left: 10px!important;
}

.daysFilter {
    height: 27px;
    width: 40px;
}

.filterNextLast,
.filterDuration {
    height: 27px;
    margin: 0px 6px 0px 4px;
}

.filterByWeekOrMonth {
    height: 27px;
    width: 40px;
}

.startDateFilter,
.startEndFilter {
    height: 27px;
    margin: 0px 4px 0px 6px;
}

.UserTasksRow,
.tableHeader {
    width: 100%;
    display: inline-table;
    table-layout: fixed;
}

#capacityTable {
    /*  height: 404px; */
    display: -moz-groupbox;
}

#capacityTable .capacityBody {
    overflow-y: overlay;
    /*  height: 348px;
      width: 100%;
      position: absolute;*/
}

.capacityBody tr.UserTasksRow>td:first-child {
    padding: 0px;
    background-color: transparent;
    border: none;
}

#capacityTable>thead>tr>th:first-child {
    padding: 0px;
    background-color: transparent;
}

#TasksPerDay>thead>tr>td:first-child, #spentTasksPerDay>thead>tr>td:first-child {
    background-color: #80808038;
    font-weight: bold;
}

.taskCount {
    color: white;
    font-size: 11px;
}

.right {
    float: right;
}

.center {
    display: inline-block;
    /* margin-top: 7%; */
}

.wrap {
    text-align: center
}

.ui-multiselect-filter input {
    font: menu;
}

.note {
    font-style: italic;
}

.taskCount a {
    color: white!important;
}

#TasksPerDay img {
    height: 25px;
    cursor: pointer;
}

.capacityBody .table {
    margin-bottom: 0px;
}

#TasksPerDay {
    margin-bottom: 0px;
}

.table>tbody>tr>td:first-child,
.table>tbody>tr:first-child>td,
.table>tbody>tr:first-child>th,
.table>tfoot>tr:first-child>td,
.table>tfoot>tr:first-child>th,
.table>thead>tr:first-child>td,
.table>thead>tr:first-child>th {
    border: none;
}

.capacityInnerTable {
    border: 1px solid #ddd;
}

.capacityDashboard {
    display: none;
}

.capacityDashboard #resp-table {
    width: 100%;
    display: table;
    border-collapse: collapse;
}

.capacityDashboard .table-header-cell {
    display: table-cell;
    text-align: left;
    padding-top: 10px;
}

.capacityDashboard #resp-table-body {
    display: table-row-group;
}

.capacityDashboard .resp-table-row {
    display: table-row;
}

.capacityDashboard .table-body-cell {
    display: table-cell;
    vertical-align: middle;
}

.capacityDashboard #resp-table-header {
    display: table-header-group;
    font-weight: bold;
    font-size: 15px;
}

#capacityTable {
    position: relative;
    border: 0px !important;
}

.capacityBody>tr>td,
.capacityBody>tr>td>table,
.TaskPerDayRow>td,
.SpentTaskPerDayRow>td {
    border: 0px !important;
}

.capacityBody table tbody td {
    border-top: 0px;
    padding: 3px;
    border: 1px solid #ddd;
}

.TaskPerDayRow>td,
.SpentTaskPerDayRow>td {
    padding: 0px !important;
}

#capacityTable>thead>tr>th:first-child,
.capacityBody tr.UserTasksRow table tr:first-child>td:first-child {
    padding: 3px;
    /* width: 6%; */
}

.capacityBody #TasksPerDay>thead>tr>td,
.capacityBody #spentTasksPerDay>thead>tr>td,
#capacityTable>thead>tr>th,
table#milestoneTasks thead td {
    font-weight: bold;
}

#TasksPerDay, #spentTasksPerDay {
    border: none !important;
}

#capacityTable>thead>tr>th {
    text-align: center;
}

.ui-multiselect-checkboxes label input {
    margin: 0px;
    top: -1px;
}

.catHeader {
    margin-right: 10px;
}

#CapacityCtrl {
    padding-top: 10px;
}

table#milestoneTasks td {
    border: 1px solid #ddd;
}

.capacityBody tr,
.UserTasksRow,
.TaskPerDayRow {
    background-color: white;
}

.highlightCell {
    background-color: orange;
}


/*  CSS for task spanning across dates */

.taskBar {
    position: absolute;
    font-size: 9px;
    padding: 2px;
    z-index: 100;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tbl {
    text-align: center;
    position: relative;
}

.confirmedTask {
    background-color: yellow;
}

.plannedTask {
    background-color: rgb(119, 152, 191);
}

.allocated,
.unallocated {
    width: 6%;
}

tr[class$="taskrow"]+tr {
    position: absolute;
    left: 0;
    z-index: 200;
    top: 26px;
    background-color: transparent;
}


/* tr[class$='spenttaskRow'] {
    position: relative !important;
} */

tr[class$="taskrow"]+tr>td
/* .capacityBody tr.UserTasksRow table tr:last-child > td */

{
    border: none !important;
}


/* tr[class$='spenttaskRow']>td {
    border-top: 0px !important;
    padding: 3px !important;
    border: 1px solid #ddd !important;
} */

.more,
.less {
    color: blue;
    text-decoration: underline;
    float: right;
    cursor: pointer;
}

#movingContainer {
    display: none !important;
}

.capacityBody #TasksPerDay>thead>tr>td,
.capacityBody #TasksPerDay>tbody>tr>td,
.capacityBody #spentTasksPerDay>thead>tr>td,
.capacityBody #spentTasksPerDay>tbody>tr>td {
    width: 12%;
}

.capacityBody #TasksPerDay>thead>tr>td:last-child,
.capacityBody #TasksPerDay>tbody>tr>td:last-child,
.capacityBody #spentTasksPerDay>thead>tr>td:last-child,
.capacityBody #spentTasksPerDay>tbody>tr>td:last-child {
    width: 6%;
}

.capacityBody #TasksPerDay>thead>tr>td:first-child,
.capacityBody #TasksPerDay>tbody>tr>td:first-child,
.capacityBody #spentTasksPerDay>thead>tr>td:first-child,
.capacityBody #spentTasksPerDay>tbody>tr>td:first-child {
    width: 34%;
}

.capacityBody>tr>td,
#capacityTable .unallocated,
#capacityTable .allocated {
    padding-right: 0px !important;
}

#capacityTable .unallocated,
#capacityTable .allocated {
    font-size: 12px;
}

#capacityTable > .capacityBody{
    max-height: calc(100vh - 355px);
    display: block;
}


/* #capacityTable>thead>tr>th {
    position: sticky !important;
    top: 0px !important;
}

.tableHeader>tr>th {
    z-index: 990 !important;
    background: #f5f5f5 !important;
} */

.capacityBackground {
    background: white;
}

