<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p-card>
        <p-header>
        </p-header>
        <a routerLink="">Click Here to open Dashboard Module.</a>
        <p-footer>
        </p-footer>
      </p-card>
    </div>
    <div class="col-md-6">
      <p-card>
        <p-header>
        </p-header>
        <a routerLink="/pubSupport">Click Here to open Pub Support Module.</a>
        <p-footer>
        </p-footer>
      </p-card>
    </div>
    <div class="col-md-6">
      <p-card>
        <p-header>
        </p-header>
        <a routerLink="/projectMgmt">Click Here to open ProjectManagement Module.</a>
        <p-footer>
        </p-footer>
      </p-card>
    </div>
    <div class="col-md-6">
      <p-card>
        <p-header>
        </p-header>
        <a routerLink="/taskAllocation">Click Here to open Allocation Module.</a>
        <p-footer>
        </p-footer>
      </p-card>
    </div>
    <div class="col-md-6">
      <p-card>
        <p-header>
        </p-header>
        <a routerLink="/myDashboard">Click Here to open MyDashboard Module.</a>
        <p-footer>
        </p-footer>
      </p-card>
    </div>
    <div class="col-md-6">
      <p-card>
        <p-header>
        </p-header>
        <a routerLink="/financeDashboard">Click Here to open Finance Dashboard Module.</a>
        <p-footer>
        </p-footer>
      </p-card>
    </div>
    <div class="col-md-6">
      <p-card>
        <p-header>
        </p-header>
        <a routerLink="/admin">Click Here to open Admin Module.</a>
        <p-footer>
        </p-footer>
      </p-card>
    </div>
    <!-- <div class="col-md-6">
      <p-card>
        <p-header>
        </p-header>
        <a routerLink="/admin">Click Here to open Admin Module.</a>
        <p-footer>
        </p-footer>
      </p-card>
    </div>
  </div>
</div>

<a routerLink="list">GO to Dashboard List</a>



<!-- <app-people-picker></app-people-picker> -->

<!-- <router-outlet></router-outlet> -->