<i class="pi pi-exclamation-triangle" style="font-size: 1.7em;margin-right: .5em;position: relative;top: .2em;"></i>
<span class="ui-confirmdialog-message">{{message}}</span>


<hr style="border-top: 1.2px solid #cdcdcd;
margin: 20px 0px 10px 0px;">

<div class="ui-dialog-footer" style="border: none;">
    <button type="button" pButton [icon]="confirmButtonName === 'Yes' ? 'pi pi-check' :''" [label]="confirmButtonName" (click)="Confirm(confirmButtonName)"></button>
    <button type="button" pButton [icon]="confirmButtonName === 'No' ? 'pi pi-times' : ''" [label]="rejectButtonName" (click)="Confirm(rejectButtonName)"></button>

</div>