<div class="p-d-flex p-flex-column" style="padding: 2vw;" *ngIf="!hideLoader">
    <div id="modalInnerLoader"></div>
    <div id="modalInnerLoaderText">Loading...</div>
</div>


<!--**************************************************************************************************
                                        popup   data view 
************************************************************************************************** -->


<div class="pdialogButton p-col-12 p-grid p-jc-end" *ngIf="hideLoader">

    <button pButton pRipple type="button" icon="pi pi-refresh" class="p-button-rounded p-button-danger p-button-outlined p-mr-1 cls_conflict_refresh" (click)="refresh()"></button>

    <button pButton pRipple type="button" icon="pi pi-save" class="p-button-rounded p-button-danger p-button-outlined p-mr-1 cls_conflict_save" (click)="save()"></button>

    <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-outlined cls_conflict_close" (click)="close()"></button>

</div>

<p-accordion *ngIf="hideLoader" class="p-mt-2 cls_conflict_accordion">
    <p-accordionTab *ngFor="let task of conflicTasks">
        <ng-template pTemplate="header">
            <div class="p-col p-grid p-mt-0 p-p-0">
                <h5 class="p-col p-px-2  p-pt-1 p-m-0">{{ task.user.userName }}</h5>
            </div>
        </ng-template>
        <p-table [columns]="cols" [value]="task.tasks" class="conflictTable cls_conflict_conflictTable" styleClass="p-datatable-cactus p-datatable-gridlines">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th class="allocatedHrs">
                        Hours Allocated
                    </th>
                    <th class="date">
                        Dates
                    </th>
                    <th class="projectCode">
                        Project Code
                    </th>
                    <th class="shortTitle">
                        Short Title
                    </th>
                    <th class="hrsAllocated">
                        Hrs allocated
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td>
                        <span>{{ rowData.allocatedHrs }} </span>
                    </td>
                    <td>
                        <span>{{ rowData.allocation.date | date: " d MMM, y" }}</span>
                    </td>
                    <td [attr.colSpan]="3">
                        <p-table class="conflictProjectSection" [value]="rowData.projects">
                            <ng-template pTemplate="body" let-innerRowData let-columns="innercolumns">
                                <tr>
                                    <td>
                                        <a [href]="goToProjectDetails(innerRowData)" *ngIf="innerRowData.showProjectLink && goToProjectDetails(innerRowData); else elseBlock" target="_blank" style="color:#c53e3e;" target="_blank"> {{ innerRowData.projectCode }}</a>
                                        <ng-template #elseBlock>{{innerRowData.projectCode}}</ng-template>
                                    </td>
                                    <td>
                                        <span> {{ innerRowData.shortTitle }} </span>
                                    </td>
                                    <td>
                                        <span> {{ innerRowData.allocatedhrs }} </span>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <app-usercapacity #UserCapacity [userCapacity]="task.userCapacity" [parentModule]="'conflictallocation'"></app-usercapacity>
    </p-accordionTab>
</p-accordion>