<div class="p-d-flex p-flex-column" style="padding: 2vw;" *ngIf="modalloaderenable">
    <div id="modalInnerLoader"></div>
    <div id="modalInnerLoaderText">Loading...</div>
</div>

<div class="pdialogButton p-col-12 p-grid p-jc-end" *ngIf="!modalloaderenable">

    <button type="button" pButton icon="pi pi-save" id="saveClient" (click)="SaveDetails();" label="Save" class="p-mx-1 p-button-raised p-button-danger cls_proformaSave"></button>
    <button type="button" pButton icon="pi pi-times" (click)="cancel();" label="Cancel" class="p-button-raised p-button-danger cls_proformaCancel"></button>

</div>



<div fxLayout="row" #scrollDown fxLayoutAlign="space-between start" fxLayoutGap="5px" *ngIf="!modalloaderenable">

    <form style="font-size: 13px;" [formGroup]='ProformaForm' class="p-col">

        <div class="editInvoiceHeight p-grid p-mt-2">
            <!-- first row -->
            <div class="p-col-12 p-md-12 p-lg-6 p-grid">
                <div class="p-col-6 p-md-4 p-lg-4 proformaitem">Client Legal Entity</div>
                <div class="p-col-6 p-md-8 p-lg-8 proformaitem">
                    <p-dropdown resetFilterOnHide="true" id="cle" [style]="{'width':'100%'}" class="cleClass  cls_addproformacle" [options]="cleData" [readonly]="Type !== 'create proforma' ?  true : false" [ngClass]="Type !== 'create proforma' ? 'readonlyField':''  " [showClear]="Type === 'create proforma' ?  true : false"
                        formControlName="ClientLegalEntity" placeholder="Select Client" [filter]="true" optionLabel="Title" (onChange)="onCLIChange($event)"></p-dropdown>
                    <div *ngIf="isProformaFormSubmit && ProformaForm.controls.ClientLegalEntity.errors">
                        <div *ngIf="ProformaForm.controls.ClientLegalEntity.errors.required" style="color:red;">
                            Please provide Client Legal Entity.</div>
                    </div>
                </div>
            </div>

            <div class="p-col-12 p-md-12 p-lg-6 p-grid">
                <div class="p-col-6 p-md-4 p-lg-4 proformaitem">PO</div>
                <div class="p-col-6 p-md-8 p-lg-8 proformaitem">
                    <p-dropdown resetFilterOnHide="true" [style]="{'width':'100%'}" class="cls_addproformapo" [options]="poNames" formControlName="POName" placeholder="Select PO " optionLabel="Number" [filter]="true" [readonly]="Type !== 'create proforma' ?  true : false"
                        [ngClass]="Type !== 'create proforma' ? 'readonlyField':''  " [showClear]="Type === 'create proforma' ?  true : false" (onChange)="onPOChange($event)">
                    </p-dropdown>
                    <div *ngIf="isProformaFormSubmit && ProformaForm.controls.POName.errors">
                        <div *ngIf="ProformaForm.controls.POName.errors.required" style="color:red;">Please select PO.
                        </div>
                    </div>
                </div>
            </div>

            <div class="p-col-12 p-md-12 p-lg-6 p-grid">
                <div class="p-col-6 p-md-4 p-lg-4 proformaitem">Currency</div>
                <div class="p-col-6 p-md-8 p-lg-8 proformaitem">
                    <input type="text" class="textfeildClass cls_addproformaCurrency readonlyField" formControlName="Currency" placeholder="Currency" readonly pInputText>
                </div>
            </div>
            <div class="p-col-12 p-md-12 p-lg-6 p-grid">
                <div class="p-col-6 p-md-4 p-lg-4 proformaitem">Amount</div>
                <div class="p-col-6 p-md-8 p-lg-8 proformaitem">
                    <input type="number" class="textfeildClass cls_addproformaAmount" formControlName="Amount" placeholder="Amount" [readonly]="Type !== 'create proforma' ?  true : false" [ngClass]="Type !== 'create proforma' ? 'readonlyField':''" pInputText>
                    <div *ngIf="isProformaFormSubmit && ProformaForm.controls.Amount.errors">
                        <div *ngIf="ProformaForm.controls.Amount.errors.required" style="color:red;">Please provide Amount.
                        </div>
                        <div *ngIf="ProformaForm.controls.Amount.errors.max" style="color:red;">Entered amount can't be greater than Avaliable Budget.
                        </div>
                    </div>
                    <!-- <div *ngIf="enterPOAmtMsg">
                        <div style="color:red;">Entered amount can't be greater than Avaliable Budget.
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="p-col-12 p-md-12 p-lg-6 p-grid">
                <div class="p-col-6 p-md-4 p-lg-4 proformaitem">Proforma Type</div>
                <div class="p-col-6 p-md-8 p-lg-8 proformaitem">

                    <p-dropdown resetFilterOnHide="true" [style]="{'width':'100%'}" class="cls_addproformatype" [options]="proformaTypes" formControlName="ProformaType" placeholder="Select One" optionLabel="label" [readonly]="Type !== 'create proforma' ?  true : false" [ngClass]="Type !== 'create proforma' ? 'readonlyField':''  "
                        [showClear]="Type === 'create proforma' ?  true : false" (onChange)="generateProformaNumber(ProformaForm.value.ClientLegalEntity)">
                    </p-dropdown>

                    <div *ngIf="isProformaFormSubmit && ProformaForm.controls.ProformaType.errors">
                        <div *ngIf="ProformaForm.controls.ProformaType.errors.required" style="color:red;">Please provide Proforma Type.</div>
                    </div>
                </div>
            </div>
            <div class="p-col-12 p-md-12 p-lg-6 p-grid">
                <div class="p-col-6 p-md-4 p-lg-4 proformaitem">POC Name</div>
                <div class="p-col-6 p-md-8 p-lg-8 proformaitem">
                    <p-dropdown resetFilterOnHide="true" [style]="{'width':'100%'}" class=" cls_addproformapoc" [options]="listOfPOCNames" formControlName="POCName" placeholder="Select POC Name" [filter]="true" optionLabel="FullNameCC">
                    </p-dropdown>
                    <div *ngIf="isProformaFormSubmit && ProformaForm.controls.POCName.errors">
                        <div *ngIf="ProformaForm.controls.POCName.errors.required" style="color:red;">Please provide POC Name.</div>
                    </div>
                </div>
            </div>

            <div class="p-col-12 p-md-12 p-lg-6 p-grid">
                <div class="p-col-6 p-md-4 p-lg-4 proformaitem">Proforma Number</div>
                <div class="p-col-6 p-md-8 p-lg-8 proformaitem">
                    <input type="text" pInputText class="textfeildClass cls_addproformanumber readonlyField" formControlName="ProformaNumber" readonly/>
                    <div *ngIf="isProformaFormSubmit && ProformaForm.controls.ProformaNumber.errors">
                        <div *ngIf="ProformaForm.controls.ProformaNumber.errors.required" style="color:red;">Please provide Proforma Number.</div>
                    </div>
                </div>
            </div>
            <div class="p-col-12 p-md-12 p-lg-6 p-grid">
                <div class="p-col-6 p-md-4 p-lg-4 proformaitem">Address Type</div>
                <div class="p-col-6 p-md-8 p-lg-8 proformaitem">

                    <p-dropdown resetFilterOnHide="true" [style]="{'width':'100%'}" class="cls_addproformaaddtype" [options]="proformaAddressType" formControlName="AddressType" placeholder="Select One" optionLabel="label" [showClear]="true"></p-dropdown>
                    <div *ngIf="isProformaFormSubmit && ProformaForm.controls.AddressType.errors">
                        <div *ngIf="ProformaForm.controls.AddressType.errors.required" style="color:red;">Please provide Address Type.</div>
                    </div>
                </div>
            </div>


            <div class="p-col-12 p-md-12 p-lg-6 p-grid">
                <div class="p-col-6 p-md-4 p-lg-4 proformaitem">Template</div>
                <div class="p-col-6 p-md-8 p-lg-8 proformaitem">
                    <p-dropdown resetFilterOnHide="true" [style]="{'width':'100%'}" class="cls_addproformatemplate" [options]="proformaTemplates" formControlName="Template" placeholder="Select One" optionLabel="label" [showClear]="true" (onChange)="showHideState(ProformaForm.value.Template)"></p-dropdown>
                    <div *ngIf="isProformaFormSubmit && ProformaForm.controls.Template.errors">
                        <div *ngIf="ProformaForm.controls.Template.errors.required" style="color:red;">Please provide Template.</div>
                    </div>

                </div>
            </div>


            <div class="p-col-12 p-md-12 p-lg-6 p-grid">
                <div class="p-col-6 p-md-4 p-lg-4 proformaitem">Proforma Date</div>
                <div class="p-col-6 p-md-8 p-lg-8 proformaitem">
                    <p-calendar styleClass="pCalendarBtn" [showIcon]="true" class="cls_addproformadate" [monthNavigator]="true" [readonlyInput]="true" dateFormat="dd M , yy" yearRange="{{yearRange}}" appendTo="body" [disabledDays]="[0,6]" [yearNavigator]="true" panelStyleClass="calendarDemo"
                        [minDate]="minProformaDate" (onClose)="generateProformaNumber(ProformaForm.value.ClientLegalEntity)" #fromCalendar formControlName="ProformaDate">
                    </p-calendar>
                    <div *ngIf="isProformaFormSubmit && ProformaForm.controls.ProformaDate.errors">
                        <div *ngIf="ProformaForm.controls.ProformaDate.errors.required" style="color:red;">Please provide Proforma Date.</div>
                    </div>
                </div>
            </div>

            <div class="p-col-12 p-md-12 p-lg-6 p-grid" *ngIf="isTemplate4US">
                <div class="p-col-6 p-md-4 p-lg-4 proformaitem">State</div>
                <div class="p-col-6 p-md-8 p-lg-8 proformaitem">
                    <p-dropdown resetFilterOnHide="true" [style]="{'width':'100%'}" class="cls_addproformastate" [options]="usStatesData" formControlName="State" placeholder="Select One" optionLabel="Title" [filter]="true" [showClear]="true"></p-dropdown>
                    <div *ngIf="isProformaFormSubmit && ProformaForm.controls.State.errors">
                        <div *ngIf="ProformaForm.controls.State.errors.required" style="color:red;">Please provide State.
                        </div>
                    </div>
                </div>
            </div>

            <div class="p-lg-6 p-grid" *ngIf="isTemplate4US">
            </div>



            <div class="p-col-12 p-md-12 p-lg-6 p-grid">
                <div class="p-col-6 p-md-4 p-lg-4 proformaitem">Proforma Title</div>
                <div class="p-col-6 p-md-8 p-lg-8 proformaitem">
                    <textarea rows="4" class="textfeildClass cls_addproformatitle" pInputTextarea formControlName="ProformaTitle"></textarea>
                    <div *ngIf="isProformaFormSubmit && ProformaForm.controls.ProformaTitle.errors">
                        <div *ngIf="ProformaForm.controls.ProformaTitle.errors.required" style="color:red;">Please provide Proforma Title.</div>
                        <div *ngIf="ProformaForm.controls.ProformaTitle.errors.maxlength" style="color:red;">Proforma title should be less than 255 charcters</div>
                    </div>
                </div>

            </div>


            <div class="p-col-12 p-md-12 p-lg-6 p-grid">
                <div class="p-col-6 p-md-4 p-lg-4 proformaitem"> Additional Comments (optional)</div>
                <div class="p-col-6 p-md-8 p-lg-8 proformaitem">
                    <textarea rows="4" class="textfeildClass cls_addproformacomment" pInputTextarea formControlName="AdditionalComments"></textarea>
                </div>
            </div>


        </div>
    </form>
</div>