<div *ngIf="onSearchProject">
    <div class="p-m-5"> </div>
    <form class="SearchForm p-grid p-jc-center" (keydown)="keyDownFunction($event)" #SearchForm="ngForm">

        <div class="p-grid p-ai-center vertical-container SearchBox ">
            <div style="color: #c53e3e; font-weight: 500;font-size:1.2em;"> Search Project</div>
            <div class="p-m-1">
                <span class="p-float-label">
                         <input type="text" id="inputtext" pInputText  type="text" name="ProjectCode" size="25" [(ngModel)]="ProjectCode"
                          (focus)="focusFunction('ProjectCode')"> 
                         <label for="inputtext">By Project Code</label>
                    </span>
            </div>
            <div style="color: #c53e3e; font-weight: 500;font-size:1.2em;"> OR</div>
            <div class="p-m-1">
                <span class="p-float-label">
                       <input type="text" id="inputtext" pInputText  type="text" name="ProjectTitle" [(ngModel)]="ProjectTitle"
                       size="25" (focus)="focusFunction('ProjectTitle')"> 
                       <label for="inputtext">By Short Title</label>
                  </span>
            </div>

            <button pButton type="button" (click)="SearchProject()" [disabled]="ProjectCode && ProjectTitle" [ngStyle]="{'cursor': ProjectCode && ProjectTitle ? 'not-allowed':'pointer'}" icon="pi pi-search" label="Search" class="p-button-danger"></button>
        </div>
    </form>



    <!-- ***********************************************************************************
                                        loader enable
****************************************************************************************** -->
    <div class="p-d-flex p-flex-column" style="padding: 10vw;width: 100%;" *ngIf="loaderenable">
        <div id="scInnerLoader"></div>
        <div id="scInnerLoaderText">Loading...</div>
    </div>

    <!--***********************************************************************************
                                                          Table View Data
     ************************************************************************************ -->

    <div *ngIf="!loaderenable && tableviewenable" class="SearchProjectTable" style="padding-top: 5px;" hideshowMenu>
        <p-table #project [columns]="cols" [value]="ProjectList" [exportFilename]="ProjectList" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,25,50]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [style]="{'font-size':'13px','min-height': '500px'}" styleClass="p-datatable-cactus p-datatable-gridlines">

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                        <div class="p-d-flex p-jc-between p-ai-center">
                            {{col.header}}
                            <p-sortIcon *ngIf="col.header != ''" [field]="col.field"></p-sortIcon>
                            <p-columnFilter *ngIf="col.header != ''" [field]="col.field" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                                <ng-template pTemplate="header">
                                    <div class="p-px-3 p-pt-3 p-pb-0">
                                        <span class="p-text-bold"> {{col.header}} Picker</span>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-multiSelect [ngModel]="value" [options]="AllTaskColArray[col.field]" placeholder="All" (onChange)="filter($event.value)" optionLabel="label">
                                        <ng-template let-option pTemplate="item">
                                            <div class="p-multiselect-representative-option">
                                                <span class="p-ml-1">{{option.label}}</span>
                                            </div>
                                        </ng-template>
                                    </p-multiSelect>
                                </ng-template>
                            </p-columnFilter>
                        </div>
                    </th>
                    <th class="lastColumnWidth"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-node="rowData" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                <tr style="font-size: 12px;">
                    <td *ngFor="let col of columns;index as i">
                        <span *ngIf="col.field === 'CreatedDate'"> {{rowData[col.field] | date:' MMM d, y, h:mm a'}} </span>
                        <span *ngIf="col.field !== 'CreatedDate'"> {{rowData[col.field]}} </span>
                    </td>
                    <td>
                        <div>
                            <p-menu #popupMenu [style]="{'right' : '0px !important' ,'left' : 'inherit !important'}" [popup]="true" [model]="projectMenu"></p-menu>
                            <i class="pi pi-ellipsis-v" style="font-size:2em;cursor: pointer;" (click)="openPopup(rowData, popupMenu);popupMenu.show($event);" appendTo="body"></i>

                        </div>
                    </td>
                </tr>
            </ng-template>

        </p-table>
    </div>

</div>

<!--***********************************************************************************
                                                           View Details
**************************************************************************************** -->

<p-dialog *ngIf="showDetailsenable" header="{{projectDisplayTitle}}" [contentStyle]="{'max-height':'90vh','padding-top': '10px'}" [style]="{'width':'100vw'}" [positionTop]="0" [modal]="true" [draggable]="false" appendTo='body' [(visible)]="showDetailsenable">


    <mat-accordion>

        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
            <mat-expansion-panel-header>
                <mat-panel-title style="color:#000000;padding: 5px 0px 0px 0px;">
                    <mat-icon>event_note</mat-icon>&nbsp;&nbsp; Project Properties
                </mat-panel-title>
                <ng-template matExpansionPanelContent>


                    <div fxLayout="column" style="padding: 2vw;" fxLayoutAlign="center center" [hidden]="!modalloaderenable">
                        <div id="modalInnerLoader"></div>
                        <div id="modalInnerLoaderText">Loading...</div>
                    </div>

                    <table [hidden]="modalloaderenable" class="ProjectDetails" style="width:100%;margin:10px 0px 0px 0px;">
                        <tbody>
                            <tr>
                                <th>Client / Subdivision </th>
                                <td>{{ProjectPopupDetails.ClientLegalEntity}} <span *ngIf="ProjectPopupDetails.SubDivision">/</span> {{ProjectPopupDetails.SubDivision}}
                                </td>
                                <th>POC </th>
                                <td>{{ProjectPopupDetails.POC}}</td>
                            </tr>
                            <tr>
                                <th>Project Title / Scope </th>
                                <td>{{ProjectPopupDetails.Title}} /
                                    <a style="cursor: pointer; color:#b11e1e;" (click)="goToProjectScope(ProjectPopupDetails)">{{ProjectPopupDetails.ProjectCode}}_scope.docx</a>
                                </td>
                                <th>Status </th>
                                <td>{{ProjectPopupDetails.Status}}</td>
                            </tr>
                            <tr>
                                <th>Deliverable Type </th>
                                <td>{{ProjectPopupDetails.DeliverableType}}</td>
                                <th>Sub-Deliverable / Service </th>
                                <td>{{ProjectPopupDetails.SubDeliverable}} <span *ngIf="ProjectPopupDetails.ServiceLevel"> / </span> {{ProjectPopupDetails.ServiceLevel}} </td>
                            </tr>
                            <tr>
                                <th>TA & Indication </th>
                                <td>{{ProjectPopupDetails.TA}} <span *ngIf="ProjectPopupDetails.Indication"> & </span> {{ProjectPopupDetails.Indication}}
                                </td>
                                <th>Molecule </th>
                                <td>{{ProjectPopupDetails.Molecule}}</td>
                            </tr>
                            <tr>
                                <th>Practice Area </th>
                                <td>{{ProjectPopupDetails.BusinessVertical}}</td>
                                <th>Priority </th>
                                <td>{{ProjectPopupDetails.Priority}}</td>
                            </tr>
                            <tr>
                                <th>Proposed Start Date </th>

                                <td>
                                    <span *ngIf="ProjectPopupDetails.ProposedStartDate !== null">{{ProjectPopupDetails.ProposedStartDate | date:'medium'}}
                  </span>
                                </td>
                                <th>Proposed End Date </th>
                                <td>
                                    <span *ngIf="ProjectPopupDetails.ProposedEndDate !== null">{{ProjectPopupDetails.ProposedEndDate | date:'medium'}}
                  </span>
                                </td>
                            </tr>
                            <tr>
                                <th>Confirmation Date</th>
                                <td>
                                    <span *ngIf="ProjectPopupDetails.ActualStartDate !== null">{{ProjectPopupDetails.ActualStartDate | date:'medium'}}
                  </span>

                                </td>
                                <th>Actual End Date </th>
                                <td>
                                    <span *ngIf="ProjectPopupDetails.ActualEndDate !== null">{{ProjectPopupDetails.ActualEndDate | date:'medium'}}
                  </span>
                                </td>
                            </tr>
                            <tr>
                                <th>Pub Support Required</th>
                                <td>{{ProjectPopupDetails.IsPubSupport}}</td>
                                <th>Pub support Status </th>
                                <td>{{ProjectPopupDetails.PubSupportStatus}} </td>
                            </tr>
                            <tr>
                                <th>Journal / Conference </th>
                                <td>{{ProjectPopupDetails.ConferenceJournal}}</td>
                                <th>Authors </th>
                                <td>{{ProjectPopupDetails.Authors}} </td>
                            </tr>
                            <tr>
                                <th>SOW Box Link</th>
                                <td>{{ProjectPopupDetails.SOWBoxLink}}</td>
                                <th> End use of Deliverable </th>
                                <td>{{ProjectPopupDetails.Description}} </td>
                            </tr>
                            <tr>
                                <th>Comments </th>
                                <td colspan="3">{{ProjectPopupDetails.Comments}}</td>

                            </tr>
                        </tbody>
                    </table>
                </ng-template>
            </mat-expansion-panel-header>


        </mat-expansion-panel>



        <!--*******************************************************************************
              //  dialog to display Project Resources
        ******************************************************************************** -->

        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
            <mat-expansion-panel-header>
                <mat-panel-title style="color:#000000;padding: 5px 0px 0px 0px;">
                    <mat-icon>event_note</mat-icon>&nbsp;&nbsp; Project Resources
                </mat-panel-title>
                <ng-template matExpansionPanelContent>


                    <div fxLayout="column" style="padding: 2vw;" fxLayoutAlign="center center" [hidden]="!modalloaderenable">
                        <div id="modalInnerLoader"></div>
                        <div id="modalInnerLoaderText">Loading...</div>
                    </div>

                    <table [hidden]="modalloaderenable" class="ProjectDetails" style="width:100%;margin:10px 0px 0px 0px;">
                        <tbody>
                            <tr>
                                <th>Client Managers </th>
                                <td>{{projectResource.CMMembers}}</td>
                                <th>Delivery Leads </th>
                                <td>{{projectResource.PMMembers}}</td>
                            </tr>
                            <tr>
                                <th>Writers </th>
                                <td>{{projectResource.Writers}}</td>
                                <th>Reviewers </th>
                                <td>{{projectResource.Reviewers}}</td>
                            </tr>
                            <tr>
                                <th>Editors </th>
                                <td>{{projectResource.Editors}}</td>
                                <th>QCers </th>
                                <td>{{projectResource.QC}}</td>
                            </tr>
                            <tr>
                                <th>Graphics Designers </th>
                                <td>{{projectResource.GraphicsMembers}}</td>
                                <th>Publication Support </th>
                                <td>{{projectResource.PubSupport}}</td>
                            </tr>
                            <tr>
                                <th>Primary Resources </th>
                                <td colspan="3">{{projectResource.PrimaryResource}}</td>

                            </tr>
                        </tbody>
                    </table>
                </ng-template>
            </mat-expansion-panel-header>


        </mat-expansion-panel>

        <!--******************************************************************************************
        //  dialog to view shared  Document
      ****************************************************************************************** -->
        <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)">
            <mat-expansion-panel-header>
                <mat-panel-title style="color:#000000;padding: 5px 0px 0px 0px;">
                    <mat-icon>folder</mat-icon> &nbsp;&nbsp; Shared Documents
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                <app-view-upload-document-dialog [taskData]="ProjectPopupDetails"></app-view-upload-document-dialog>
            </ng-template>

        </mat-expansion-panel>

        <!--********************************************************************************
        //  dialog to show CDs/PFs
        ********************************************************************************* -->
        <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)">
            <mat-expansion-panel-header>
                <mat-panel-title style="color:#000000;padding: 5px 0px 0px 0px;">
                    <mat-icon>feedback</mat-icon> &nbsp;&nbsp; PF's / Cd's
                </mat-panel-title>

            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                <app-cdpf [prjCode]="ProjectDetails.ProjectCode"></app-cdpf>
            </ng-template>

        </mat-expansion-panel>

        <!--******************************************************************************************
      //  dialog to show PubSupport Details
      ****************************************************************************************** -->
        <mat-expansion-panel *ngIf="ProjectPopupDetails.IsPubSupport == 'Yes'" [expanded]="step === 4" (opened)="setStep(4)">
            <mat-expansion-panel-header>
                <mat-panel-title style="color:#000000;padding: 5px 0px 0px 0px;">
                    <mat-icon>event_note</mat-icon> &nbsp;&nbsp; PubSupport Details
                </mat-panel-title>

            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                <app-journal-conference-details [projectObj]="ProjectDetails"></app-journal-conference-details>
            </ng-template>

        </mat-expansion-panel>

        <!--******************************************************************************************
        //  dialog to view project Timeline
      ****************************************************************************************** -->


        <mat-expansion-panel [expanded]="step === 5" (opened)="setStep(5)">
            <mat-expansion-panel-header>
                <mat-panel-title style="color:#000000;padding: 5px 0px 0px 0px;">
                    <mat-icon style="vertical-align: middle;">timeline</mat-icon> &nbsp;&nbsp; Project Timeline
                </mat-panel-title>

            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                <app-timeline [projectDetails]="ProjectPopupDetails"></app-timeline>
            </ng-template>

        </mat-expansion-panel>

        <!--******************************************************************************************
        //  dialog to show project drafts
        ****************************************************************************************** -->
        <mat-expansion-panel [expanded]="step === 6" (opened)="setStep(6)">
            <mat-expansion-panel-header>
                <mat-panel-title style="color:#000000;padding: 5px 0px 0px 0px;">
                    <mat-icon>folder</mat-icon> &nbsp;&nbsp; Project Drafts
                </mat-panel-title>

            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                <app-project-drafts [milestoneData]="ProjectPopupDetails"></app-project-drafts>
            </ng-template>

        </mat-expansion-panel>
    </mat-accordion>
</p-dialog>

<ng-container>
    <app-timeline-history #timelineRef></app-timeline-history>
</ng-container>