<div *ngIf="onSearchProject">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" style="padding:0.3em;"> </div>


  <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px">
    <div></div>
    <form class="SearchForm" #SearchForm="ngForm" (ngSubmit)="SearchProject()">

      <div fxLayout="row" class="SearchBox" fxLayoutAlign="space-around center" fxLayoutGap="10px">
        <span style="color: #c53e3e; font-weight: 500;font-size:1.2em;"> Search Project</span>
        <span class="ui-float-label">
          <input id="float-input" type="text" name="ProjectCode" size="25" [(ngModel)]="ProjectCode"
            (focus)="focusFunction('ProjectCode')" pInputText>
          <label for="float-input">By Project Code</label>
        </span>
        <span style="color: #c53e3e; font-weight: 500;font-size:1.5em;"> OR</span>
        <span class="ui-float-label">
          <input id="float-input" type="text" class="form-control" name="ProjectTitle" [(ngModel)]="ProjectTitle"
            size="25" (focus)="focusFunction('ProjectTitle')" pInputText>
          <label for="float-input">By Short Title</label>
        </span>

        <button pButton type="submit" [disabled]="ProjectCode ==='' && ProjectTitle===''"
          [ngStyle]="{'cursor': ProjectCode ==='' && ProjectTitle==='' ? 'not-allowed':'pointer'}" icon="pi pi-search"
          label="Search" class="ui-button-danger"></button>
      </div>
    </form>
    <div></div>

  </div>

  <!-- **********************************************************************************************************
                                                      toaster message dialog
********************************************************************************************************** -->


  <p-toast [style]="{marginTop: '80px'}" styleClass="custom-toast" key="custom" [hideTransitionOptions]="'0ms'"
    position="bottom-center">
  </p-toast>



  <!-- **********************************************************************************************************
                                                         loader enable 
********************************************************************************************************** -->
  <div fxLayout="column" style="padding: 10vw;width: 100%;" fxLayoutAlign="center center" *ngIf="loaderenable">
    <div id="scInnerLoader"></div>
    <div id="scInnerLoaderText">Loading...</div>
  </div>



  <!--*************************************************************************************************
                                                          Table View Data
************************************************************************************************ -->

  <div *ngIf="!loaderenable && tableviewenable" style="padding-top: 5px;">
    <p-table #project [columns]="cols" [value]="ProjectList" [resizableColumns]="true" [exportFilename]="ProjectList" [paginator]="true" [rows]="10" [style]="{'font-size':'12px'}"  >

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn pReorderableColumn>
            {{col.header}}
            <p-sortIcon *ngIf="col.header != '' " [field]="col.field"></p-sortIcon>
          </th>
          <th style="width: 3em;"></th>
        </tr>
        <tr>

          <th *ngFor="let col of columns" [ngSwitch]="col.field" class="ui-fluid">
            <ng-container *ngIf="col.field">

              <p-dropdown filter="true" *ngSwitchCase="'SOWCode'" [options]="ProjectColArray.SOWCode" appendTo="body"
                (onChange)="project.filter($event.value, col.field, 'equals')"></p-dropdown>
              <p-dropdown filter="true" *ngSwitchCase="'ProjectCode'" [options]="ProjectColArray.ProjectCode" appendTo="body"
                (onChange)="project.filter($event.value, col.field, 'equals')"></p-dropdown>
              <p-dropdown filter="true" *ngSwitchCase="'WBJID'" [options]="ProjectColArray.WBJID" appendTo="body"
                (onChange)="project.filter($event.value, col.field, 'equals')"></p-dropdown>
              <p-dropdown filter="true" *ngSwitchCase="'ClientLegalEntity'" [options]="ProjectColArray.ClientLegalEntity"
                appendTo="body" (onChange)="project.filter($event.value, col.field, 'equals')">
              </p-dropdown>
              <p-dropdown filter="true" *ngSwitchCase="'DeliverableType'" [options]="ProjectColArray.DeliverableType" appendTo="body"
                (onChange)="project.filter($event.value, col.field, 'equals')"></p-dropdown>
              <p-dropdown filter="true" *ngSwitchCase="'ProjectType'" [options]="ProjectColArray.ProjectType" appendTo="body"
                (onChange)="project.filter($event.value, col.field, 'equals')"></p-dropdown>
              <p-dropdown filter="true" *ngSwitchCase="'Status'" [options]="ProjectColArray.Status" appendTo="body"
                (onChange)="project.filter($event.value, col.field, 'equals')"></p-dropdown>
              <p-dropdown filter="true" *ngSwitchCase="'CreatedBy'" [options]="ProjectColArray.CreatedBy" appendTo="body"
                (onChange)="project.filter($event.value, col.field, 'equals')"></p-dropdown>
                <p-dropdown filter="true" *ngSwitchCase="'Created'" [options]="ProjectColArray.Created" appendTo="body"
                (onChange)="project.filter($event.value, col.field, 'equals')"></p-dropdown>
            </ng-container>
          </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-node="rowData" let-rowData let-columns="columns" let-rowIndex="rowIndex">
        <tr style="font-size: 12px;">
          <td *ngFor="let col of columns;index as i">
            <span *ngIf="col.field === 'Created'"> {{rowData[col.field] | date:'d MMM, y, h:mm a'}} </span>
            <span *ngIf="col.field !== 'Created'"> {{rowData[col.field]}} </span>
          </td>
          <td>
            <span>
              <p-menu #popupMenu [popup]="true" appendTo="body" [model]="projectMenu">
              </p-menu>

              <i class="pi pi-ellipsis-v" style="font-size:2em;cursor: pointer;"
                (click)="openPopup(rowData, popupMenu);popupMenu.toggle($event);"></i>
            </span>
          </td>
        </tr>
      </ng-template>

    </p-table>
  </div>

</div>

<!--*************************************************************************************************
                                                           View Details
************************************************************************************************ -->

<p-dialog *ngIf="showDetailsenable" header="{{projectDisplayTitle}}" [contentStyle]="{'max-height':'90vh'}"
  [style]="{'width':'100vw'}" [positionTop]="0" [modal]="true" [draggable]="false" appendTo='body'
  [(visible)]="showDetailsenable">


  <mat-accordion>

    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
      <mat-expansion-panel-header>
        <mat-panel-title style="color:#000000;padding: 5px 0px 0px 0px;">
          <mat-icon>event_note</mat-icon>&nbsp;&nbsp; Project Properties
        </mat-panel-title>
        <ng-template matExpansionPanelContent>


          <div fxLayout="column" style="padding: 2vw;" fxLayoutAlign="center center" [hidden]="!modalloaderenable">
            <div id="modalInnerLoader"></div>
            <div id="modalInnerLoaderText">Loading...</div>
          </div>

          <table [hidden]="modalloaderenable" class="ProjectDetails" style="width:100%;margin:10px 0px 0px 0px;">
            <tr>
              <th>Client Name </th>
              <td>{{ProjectPopupDetails.ClientLegalEntity}}</td>
              <th>POC </th>
              <td>{{ProjectPopupDetails.POC}}</td>
            </tr>
            <tr>
              <th>Project Title </th>
              <td>{{ProjectPopupDetails.Title}}</td>
              <th>Status </th>
              <td>{{ProjectPopupDetails.Status}}</td>
            </tr>
            <tr>
              <th>Deliverable Type </th>
              <td>{{ProjectPopupDetails.DeliverableType}}</td>
              <th>Sub-Deliverable / Service </th>
              <td>{{ProjectPopupDetails.SubDeliverable}} / {{ProjectPopupDetails.ServiceLevel}} </td>
            </tr>
            <tr>
              <th>TA & Indication </th>
              <td>{{ProjectPopupDetails.TA}} & {{ProjectPopupDetails.Indication}}</td>
              <th>Molecule </th>
              <td>{{ProjectPopupDetails.Molecule}}</td>
            </tr>
            <tr>
              <th>Complexity </th>
              <td>{{ProjectPopupDetails.Complexity}}</td>
              <th>Priority </th>
              <td>{{ProjectPopupDetails.Priority}}</td>
            </tr>
            <tr>
              <th>Proposed Start Date </th>

              <td>
                <span
                  *ngIf="ProjectPopupDetails.ProposedStartDate !== null">{{ProjectPopupDetails.ProposedStartDate | date:'medium'}}
                </span>
              </td>
              <th>Proposed End Date </th>
              <td>
                <span
                  *ngIf="ProjectPopupDetails.ProposedEndDate !== null">{{ProjectPopupDetails.ProposedEndDate | date:'medium'}}
                </span>
              </td>
            </tr>
            <tr>
              <th>Confirmation Date</th>
              <td>
                <span
                  *ngIf="ProjectPopupDetails.ActualStartDate !== null">{{ProjectPopupDetails.ActualStartDate | date:'medium'}}
                </span>

              </td>
              <th>Actual End Date </th>
              <td>
                <span
                  *ngIf="ProjectPopupDetails.ActualEndDate !== null">{{ProjectPopupDetails.ActualEndDate | date:'medium'}}
                </span>
              </td>
            </tr>
            <tr>
              <th>Pub Support Required</th>
              <td>{{ProjectPopupDetails.IsPubSupport}}</td>
              <th>Pub support Status </th>
              <td>{{ProjectPopupDetails.PubSupportStatus}} </td>
            </tr>
            <tr>
              <th>Journel / Conference </th>
              <td>{{ProjectPopupDetails.ConferenceJournal}}</td>
              <th>Authors </th>
              <td>{{ProjectPopupDetails.Authors}} </td>
            </tr>
            <tr>
              <th>Comments </th>
              <td colspan="3">{{ProjectPopupDetails.Comments}}</td>

            </tr>
          </table>
        </ng-template>
      </mat-expansion-panel-header>


    </mat-expansion-panel>



    <!--****************************************************************************************** 
              //  dialog to display Project Resources
        ****************************************************************************************** -->

    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
      <mat-expansion-panel-header>
        <mat-panel-title style="color:#000000;padding: 5px 0px 0px 0px;">
          <mat-icon>event_note</mat-icon>&nbsp;&nbsp; Project Resources
        </mat-panel-title>
        <ng-template matExpansionPanelContent>


          <div fxLayout="column" style="padding: 2vw;" fxLayoutAlign="center center" [hidden]="!modalloaderenable">
            <div id="modalInnerLoader"></div>
            <div id="modalInnerLoaderText">Loading...</div>
          </div>

          <table [hidden]="modalloaderenable" class="ProjectDetails" style="width:100%;margin:10px 0px 0px 0px;">
            <tr>
              <th>CM Members </th>
              <td>{{projectResource.CMMembers}}</td>
              <th>Delivery Members </th>
              <td>{{projectResource.PMMembers}}</td>
            </tr>
            <tr>
              <th>Writers </th>
              <td>{{projectResource.Writers}}</td>
              <th>Reviewers </th>
              <td>{{projectResource.Reviewers}}</td>
            </tr>
            <tr>
              <th>Editors </th>
              <td>{{projectResource.Editors}}</td>
              <th>QCers </th>
              <td>{{projectResource.QC}}</td>
            </tr>
            <tr>
              <th>Graphics Designers </th>
              <td>{{projectResource.GraphicsMembers}}</td>
              <th>Publication Support </th>
              <td>{{projectResource.PubSupport}}</td>
            </tr>
            <tr>
              <th>Primary Resources </th>
              <td colspan="3">{{projectResource.PrimaryResource}}</td>

            </tr>
          </table>
        </ng-template>
      </mat-expansion-panel-header>


    </mat-expansion-panel>

    <!--****************************************************************************************** 
        //  dialog to view shared  Document
      ****************************************************************************************** -->
    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)">
      <mat-expansion-panel-header>
        <mat-panel-title style="color:#000000;padding: 5px 0px 0px 0px;">
          <mat-icon>folder</mat-icon> &nbsp;&nbsp; Shared Documents
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <app-view-upload-document-dialog [taskData]="ProjectPopupDetails"></app-view-upload-document-dialog>
      </ng-template>

    </mat-expansion-panel>

    <!--****************************************************************************************** 
        //  dialog to view project Timeline
      ****************************************************************************************** -->


    <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)">
      <mat-expansion-panel-header>
        <mat-panel-title style="color:#000000;padding: 5px 0px 0px 0px;">
          <mat-icon style="vertical-align: middle;">timeline</mat-icon> &nbsp;&nbsp; Project Timeline
        </mat-panel-title>

      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <app-timeline [projectDetails]="ProjectPopupDetails"></app-timeline>
      </ng-template>

    </mat-expansion-panel>

    <!--****************************************************************************************** 
        //  dialog to show project drafts
        ****************************************************************************************** -->
    <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)">
      <mat-expansion-panel-header>
        <mat-panel-title style="color:#000000;padding: 5px 0px 0px 0px;">
          <mat-icon >folder</mat-icon> &nbsp;&nbsp; Project Drafts
        </mat-panel-title>

      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <app-project-drafts [milestoneData]="ProjectPopupDetails"></app-project-drafts>
      </ng-template>

    </mat-expansion-panel>
  </mat-accordion>
</p-dialog>

<app-timeline-history #timelineRef></app-timeline-history>