<!-- <div class="document-editor">
  <div class="document-editor__toolbar"></div>
    <div class="document-editor__editable-container">
      <div class="document-editor__editable" id="table1">
    
      </div>
    </div>
</div> -->
<div id="ckeditorSection" style="width:100%">
  <ckeditor [editor]="Editor" [config]="config" (ready)="onReady($event)"></ckeditor>
</div>
<!-- <div class="saveBtn"> -->
<p-button type="button" (click)="save()" label="Save"></p-button>
<!-- </div>   -->

<!-- <div class="storagebutton">
    <button type="button" pButton icon="pi pi-save" id="saveTime" style="margin-right: 5px;"    
    label="Save"></button>
  </div> -->