<div class="tableLoader" [hidden]='isPSInnerLoaderHidden'>
    <div id="scInnerLoader"></div>
    <div id="scInnerLoaderText">Loading...</div>
</div>

<div class="p-grid">
    <div class="p-col-12 p-md-12 p-lg-12 f-right">
        <div style="display: -webkit-inline-box;">
            <div class="box" style="margin-right: 20px;">

                <button pButton type="button" type="button" label="Schedule OOP Invoice" class="ui-button-raised"
                    (click)="openPopup('scheduleOopModal')" style="float:left"></button>
            </div>
            <div class="box" style="margin-right: 20px;">

                <button pButton type="button" type="button" label="Mark As Payment" class="ui-button-raised"
                    (click)="openPopup('markAsPaymentModal')" style="float:left"></button>
            </div>
            <div class="box">
                <!-- <button pButton type="button" label="Export" class="ui-button-raised"
                    (click)="fdDataShareServie.convertToExcelFile(ab)"></button> -->
                <i style="font-size: 1.8em;cursor: pointer;" (click)=" fdDataShareServie.convertToExcelFile(ab)"
                    title="Export To Excel" class="fa fa-fw fa-file-excel-o"></i>
            </div>
        </div>
    </div>
    <div style="clear: both;"></div>
</div>

<div class="financeTable">
<p-table #ab [columns]="approvedBillableCols" [value]="approvedBillableRes" [paginator]="true" [rows]="10"
    [(selection)]="selectedAllRowsItem" [resizableColumns]="true" (onRowSelect)="onRowSelect($event)"
    (onRowUnselect)="onRowUnselect($event)" selectionMode="" exportFilename="Approved_Billable_Expenses">
    <ng-template pTemplate="header" let-columns let-rowData="rowData">

        <tr>
            <th>S.No</th>
            <th style="width: 2.25em">
                <p-tableHeaderCheckbox (click)="selectAllRows()"></p-tableHeaderCheckbox>
            </th>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn pReorderableColumn
                [hidden]="!col.visibility">
                {{col.header}}
                <p-sortIcon *ngIf="col.header != '' " [field]="col.field"></p-sortIcon>
            </th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th *ngFor="let col of columns" [ngSwitch]="col.field" class="ui-fluid" [hidden]="!col.visibility">
                <ng-container *ngIf="col.field">
                    <p-multiSelect *ngSwitchCase="'ProjectCode'" [options]="appBillableColArray.ProjectCode"
                        defaultLabel="All"  (onChange)="ab.filter($event.value, col.field, 'in')">
                    </p-multiSelect>
                    <p-multiSelect *ngSwitchCase="'SOWCode'" [options]="appBillableColArray.SOWCode" defaultLabel="All"
                         (onChange)="ab.filter($event.value, col.field, 'in')">
                    </p-multiSelect>
                    <p-multiSelect *ngSwitchCase="'Number'" [options]="appBillableColArray.Number" defaultLabel="All"
                         (onChange)="ab.filter($event.value, col.field, 'in')">
                    </p-multiSelect>
                    <p-multiSelect *ngSwitchCase="'DateSpend'" [options]="appBillableColArray.DateSpend"
                        defaultLabel="All"  (onChange)="ab.filter($event.value, col.field, 'in')">
                    </p-multiSelect>
                    <p-multiSelect *ngSwitchCase="'VendorName'" [options]="appBillableColArray.VendorName"
                        defaultLabel="All"  (onChange)="ab.filter($event.value, col.field, 'in')">
                    </p-multiSelect>
                    <p-multiSelect *ngSwitchCase="'RequestType'" [options]="appBillableColArray.RequestType"
                        defaultLabel="All"  (onChange)="ab.filter($event.value, col.field, 'in')">
                    </p-multiSelect>
                    <p-multiSelect *ngSwitchCase="'ExpenseType'" [options]="appBillableColArray.ExpenseType"
                        defaultLabel="All"  (onChange)="ab.filter($event.value, col.field, 'in')">
                    </p-multiSelect>
                    <p-multiSelect *ngSwitchCase="'PaymentMode'" [options]="appBillableColArray.PaymentMode"
                        defaultLabel="All"  (onChange)="ab.filter($event.value, col.field, 'in')">
                    </p-multiSelect>
                    <p-multiSelect *ngSwitchCase="'ClientAmount'" [options]="appBillableColArray.ClientAmount"
                        defaultLabel="All"  (onChange)="ab.filter($event.value, col.field, 'in')">
                    </p-multiSelect>
                    <p-multiSelect *ngSwitchCase="'ClientCurrency'" [options]="appBillableColArray.ClientCurrency"
                        defaultLabel="All"  (onChange)="ab.filter($event.value, col.field, 'in')">
                    </p-multiSelect>
                    <p-multiSelect *ngSwitchCase="'PayingEntity'" [options]="appBillableColArray.PayingEntity"
                        defaultLabel="All"  (onChange)="ab.filter($event.value, col.field, 'in')">
                    </p-multiSelect>
                    <p-multiSelect *ngSwitchCase="'Status'" [options]="appBillableColArray.Status" defaultLabel="All"
                         (onChange)="ab.filter($event.value, col.field, 'in')">
                    </p-multiSelect>
                    <p-multiSelect *ngSwitchCase="'SpendDate'" [options]="appBillableColArray.SpendDate"
                        defaultLabel="All"  (onChange)="ab.filter($event.value, col.field, 'in')">
                    </p-multiSelect>
                    <p-multiSelect *ngSwitchCase="'Created'" [options]="appBillableColArray.Created" defaultLabel="All"
                         (onChange)="ab.filter($event.value, col.field, 'in')">
                    </p-multiSelect>
                    <p-multiSelect *ngSwitchCase="'ModifiedBy'" [options]="appBillableColArray.ModifiedBy"
                        defaultLabel="All"  (onChange)="ab.filter($event.value, col.field, 'in')">
                    </p-multiSelect>
                    <p-multiSelect *ngSwitchCase="'Modified'" [options]="appBillableColArray.Modified"
                        defaultLabel="All"  (onChange)="ab.filter($event.value, col.field, 'in')">
                    </p-multiSelect>
                </ng-container>
            </th>
        </tr>

    </ng-template>
    <ng-template pTemplate="body" let-node="rowData" let-rowData let-columns="columns" let-rowIndex="rowIndex">

        <tr [pSelectableRow]="rowData">
            <td>{{rowIndex+1}}</td>
            <td>
                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
            </td>

            <td *ngFor="let col of columns;index as i" [hidden]="!col.visibility">
                {{rowData[col.field]}}
                <!-- <ng-container *ngIf="col.field == '' ">
              <p-checkbox selectionMode="multiple" binary="{{selectedAllRows}}"
                (onChange)="selectOneByOne(rowData, $event)"></p-checkbox>
            </ng-container> -->
                <ng-container *ngIf="col.field == ''">
                        <div>
                            <p-menu #popupMenu [popup]="true"  [model]="items" styleClass="borderMenu"></p-menu>
                            <i class="pi pi-ellipsis-v" style="font-size:2em;top: 100px !important;cursor: pointer;"
                                (click)="popupMenu.toggle($event);openTableAtt(rowData, popupMenu)"></i>
                        </div>
                </ng-container>
            </td>
        </tr>
    </ng-template>
</p-table>
</div>
<!-- Right Side Bar -->
<p-sidebar [(visible)]="rightSideBar" position="right" [style]="{overflow: 'auto'}" styleClass="ui-sidebar-md">
    <ng-container *ngIf="rightSideBar">
        <app-table-attribute [rowItemData]="rowItemDetails"></app-table-attribute>
    </ng-container>
</p-sidebar>

<!-- Mark As Payment Modal -->
<p-dialog header="Mark As Payment" [(visible)]="markAsPaymentModal" [modal]="true" [draggable]="false"
    [responsive]="true" [style]="{'width': '40%', 'top':'0px'}" [maximizable]="false" [baseZIndex]="10000"
    (onHide)="cancelFormSub('markAsPayment_form')">

    <form [formGroup]="markAsPayment_form">
        <div class="ui-g">
            <div>
                <div class="ui-g-6">Reference Number</div>
                <div class="ui-g-6">
                    <input type="text" pInputText formControlName="Number" />
                    <div *ngIf="formSubmit.isSubmit && isValidMarkAsPaymentForm.Number.errors">
                        <div *ngIf="isValidMarkAsPaymentForm.Number.errors.required" style="color:red;">Please
                            provide Reference number.</div>
                    </div>
                </div>
                <div class="ui-g-6 mb-15">Payment Date</div>
                <div class="ui-g-6 box1">
                    <p-calendar [showIcon]="true" [monthNavigator]="true" [readonlyInput]="true" dateFormat="dd M , yy"
                        yearRange="2019:2030" [disabledDays]="[0,6]" [yearNavigator]="true"
                        [inputStyle]="{'width': '80%', 'min-width': '80%','padding':'0px'}" formControlName="DateSpend">
                    </p-calendar>
                    <div *ngIf="formSubmit.isSubmit && isValidMarkAsPaymentForm.DateSpend.errors">
                        <div *ngIf="isValidMarkAsPaymentForm.DateSpend.errors.required" style="color:red;">Please
                            provide Payment Date.</div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="ui-g-6">Payment Mode</div>
                <div class="ui-g-6">
                    <p-dropdown [options]="paymentModeArray" [showClear]="false" placeholder="Select a Payment Mode"
                        [style]="{'width':'100%'}" formControlName="PaymentMode" optionLabel="value"
                        onfocus='this.size=10;'>
                    </p-dropdown>
                    <div *ngIf="formSubmit.isSubmit && isValidMarkAsPaymentForm.PaymentMode.errors">
                        <div *ngIf="isValidMarkAsPaymentForm.PaymentMode.errors.required" style="color:red;">Please
                            provide Payment Mode.</div>
                    </div>
                </div>

                <div class="ui-g-6">Notes</div>
                <div class="ui-g-6">
                    <textarea [rows]="4" [cols]="30" pInputTextarea autoResize="autoResize"
                        formControlName="ApproverComments"></textarea>
                    <div *ngIf="formSubmit.isSubmit && isValidMarkAsPaymentForm.ApproverComments.errors">
                        <div *ngIf="isValidMarkAsPaymentForm.ApproverComments.errors.required" style="color:red;">Please
                            provide Note.</div>
                    </div>
                </div>
                <div class="ui-g-6">Upload File</div>
                <div class="ui-g-6">
                    <input type="file" name="myfile" class="form-control" id="myfile"
                        (change)="onFileChange($event, 'ApprovedExpenseFiles')" #fileInput
                        formControlName="ApproverFileUrl" />
                    <div *ngIf="formSubmit.isSubmit && isValidMarkAsPaymentForm.ApproverFileUrl.errors">
                        <div *ngIf="isValidMarkAsPaymentForm.ApproverFileUrl.errors.required" style="color:red;">Please
                            provide file.</div>
                    </div>
                </div>
            </div>

            <!-- <div [ngStyle]="{'margin-top':selectedRowItem.RequestType !== 'Credit Card' ? '45%' : '0px' }"></div> -->
        </div>
    </form>
    <p-footer>
        <button pButton type="button" label="Mark As Payment" [disabled]="submitBtn.isClicked"
            (click)="onSubmit('markAsPayment_form')"></button>
    </p-footer>
</p-dialog>

<!-- Approve Accept Reject Modal -->
<p-dialog header="Schedule OOP Invoice" [(visible)]="scheduleOopModal" [modal]="true" [draggable]="false"
    [responsive]="true" [style]="{'width': '55%', 'top':'0px'}" [maximizable]="false"
    (onHide)="cancelFormSub('scheduleOopInvoice_form')">

    <form [formGroup]="scheduleOopInvoice_form">
        <div class="ui-g">
            <div class="ui-g-4">
                Project Code
            </div>
            <div class="ui-g-6">
                <input type="text" pInputText formControlName="ProjectCode">
                <div *ngIf="formSubmit.isSubmit && isValidScheduleOOPInvoiceForm.ProjectCode.errors">
                    <div *ngIf="isValidScheduleOOPInvoiceForm.ProjectCode.errors.required" style="color:red;">Please
                        Check Project Code.
                    </div>
                </div>
            </div>

            <div class="ui-g-4">
                PO Number
            </div>
            <div class="ui-g-4">

                <div class="ui-g-6" style="padding-left:0">
                    <p-dropdown [options]="poNames" formControlName="PONumber" placeholder="Select PO Number"
                        optionLabel="Number" (onChange)="poChange($event)">
                    </p-dropdown>
                    <div *ngIf="formSubmit.isSubmit && isValidScheduleOOPInvoiceForm.PONumber.errors">
                        <div *ngIf="isValidScheduleOOPInvoiceForm.PONumber.errors.required" style="color:red;">Please
                            Select one of PONumber.
                        </div>
                    </div>
                </div>

            </div>
            <div class="ui-g-4">
                OOP Balance <span *ngIf="poItem">{{oopBalance}}</span>
            </div>

            <div class="ui-g-4">
                Schedule Type
            </div>
            <div class="ui-g-6">
                <input type="text" pInputText formControlName="ScheduledType">
                <div *ngIf="formSubmit.isSubmit && isValidScheduleOOPInvoiceForm.ScheduledType.errors">
                    <div *ngIf="isValidScheduleOOPInvoiceForm.ScheduledType.errors.required" style="color:red;">Please
                        Select
                        one of Scheduled Type.
                    </div>
                </div>
            </div>
            <div class="ui-g-4">
                Amount
            </div>
            <div class="ui-g-6">
                <input type="text" pInputText formControlName="Amount">
                <div *ngIf="formSubmit.isSubmit && isValidScheduleOOPInvoiceForm.Amount.errors">
                    <div *ngIf="isValidScheduleOOPInvoiceForm.Amount.errors.required" style="color:red;">Please Select
                        one of Amount.
                    </div>
                </div>
            </div>
            <div class="ui-g-4">
                Currency
            </div>
            <div class="ui-g-6">
                <input type="text" pInputText formControlName="Currency">
                <div *ngIf="formSubmit.isSubmit && isValidScheduleOOPInvoiceForm.Currency.errors">
                    <div *ngIf="isValidScheduleOOPInvoiceForm.Currency.errors.required" style="color:red;">Please Select
                        one of Currency.
                    </div>
                </div>
            </div>
            <div class="ui-g-4">
                Schedule Date
            </div>
            <div class="ui-g-6 box1">
                <p-calendar [showIcon]="true" [monthNavigator]="true" [readonlyInput]="true" dateFormat="dd M , yy"
                    yearRange="2019:2030" [disabledDays]="[0,6]" [yearNavigator]="true"
                    [inputStyle]="{'width': '80%', 'min-width': '80%','padding':'0px'}" formControlName="ScheduledDate">
                </p-calendar>
                <div *ngIf="formSubmit.isSubmit && isValidScheduleOOPInvoiceForm.ScheduledDate.errors">
                    <div *ngIf="isValidScheduleOOPInvoiceForm.ScheduledDate.errors.required" style="color:red;">Please
                        select Schedule Date.
                    </div>
                </div>
            </div>
            <div class="ui-g-4">
                POC Name
            </div>
            <div class="ui-g-6">
                <p-dropdown [options]="listOfPOCs" formControlName="POCName" placeholder="Select POC Name"
                    optionLabel="FullName" (onChange)="pocChange($event)">
                </p-dropdown>
                <div *ngIf="formSubmit.isSubmit && isValidScheduleOOPInvoiceForm.POCName.errors">
                    <div *ngIf="isValidScheduleOOPInvoiceForm.POCName.errors.required" style="color:red;">Please
                        provide POC Name.</div>
                </div>
            </div>

            <div class="ui-g-4">Address Type</div>
            <div class="ui-g-6">
                <p-dropdown [options]="addressTypes" formControlName="AddressType" placeholder="Select a Address Type"
                    optionLabel="label">
                </p-dropdown>
                <div *ngIf="formSubmit.isSubmit && isValidScheduleOOPInvoiceForm.AddressType.errors">
                    <div *ngIf="isValidScheduleOOPInvoiceForm.AddressType.errors.required" style="color:red;">Please
                        provide Address type.</div>
                </div>
            </div>

        </div>
    </form>
    <p-footer>
        <button pButton type="button" label="Add To Schedule Invoice" [disabled]="submitBtn.isClicked"
            (click)="onSubmit('scheduledOOP')"></button>
    </p-footer>
</p-dialog>

<!-- Toast Messages -->
<p-toast position="bottom-right" key="approvedToast"></p-toast>