<div class="p-d-flex p-flex-column" style="padding: 10vw;width: 100%;" *ngIf="loaderenable">
    <div id="scInnerLoader"></div>
    <div id="scInnerLoaderText">Loading...</div>
</div>

<div class="adminTable p-mt-2" *ngIf="!loaderenable">
    <p-table #pa [columns]="practiceAreaColumns" [value]="practiceAreaRows" exportFilename="Practice Area" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,25,50]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        styleClass="p-datatable-cactus p-datatable-gridlines" stateStorage="local" stateKey="PracticeAreaTable" hideshowMenu>
        <ng-template pTemplate="caption">
            <div class="table-header p-grid p-px-2 p-m-0 p-jc-between p-ai-center">
                <div>
                    <input class="cls_practiceArea p-mr-2" style="min-height: 36px;" pInputText type="text" [(ngModel)]="practiceArea" placeholder="Practice Area" />
                    <button pButton pRipple type="button" icon="pi pi-plus" label="Add" class="p-button-outlined p-button-danger cls_addPracticeArea" (click)="addPracticeArea()"></button>
                </div>
                <i (click)="downloadExcel(pa)" style="font-size: 2.5em;" class="pi pi-file-excel error" aria-hidden="true"></i>

            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th class="firstColumnWidth">Sr.No.</th>
                <th *ngFor="let col of columns" [hidden]="!col.visibility" [pSortableColumn]="col.field">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                        <p-columnFilter *ngIf="col.header != ''" [field]="col.field" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                            <ng-template pTemplate="header">
                                <div class="p-px-3 p-pt-3 p-pb-0">
                                    <span class="p-text-bold"> {{col.header}} Picker</span>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-multiSelect [ngModel]="value" maxSelectedLabels="1" [options]="col.options" placeholder="All" (onChange)="filter($event.value)" optionLabel="label">
                                    <ng-template let-option pTemplate="item">
                                        <div class="p-multiselect-representative-option">
                                            <span class="p-ml-1">{{option.label}}</span>
                                        </div>
                                    </ng-template>
                                </p-multiSelect>
                            </ng-template>
                        </p-columnFilter>
                    </div>
                </th>
                <th class="lastColumnWidth"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
            <tr>
                <td>{{ rowIndex+1 }}</td>
                <td>{{rowData.PracticeArea}}</td>
                <td>{{rowData.LastUpdated | date:'MMM dd, yyyy'}}</td>
                <td>{{rowData.LastModifiedBy}}</td>
                <td class="lastColumnWidth">
                    <div>
                        <p-menu #menu [popup]="true" [model]="items" styleClass="borderMenu"></p-menu>
                        <i class="pi pi-ellipsis-v" (click)="storeRowData(rowData);menu.toggle($event);"></i>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="columns.length + 1">
                    No Data found
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>