<div class="mt-20">
    <div class="p-grid addNew">
        <div class="p-col-2">
            <span class="ui-float-label">
                <input id="float-input" type="text" [(ngModel)]="practiceArea" pInputText />
                <label for="float-input">Practice Area</label>
            </span>
        </div>
        <div class="p-col-2">
            <p-button label="Add" type="button" (click)="addPracticeArea()"></p-button>
        </div>
    </div>
</div>
<div>
    <a (click)="downloadExcel(pa)" class="download-worksheet td-none"><i class="fa fa-fw fa-file-excel-o"
            aria-hidden="true"></i>
    </a>
</div>
<div class="clearBoth"></div>
<div class="adminTable">
    <p-table #pa [columns]="practiceAreaColumns" [value]="practiceAreaRows" exportFilename="Practice Area"
        [paginator]="true" [rows]="10" class="minFirstLastCol5Per">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>Sr.No.</th>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field" [hidden]="!col.visibility">
                    {{col.header}}
                    <p-sortIcon [hidden]="!col.visibility" [field]="col.field" ariaLabel="Activate to sort"
                        ariaLabelDesc="Activate to sort in descending order"
                        ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                </th>
                <th></th>
            </tr>
            <tr>
                <th></th>
                <th *ngFor="let col of columns" [ngSwitch]="col.field" [hidden]="!col.visibility">
                    <p-multiSelect *ngSwitchCase="'PracticeArea'" [style]="{'width':'100%'}"
                        [options]="practiceAreaColArray.PracticeArea" defaultLabel="Practice Area"
                        (onChange)="pa.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()"
                        filter="true" resetFilterOnHide="true"
                        (onPanelShow)="isOptionFilter=true;"></p-multiSelect>
                    <p-multiSelect *ngSwitchCase="'LastUpdated'" [style]="{'width':'100%'}"
                        [options]="practiceAreaColArray.LastUpdated" defaultLabel="LastUpdated"
                        (onChange)="pa.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()"
                        filter="true" resetFilterOnHide="true"
                        (onPanelShow)="isOptionFilter=true;"></p-multiSelect>
                    <p-multiSelect *ngSwitchCase="'LastModifiedBy'" [style]="{'width':'100%'}"
                        [options]="practiceAreaColArray.LastModifiedBy" defaultLabel="LastUpdatedBy"
                        (onChange)="pa.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()"
                        filter="true" resetFilterOnHide="true"
                        (onPanelShow)="isOptionFilter=true;"></p-multiSelect>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
            <tr>
                <td>{{ rowIndex+1 }}</td>
                <td>{{rowData.PracticeArea}}</td>
                <td>{{rowData.LastUpdated | date:'MMM dd, yyyy'}}</td>
                <td>{{rowData.LastModifiedBy}}</td>
                <td>
                    <div>
                        <p-menu #menu [popup]="true" [model]="items" styleClass="borderMenu"></p-menu>
                        <i class="pi pi-ellipsis-v" style="font-size:2em;top: 100px !important;cursor: pointer;"
                            (click)="storeRowData(rowData);menu.toggle($event);"></i>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="practiceAreaRows.length">
                    No Data found
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>