<p-dialog header="Edit" [draggable]="false" [modal]="true" [(visible)]="displayUS" [style]="{width: '1200px'}">

    <header id=header [innerHTML]=USTemplateCopy.header>
    </header>

    <div id="main_content" class="usContact">
        <div style='height:1250px;'>
            <table style="margin: 15px 0">
                <tbody>
                    <tr>
                        <td class="table-heading">
                            CONTACT DETAILS</td>
                    </tr>
                </tbody>
            </table>

            <p class="invButton" style="float: right">
                <button pButton class="editBtn fdBtn" type="button" (click)="editable('contact_details')" label="edit"></button>
            </p>

            <div class="contact_details-table">
                <div id="contact_details" [innerHTML]='USTemplateCopy.contactDetails'>
                </div>
            </div>

            <table style="margin: 15px 0">
                <tbody>
                    <tr>
                        <td class="table-heading">
                            PURCHASE ORDER DETAIL</td>
                    </tr>
                </tbody>
            </table>

            <p id="purchaseOrder" class="purchaseOrder">
                <tr>
                    <td>
                        <p id="purchaseOrderDetails" [innerHTML]='USTemplateCopy.purchaseOrder'>
                        </p>
                    </td>
                </tr>
            </p>


            <table style="margin: 15px 0">
                <tbody>
                    <tr>
                        <td class="table-heading">
                            <span id="serviceDetailHeader" [innerHTML]='serviceDetailHeader'>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="invoice-table proformaDetail">

                <div id="invoiceDetail" style="margin-bottom: 20px;">
                    <table id="invoiceDetails" cellspacing="0" cellpadding="0" [innerHTML]='USTemplateCopy.invoiceDetail'>
                    </table>
                    <p *ngIf="showAppendix" style="font-size: 15px;font-weight: 600;">* Please refer to Appendix 1 for additional details</p>
                </div>
            </div>

            <tbody>
                <tr>
                    <td>
                        <label style="font-size: 18px;font-weight: bold;margin-left: 0;">
                            PAYMENT INSTRUCTIONS
                        </label>
                    </td>
                </tr>
            </tbody>

            <p class="invButton" style="float: right">
                <button pButton type="button" class="editBtn fdBtn" (click)="editable('paymentInstructions')" label="edit">
                </button>
            </p>

            <tbody>
                <tr>
                    <td style="font-size:14px">
                        <div id="paymentInstructions" [innerHTML]='USTemplateCopy.paymentInstructions'>
                        </div>
                        <ul id="paymentDetails" [innerHTML]='USTemplateCopy.paymentDetails'>
                        </ul>

                    </td>
                </tr>
            </tbody>
        </div>

        <div *ngIf="showAppendix">
            <table style="margin: 15px 0">
                <tbody>
                    <tr>
                        <td class="table-heading">
                            APPENDIX 1</td>
                    </tr>
                </tbody>
            </table>

            <div class="invoice-table">
                <p class="invButton" style="float: right">
                    <button pButton type="button" class="editBtn fdBtn" (click)="editable('appendix')" label="edit"></button>
                </p>
                <div>
                    <div id="appendix" [innerHTML]="USTemplateCopy.appendix">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer id="footer" [innerHTML]=USTemplateCopy.footer>
    </footer>

    <p-footer>
        <p-button type="button" (click)="confirm()" label="Confirm"></p-button>
    </p-footer>

</p-dialog>

<p-dialog header="Edit" [modal]="true" [(visible)]="displayJapan" [style]="{width: '1200px'}">

    <header id="header" [innerHTML]=JapanTemplateCopy.header>
    </header>

    <div id="main_content">
        <div style="height:1250px;">
            <table style="margin: 15px 0">
                <tbody>
                    <tr>
                        <td class="table-heading">
                            CONTACT DETAILS</td>
                    </tr>
                </tbody>
            </table>

            <p class="invButton" style="float: right">
                <button pButton type="button" class="editBtn fdBtn" (click)="editable('contact_details')" label="edit"></button>
            </p>

            <div class="contact_details_japan">
                <div id="contact_details" [innerHTML]='JapanTemplateCopy.contactDetails'>
                </div>
            </div>

            <table style="margin: 15px 0">
                <tbody>
                    <tr>
                        <td class="table-heading">
                            PURCHASE ORDER DETAIL</td>
                    </tr>
                </tbody>
            </table>

            <p id="purchaseOrder" class="purchaseOrder">
                <tr>
                    <td>
                        <p id="purchaseOrderDetails" [innerHTML]='JapanTemplateCopy.purchaseOrder'>
                        </p>
                    </td>
                </tr>
            </p>


            <table style="margin: 15px 0">
                <tbody>
                    <tr>
                        <td class="table-heading">
                            <span id="serviceDetailHeader" [innerHTML]='serviceDetailHeader'>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="invoice-table proformaDetail">
                <div id="invoiceDetail" style="margin-bottom: 10px;">
                    <table cellspacing="0" cellpadding="0" id="invoiceDetails" [innerHTML]='JapanTemplateCopy.invoiceDetail'>
                    </table>
                    <p *ngIf="showAppendix" style="font-size: 15px;font-weight: 600;">* Please refer to Appendix 1 for additional details</p>
                </div>
            </div>

            <tbody>
                <tr>
                    <td>
                        <label style="font-size: 18px;font-weight: bold;margin-left: 0;">
                            PAYMENT INSTRUCTIONS
                        </label>
                    </td>
                </tr>
            </tbody>

            <p class="invButton" style="float: right">
                <button pButton type="button" class="editBtn fdBtn" (click)="editable('paymentInstructions2')" label="edit">
                </button>
            </p>

            <tbody class="paymentDetails">
                <tr>
                    <td style="font-size:14px">
                        <div class="paymentInstructions" id="paymentInstructions1" [innerHTML]='JapanTemplateCopy.paymentInstructions'>
                        </div>
                        <ul id="paymentInstructions2" [innerHTML]='JapanTemplateCopy.paymentDetails'>
                        </ul>

                    </td>
                </tr>
            </tbody>
            <table class="signature-table">
                <!-- <tr>
                <td>
                    <img src="stamp.png">
                </td>
            </tr> -->

                <tr>
                    <td>
                        <p style="font-size:15px;margin-top: 60px">
                            カクタス・コミュニケーションズ株式会社</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="font-size:15px">
                            〒101-0061 東京都千代田区神田三崎町2-4-1</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="font-size:15px">
                            TUG-Iビル4階</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="font-size:15px">
                            代表取締役 湯浅 誠</p>
                    </td>
                </tr>

            </table>
        </div>

        <div *ngIf="showAppendix">
            <table style="margin: 15px 0">
                <tbody>
                    <tr>
                        <td class="table-heading">
                            APPENDIX 1</td>
                    </tr>
                </tbody>
            </table>

            <div class="invoice-table">
                <p class="invButton" style="float: right">
                    <button pButton type="button" class="editBtn fdBtn" (click)="editable('appendix')" label="edit"></button>
                </p>
                <div>
                    <div id="appendix" [innerHTML]="JapanTemplateCopy.appendix">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer" [innerHTML]=JapanTemplateCopy.footer>
    </footer>

    <p-footer>
        <p-button type="button" (click)="confirm()" label="Confirm"></p-button>
    </p-footer>

</p-dialog>

<p-dialog header="Edit" [modal]="true" [(visible)]="displayIndia" [style]="{width: '1200px'}">

    <header id=header [innerHTML]=IndiaTemplateCopy.header>
    </header>

    <div id="main_content" class="indContact">
        <div style="height:1250px;">
            <table style="margin: 15px 0;">
                <tbody>
                    <tr>
                        <td class="table-heading">
                            CONTACT DETAILS</td>
                    </tr>
                </tbody>
            </table>

            <p class="invButton" style="float: right">
                <button pButton type="button" class="editBtn fdBtn" (click)="editable('contact_details')" label="edit"></button>
            </p>

            <div class="contact_details-table">
                <div id="contact_details" [innerHTML]='IndiaTemplateCopy.contactDetails1'>
                    <!-- <table id="contactDetails1" style="width:54%;" [innerHTML]='IndiaTemplateCopy.contactDetails1'>
                    </table>
                    <table id="contactDetails2" style="width:40%;" [innerHTML]='IndiaTemplateCopy.contactDetails2'>
                    </table>
                    <table id="address" [innerHTML]='IndiaTemplateCopy.address'>
                    </table> -->
                </div>
            </div>

            <table style="margin: 15px 0">
                <tbody>
                    <tr>
                        <td class="table-heading">REFERENCE DETAILS</td>
                    </tr>
                </tbody>
            </table>

            <div id="referenceDetail" class="referenceDetail">
                <table>
                    <tbody id="purchaseOrderDetails" [innerHTML]='IndiaTemplateCopy.purchaseOrder'>

                    </tbody>
                </table>
            </div>


            <table style="margin: 15px 0">
                <tbody>
                    <tr>
                        <td class="table-heading">
                            <span id="serviceDetailHeader" [innerHTML]='serviceDetailHeader'>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="invoice-table proformaDetail">
                <div id="invoiceDetail" style="margin-bottom: 20px;">
                    <table cellspacing="0" cellpadding="0" id="invoiceDetails" [innerHTML]='IndiaTemplateCopy.invoiceDetail'>
                    </table>
                    <p *ngIf="showAppendix" style="font-size: 15px;font-weight: 600;">* Please refer to Appendix 1 for additional details</p>
                </div>
            </div>

            <tbody>
                <tr>
                    <td>
                        <label style="font-size: 18px;font-weight: bold;margin-left: 0;">
                            PAYMENT INSTRUCTIONS
                        </label>
                    </td>
                </tr>
            </tbody>

            <p class="invButton" style="float: right">
                <button pButton type="button" class="editBtn fdBtn" (click)="editable('paymentInstructions')" label="edit">
                </button>
            </p>

            <tbody>
                <tr>
                    <td style="font-size:14px">
                        <div id="paymentInstructions" [innerHTML]='IndiaTemplateCopy.paymentInstructions'>
                        </div>
                        <div class="paymentDetails">
                            <ul id="paymentInstructions2" [innerHTML]='IndiaTemplateCopy.paymentDetails'>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </div>

        <div *ngIf="showAppendix">
            <table style="margin: 15px 0">
                <tbody>
                    <tr>
                        <td class="table-heading">
                            APPENDIX 1</td>
                    </tr>
                </tbody>
            </table>

            <div class="invoice-table appendix">
                <p class="invButton" style="float: right">
                    <button pButton type="button" class="editBtn fdBtn" (click)="editable('appendix')" label="edit"></button>
                </p>
                <div>
                    <div id="appendix" [innerHTML]="IndiaTemplateCopy.appendix">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer id="footer" [innerHTML]=IndiaTemplateCopy.footer>
    </footer>

    <p-footer>
        <p-button type="button" (click)="confirm()" label="Confirm"></p-button>
    </p-footer>

</p-dialog>

<p-dialog header="Edit {{heading}}" [draggable]="true" appendTo='body' [modal]="true" [(visible)]="editor" (onHide)="close()" [style]="{width: '1200px', top:'0px'}">
    <app-section-editor *ngIf="editor" [editableData]="data" (editdata)="getData($event)"></app-section-editor>
</p-dialog>

<!--  -->

<p-dialog header="Define width to Appendix table column" [(visible)]="widthDefineModal" [modal]="true" [closable]="false" [draggable]="true" [contentStyle]="{'min-height':'150px','max-height':'450px'}" [responsive]="true" [style]="{'width': '75%'}">

    <form id="myform">
        <div class="ui-g">
            <div class="row container">
                <div class="col-lg-3">
                    <div *ngFor="let col of appendixEditTbHeader" style="height: 37px;">
                        {{col}}
                    </div>
                </div>
                <div class="col-lg-4">
                    <div *ngFor="let body of appendixEditTbbody" style="margin: 1px;">
                        <input type="text" name="width" placeholder="Define width" [(ngModel)]="body.width" (blur)="getVal()" (keypress)="enterValue($event)" style="width: 100%;">
                    </div>
                    <div *ngIf="errMsg">
                        <span style="color: red;">{{errMsg}}</span>
                    </div>
                </div>
                <div class="col-lg-5">
                    <b style="color: red;">Tips: </b>
                    <b style="font-size: 12px;">Following are the minimun values for respective fields.</b>
                    <table>
                        <tr>
                            <td style="width: 40%">DV Code / Short title</td>
                            <td style="width: 30%">18%</td>
                        </tr>
                        <tr>
                            <td style="width: 40%">Cactus Project Code</td>
                            <td style="width: 30%">17%</td>
                        </tr>
                        <tr>
                            <td style="width: 40%">POC</td>
                            <td style="width: 30%">20%</td>
                        </tr>
                        <tr>
                            <td style="width: 40%">Amount</td>
                            <td style="width: 30%">17%</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row container">
                <div class="col-lg-3">
                    Total
                </div>
                <div class="col-lg-4">
                    <span>{{definedColWidth}}</span>
                </div>
            </div>
        </div>
    </form>
    <p-footer>
        <button pButton type="button" class="fdBtn" label="Cancel" (click)="cancel()"></button>
        <button pButton type="button" class="fdBtn" label="Save" (click)="setWidth('close')"></button>
        <button pButton type="button" class="fdBtn" label="Apply" (click)="setWidth('apply')"></button>
    </p-footer>
</p-dialog>



<p-dialog header="Edit Payment Instruction" [closable]="false" [modal]="true" [style]="{width: '450px', minWidth: '300px'}" [(visible)]="editJapanPayment">
    <div class="p-col" style="padding: 30px 0px 20px 15px;">
        <span class="ui-float-label" *ngIf="editJapanPayment">
            <input id="float-input" type="number" size="30" pInputText [(ngModel)]="SelectedJapanDays"> 
            <label for="float-input">Payment Days</label>
        </span>
    </div>
    <p-footer>
        <button type="button" pButton icon="pi pi-check" style="background-color: #af0b14;border-color:#af0b14;cursor:pointer;" (click)="updateDays('paymentInstructions2')" label="Save"></button>
        <button type="button" pButton icon="pi pi-times" (click)="editJapanPayment=false" label="Cancel"></button>
    </p-footer>
</p-dialog>


<!-- <pre>{{ saveObject|json}}</pre> -->
