<p-table [value]="tasks" class="">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <td>
          Task Name (Short Title)
      </td>
      <td>
          Start Date
      </td>
      <td>
          Due Date
      </td>
      <td>
          Per Day (Total Allocated)
      </td>
      <td>
          Status
          <span class="minimise" (click)="collapseTable()"><i class="pi pi-window-minimize"></i>
          </span>
      </td>
  </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td class="taskTitle">
          <a [href]="goToProjectDetails(rowData)">{{rowData.title}} <span *ngIf='rowData.SubMilestones'> - {{rowData.SubMilestones}} </span><span *ngIf='rowData.shortTitle'>({{rowData.shortTitle}})</span></a>
      </td>
      <td>
          <span>{{(rowData.startDate | date:'dd MMM yy h:mm a') || '--' }}</span>
      </td>
      <td>
          <span>{{rowData.dueDate | date : "dd MMM yy h:mm a" || '--'}}</span>
      </td>
      <td>
          <span>{{rowData.displayTimeAllocatedPerDay}}
                  ({{rowData.displayTotalAllocatedTime}})</span>
      </td>
      <td>
          <span>{{rowData.status}}</span>
      </td>
  </tr>
  </ng-template>
</p-table>
