
#modalInnerLoader{
    border: 5px solid #f3f3f3  ;
    border-radius: 50%  ;
    border-top: 5px solid red  ;
    border-bottom: 5px solid red  ;
    width: 50px  ;
    height: 50px  ;
    -webkit-animation: spin 2s linear infinite  ;
    animation: spin 2s linear infinite  ;
    margin: 0 auto  ;
    position: relative  ;
    top: 50%  ;
    transform: translateY(-50%)  ;
   
  }
  
  #modalInnerLoaderText{
    -moz-animation: loading-text-opacity 2s linear 0s infinite normal  ;
    -o-animation: loading-text-opacity 2s linear 0s infinite normal  ;
    -webkit-animation: loading-text-opacity 2s linear 0s infinite normal  ;
    animation: loading-text-opacity 2s linear 0s infinite normal  ;
    color: black  ;
    font-family: "Helvetica Neue, "Helvetica", ""arial"  ;
    font-size: 10px  ;
    font-weight: bold  ;
    opacity: 0.5  ;
    text-align: center  ;
    text-transform: uppercase  ;
    top: 0  ;
   
  }
  th, td {
    padding: 10px !important;
    width:75% !important;
    font-size: 1.3em !important;
    float: left !important;
  }
  th{
      color :#C53E3E !important;
      font-weight: 500 !important;
      width:20% !important;
       
  }

  ::ng-deep .clock-face__inner{
    display: none !important;
  }

  
@media (min-width: 1400px) {
  
    ::ng-deep .blockBookingButton
    {
      position: fixed !important;
      width: 100% !important;
      margin: -62px !important;
    }
  
    
  }
  
  
  @media (min-width: 1025px) and (max-width: 1400px) {
    
    ::ng-deep .blockBookingButton
    {
      position: fixed !important;
      width: 100% !important;
      margin: -64px !important;
    }
 
  }
  
 ::ng-deep #saveBooking ,::ng-deep .ui-state-active {
    background-color :#C53E3E !important;
    border-color :#C53E3E !important;
  }
  ::ng-deep .ui-inputtext
  {
      width: 100% !important;
  }
 