 ::ng-deep .timepicker-dial__control {
    color: #c53e3e !important;
}

th,
td {
    padding: 10px !important;
    width: 75% !important;
    font-size: 1.3em !important;
    float: left !important;
}

th {
    color: #C53E3E !important;
    font-weight: 500 !important;
    width: 20% !important;
}

 ::ng-deep .clock-face__inner {
    display: none !important;
}

 ::ng-deep .ui-inputtext {
    width: 100% !important;
}