<p class="error" *ngIf="error">{{errorMsg}}</p>

<div class="pdialogButton p-col-12 p-grid p-jc-end">
    <button *ngIf="showSave && !isPOEdit" pButton pRipple type="button" (click)="savePo()" label="Save" class="p-mx-2 p-button-raised p-button-danger"></button>

    <button *ngIf="showSave && isPOEdit" pButton pRipple type="button" (click)="saveEditedPo()" label="Save" class="p-mx-2  p-button-raised p-button-danger"></button>
    <button type="button " pButton icon="pi pi-times " (click)="cancel(); " label="Cancel " class="p-mr-3 p-button-raised p-button-danger "></button>
</div>

<div class="p-mt-2">
    <p-accordion [activeIndex]="index">
        <p-accordionTab [selected]="true">
            <ng-template pTemplate="header">
                <div class="p-col p-grid p-pt-1 p-pb-0 p-px-2">
                    <div class="p-col">Budget</div>
                    <ng-container *ngFor="let budget of budgetData">
                        <div class="p-col"> {{budget.total}} </div>
                        <div class="p-col"> {{budget.revenue}} </div>
                        <div class="p-col"> {{budget.oop}} </div>
                        <div class="p-col"> {{budget.tax}} </div>
                    </ng-container>
                </div>
            </ng-template>
            <ng-template pTemplate="content">
                <p>SOW number: {{sowNumber}}</p>
                <div class="hourlyTable p-grid cardViewDisplay" *ngIf="showHourly">
                    <div class="p-col p-grid">
                        <div class="p-col p-my-1">Rate</div>
                        <div class="p-col">
                            <input class="p-col-12" [disabled]="isHourlyRateDisabled" [(ngModel)]="hourlyRate" type="number" pInputText>
                        </div>
                    </div>
                    <div class="p-col p-grid">
                        <div class="p-col p-my-1"> Overnight Request</div>
                        <div class="p-col">
                            <p-dropdown [disabled]="isHourlyOverNightDisabled" [options]="overNightRequest" [(ngModel)]="selectedOverNightRequest" placeholder="Please Select" [showClear]="true" [style]="{'width':'100%'}">
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="p-col p-grid">
                        <div class="p-col p-my-1"> Budget Hours</div>
                        <div class="p-col">
                            <input class="p-col-12" [attr.disabled]=true [(ngModel)]="hourlyBudgetHours" type="number" pInputText>
                        </div>
                    </div>
                    <div class="p-col p-grid p-jc-center">
                        <button pButton pRipple type="button" [hidden]="isAddRateButtonHidden" label="Add Rate to Project" (click)="addRateToProject();" class="p-button-raised p-button-danger p-mx-6  p-my-2"></button>
                    </div>
                </div>

                <p-table [value]="budgetData" styleClass="p-datatable-cactus p-datatable-gridlines">
                    <ng-template pTemplate="header">
                        <tr>
                            <th></th>
                            <th>Total</th>
                            <th>Revenue</th>
                            <th>OOP</th>
                            <th>Tax</th>
                            <th>Budget Hours</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData>
                        <tr>
                            <td>Current</td>
                            <td>{{rowData.total}}</td>
                            <td>{{rowData.revenue}}</td>
                            <td>{{rowData.oop}}</td>
                            <td>{{rowData.tax}}</td>
                            <td>{{rowData.budget_hours}}</td>
                        </tr>
                        <tr>
                            <td>
                                <button pButton pRipple type="button" [hidden]="isAddBudgetButtonHidden || disableAddBudget" label="Add Budget" (click)="addBudgetToProject()" class="p-button-raised p-button-danger"></button>
                            </td>
                            <td>
                                <input class="p-col-12" [attr.disabled]=true type="number" pInputText>
                            </td>
                            <td>
                                <input class="p-col-12" [disabled]="isrevenueFieldDisabled" [(ngModel)]="updatedBudget" type="number" pInputText>
                            </td>
                            <td>
                                <input class="p-col-12" [attr.disabled]=true type="number" pInputText>
                            </td>
                            <td>
                                <input class="p-col-12" [attr.disabled]=true type="number" pInputText>
                            </td>
                            <td>
                                <input class="p-col-12" [disabled]="isBudgetHoursDisabled" [(ngModel)]="budgetHours" type="number" pInputText>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </ng-template>
        </p-accordionTab>
        <p-accordionTab>
            <ng-template pTemplate="header">
                <div class="p-col p-grid p-pt-1 p-pb-0 p-px-2">
                    <div class="p-col"> PO</div>
                    <div class="p-col"> {{poHeader.total}} </div>
                    <div class="p-col"> {{poHeader.revenue}} </div>
                    <div class="p-col"> {{poHeader.oop}} </div>
                    <div class="p-col"> {{poHeader.tax}} </div>
                </div>
            </ng-template>
            <ng-template pTemplate="content">
                <div class="p-grid p-my-1 p-jc-start" [hidden]="isAddToProjectHidden">
                    <div class="p-col-2"> PO List</div>
                    <div class="p-col p-grid">
                        <p-dropdown class="p-col-3 p-py-0" filter="true" [options]="poList" placeholder="Select Po" [(ngModel)]="selectedPo" resetFilterOnHide="true" [style]="{'width':'100%'}"></p-dropdown>

                        <button pButton pRipple type="button" label="Add PO" (click)="addPoToProject()" class="p-button-raised p-button-danger"></button>
                    </div>
                </div>
                <div class="p-grid p-jc-between" [hidden]="!isAddToProjectHidden">
                    <div class="p-col"> PO List</div>
                    <div class="p-col p-grid p-jc-end p-mx-1">
                        <button *ngIf="enableCheckList && !hideMoveLineItem" pButton type="button" label="Change PO" class="p-button-raised p-button-danger MoveLineItem p-mx-2" iconPos="right" (click)="changePO()"> 
                            <i   class="p-mx-2 fa fa-book" aria-hidden="true" ></i>
                         </button>

                        <button [hidden]="hideMoveLineItem" pButton type="button" [label]="enableCheckList ? 'Cancel' :'Move Line Items'" class="p-button-raised p-button-danger MoveLineItem" iconPos="right" (click)="enableMovePO()"> 
                         <i *ngIf="!enableCheckList" class="p-mx-2 fa fa-exchange" aria-hidden="true" ></i>
                         <i *ngIf="enableCheckList" class="p-mx-2 fa fa-times" aria-hidden="true" ></i>
                        </button>
                    </div>
                </div>
                <div *ngIf="showPo">
                    <ng-container *ngFor="let poObj of poData">
                        <div class="p-my-2">
                            <p-card *ngIf="poObj.poInfo[0].status !== 'Deleted'">
                                <p-table [value]=poObj.poInfo styleClass="p-datatable-cactus p-datatable-gridlines">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>Number-Name</th>
                                            <th>Total</th>
                                            <th>Revenue</th>
                                            <th>OOP</th>
                                            <th>Tax</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-rowData>
                                        <tr>
                                            <td>{{rowData.poValue}}</td>
                                            <td>{{rowData.total}}</td>
                                            <td>{{rowData.revenue}}</td>
                                            <td>{{rowData.oop}}</td>
                                            <td>{{rowData.tax}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{rowData.scValue}}</td>
                                            <td>{{rowData.scTotal}}</td>
                                            <td>{{rowData.scRevenue}}</td>
                                            <td>{{rowData.scOOP}}</td>
                                            <td>{{rowData.scTax}}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span *ngIf="rowData.showDelete"><i title="Delete PO from Project" class="p-mx-2  pi pi-trash"
                            style="font-size:1.5em;cursor: pointer;" (click)="removePO(poObj)"></i></span>
                                                <span *ngIf="rowData.showAdd"><i title="Reserve budget from PO" class="p-mx-2  pi pi-plus-circle"
                            style="font-size:1.5em;cursor: pointer;" (click)="schedulePo(poObj)"></i></span>
                                                <span *ngIf="rowData.showInvoice"><i title="Schedule Invoices on the PO" class="p-mx-2  pi pi-file"
                            style="font-size:1.5em;cursor: pointer;" (click)="createScheduleInvoice(poObj)"></i></span>
                                            </td>
                                            <td>

                                                <input class="p-col-12" [(ngModel)]="rowData.poTotal" [attr.disabled]=true type="number" pInputText>
                                            </td>
                                            <td>
                                                <input [(ngModel)]="rowData.poRevenue" [disabled]="isPoRevenueDisabled" type="number" class="p-col-12" pInputText></td>
                                            <td>
                                                <input [(ngModel)]="rowData.poOOP" [attr.disabled]=true type="number" class="p-col-12" pInputText>
                                            </td>
                                            <td>
                                                <input [(ngModel)]="rowData.poTax" [attr.disabled]=true type="number" class="p-col-12" pInputText>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                                <!-- <div>PO Information</div> -->
                                <p-table [value]=poObj.poInfoData styleClass="p-datatable-cactus p-datatable-gridlines">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>Inv Number</th>
                                            <th>Prf Number</th>
                                            <th>Date</th>
                                            <th>Amount</th>
                                            <th>Type</th>
                                            <th>Status</th>
                                            <th>POC</th>
                                            <th>Address</th>
                                            <th></th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                                        <tr>
                                            <td>
                                                <span *ngIf="rowData.inv_number && rowData.invUrl">
                          <a [href]="rowData.invUrl" target="_blank"> {{rowData.inv_number}} <span *ngIf="rowData.auxiliaryInvoiceName"> -  {{rowData.auxiliaryInvoiceName}}</span></a>
                                                </span>
                                                <span *ngIf="rowData.inv_number && !rowData.invUrl">
                          {{rowData.inv_number}}  <span *ngIf="rowData.auxiliaryInvoiceName"> - {{rowData.auxiliaryInvoiceName}}</span>
                                                </span>
                                            </td>
                                            <td>
                                                <span *ngIf="rowData.prf_number && rowData.prfUrl">
                          <a [href]="rowData.prfUrl" target="_blank"> {{rowData.prf_number}}</a>
                        </span>
                                                <span *ngIf="rowData.prf_number && !rowData.prfUrl">
                          {{rowData.prf_number}}
                        </span>
                                            </td>
                                            <td>{{rowData.date | date:'MMM dd, yyyy'}}</td>
                                            <td>{{rowData.amount}}</td>
                                            <td>{{rowData.type}}</td>
                                            <td>{{rowData.status}}</td>
                                            <td>{{rowData.pocText}}</td>
                                            <td>{{rowData.address}}</td>
                                            <td>
                                                <span *ngIf="!enableCheckList">
                                            <i *ngIf="rowData.isInvoiceItemConfirm"  class="p-mx-2 pi pi-check"  style="font-size:1.5em;cursor: pointer;" (click)="confirmInvoiceItem(rowData)"></i>
                                            <i *ngIf="!rowData.isInvoiceItemConfirm && rowData.reasonsArray " class="p-mx-2  pi pi-info-circle" (click)="op2.toggle($event)" style="font-size:1.5em;cursor: pointer; "></i>
                                          
                                                <p-overlayPanel class="overlaypanel" #op2 [dismissable]="true" [style]="{width: '450px'}">
                                                    <ul *ngIf="rowData.reasonsArray">
                                                        <li *ngFor='let reson of rowData.reasonsArray'>{{reson}}</li>
                                                    </ul>
                                                </p-overlayPanel>
                                           

                                                <i *ngIf="rowData.isInvoiceItemEdit || rowData.type== 'oop' && rowData.status== 'Scheduled' "  class="p-mx-2  pi pi-pencil"  style="font-size:1.5em;cursor: pointer;" (click)="editInvoiceItem(rowData)"></i>
                                                <i *ngIf="rowData.type == 'oop' && rowData.status == 'Scheduled'"  class="p-mx-2  pi pi-trash"  style="font-size:1.5em;cursor: pointer;" (click)="cancelOOP(rowData)"></i>
                                                </span>
                                                <span *ngIf="enableCheckList && rowData.status== 'Scheduled'">
                                                <p-checkbox [(ngModel)]="rowData.selected" (onChange)="AddRemoveItem( rowData, poObj.poInfo[0])"  binary="true" ></p-checkbox>
                                            </span>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </p-card>
                        </div>
                    </ng-container>
                </div>
            </ng-template>
        </p-accordionTab>
        <p-accordionTab>
            <ng-template pTemplate="header">
                <div class="p-col p-grid p-pt-1 p-pb-0 p-px-2">
                    <div class="p-col"> Unassigned </div>
                    <ng-container *ngFor="let budget of unassignedBudget">
                        <div class="p-col"> {{budget.total}} </div>
                        <div class="p-col"> {{budget.revenue}} </div>
                        <div class="p-col"> {{budget.oop}} </div>
                        <div class="p-col"> {{budget.tax}} </div>
                    </ng-container>
                </div>
            </ng-template>
            <ng-template pTemplate="content">

                <p-table *ngIf="showUnAssigned" [value]="unassignedBudget" styleClass="p-datatable-cactus p-datatable-gridlines">
                    <ng-template pTemplate="header">
                        <tr>
                            <th></th>
                            <th>Total</th>
                            <th>Revenue</th>
                            <th>OOP</th>
                            <th>Tax</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData>
                        <tr>
                            <td>Unassigned</td>
                            <td>{{rowData.total}}</td>
                            <td>{{rowData.revenue}}</td>
                            <td>{{rowData.oop}}</td>
                            <td>{{rowData.tax}}</td>
                        </tr>
                        <tr>
                            <td colspan="5">

                                <button pButton pRipple type="button" [hidden]="hideRemoveButton || disableAddBudget" label="Reduce project budget" (click)="removeUnassigned()" class="p-button-raised p-button-danger"></button>
                                <div [hidden]="!hideRemoveButton">
                                    Budget reduction approval pending. Please either approve or reject the request.
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </ng-template>
        </p-accordionTab>
    </p-accordion>
</div>

<!--***********************************************************************************
                     //  dialog to  display add Invoice details
*********************************************************************************** -->

<p-dialog [header]="invoiceHeader" appendTo='body' [(visible)]="showAddInvoiceDetails" [style]="{width: '500px'}" [contentStyle]="{ 'overflow': 'visible'}" [modal]="true" [closable]="false">
    <form [formGroup]='addPOForm'>
        <div class="p-col-4" style="float: right;">
            <div class="pdialogButton p-col-6">
                <button type="button " pButton icon="pi pi-save" class="p-mx-1 p-button-raised p-button-danger " (click)="addInvoiceDetails()" value="Post Data" label="Save"></button>
                <button type="button " pButton icon="pi pi-times " (click)="showAddInvoiceDetails=false;hideMoveLineItem = hideMoveLineItem === true ? false : true;" label="Cancel" class="p-button-raised p-button-danger "></button>
            </div>
        </div>
        <div class="p-col p-pt-4 p-grid"></div>
        <div class="p-col p-grid">
            <div class="p-col-4 p-my-1">Date</div>
            <div class="p-col">

                <p-calendar [showIcon]="true" inputId="icon" formControlName="poDate" [disabledDays]="[0,6]"   [readonlyInput]="true"   dateFormat="M dd, yy"   appendTo="body"   hideOnDateTimeSelect="true"   [required]="true"   [showIcon]="true" [showOnFocus]="false"
                      [monthNavigator]="true"   [yearNavigator]="true"     yearRange="{{pmObject.yearRange}}"></p-calendar>
                <div class="error" *ngIf="!addPOForm.controls['poDate'].valid&&addPOForm.controls['poDate'].touched">
                    Please select date.</div>
            </div>
        </div>
        <div class="p-col p-grid">
            <div class="p-col-4 p-my-1">Amount</div>
            <div class="p-col">

                <input class="p-col-12" type="number" size="30" formControlName="amount" placeholder="Amount" pInputText>
                <div class="error" *ngIf="!addPOForm.controls['amount'].valid&&addPOForm.controls['amount'].touched">
                    Please enter amount.</div>
            </div>
        </div>
        <div class="p-col p-grid">
            <div class="p-col-4 p-my-1">Client POC</div>
            <div class="p-col">
                <p-dropdown [options]="primaryPoc" filter="true" formControlName="primarypoc" placeholder="Select POC" resetFilterOnHide="true" [style]="{'width':'100%'}">
                </p-dropdown>
                <div class="error" *ngIf="!addPOForm.controls['primarypoc'].valid&&addPOForm.controls['primarypoc'].touched">
                    Please select poc.</div>
            </div>
        </div>
        <div class="p-col p-grid">
            <div class="p-col-4 p-my-1">Address</div>
            <div class="p-col">
                <p-dropdown [options]="address" formControlName="address" placeholder="Select Address" [style]="{'width':'100%'}">
                </p-dropdown>
                <div class="error" *ngIf="!addPOForm.controls['address'].valid&&addPOForm.controls['address'].touched">
                    Please select address</div>
            </div>
        </div>
        <div class="error" *ngIf="addInvoiceError">{{addInvoiceErrorMsg}}</div>
    </form>
</p-dialog>


<!--***********************************************************************************
                     //  dialog to  display  budget increase 
*********************************************************************************** -->

<p-dialog [(visible)]="showBudgetIncrease" appendTo='body' [style]="{width: '600px'}" [contentStyle]="{ 'overflow': 'visible'}" [modal]="true" [closable]="false">
    <p-header>
        Budget Increment Popup
    </p-header>

    <div class="p-col-4" style="float: right;">
        <div class="pdialogButton p-pt-0 p-col-6">
            <button type="button " pButton icon="pi pi-check" class="p-mx-1 p-button-raised p-button-danger " (click)="increaseBudget()" label="Confirm"></button>
            <button type="button " pButton icon="pi pi-times " (click)="showBudgetIncrease=false" label="Cancel" class="p-button-raised p-button-danger "></button>
        </div>
    </div>
    <div class="p-col p-pt-4 p-grid"></div>
    <div class="p-col"> Please select the reason and provide comments for budget increase.</div>
    <div class="p-col p-grid">
        <div class="p-col-4 p-my-1"><span class="compulsory">*</span>Reason Type</div>
        <div class="p-col">
            <p-dropdown [(ngModel)]="selectedReasonType" [options]="budgetIncreaseArray" placeholder="Please Select" [showClear]="true" [filter]="true" resetFilterOnHide="true" [style]="{'width':'100%'}"></p-dropdown>
        </div>
    </div>
    <div class="p-col p-grid">
        <div class="p-col-4 p-my-1"><span class="compulsory">*</span>Reason</div>
        <div class="p-col">
            <textarea class="p-col-12" [(ngModel)]="selectedReason" rows="3" cols="30"></textarea>
        </div>
    </div>
    <div class="p-col p-grid" *ngIf="projObj  && projObj.ProjectType === pmConstant.PROJECT_TYPE.FTE.value">
        <div class="p-col-4 p-my-1"><span class="compulsory">*</span>Proposed End Date</div>
        <div class="p-col">
            <p-calendar  class="pcalendarClass" [(ngModel)]="selectedProposedEndDate" [disabledDays]="[0,6]"   [readonlyInput]="true" [minDate]="dbProposedDate" [maxDate]="maxEndDate"   dateFormat="M dd, yy"   appendTo="body"   hideOnDateTimeSelect="true"  [required]="true"
                [showIcon]="true"   [showOnFocus]="false"   [monthNavigator]="true"   [yearNavigator]="true"     yearRange="{{pmObject.yearRange}}">
                </p-calendar>
        </div>
    </div>
</p-dialog>

<!--***********************************************************************************
                     //  dialog to  display  budget increase 
*********************************************************************************** -->

<p-dialog *ngIf="showReduction" [(visible)]="showReduction" appendTo='body' [style]="{width: '850px'}" [modal]="true" [closable]="false">
    <p-header>
        Budget Reduction Popup
    </p-header>

    <div class="p-col-3" style="float: right;">
        <div class="pdialogButton p-pt-0 p-col-6">
            <button type="button " pButton icon="pi pi-check" class="p-mx-1 p-button-raised p-button-danger " (click)="reduceBudget()" label="Confirm"></button>
            <button type="button " pButton icon="pi pi-times " (click)="showReduction=false" label="Cancel" class="p-button-raised p-button-danger "></button>
        </div>
    </div>

    <div class="p-col p-pt-4 p-grid"></div>
    <div class="p-col">
        Are you sure you want to remove the un-assigned budget from the project ?
    </div>
    <div class="p-col p-my-2">
        Note: If the project is already confirmed then an approval will be sent to CM Level 2 for approving the budget reduction.

    </div>
    <div class="p-col p-grid">
        <div class="p-col-4 p-my-1"><span class="compulsory">*</span>Reason Type</div>
        <div class="p-col">
            <p-dropdown [(ngModel)]="selectedReasonType" [options]="budgetDecreaseArray" placeholder="Please Select" [showClear]="true" [filter]="true" resetFilterOnHide="true" [style]="{'width':'100%'}"></p-dropdown>
        </div>
    </div>
    <div class="p-col p-grid">
        <div class="p-col-4 p-my-1"><span class="compulsory">*</span>Reason</div>
        <div class="p-col">
            <textarea class="p-col-12" [(ngModel)]="selectedReason" rows="3" cols="30"></textarea>
        </div>
    </div>
    <div class="p-col p-grid">
        <div class="p-col-4 p-my-1"><span>Reduce budget hours from </span><span>{{budgetData[0].budget_hours}}</span> to</div>
        <div class="p-col">
            <input class="p-col-12" type="number" [(ngModel)]="newBudgetHrs" size="30" placeholder="New budget hrs" pInputText>
        </div>
    </div>

    <div class="p-col p-grid" *ngIf="projObj  && projObj.ProjectType === pmConstant.PROJECT_TYPE.FTE.value">
        <div class="p-col-4 p-my-1"><span class="compulsory">*</span>Proposed End Date</div>
        <div class="p-col">
            <p-calendar  class="pcalendarClass" [(ngModel)]="selectedProposedEndDate" [disabledDays]="[0,6]"   [readonlyInput]="true" [minDate]="minDate" [maxDate]="dbProposedDate"   dateFormat="M dd, yy"   appendTo="body"   hideOnDateTimeSelect="true"   [required]="true"
                  [showIcon]="true"   [showOnFocus]="false"   [monthNavigator]="true"   [yearNavigator]="true"     yearRange="{{pmObject.yearRange}}"  inputStyleClass="ngPrime-red">
                </p-calendar>
        </div>
    </div>
</p-dialog>

<!--***********************************************************************************
                     //  dialog to  tag to existing invoice
*********************************************************************************** -->

<p-dialog *ngIf="tagExistingInvSection" [(visible)]="tagExistingInvSection" appendTo='body' [style]="{width: '600px'}" [closable]="false">
    <p-header>
        Tag Existing Invoice
    </p-header>

    <div class="p-col-5" style="float: right;">
        <div class="pdialogButton p-pt-0 p-col-6">
            <button type="button " pButton icon="pi pi-check" class="p-mx-1 p-button-raised p-button-danger " (click)="tagToInv()" label="Tag to invoice"></button>
            <button type="button " pButton icon="pi pi-times " (click)="tagExistingInvSection=false" label="Cancel" class="p-button-raised p-button-danger "></button>
        </div>
    </div>
    <div class="p-col p-pt-4 p-grid"></div>

    <div class="p-col p-grid">
        <div class="p-col-4 p-my-1"><span class="compulsory">*</span>Invoice List</div>
        <div class="p-col">
            <p-dropdown [(ngModel)]="advanceInvID" (onChange)="setInvData($event)" [options]="advanceInvArray" placeholder="Please Select" [showClear]="true" [filter]="true" resetFilterOnHide="true" [style]="{'width':'100%'}"></p-dropdown>
        </div>
    </div>
    <div class="p-col p-grid">
        <div class="p-col-4 p-my-1"><span class="compulsory">*</span>Invoice Date</div>
        <div class="p-col">
            <input class="p-col-12" disabled [(ngModel)]="existingInvDate" type="text" pInputText>
        </div>
    </div>
    <div class="p-col p-grid">
        <div class="p-col-4 p-my-1"><span class="compulsory">*</span>Invoice Amount</div>
        <div class="p-col">
            <input class="p-col-12" [(ngModel)]="existingInvAmount" type="number" pInputText>
        </div>
    </div>
    <div class="p-col p-grid">
        <div class="p-col-4 p-my-1"><span class="compulsory">*</span>Balance Amount</div>
        <div class="p-col">
            <input class="p-col-12" disabled [(ngModel)]="invBalance" type="number" pInputText>
        </div>
    </div>
    <div class="p-col p-grid">
        <div class="p-col-4 p-my-1"><span class="compulsory">*</span>Tag Amount</div>
        <div class="p-col">
            <input class="p-col-12" [(ngModel)]="newInvAmount" type="number" pInputText>
        </div>
    </div>
</p-dialog>