<div>
  <div class="userRole">
    <div class="ui-g">
      <div class="ui-g-1">
        <span>User:</span>
      </div>
      <div class="ui-g-3">
        <p-multiSelect [options]="sourceUsersArray" defaultLabel="Select User" [(ngModel)]="sourceUsers"
          (keydown.enter)="$event.preventDefault()" filter="true" resetFilterOnHide="true"
          (onPanelHide)="onSourceUsersChange()">
        </p-multiSelect>
      </div>
      <div class="ui-g-2">
        <span>Copy/Add Permission</span>
      </div>
      <div class="ui-g-3">
        <p-dropdown [options]="destinationUsersArray" [(ngModel)]="destinationUser" filter="true"
          resetFilterOnHide="true" placeholder='Select User' (onChange)="onDestinationUserChange()">
        </p-dropdown>
      </div>
      <div class="ui-g-3">
        <p-splitButton label="Add Permission" icon="pi pi-plus-circle" (onClick)="addPermission()" [model]="buttons">
        </p-splitButton>
      </div>
    </div>
  </div>
</div>
<div class="ui-g mt-20">
  <div class="ui-g-4" *ngIf="viewArray.sourceGroupsArray.length">
    <p-table [value]="viewArray.sourceGroupsArray" [paginator]="true" [rows]="7">
      <ng-template pTemplate="header">
        <tr>
          <th>Source Groups</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" style="overflow: auto" let-rowData let-rowIndex="rowIndex">
        <p-card>
          <tr>
            <td>{{ rowIndex+1 }}.</td>
            <td class="brandColor">
              {{rowData}}
            </td>
          </tr>
        </p-card>
      </ng-template>
    </p-table>
  </div>
  <div class="ui-g-4" *ngIf="viewArray.destinationGroupsArray.length">
    <p-table [value]="viewArray.destinationGroupsArray" [paginator]="true" [rows]="7">
      <ng-template pTemplate="header">
        <tr>
          <th>Destination Groups</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" style="overflow: auto" let-rowData let-rowIndex="rowIndex">
        <p-card>
          <tr>
            <td>{{ rowIndex+1 }}.</td>
            <td class="brandColor">
              {{rowData}}
            </td>
          </tr>
        </p-card>
      </ng-template>
    </p-table>
  </div>

  <div class="userRole savebtn">
    <p-button type="button" label="Save" (onClick)="save()"></p-button>
  </div>
</div>
