:host ::ng-deep .p-datatable-scrollable-header-table .p-datatable-thead>tr>th:nth-child(2),
:host ::ng-deep .p-datatable-scrollable-header-table .p-datatable-thead>tr>th:nth-child(3),
:host ::ng-deep .p-datatable-scrollable-header-table .p-datatable-thead>tr>th:nth-child(7),
:host ::ng-deep .cdk-virtual-scroll-content-wrapper>table>tbody.p-datatable-tbody>tr>td:nth-child(2),
:host ::ng-deep .cdk-virtual-scroll-content-wrapper>table>tbody.p-datatable-tbody>tr>td:nth-child(3),
:host ::ng-deep .cdk-virtual-scroll-content-wrapper>table>tbody.p-datatable-tbody>tr>td:nth-child(7) {
    width: 14% !important;
}

:host ::ng-deep .p-datatable-scrollable-header-table .p-datatable-thead>tr>th:nth-child(4),
:host ::ng-deep .p-datatable-scrollable-header-table .p-datatable-thead>tr>th:nth-child(5),
:host ::ng-deep .cdk-virtual-scroll-content-wrapper>table>tbody.p-datatable-tbody>tr>td:nth-child(4),
:host ::ng-deep .cdk-virtual-scroll-content-wrapper>table>tbody.p-datatable-tbody>tr>td:nth-child(5) {
    width: 16% !important;
}

:host ::ng-deep .p-datatable-scrollable-header-table .p-datatable-thead>tr>th:nth-child(6),
:host ::ng-deep .cdk-virtual-scroll-content-wrapper>table>tbody.p-datatable-tbody>tr>td:nth-child(6) {
    width: 20% !important;
}


/* :host ::ng-deep .p-datatable-scrollable-header-box {
    padding-right: 0px !important;
} */