<div class='UserButton' fxLayout="row" fxLayoutAlign="end center">
    <button type="button" pButton icon="pi pi-save" id="saveUser" [ngStyle]="{'margin-right':   '5px','cursor':'pointer' }" (click)="ConfirmAudit()" [disabled]="!enableConfirm" label="Confirm"></button>

    <button type="button" pButton icon="pi pi-times" label="Cancel" class="ui-button-secondary" style="background-color:ghostwhite;" (click)="close();"></button>
</div>
<span style="color: #ff0000;">* Please select checkbox or enter comment for each parmater.</span>
<p-table [value]="addRollingProjectArray" class="audit-rolling-section" [(selection)]="selectedOptions" dataKey="parameter" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" (onHeaderCheckboxToggle)="enableDisableConfirmButton()">
    <ng-template pTemplate="header">
        <tr>
            <th style="width:10px;">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th style="width:270px;">Parameters</th>
            <th>Comments</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-task style="overflow: auto">
        <tr class="formContentChecklist">
            <td>
                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
            </td>
            <td>{{task.parameter}}</td>
            <td><textarea style="width: 100%;border-radius: 4px;" [(ngModel)]="task.comments" (keyup)="keyPress($event)"></textarea></td>
        </tr>
    </ng-template>
    <ng-template pTemplate="footer">
        <tr *ngIf="checkList.addRollingProjectError">
            <td colspan="3" class="error">{{checkList.addRollingProjectErrorMsg}}</td>
        </tr>
    </ng-template>
</p-table>


<!-- Use html to store in database -->
<div #printDialog hidden>
    <table style="width:100%">
        <tr>
            <th style=" border: 1px solid #cdcdcd; text-align: left; padding: 8px;"></th>
            <th style=" border: 1px solid #cdcdcd; text-align: left; padding: 8px;">Parameters</th>
            <th style=" border: 1px solid #cdcdcd; text-align: left; padding: 8px;">Comments</th>
        </tr>
        <tr *ngFor='let task of addRollingProjectArray'>
            <td style=" border: 1px solid #cdcdcd; text-align: left; padding: 8px;">
                <ng-container [ngSwitch]="task.checked">
                    <span *ngSwitchCase="true"><input type="checkbox" name="task.parameter"  checked   disabled></span>
                    <span *ngSwitchDefault><input type="checkbox" name="task.parameter" disabled></span>
                </ng-container>
            </td>
            <td style=" border: 1px solid #cdcdcd; text-align: left; padding: 8px;">{{task.parameter}}</td>
            <td style=" border: 1px solid #cdcdcd; text-align: left; padding: 8px;"><textarea rows="2" cols="50" readonly>{{task.comments}}</textarea></td>
        </tr>
    </table>
</div>