<div class="alertBox">
    <!-- <ngb-alert *ngIf="crSuccessMessage" type="success" (close)="crSuccessMessage = null">{{ crSuccessMessage }}
    </ngb-alert>
    <ngb-alert *ngIf="crErrorMessage" type="danger" (close)="crErrorMessage = null">{{ crErrorMessage }}</ngb-alert> -->
</div>
<div class="wrap-table100" [hidden]="isCRFilterHidden">
    <label class="checkbox-container no-padding-left no-cursor-pointer">
        <div class="floatLeft legendColor smalldot blueColor"></div>
        Today’s delivery
    </label>
    <label class="checkbox-container no-padding-left no-cursor-pointer">
        <div class="floatLeft legendColor smalldot greenColor"></div>
        Next 5 days
    </label>
    <label class="checkbox-container no-padding-left no-cursor-pointer">
        <div class="floatLeft legendColor smalldot redColor"></div>
        Overdue
    </label>
    <div [hidden]='isCRInnerLoaderHidden' style="padding: 15vw;">
        <div id="scInnerLoader"></div>
        <div id="scInnerLoaderText">Loading...</div>
    </div>
    <div class="box excelIcon" [hidden]='isCRTableHidden'>
        <i style="font-size: 1.8em;cursor: pointer;" (click)="pmCommonService.convertToExcelFile(crTableRef)" title="Export To Excel" class="fa fa-fw fa-file-excel-o"></i>
    </div>
    <div class="noDataMessage" [hidden]='crHideNoDataMessage'>
        No Tasks Found.
    </div>
    <div class="crTable table100 slaExist ver4 m-b-110" [hidden]="isCRTableHidden">
        <p-table #crTableRef [columns]="displayedColumns" [value]="pmObject.clientReviewArray" [paginator]="true" [rows]="10" selectionMode="" exportFilename="Client Review">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" [hidden]="!col.visibility">
                        {{ col.header }}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                    <th class="lastColumnWidth"></th>
                </tr>
                <tr>
                    <th *ngFor="let col of columns" [ngSwitch]="col.field" class="ui-fluid" [hidden]="!col.visibility">
                        <p-multiSelect *ngSwitchCase="'ProjectCode'" [options]="crArrays.ProjectCode" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="crTableRef.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect *ngSwitchCase="'ShortTitle'" [options]="crArrays.ShortTitle" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="crTableRef.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect *ngSwitchCase="'ClientLegalEntity'" [options]="crArrays.ClientLegalEntity" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="crTableRef.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect *ngSwitchCase="'POC'" [options]="crArrays.POC" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="crTableRef.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;"></p-multiSelect>
                        <p-multiSelect *ngSwitchCase="'DeliverableType'" [options]="crArrays.DeliverableType" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="crTableRef.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect *ngSwitchCase="'DueDate'" [options]="crArrays.DueDate" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="crTableRef.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;"></p-multiSelect>
                        <p-multiSelect *ngSwitchCase="'Milestone'" [options]="crArrays.Milestone" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="crTableRef.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect *ngSwitchCase="'DeliveryDate'" [options]="crArrays.DeliveryDate" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="crTableRef.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                    </th>
                    <th class="lastColumnWidth"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-task>
                <tr [pContextMenuRow]="rowData">
                    <td>
                        <span [ngClass]="{dot : true,'blueColor' : task.isBlueIndicator,'redColor': task.isRedIndicator,'greenColor': task.isGreenIndicator}"></span>
                    </td>
                    <td>{{task.ProjectCode}}</td>
                    <td>{{task.ShortTitle}}</td>
                    <td>{{task.ClientLegalEntity}}</td>
                    <td>{{task.POC}}</td>
                    <td>{{task.DeliverableType}}</td>
                    <td>{{task.DueDate | date:'MMM dd yyyy hh:mm a'}}</td>
                    <td>{{task.Milestone}}</td>
                    <td>{{task.DeliveryDate | date:'MMM dd yyyy hh:mm a'}}</td>
                    <!-- <td [style.backgroundColor]="task.backgroundColor"> -->
                    <td>
                        <div>
                            <p-menu [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'" #menu [model]="popItems" [popup]="true">
                            </p-menu>
                            <i class="pi pi-ellipsis-v"  style="font-size:2em;cursor: pointer;" (click)="storeRowData(rowData); menu.show($event);"></i>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>