<div class="p-d-flex p-flex-column" style="padding: 12vw;" *ngIf="modalloaderenable">
    <div id="modalInnerLoader"></div>
    <div id="modalInnerLoaderText">Loading...</div>
</div>


<div class="pdialogButton p-col-12 p-grid p-jc-end" *ngIf="!modalloaderenable">
    <button class="p-mx-1 p-button-raised p-button-danger" type="button" pButton icon="pi pi-save" id="saveBooking" [ngStyle]="{'cursor':'pointer' }" (click)="SaveTimeBooking()" label="Save"></button>
    <button type="button" pButton icon="pi pi-times" (click)="cancelTBooking();" label="Cancel" class="p-button-raised p-button-danger"></button>
</div>

<div class="p-col p-flex-column" *ngIf="!modalloaderenable">

    <div class="p-mb-0 p-pr-4  p-grid p-jc-between p-ai-center">

        <i class="fa fa-plus-circle error p-my-1 p-pl-2" (click)="AddNewRow()" style="font-size: 1.5em;cursor: pointer;" aria-hidden="true">Add Line</i>

        <span class="p-input-icon-left p-my-1">
            <i class="pi pi-search"></i>
            <input type="text" pInputText size="50" placeholder="Search by Client / Project / Milestone/Category" (input)="tableId.filterGlobal($event.target.value, 'contains')" />
        </span>
    </div>
    <p-table #tableId [value]="UserMilestones" [globalFilterFields]="['Entity','ProjectCode','Milestone']" id="datatable" styleClass="p-datatable-cactus p-datatable-gridlines" [scrollable]="true" scrollHeight="295px">
        <ng-template pTemplate="header">
            <tr>
                <th class="p-px-0 p-text-center">Client</th>
                <th class="p-px-0 p-text-center">Project</th>
                <th class="p-px-0 p-text-center">Milestone/Category</th>

                <th class="p-px-0 p-text-center" *ngFor="let day of weekDays;let first = first;let last=last;">


                    <div class="p-grid p-ai-center p-m-auto" *ngIf="first || last;else elseBlock">

                        <button *ngIf="first" pButton pRipple type="button" icon="pi pi-chevron-left" class="p-button-rounded p-button-text p-button-plain" style="border: none;
                        background-color: #ffffff !important;
                        color: #2f2f30 !important;" [disabled]="!prevArrow" (click)="getweekDates('decrease')" [ngClass]="{'ArraowView': !prevArrow}"></button>

                        <div class="p-m-auto">{{day | date:'EEE, MMM dd'}}</div>
                        <button pButton pRipple *ngIf="last" type="button" [ngClass]="{'nextArraowView': !nextArrow}" style="border: none;
                        background-color: #ffffff !important;
                        color: #2f2f30 !important;" [disabled]="!nextArrow" (click)="getweekDates('increase')" icon="pi pi-chevron-right" class="p-button-rounded p-button-text p-button-plain"></button>

                    </div>
                    <ng-template #elseBlock>
                        <div class="p-text-center p-m-auto"> {{day | date:'EEE, MMM dd'}} </div>
                    </ng-template>



                </th>

                <th class="p-px-0 p-text-center">Actions</th>
                <th class="p-px-0 p-text-center" style="background: #E5cFD2; ">Total</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="rowData" #row>

                <td [ngStyle]="{'padding': rowData.isEditable ? '0px':'5px'}">

                    <p-dropdown class="CLS_My_DashBoard_ClientName" filter="true" resetFilterOnHide="true" *ngIf="rowData.isEditable" [options]="rowData.dbClientLegalEntities" [(ngModel)]="rowData.Entity" (ngModelChange)="getAllProjects($event,rowData)" [style]="{ width: '100%', overflow: 'visible',border:'none' }">
                    </p-dropdown>

                    <span fxLayout="row wrap" *ngIf="!rowData.isEditable"> {{rowData.Entity}} </span>

                </td>
                <td [ngStyle]="{'padding': rowData.isEditable ? '0px':'5px'}">
                    <p-dropdown class="CLS_My_DashBoard_ProjectCode" fxLayout="row wrap" resetFilterOnHide="true" filter="true" *ngIf="rowData.isEditable" (ngModelChange)="getAllMilestones($event,rowData)" [options]="rowData.dbProjects" [(ngModel)]="rowData.ProjectCodeTitle"
                        [style]="{ width: '100%', overflow: 'visible',border:'none' }">
                    </p-dropdown>

                    <span fxLayout="row wrap" *ngIf="!rowData.isEditable"> {{rowData.ProjectCodeTitle}} </span>
                </td>
                <td [ngStyle]="{'padding': rowData.isEditable ? '0px':'5px'}">
                    <p-dropdown class="CLS_My_DashBoard_Milestone" fxLayout="row wrap" resetFilterOnHide="true" filter="true" *ngIf="rowData.isEditable" [options]="rowData.dbMilestones" [(ngModel)]="rowData.displayName" (ngModelChange)="checkMilestone($event,rowData)" [style]="{ width: '100%', overflow: 'visible',border:'none'}">
                    </p-dropdown>

                    <span fxLayout="row wrap" *ngIf="!rowData.isEditable"> {{rowData.displayName}} </span>
                </td>

                <td class="p-text-center" *ngFor="let dayhours of rowData.TimeSpents;let first = first;let last=last; ">

                    <input class="p-text-center error" *ngIf="rowData.type ==='task' && dayhours.editable" style="width: 80%;border: none;" aria-label="24hr format" [min]="dayhours.minHrs" [(ngModel)]="dayhours.MileHrs" [ngxTimepicker]="mon" [format]="24" readonly>

                    <ngx-material-timepicker #mon [minutesGap]="15" (closed)="SetTime(dayhours.MileHrs,dayhours,rowData)" [enableKeyboardInput]="true" class="timepickerPosition" [theme]="darkTheme">
                    </ngx-material-timepicker>

                    <span *ngIf="rowData.type ==='Adhoc' ||(rowData.type ==='task' && !dayhours.editable)">{{dayhours.MileHrs}}</span>
                </td>
                <td class="p-text-center">
                    <i *ngIf="rowData.commentEnable" style="font-size: 1.5em;cursor: pointer; padding-right: 10px;" class="fa fa-commenting-o" aria-hidden="true" (click)="openDialog(rowData, 'comments')"></i>
                    <i *ngIf="rowData.commentEnable && rowData.ID !== -1" class="fa fa-upload" aria-hidden="true" style="font-size: 1.5em;cursor: pointer;" (click)="openDialog(rowData, 'fileupload')"></i>
                </td>
                <td class="p-text-center" style="background: #FFE6EA;">
                    {{getTotalHoursRow(rowData)}}
                </td>

            </tr>
        </ng-template>

        <!-- </p-scrollPanel> -->
        <ng-template pTemplate="footer" *ngIf="UserMilestones.length  >  0">
            <tr id="tableFooter">
                <td></td>
                <td> </td>
                <td> </td>
                <td [attr.colspan]="2" class="p-text-center">{{getTotalHoursColumn(0)}} </td>
                <td class="p-text-center">{{getTotalHoursColumn(1)}} </td>
                <td class="p-text-center">{{getTotalHoursColumn(2)}} </td>
                <td class="p-text-center">{{getTotalHoursColumn(3)}} </td>
                <td class="p-text-center">{{getTotalHoursColumn(4)}} </td>
                <td class="p-text-center">{{getTotalHoursColumn(5)}} </td>
                <td [attr.colspan]="2" class="p-text-center">{{getTotalHoursColumn(6)}} </td>
                <td> </td>
                <td class="p-text-center" style="background: #FFE6EA;"> {{getTotalOfTotal()}}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td [attr.colspan]="weekDays.length + 5">
                    No Data found
                </td>
            </tr>
        </ng-template>
    </p-table>

    <div class="p-col p-p-0" style="font-size: 12px;">
        <p class="p-mb-1"> Time spent on any task or thought required to complete a project. For eg,</p>
        <ul class="p-mb-1">
            <li>Prep work such as search for authors, thought/research associated with which digital tactic to use, reading source data, dummy submissions.</li>
            <li>Internal/external KOC prep and attendance; drafting meeting minutes.</li>
            <li>Deliverable development time, eg, writing, editorial, QC or graphics time.</li>
            <li>Discussion time, eg, meetings with reviewers, writer-graphics iterations, discussions related to queries on client/author comments Important.</li>
        </ul>
        <p class="p-mb-0">Important note: If client meetings/conference attendance are specifically being billed back to the client, time should be added under the specific project used for billing and not under the next category.</p>

    </div>
</div>



<!-- *********************************************************************************************
                                                         Comment Popup
           ********************************************************************************************************** -->
<p-dialog header="Comments" [closable]='false' [modal]="true" [style]="{width: '750px', minWidth: '300px'}" [(visible)]="displayComment" appendTo='body'>
    <textarea *ngIf='displayComment' [(ngModel)]="timebookingRow.CommentsMT" placeholder="Leave Comment" [rows]="8" [cols]="30" pInputTextarea style="width:100%;padding: 3%;"> </textarea>
    <p-footer>
        <button type="button" pButton icon="pi pi-check" style="background-color: #af0b14;border-color:#af0b14;" (click)="displayComment=false" label="Add"></button>

    </p-footer>
</p-dialog>
<!-- *********************************************************************************************
                                                         File Upload Popup
           ********************************************************************************************************** -->
<!-- <p-dialog header="Upload Files" [modal]="true" [style]="{width: '881px'}" [(visible)]="displayFileUpload" appendTo='body'>
    <app-view-upload-document-dialog *ngIf='displayFileUpload' [taskData]="timebookingRow"></app-view-upload-document-dialog>
</p-dialog> -->