 
  ::ng-deep .blockBookingButton
  {
    position: fixed !important;
    width: 100% !important;
    margin: -50px !important;
  }

  :host ::ng-deep .ui-table .ui-table-thead > tr > th {
    position: -webkit-sticky;
    position: sticky;
    top: -10px;
    z-index: 9999999;
}


  
#modalInnerLoader{
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid red;
    border-bottom: 5px solid red;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
   
  }
  
  #modalInnerLoaderText{
    -moz-animation: loading-text-opacity 2s linear 0s infinite normal;
    -o-animation: loading-text-opacity 2s linear 0s infinite normal;
    -webkit-animation: loading-text-opacity 2s linear 0s infinite normal;
    animation: loading-text-opacity 2s linear 0s infinite normal;
    color: black;
    font-family: "Helvetica Neue, "Helvetica", ""arial";
    font-size: 10px;
    font-weight: bold;
    opacity: 0.5;
    text-align: center;
    text-transform: uppercase;
    top: 0;
   
  }
  ::ng-deep #saveBooking  {
    background-color :#C53E3E   !important;
    border-color :#C53E3E   !important;
  }
  ::ng-deep .clock-face__inner
  {
    display: none   !important;
  } 
  /* .timespenttable th:last-child, .timespenttable th:first-child , .timespenttable td:last-child, .timespenttable td:first-child 
  {
    width: 4%;
  }
  .timespenttable th:last-child, .timespenttable th:first-child , .timespenttable td:last-child, .timespenttable td:first-child , .timespenttable th , .timespenttable td {
    
     border:none;
     border-bottom: 1px solid #cdcdcd;
     border-top: 1px solid #cdcdcd;
   } */

   ::ng-deep #datatable:nth-child(4), #datatable:nth-child(8) {
     width: 2% !important;
     border: none !important;
   }
  ::ng-deep  #datatable > tbody > th{
       border: none !important;
   }

.ArraowView{
    cursor: not-allowed !important;
    opacity: .65 !important;
   }
.ArraowView:hover { text-decoration: none !important; }
.ArraowView:focus { text-decoration: none !important; }
.ArraowView:active { text-decoration: none !important; }

::ng-deep .fa-chevron-right , ::ng-deep .fa-chevron-left{
    font-size: 2em !important;
    color: #000000 !important;
    background: #f4f4f4 !important;
}
#tableFooter :nth-child(1), #tableFooter :nth-child(2), #tableFooter :nth-child(3){
    border: none !important;
    background-color: #ffffff !important;
}




#tableFooter :nth-child(4)  , #tableFooter :nth-child(5), #tableFooter :nth-child(6), #tableFooter :nth-child(7), #tableFooter :nth-child(8), #tableFooter :nth-child(9), #tableFooter :nth-child(10), #tableFooter :nth-child(11) 
{
    text-align: center !important;
    background: #FFE6EA !important;
}


/* 

tr:nth-child(even) > td > input {background: #ffffff}
tr:nth-child(odd) {background: #f9f9f9} */