<div fxLayout="column" style="padding: 12vw;" fxLayoutAlign="center center" [hidden]="!modalloaderenable">
  <div id="modalInnerLoader"></div>
  <div id="modalInnerLoaderText">Loading...</div>
</div>

<p-toast [style]="{marginTop: '80px'}" styleClass="custom-toast" key="custom" [hideTransitionOptions]="'0ms'"
position="bottom-center">
</p-toast>

<div class='blockBookingButton' fxLayout="row" fxLayoutAlign="end center" [hidden]="modalloaderenable">

  <button type="button" pButton icon="pi pi-save" id="saveBooking"
    [ngStyle]="{'margin-right':   '5px','cursor':'pointer' }" (click)="SaveTimeBooking()" label="Save"></button>


  <button type="button" pButton icon="pi pi-times" (click)="cancelTBooking();" label="Cancel"
    class="ui-button-secondary" style="background-color:ghostwhite;"></button>

</div>

<div fxLayout="row" *ngIf="!modalloaderenable" #scrollDown fxLayoutAlign="space-between start" fxLayoutGap="5px">

  
  <div fxLayout="column" fxFlex="100" fxLayoutAlign="space-between start" fxLayoutGap="20px">
    <p-table  [value]="UserMilestones" dataKey="ID" editMode="row" id="datatable">
      <ng-template pTemplate="header">
        <tr>
          <th>Client</th>
          <th>Project</th>
          <th>Milestone/Category</th>
          <!-- <th style="width: 3.5em;">
          </th> -->
          <th [attr.colspan]=" first || last ? '2':''" *ngFor="let day of weekDays;let first = first;let last=last;" [ngStyle]="{'text-align':'center','width': first || last ? '10em':'6.5em','padding':'0px'}">  
             

            <div *ngIf="first || last;else elseBlock " fxLayout="row" fxLayoutAlign="space-around center">

                <button pButton *ngIf="first" type="button" [ngClass]="{'ArraowView': !prevArrow}"
                style="border: none;background-color: #f4f4f4 !important;" [disabled]="!prevArrow" (click)="getweekDates('decrease')"
               icon="fa fa-chevron-left" iconPos="left"></button>
            
            
               {{day | date:'EEE, MMM dd'}} 
           
               <button pButton *ngIf="last" type="button" [ngClass]="{'nextArraowView': !nextArrow}"
               style="border: none;background-color: #f4f4f4 !important;" [disabled]="!nextArrow" (click)="getweekDates('increase')"
               icon="fa fa-chevron-right" iconPos="left"></button>

            </div>
            <ng-template #elseBlock>  {{day | date:'EEE, MMM dd'}} </ng-template>
            
          
          
          </th>

         
          <th style="width: 5em;text-align: center;background: #E5cFD2; ">Total</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="rowData">

          <td [ngStyle]="{'padding': rowData.isEditable ? '0px':'5px'}">

            <p-dropdown filter="true" *ngIf="rowData.isEditable" [options]="rowData.dbClientLegalEntities"
              [(ngModel)]="rowData.Entity" (ngModelChange)="getAllProjects($event,rowData)"
              [style]="{ width: '100%', overflow: 'visible',border:'none' }" appendTo="body">
            </p-dropdown>

            <span fxLayout="row wrap" *ngIf="!rowData.isEditable"> {{rowData.Entity}} </span>

          </td>
          <td [ngStyle]="{'padding': rowData.isEditable ? '0px':'5px'}">
            <p-dropdown fxLayout="row wrap" filter="true" *ngIf="rowData.isEditable"
              (ngModelChange)="getAllMilestones($event,rowData)" [options]="rowData.dbProjects"
              [(ngModel)]="rowData.ProjectCodeTitle" [style]="{ width: '100%', overflow: 'visible',border:'none' }">
            </p-dropdown>

            <span fxLayout="row wrap" *ngIf="!rowData.isEditable"> {{rowData.ProjectCodeTitle}} </span>
          </td>
          <td [ngStyle]="{'padding': rowData.isEditable ? '0px':'5px'}">
            <p-dropdown fxLayout="row wrap" filter="true" *ngIf="rowData.isEditable" [options]="rowData.dbMilestones"
              [(ngModel)]="rowData.Milestone" [style]="{ width: '100%', overflow: 'visible',border:'none'}">
            </p-dropdown>

            <span fxLayout="row wrap" *ngIf="!rowData.isEditable"> {{rowData.Milestone}} </span>
          </td>
           
          <td [attr.colspan]=" first || last ? '2':''" style="text-align: center;" *ngFor="let dayhours of rowData.TimeSpents;let first = first;let last=last; ">

            <input *ngIf="rowData.type ==='task' && dayhours.editable" style="text-align: center;width: 80%;border: none;color:#C53E3E;" aria-label="24hr format"
              [min]="dayhours.minHrs" [(ngModel)]="dayhours.MileHrs" [ngxTimepicker]="mon" [format]="24" readonly>

            <ngx-material-timepicker #mon [minutesGap]="15" [ngxMaterialTimepickerTheme]="darkTheme">
            </ngx-material-timepicker>

            <span *ngIf="rowData.type ==='Adhoc' ||(rowData.type ==='task' && !dayhours.editable)">{{dayhours.MileHrs}}</span>
          </td>
       
          <td style="background: #FFE6EA;">
            {{getTotalHoursRow(rowData)}}
          </td>

        </tr>
      </ng-template>
      <ng-template  pTemplate="footer" *ngIf="UserMilestones.length  >  0">
        <tr id="tableFooter">
          <td></td>
          <td> </td>
          <td> </td>
          <td colspan="2" style="text-align: center;">{{getTotalHoursColumn(0)}}  </td>
          <td style="text-align: center;">{{getTotalHoursColumn(1)}}  </td>
          <td style="text-align: center;">{{getTotalHoursColumn(2)}}  </td>
          <td style="text-align: center;">{{getTotalHoursColumn(3)}}  </td>
          <td style="text-align: center;">{{getTotalHoursColumn(4)}}  </td>
          <td style="text-align: center;">{{getTotalHoursColumn(5)}}  </td>
          <td colspan="2" style="text-align: center;">{{getTotalHoursColumn(6)}}  </td>
         
          <td style="background: #FFE6EA;"> {{getTotalOfTotal()}}</td>
        </tr>
      </ng-template>
    </p-table>

    <span  *ngIf ="UserMilestones.length === 0" style="font-weight: 500;font-size: 2em;"> No Data</span>
    <i class="fa fa-plus-circle" (click)="AddNewRow()" style="color:#C53E3E;font-size: 1.5em;cursor: pointer;"
      aria-hidden="true">Add Line</i>
  </div>



  <!-- <p-table fxFlex="60" class="timespenttable" [value]="Milestones" dataKey="ID" editMode="row">
    <ng-template pTemplate="header">
      <tr>
        <th> <i style="font-size:1.5em;cursor: pointer;" class="fa fa-chevron-left" aria-hidden="true"></i></th>
        <th>Client</th>
        <th>Project</th>
        <th>Milestone / Category</th>
        <th> <i style="font-size:1.5em;cursor: pointer;" class="fa fa-chevron-right" aria-hidden="true"></i></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
      <tr [pEditableRow]="rowData">
        <td></td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-dropdown [options]="ClientLegalEntities" [(ngModel)]="rowData.Entity" [style]="{'width':'100%'}">
              </p-dropdown>
            </ng-template>
            <ng-template pTemplate="output">
              {{rowData.Entity}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-dropdown [options]="ClientLegalEntities" [(ngModel)]="rowData.Entity" [style]="{'width':'100%'}">
              </p-dropdown>
            </ng-template>
            <ng-template pTemplate="output">
              {{rowData.Entity}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-dropdown [options]="ClientLegalEntities" [(ngModel)]="rowData.Entity" [style]="{'width':'100%'}">
              </p-dropdown>
            </ng-template>
            <ng-template pTemplate="output">
              {{rowData.Entity}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td></td>
      </tr>

    </ng-template>


  </p-table>
  <p-table fxFlex="5" [value]="Milestones" dataKey="ID" editMode="row">
    <ng-template pTemplate="header">
      <tr>
        <th>Total</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
      <tr>

        <td>
          {{rowData.Entity}}
        </td>

      </tr>

    </ng-template>
  </p-table> -->
</div>
<!-- 
  <p-table [value]="cars2" dataKey="vin" editMode="row">
      <ng-template pTemplate="header">
          <tr>
              <th>Vin</th>
              <th>Year</th>
              <th>Brand</th>
              <th style="width:8em"></th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
          <tr [pEditableRow]="rowData">
              <td>
                  {{rowData.vin}}
              </td>
              <td>
                  <p-cellEditor>
                      <ng-template pTemplate="input">
                          <input pInputText type="text" [(ngModel)]="rowData.year" required>
                      </ng-template>
                      <ng-template pTemplate="output">
                          {{rowData.year}}
                      </ng-template>
                  </p-cellEditor>
              </td>
              <td>
                  <p-cellEditor>
                      <ng-template pTemplate="input">
                          <p-dropdown [options]="brands" [(ngModel)]="rowData.brand" [style]="{'width':'100%'}"></p-dropdown>
                      </ng-template>
                      <ng-template pTemplate="output">
                          {{rowData.brand}}
                      </ng-template>
                  </p-cellEditor>
              </td>
              <td>
                  <p-cellEditor>
                      <ng-template pTemplate="input">
                          <input pInputText type="text" [(ngModel)]="rowData.color">
                      </ng-template>
                      <ng-template pTemplate="output">
                          {{rowData.color}}
                      </ng-template>
                  </p-cellEditor>
              </td>
              <td style="text-align:center">
                  <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil" class="ui-button-info" (click)="onRowEditInit(rowData)"></button>
                  <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check" class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(rowData)"></button>
                  <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times" class="ui-button-danger" (click)="onRowEditCancel(rowData, ri)"></button>
              </td>
          </tr>
      </ng-template>
  </p-table> -->


<!-- <p-table [value]="Milestones">
      <ng-template pTemplate="header">
          <tr>
              <th>Client</th>
              <th>Project</th>
              <th>Milestone / Category</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-milestone>
          <tr>
              <td> </td>
              <td> </td>
              <td> </td>
              <td></td>
          </tr>
      </ng-template>
  </p-table>

  <p-table [value]="Milestones">
      <ng-template pTemplate="header">
          <tr>
              <th>Client</th>
              <th>Project</th>
              <th>Milestone / Category</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-milestone>
          <tr>
              <td> </td>
              <td> </td>
              <td> </td>
              <td></td>
          </tr>
      </ng-template>
  </p-table> -->