::ng-deep .timepicker-dial__control {
    color: #c53e3e !important;
}

::ng-deep .clock-face__inner {
    display: none !important;
}

:host ::ng-deep .p-datatable-header {
    position: sticky !important;
    top: 0px !important;
}

:host ::ng-deep .p-datatable .p-datatable-thead>tr>th {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 55px !important;
}

.ArraowView,
.nextArraowView {
    cursor: not-allowed !important;
    opacity: .65 !important;
}

:host ::ng-deep .p-datatable-scrollable-header-table .p-datatable-thead>tr>th:nth-child(1),
:host ::ng-deep .p-datatable-scrollable-header-table .p-datatable-thead>tr>th:nth-child(2),
:host ::ng-deep .p-datatable-scrollable-header-table .p-datatable-thead>tr>th:nth-child(3),
:host ::ng-deep .p-datatable-scrollable-header-table .p-datatable-thead>tr>th:nth-child(4),
:host ::ng-deep .p-datatable-scrollable-header-table .p-datatable-thead>tr>th:nth-child(10),
:host ::ng-deep .p-datatable-scrollable-body .p-datatable-tbody>tr>td:nth-child(1),
:host ::ng-deep .p-datatable-scrollable-body .p-datatable-tbody>tr>td:nth-child(2),
:host ::ng-deep .p-datatable-scrollable-body .p-datatable-tbody>tr>td:nth-child(3),
:host ::ng-deep .p-datatable-scrollable-body .p-datatable-tbody>tr>td:nth-child(4),
:host ::ng-deep .p-datatable-scrollable-body .p-datatable-tbody>tr>td:nth-child(10),
:host ::ng-deep .p-datatable-scrollable-footer-table .p-datatable-tfoot>tr>td:nth-child(1),
:host ::ng-deep .p-datatable-scrollable-footer-table .p-datatable-tfoot>tr>td:nth-child(2),
:host ::ng-deep .p-datatable-scrollable-footer-table .p-datatable-tfoot>tr>td:nth-child(3),
:host ::ng-deep .p-datatable-scrollable-footer-table .p-datatable-tfoot>tr>td:nth-child(4),
:host ::ng-deep .p-datatable-scrollable-footer-table .p-datatable-tfoot>tr>td:nth-child(10) {
    width: 120px !important;
}

:host ::ng-deep .p-datatable-scrollable-header-table .p-datatable-thead>tr>th:nth-child(5),
:host ::ng-deep .p-datatable-scrollable-header-table .p-datatable-thead>tr>th:nth-child(6),
:host ::ng-deep .p-datatable-scrollable-header-table .p-datatable-thead>tr>th:nth-child(7),
:host ::ng-deep .p-datatable-scrollable-header-table .p-datatable-thead>tr>th:nth-child(8),
:host ::ng-deep .p-datatable-scrollable-header-table .p-datatable-thead>tr>th:nth-child(9),
:host ::ng-deep .p-datatable-scrollable-header-table .p-datatable-thead>tr>th:nth-child(11),
:host ::ng-deep .p-datatable-scrollable-header-table .p-datatable-thead>tr>th:nth-child(12),
:host ::ng-deep .p-datatable-scrollable-body .p-datatable-tbody>tr>td:nth-child(5),
:host ::ng-deep .p-datatable-scrollable-body .p-datatable-tbody>tr>td:nth-child(6),
:host ::ng-deep .p-datatable-scrollable-body .p-datatable-tbody>tr>td:nth-child(7),
:host ::ng-deep .p-datatable-scrollable-body .p-datatable-tbody>tr>td:nth-child(8),
:host ::ng-deep .p-datatable-scrollable-body .p-datatable-tbody>tr>td:nth-child(9),
:host ::ng-deep .p-datatable-scrollable-body .p-datatable-tbody>tr>td:nth-child(11),
:host ::ng-deep .p-datatable-scrollable-body .p-datatable-tbody>tr>td:nth-child(12),
:host ::ng-deep .p-datatable-scrollable-footer-table .p-datatable-tfoot>tr>td:nth-child(5),
:host ::ng-deep .p-datatable-scrollable-footer-table .p-datatable-tfoot>tr>td:nth-child(6),
:host ::ng-deep .p-datatable-scrollable-footer-table .p-datatable-tfoot>tr>td:nth-child(7),
:host ::ng-deep .p-datatable-scrollable-footer-table .p-datatable-tfoot>tr>td:nth-child(8),
:host ::ng-deep .p-datatable-scrollable-footer-table .p-datatable-tfoot>tr>td:nth-child(9),
:host ::ng-deep .p-datatable-scrollable-footer-table .p-datatable-tfoot>tr>td:nth-child(11),
:host ::ng-deep .p-datatable-scrollable-footer-table .p-datatable-tfoot>tr>td:nth-child(12) {
    width: 80px !important;
}