<!-- <a routerLink="dashboard">Dashboard</a> -->
<div class="tableLoader" style="padding-top: 10vw !important;width: 100% !important;"
    [hidden]='constantsService.loader.isPSInnerLoaderHidden'>
    <div id="scInnerLoader"></div>
    <div id="scInnerLoaderText">Loading...</div>
</div>
<p-sidebar class="sidenav" [(visible)]="display" [showCloseIcon]="false" [style]="{width:'19em'}">
    <i (click)="display = false" class="pi pi-list"></i>
    <div class="logo">
    <img _ngcontent-jlv-c0="" class="ng-tns-c0-0" alt="logo"
        src="https://cactusglobal.sharepoint.com/:i:/r/sites/medcomcdn/PublishingImages/Images/CACTUSRLogo3.png?csf=1&e=jkqaBo">
    </div>
    <a *ngFor="let link of leftNavigation" [href]="link.href">{{link.title}}</a>
</p-sidebar>
<i (click)="display = true" class="pi pi-list"></i>
<a _ngcontent-jlv-c0="" class="logo" href="#/">
    <img _ngcontent-jlv-c0="" class="ng-tns-c0-0" alt="logo"
        src="https://cactusglobal.sharepoint.com/:i:/r/sites/medcomcdn/PublishingImages/Images/CACTUSRLogo3.png?csf=1&e=jkqaBo">
</a>
<div class="layout-topbar">

    <ul _ngcontent-aqt-c0="" class="topbar-menu">
        <li _ngcontent-aqt-c0="" class="ng-tns-c0-0">
            Welcome {{globalService.currentUser.title}}
        </li>
    </ul>
</div>
<div class="routerOutlet">
    <router-outlet></router-outlet>
</div>