<!-- <a routerLink="dashboard">Dashboard</a> -->
<div class="tableLoader" style="padding-top: 10vw !important;width: 100% !important;"
    [hidden]='constantsService.loader.isPSInnerLoaderHidden'>
    <div id="scInnerLoader"></div>
    <div id="scInnerLoaderText">Loading...</div>
</div>
<p-sidebar class="sidenav" [(visible)]="display" [showCloseIcon]="false" [style]="{width:'19em'}">
    <div class="logo">
        <img class="ng-tns-c0-0" alt="logo"
            src="https://cactusglobal.sharepoint.com/sites/medcomcdn/PublishingImages/Images/CACTUSRLogo3.png">
    </div>
    <a target="_blank" *ngFor="let link of leftNavigation" [href]="link.href">{{link.title}}</a>
</p-sidebar>
<div class="layout-topbar">
    <div class="float-left img-bg">
        <i (click)="display = true" class="pi pi-list sidebar-icon"></i>
        <a class="logo" href="#/dashboard">
            <img class="ng-tns-c0-0" alt="logo"
                src="https://cactusglobal.sharepoint.com/sites/medcomcdn/PublishingImages/Images/CACTUSRLogo3.png">
        </a>
    </div>
    <div class="title">
        <h6>{{ globalService.currentTitle }}</h6>
    </div>
    <div class="topbar-menu">
        <!-- <span>Welcome {{globalService.currentUser.title}}</span> -->
        <p-menu #menu [popup]="true" [model]="items"></p-menu>
        <button pButton type="button" class="btn-menu" label="{{globalService.currentUser.title}}"
            (click)="menu.toggle($event)"></button>
        <a href="mailto:sp.support@cactusglobal.com?subject=SP issue:"><i class="pi pi-envelope help-icon"></i></a>
    </div>
</div>
<div class="routerOutlet">
    <router-outlet></router-outlet>
</div>