<!-- <a routerLink="dashboard">Dashboard</a> -->
<div class="tableLoader" [hidden]='constantsService.loader.isPSInnerLoaderHidden'>
    <div id="scInnerLoader"></div>
    <div id="scInnerLoaderText">Loading...</div>
</div>
<p-sidebar class="sidenav" [(visible)]="visibleSidebar" [showCloseIcon]="false" [style]="{width:'19em'}">
    <div>
        <a [routerLink]="" (click)="goToEmpDashboard()" class="logo">
            <img class="ng-tns-c0-0" alt="logo" src="https://cactusglobal.sharepoint.com/sites/medcomcdn/PublishingImages/Images/CACTUSRLogo3.png">
        </a>
    </div>
    <a target="_blank" *ngFor="let link of leftNavigation" [href]="link.href">{{link.title}}</a>
</p-sidebar>
<div class="layout-topbar">
    <div class="float-left img-bg">
        <i (click)="visibleSidebar = true" class="pi pi-list sidebar-icon"></i>
        <a [routerLink]="" (click)="goToEmpDashboard()" class="logo">
            <img class="ng-tns-c0-0" alt="logo" src="https://cactusglobal.sharepoint.com/sites/medcomcdn/PublishingImages/Images/CACTUSRLogo3.png">
        </a>
    </div>
    <div class="title">
        <h6>{{ globalService.currentTitle }}</h6>
    </div>
    <div class="topbar-menu">
        <!-- <span>Welcome {{globalService.currentUser.title}}</span> -->
        <p-menu #menu [popup]="true" [model]="items"></p-menu>
        <button pButton type="button" class="btn-menu" label="{{globalService.currentUser.title}}" (click)="menu.toggle($event)"></button>
        <a href="mailto:sp.support@cactusglobal.com?subject=SP issue:"><i class="pi pi-envelope help-icon"></i></a>
    </div>
</div>

<p-toast [style]="{marginTop: '80px'}" styleClass="custom-toast" key="cls_toastrMessage" [hideTransitionOptions]="'0ms'" position="top-center" [modal]="true" [baseZIndex]="5000">
</p-toast>
<div class="routerOutlet">

    <router-outlet>

    </router-outlet>
</div>