.userdetails {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 0px 10px 0px 10px;
}
::ng-deep .feedbackTable {
  margin-top: 10px !important;
}
::ng-deep .downloadbutton {
  float: right;
  display: inline-block;
}
.refreshButton{
  margin-right: 14px;
}
