<p-table [value]="tasks" id="TasksPerDay">
  <ng-template pTemplate="header" let-columns>
    <tr class="tableHeader">
      <td>
          Task Name (Short Title)
      </td>
      <td>
          Start Date
      </td>
      <td>
          Due Date
      </td>
      <td [hidden]="componentName === 'prestack'">
        Milestone Deadline
      </td>
      <td>
        Per Day (Total Allocated)
      </td>
      <td>
        Status
          <span [hidden]="componentName === 'usercapacity'" class="minimise" (click)="collapseTable(true)"><i class="pi pi-window-minimize"></i></span>
      </td>
      <td [hidden]="componentName === 'prestack'">
        <span class="minimise" (click)="collapseTable(true)"><i class="pi pi-window-minimize"></i></span>
      </td>
  </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr class="tableBody">
      <td class="taskTitle UserTasksRow">
          <a *ngIf="rowData.projectCode !== 'Adhoc'; else elseblock" [href]="goToProjectDetails(rowData)">{{rowData.title}} <span *ngIf='rowData.SubMilestones'> - {{rowData.SubMilestones}} </span><span *ngIf='rowData.shortTitle'>({{rowData.shortTitle}})</span></a>
          <ng-template #elseblock>{{rowData.title}}</ng-template>
      </td>
      <td>
          <span>{{(rowData.startDate | date:'dd MMM yy h:mm a') || '--' }}</span>
      </td>
      <td>
          <span>{{rowData.dueDate | date : "dd MMM yy h:mm a" || '--'}}</span>
      </td>
      <td [hidden]="componentName === 'prestack'">
        <span>{{(rowData.milestoneDeadline!='--') ? (rowData.milestoneDeadline | date : "dd MMM yy h:mm a") : '--'}}</span>
      </td>
      <td>
          <span>{{rowData.displayTimeAllocatedPerDay}}
                  ({{rowData.displayTotalAllocatedTime}})</span>
      </td>
      <td>
          <span>{{rowData.status}}</span>
      </td>
      <td [hidden]="componentName === 'prestack'">
        <i *ngIf="rowData.projectCode !=='Adhoc' && !disableCamera" class="pi pi-camera" title="Milestone Tasks" (click)="getMilestoneTasks(rowData)" style="font-size: 3em;cursor: pointer;"></i>
      </td>
  </tr>
  </ng-template>
</p-table>
