<!-- Loadder -->
<div class="tableLoader" [hidden]='isPSInnerLoaderHidden'>
    <div id="scInnerLoader"></div>
    <div id="scInnerLoaderText">Loading...</div>
</div>


<div class="ui-g">
    <div class="ui-g-3"></div>
    <div class="ui-g-3"></div>
    <div class="ui-g-3"></div>
    <div class="ui-g-3 f-right">
        <div class="box">
            <i style="font-size: 1.8em;cursor: pointer;" (click)=" fdDataShareServie.convertToExcelFile(outi)" title="Export To Excel" class="fa fa-fw fa-file-excel-o"></i>
        </div>
    </div>
</div>
<div class="financeTable">
    <p-table #outi [columns]="outstandingInCols" [value]="outstandingInvoicesRes" [paginator]="true" [rows]="10" [(selection)]="selectedRowData" selectionMode="multiple" (onRowSelect)="onRowSelect($event)" exportFilename="Outstanding_Invoices" [(first)]="pageNumber"
        (onPage)="paginate($event)">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>S.No</th>
                <th style="width: 2.25em">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field" [hidden]="!col.visibility">
                    {{col.header}}
                    <p-sortIcon *ngIf="col.header != '' " [field]="col.field"></p-sortIcon>
                </th>
            </tr>

            <tr>
                <th></th>
                <th></th>
                <th *ngFor="let col of columns" [ngSwitch]="col.field" class="ui-fluid" [hidden]="!col.visibility">
                    <ng-container *ngIf="col.field">
                        <td></td>
                        <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'ClientLegalEntity'" [options]="outInvoiceColArray.ClientLegalEntity" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="outi.filter($event.value, col.field, 'in')"
                            (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'InvoiceStatus'" [options]="outInvoiceColArray.InvoiceStatus" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="outi.filter($event.value, col.field, 'in')"
                            (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'DisplayInvoiceWithAuxiliary'" [(ngModel)]="DisplayInvoiceWithAuxiliaryArray" [options]="outInvoiceColArray.DisplayInvoiceWithAuxiliary" defaultLabel="All"
                            [maxSelectedLabels]="1" (onChange)="outi.filter($event.value, col.field, 'in')" (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'PONumber'" [options]="outInvoiceColArray.PONumber" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="outi.filter($event.value, col.field, 'in')" (input)="optionFilter($event)"
                            (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'POName'" [options]="outInvoiceColArray.POName" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="outi.filter($event.value, col.field, 'in')" (input)="optionFilter($event)"
                            (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'InvoiceDate'" [options]="outInvoiceColArray.InvoiceDate" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="outi.filter($event.value, col.field, 'in')"
                            (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'Amount'" [options]="outInvoiceColArray.Amount" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="outi.filter($event.value, col.field, 'in')" (input)="optionFilter($event)"
                            (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'Currency'" [options]="outInvoiceColArray.Currency" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="outi.filter($event.value, col.field, 'in')" (input)="optionFilter($event)"
                            (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'POC'" [options]="outInvoiceColArray.POC" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="outi.filter($event.value, col.field, 'in')" (input)="optionFilter($event)"
                            (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'ModifiedBy'" [options]="outInvoiceColArray.ModifiedBy" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="outi.filter($event.value, col.field, 'in')"
                            (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>

                    </ng-container>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
            <tr>
                <td>
                    {{rowIndex+1}}
                </td>
                <td>
                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                </td>
                <td *ngFor="let col of columns;index as i" class="ui-resizable-column" [hidden]="!col.visibility">
                    <ng-container *ngIf="col.field != 'DisplayInvoiceWithAuxiliary' &&  col.field != '' && col.field != 'InvoiceDate'">
                        {{rowData[col.field]}}
                    </ng-container>
                    <ng-container *ngIf="col.field === 'InvoiceDate'">
                        {{rowData[col.field] | date:'MMM dd, yyyy' }}
                    </ng-container>
                    <ng-container *ngIf="col.field === 'DisplayInvoiceWithAuxiliary'">
                        <a *ngIf="rowData['FileURL']" [href]="rowData['FileURL']" target="_blank">
                            {{rowData[col.field]}}</a>
                        <p *ngIf="!rowData['FileURL']">{{rowData[col.field]}}</p>
                    </ng-container>

                    <ng-container *ngIf="col.field == ''">
                        <div>
                            <p-menu #popupMenu [popup]="true" [model]="items" styleClass="borderMenu">
                            </p-menu>
                            <i class="pi pi-ellipsis-v" style="font-size:2em;top: 100px !important;cursor: pointer;" (click)="openPopup(rowData, popupMenu);popupMenu.show($event);"></i>
                        </div>
                    </ng-container>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<!-- Table End  -->


<!-- Right Side Bar -->
<p-sidebar [(visible)]="rightSideBar" position="right" [style]="{overflow:'auto'}" styleClass="ui-sidebar-md">
    <ng-container *ngIf="rightSideBar">
        <app-inv-table-attribute [rowItemData]="selectedRowItem"></app-inv-table-attribute>
    </ng-container>
</p-sidebar>


<!-- Toast Messages -->
<p-toast position="bottom-center" key="outstandingInfoToast"></p-toast>
<p-toast position="bottom-center" key="outstandingSuccessToast"></p-toast>
<p-toast position="bottom-center" key="myKey1"></p-toast>
<!-- Toast Message End -->

<!-- Context Menu Start -->
<!-- <p-contextMenu #cm [model]="items" [hidden]="contextMenu"></p-contextMenu> -->
<!-- Context Menu End -->

<!-- Payment Resolved -->
<p-dialog header="Payment Resolved" [(visible)]="paymentResovedModal" [modal]="true" [draggable]="false" [responsive]="true" [style]="{'width': '30%', 'top':'0px'}" [maximizable]="false" (onHide)="cancelFormSub('paymentResoved')">
    <form id="myform" [formGroup]="paymentResoved_form">
        <div class="ui-g">
            <div class="ui-g-6">
                Uplaod File
            </div>
            <div class="ui-g-6">
                <input type="file" name="myfile" class="form-control" id="myfile" (change)="onFilePaymentChange($event,'Client')" #paymentResolvedFile formControlName="file" />
                <div *ngIf="formSubmit.isSubmit && isValidPaymentResovedForm.file.errors">
                    <div *ngIf="isValidPaymentResovedForm.file.errors.required" style="color:red;">Please Select file & try again.
                    </div>
                </div>
            </div>
        </div>
    </form>
    <p-footer>
        <button pButton type="button" class="fdBtn" label="Save" [disabled]="submitBtn.isClicked" (click)="onSubmit('paymentResoved')"></button>
        <button pButton type="button" class="fdBtn" label="Cancel" (click)="cancelFormSub('paymentResoved')"></button>
    </p-footer>
</p-dialog>

<!-- Dispute invoice -->
<p-dialog header="Dispute Invoice" [(visible)]="disputeInvoiceModal" [modal]="true" [draggable]="false" [responsive]="true" [style]="{'width': '30%', 'top':'0px'}" [maximizable]="false" (onHide)="cancelFormSub('disputeInvoice')">
    <form id="myform" [formGroup]="disputeInvoice_form">
        <div class="ui-g">
            <div class="ui-g-6">
                Reason
            </div>
            <div class="ui-g-6">
                <p-dropdown resetFilterOnHide="true" [options]="reasons" placeholder="Select One" optionLabel="label" [showClear]="true" formControlName="DisputeReason"></p-dropdown>
                <div *ngIf="formSubmit.isSubmit && isValidDisputeInvoiceForm.DisputeReason.errors">
                    <div *ngIf="isValidDisputeInvoiceForm.DisputeReason.errors.required" style="color:red;">Please Select Reason.
                    </div>
                </div>
            </div>
            <div class="ui-g-6">
                Comments
            </div>
            <div class="ui-g-6">
                <textarea [rows]="4" [cols]="30" pInputTextarea autoResize="autoResize" formControlName="DisputeComments"></textarea>
                <div *ngIf="formSubmit.isSubmit && isValidDisputeInvoiceForm.DisputeComments.errors">
                    <div *ngIf="isValidDisputeInvoiceForm.DisputeComments.errors.required" style="color:red;">Please provide Comment.
                    </div>
                </div>
            </div>
        </div>
    </form>
    <p-footer>
        <button pButton type="button" class="fdBtn" label="Save" [disabled]="submitBtn.isClicked" (click)="onSubmit('disputeInvoice')"></button>
        <button pButton type="button" class="fdBtn" label="Cancel" (click)="cancelFormSub('disputeInvoice')"></button>
    </p-footer>

</p-dialog>

<!-- Replace Invoice -->
<p-dialog header="Replace Invoice" [(visible)]="replaceInvoiceModal" [modal]="true" [draggable]="false" [responsive]="true" [style]="{'width': '30%', 'top':'0px'}" [maximizable]="false" (onHide)="cancelFormSub('replaceInvoice')">
    <form id="myform" [formGroup]="replaceInvoice_form">
        <div class="ui-g">
            <div class="ui-g-6">
                Uplaod File
            </div>
            <div class="ui-g-6">
                <input type="file" name="myfile" class="form-control" id="myfile" (change)="onFileChange($event)" #replaceInvoiceFile formControlName="file" />
                <div *ngIf="formSubmit.isSubmit && isValidReplaceInvoiceForm.file.errors">
                    <div *ngIf="isValidReplaceInvoiceForm.file.errors.required" style="color:red;">Please Select file & try again.
                    </div>
                </div>
            </div>
        </div>
    </form>
    <p-footer>
        <button pButton type="button" class="fdBtn" label="Save" [disabled]="submitBtn.isClicked" (click)="onSubmit('replaceInvoice')"></button>
        <button pButton type="button" class="fdBtn" label="Cancel" (click)="cancelFormSub('replaceInvoice')"></button>
    </p-footer>

</p-dialog>

<!-- Generate Invoice -->
<p-dialog header="Confirm Send to AP" [(visible)]="sentToAPModal" [modal]="true" [draggable]="false" [responsive]="true" [style]="{'width': '40%'}" [maximizable]="false" (onHide)="cancelFormSub('sentToAPModal')" [responsive]="true">
    <form>
        <div class="ui-g">
            <div class="ui-g-12">
                Are you sure you want to confirm the Send To AP ?
            </div>
        </div>
    </form>
    <p-footer>
        <button pButton type="button" class="fdBtn" label="Save" [disabled]="submitBtn.isClicked" (click)="onSubmit('sentToAP')"></button>
        <button pButton type="button" class="fdBtn" label="Cancel" (click)="cancelFormSub('sentToAP')"></button>
    </p-footer>

</p-dialog>
<!-- Generate Invoice End-->

<!-- Mark as Credit or Debit Note Modal -->
<p-dialog header="Mark as Credit or Debit Note" [(visible)]="creditOrDebitModal" [modal]="true" [draggable]="false" [responsive]="true" [style]="{'width': '40%', 'top':'0px'}" [maximizable]="false" (onHide)="cancelFormSub('creditDebit')">

    <form id="myform" [formGroup]="creditOrDebitNote_form">
        <div class="ui-g">
            <div class="ui-g-6">Number</div>
            <div class="ui-g-6">
                <input id="disabled-input" type="text" pInputText formControlName="Number" />
                <div *ngIf="formSubmit.isSubmit && isValidCreditDebitNoteForm.Number.errors">
                    <div *ngIf="isValidCreditDebitNoteForm.Number.errors.required" style="color:red;">Please provide Number.
                    </div>
                </div>
            </div>

            <div class="ui-g-6">Uplaod File</div>
            <div class="ui-g-6">
                <input type="file" name="myfile" class="form-control" id="myfile" (change)="onFileChange($event)" #fileInput formControlName="file" />
                <div *ngIf="formSubmit.isSubmit && isValidCreditDebitNoteForm.file.errors">
                    <div *ngIf="isValidCreditDebitNoteForm.file.errors.required" style="color:red;">Please Select file & try again.
                    </div>
                </div>
            </div>

            <div class="ui-g-6">Amount</div>
            <div class="ui-g-6">
                <input id="disabled-input" type="text" appNumberOnly pInputText formControlName="Amount" maxlength="15" />
                <div *ngIf="formSubmit.isSubmit && isValidCreditDebitNoteForm.Amount.errors">
                    <div *ngIf="isValidCreditDebitNoteForm.Amount.errors.required" style="color:red;">Please provide Amount.
                    </div>
                </div>
            </div>

            <div class="ui-g-6">Type</div>
            <div class="ui-g-6">
                <div class="ui-g-6">
                    <p-dropdown resetFilterOnHide="true" [options]="CreditOrDebitNoteType" placeholder="Select One" optionLabel="label" [showClear]="true" (onChange)="onCorDChange($event)" formControlName="Type">
                    </p-dropdown>
                    <div *ngIf="formSubmit.isSubmit && isValidCreditDebitNoteForm.Type.errors">
                        <div *ngIf="isValidCreditDebitNoteForm.Type.errors.required" style="color:red;">Please Provide Type.
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui-g-6">Comments</div>
            <div class="ui-g-6">
                <textarea [rows]="4" [cols]="30" pInputTextarea autoResize="autoResize" formControlName="Comments"></textarea>
                <div *ngIf="formSubmit.isSubmit && isValidCreditDebitNoteForm.Comments.errors">
                    <div *ngIf="isValidCreditDebitNoteForm.Comments.errors.required" style="color:red;">Please provide Comments.
                    </div>
                </div>
            </div>

        </div>
    </form>

    <p-footer>
        <button pButton type="button" class="fdBtn" label="Confirm" [disabled]="submitBtn.isClicked" (click)="onSubmit('creditDebit')"></button>
        <button pButton type="button" class="fdBtn" label="Cancel" (click)="cancelFormSub('creditDebit')"></button>
    </p-footer>
</p-dialog>


<!-- *****************************************************************************************
                                        AuxInvoiceName Popup
  ****************************************************************************************** -->
<p-dialog *ngIf="selectedRowItem" [header]="selectedRowItem.InvoiceNumber" [closable]="false" [modal]="true" [style]="{width: '450px', minWidth: '300px'}" [(visible)]="editAuxiliary">
    <div class="p-col" style="padding: 30px 0px 20px 15px;">
        <span class="ui-float-label" *ngIf="editAuxiliary">
        <input id="float-input" type="text" size="30" pInputText [(ngModel)]="SelectedAuxInvoiceName"> 
        <label for="float-input">Auxiliary Name</label>
    </span>
    </div>
    <p-footer>
        <button type="button" pButton icon="pi pi-check" style="background-color: #af0b14;border-color:#af0b14;cursor:pointer;" (click)="onSubmit('AuxiliaryUpdate');" label="Save"></button>
        <button type="button" pButton icon="pi pi-times" (click)="editAuxiliary=false" label="Cancel" class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>
<app-editor #editorRef></app-editor>
<app-timeline-history #timelineRef></app-timeline-history>