<div class="p-d-flex p-flex-column" style="padding: 2vw;" *ngIf="modalloaderenable">
    <div id="modalInnerLoader"></div>
    <div id="modalInnerLoaderText">Loading...</div>
</div>


<div class="pdialogButton p-col-12 p-grid p-jc-end">
    <button type="button" (click)="saveBudget()" label="Update" id="saveBudget" pButton icon="pi pi-save" [ngStyle]="{'cursor':'pointer' }" class="p-mx-1 p-button-raised p-button-danger"></button>
    <button type="button" pButton icon="pi pi-times" id="cancelBudget" (click)="cancel();" label="Cancel" class="p-button-raised p-button-danger"></button>
</div>

<div *ngIf="!modalloaderenable" #scrollDown>

    <div class="p-grid p-justify-around p-align-center" style="padding: 10px 0px 0px 0px;">

        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-4 col-md-3">
                            <div class="icon-big text-center icon-warning"><i class="fa fa-university" aria-hidden="true"></i></div>
                        </div>
                        <div class="col-8 col-md-9" style="padding: 0px 10px 0px 0px;">
                            <div class="numbers">
                                <p class="card-category">Total</p>
                                <p class="card-title">{{currency}} {{pmObject.addSOW.Budget.TotalBalance | number}} </p>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="stats"><i class="fa fa-calendar-o"></i> {{pmObject.addSOW.Budget.LastUpdated | date:'MMM dd, yyyy'}} </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-4 col-md-3">
                            <div class="icon-big text-center icon-warning">
                                <div class="icon-big text-center icon-warning"><i class="fa fa-database"></i></div>
                            </div>
                        </div>
                        <div class="col-8 col-md-9" style="padding: 0px 10px 0px 0px;">
                            <div class="numbers">
                                <p class="card-category">Net</p>
                                <p class="card-title">{{currency}} {{pmObject.addSOW.Budget.NetBalance | number }} </p>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="stats"><i class="fa fa-calendar-o"></i> {{pmObject.addSOW.Budget.LastUpdated | date:'MMM dd, yyyy'}}</div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-4 col-md-3">
                            <div class="icon-big text-center icon-warning"><i class="fa fa-credit-card" aria-hidden="true"></i></div>
                        </div>
                        <div class="col-8 col-md-9" style="padding: 0px 10px 0px 0px;">
                            <div class="numbers">
                                <p class="card-category">OOP</p>
                                <p class="card-title">{{currency}} {{pmObject.addSOW.Budget.OOPBalance | number}} </p>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="stats"><i class="fa fa-calendar-o"></i> {{pmObject.addSOW.Budget.LastUpdated | date:'MMM dd, yyyy'}} </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-4 col-md-3">
                            <div class="icon-big text-center icon-warning"><i class="fa fa-calculator" aria-hidden="true"></i></div>
                        </div>
                        <div class="col-8 col-md-9" style="padding: 0px 10px 0px 0px;">
                            <div class="numbers">
                                <p class="card-category">Tax</p>
                                <p class="card-title">{{currency}} {{pmObject.addSOW.Budget.TaxBalance | number}} </p>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="stats"><i class="fa fa-calendar-o"></i> {{pmObject.addSOW.Budget.LastUpdated | date:'MMM dd, yyyy'}} </div>
                </div>
            </div>
        </div>
    </div>

    <p-card class="p-col-12">
        <form [formGroup]='changeBudgetForm' class="p-col-12">

            <div class="p-grid">
                <div class="p-grid p-col">
                    <div class="p-col-4 p-field-checkbox  p-mb-0" *ngFor="let type of budgetType">
                        <p-radioButton name="selectedValue" [value]="type" formControlName="selectedValue" (onClick)="UpdateValidator($event)" [inputId]="type.value"></p-radioButton>
                        <label class="p-m-2" [for]="type.value">{{type.label}}</label>
                    </div>
                </div>
                <div class="p-grid p-col">
                    <div class="p-col-4"><span class="compulsory">*</span>Total Amount</div>
                    <div class="p-col-8">
                        <input type="number" size="30" style="width: 100%;" formControlName="total" placeholder="Total Amount" readonly pInputText>
                        <div class="error" *ngIf="isBudgetFormSubmit && changeBudgetForm.controls.total.errors">
                            <div *ngIf="changeBudgetForm.controls.total.errors.required">Total Amount is required</div>
                            <div *ngIf="changeBudgetForm.controls.total.errors.nonZeroNumber">
                                Total cannot be less than equal to zero</div>
                            <div *ngIf="changeBudgetForm.controls.total.errors.min">
                                Amount should be less than balance amount.</div>
                            <div *ngIf="changeBudgetForm.controls.total.errors.zeroNumber">
                                Total should be zero.</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- first Row html -->
            <div class="p-grid">
                <div class="p-grid p-col">
                    <div class="p-col-4"><span class="compulsory">*</span>Net Amount</div>
                    <div class="p-col-8">
                        <input type="number" size="30" style="width: 100%;" formControlName="net" placeholder="Net Amount" (change)="setTotal()" pInputText>
                        <div class="error" *ngIf="isBudgetFormSubmit && changeBudgetForm.controls.net.errors">
                            <div *ngIf="changeBudgetForm.controls.net.errors.required">Net amount is required</div>
                            <div *ngIf="changeBudgetForm.controls.net.errors.positiveNumber">
                                Net amount cannot be less than zero</div>
                            <div *ngIf="changeBudgetForm.controls.net.errors.negativeNumber">
                                Net amount cannot be greater than zero</div>
                            <div *ngIf="changeBudgetForm.controls.net.errors.min">
                                Amount should be less than balance amount.</div>
                        </div>
                    </div>
                </div>
                <div class="p-grid p-col">
                    <div class="p-col-4"><span class="compulsory">*</span>OOP Amount</div>
                    <div class="p-col-8">
                        <input type="number" size="30" style="width: 100%;" formControlName="oop" placeholder="OOP Amount" (change)="setTotal()" pInputText>
                        <div class="error" *ngIf="isBudgetFormSubmit && changeBudgetForm.controls.oop.errors">
                            <div *ngIf="changeBudgetForm.controls.oop.errors.required">OOP is required</div>
                            <div *ngIf="changeBudgetForm.controls.oop.errors.positiveNumber">
                                OOP cannot be less than zero.</div>
                            <div *ngIf="changeBudgetForm.controls.oop.errors.negativeNumber">
                                OOP cannot be greater than zero.</div>
                            <div *ngIf="changeBudgetForm.controls.oop.errors.min">
                                Amount should be less than balance amount.</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- second Row html  -->
            <div class="p-grid">

                <div class="p-grid p-col">
                    <div class="p-col-4"><span class="compulsory">*</span>Tax Amount</div>
                    <div class="p-col-8">
                        <input type="number" size="30" style="width: 100%;" formControlName="tax" placeholder="Tax Amount" (change)="setTotal()" pInputText>
                        <div class="error" *ngIf="isBudgetFormSubmit && changeBudgetForm.controls.tax.errors">
                            <div *ngIf="changeBudgetForm.controls.tax.errors.required">Tax is required</div>
                            <div *ngIf="changeBudgetForm.controls.tax.errors.positiveNumber">
                                Tax cannot be less than zero.</div>
                            <div *ngIf="changeBudgetForm.controls.tax.errors.negativeNumber">
                                Tax cannot be greater than zero.</div>
                            <div *ngIf="changeBudgetForm.controls.tax.errors.min">
                                Amount should be less than balance amount.</div>
                        </div>
                    </div>
                </div>
                <div class="p-grid p-col">
                    <div class="p-col-4"><span class="compulsory">*</span>SOW Document</div>
                    <div class="p-col-8">

                        <div class="file-upload" #fileuploderView>
                            <div class="file-select">
                                <div class="file-select-button" id="fileName">Choose File</div>
                                <div class="file-select-name" id="noFile">No file chosen...</div>
                                <input type="file" name="chooseFile" id="chooseFile" (change)="onFileChange($event)">
                            </div>
                        </div>

                        <div class="error" *ngIf="isBudgetFormSubmit && changeBudgetForm.controls.sowDocument.errors">
                            <div *ngIf="changeBudgetForm.controls.sowDocument.errors.required">Sow document is required</div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </p-card>
</div>