<div class="p-grid" *ngFor="let file of filedisplayArray">
    <p-card class="p-col">
        <div class="spanlabel">{{file.fileName}}</div>
        <div class="p-col-4 spanlabel textcolor">{{file.size}}</div>
        <div class="p-col-4 spanlabel textcolor" style="text-align: center;">{{file.percentage}} %</div>
        <div class="p-col-4 iconcolor" [style.color]="file.percentage === 100 ? '#3e8a05' : '#7d7d7d7c'"><i [ngClass]="file.percentage === 100 ? 'pi pi-check-circle' : 'pi pi-spin pi-spinner'"></i></div>

        <div class="p-grid">
            <p-progressBar class="p-col" [showValue]='false' [value]="file.percentage"></p-progressBar>
        </div>
    </p-card>
</div>