<div>
    <div class="userRole">
        <div class="ui-g">
            <div class="ui-g-2">
                <span class="mr-10">Groups:</span>
            </div>
            <div class="ui-g-4">
                <p-dropdown [options]="groupsArray" filter="true" resetFilterOnHide="true" placeholder='Select Role'
                    [(ngModel)]="selectedGroup" (onChange)="onGroupsChange()">
                </p-dropdown>
            </div>
            <div class="ui-g-1">
                <button pButton class="adminBtn" label="Remove" type="button" (onClick)="save()"></button>
            </div>
        </div>
    </div>
    <div class="userRole">
        <div class="ui-g">
            <div class="ui-g-2">
                <span>Users:</span>
            </div>
        </div>
        <div class=" ui-g">
            <div class="ui-g-3" *ngFor="let user of usersArray">
                <p-card>
                    <p-checkbox name="{{user.Title}}" value="{{user.LoginName}}" label="{{user.Title}}"
                        [(ngModel)]="selectedUsers" inputId="r1">
                    </p-checkbox>
                </p-card>
            </div>
        </div>
    </div>
</div>