<div *ngIf="GanttChartView" class="p-col p-flex-column">
    <div class="p-col p-grid p-p-0  p-jc-start">
        <div class="p-grid p-m-1 p-pr-2 p-shadow-5 ">
            <div class="p-grid p-pl-3 p-my-auto">
                <span class="p-p-2">Budget Hrs</span>
                <div class="p-p-2 p-text-center graybox" id="projectBudgetHrs">{{oProjectDetails.budgetHours}}</div>
            </div>
            <div class="p-grid p-pl-3 p-my-auto">
                <span class="p-p-2">Allocated Hrs</span>
                <div class="p-p-2 p-text-center graybox" id="allocatedHrs">{{oProjectDetails.allocatedHours}}</div>
            </div>
            <div class="p-grid p-pl-3 p-my-auto">
                <span class="p-p-2">Spent Hrs</span>
                <div class="p-p-2 p-text-center graybox" id="spentHrs">{{oProjectDetails.hoursSpent}}</div>
            </div>
            <div class="p-grid p-pl-3 p-my-auto">
                <span class="p-p-2">Available Hrs</span>
                <div class="p-p-2 p-text-center graybox" id="availableBudgetHrs">{{oProjectDetails.availableHours}}</div>
            </div>
        </div>
        <div class="p-grid p-m-1">
            <button *ngIf="(oProjectDetails.status !== 'In Discussion' && oProjectDetails.status !== 'Closed' &&oProjectDetails.status !== 'Cancelled' && oProjectDetails.status !== 'Awaiting Cancel Approval' && oProjectDetails.status !== 'Pending Closure' && oProjectDetails.status !== 'Audit In Progress' && oProjectDetails.projectType !== 'FTE-Writing') && !projectDetails"
                pButton [ngClass]="visualgraph ? 'p-ml-3':' p-mx-3'" (click)="showRestructure()" pRipple icon="pi pi-pencil" type="button" label="Restructure" class="p-button-outlined p-button-danger"></button>
            <button *ngIf="!visualgraph" pButton pRipple icon="pi pi-chart-line" type="button" label="Gantt Chart" class="p-button-outlined p-button-danger p-mr-3 chartButton" (click)="showVisualRepresentation()"></button>
        </div>
        <div class="p-grid p-m-1" *ngIf="visualgraph">
            <button pButton pRipple icon="pi pi-table" type="button" label="Table" class="p-button-outlined p-button-danger p-mr-3 chartButton" (click)="showVisualRepresentation()"></button>
            <button pButton pRipple type="button" icon="fa fa-search-plus" class="p-button-outlined p-button-danger p-mr-3 zoomIn" title="Zoom In" (click)="zoomIn()"></button>
            <button pButton pRipple type="button" icon="fa fa-search-minus" class="p-button-outlined p-button-danger p-mr-3 zoomOut" title="Zoom Out" (click)="zoomOut()"></button>
            <button pButton pRipple type="button" icon="pi pi-file-excel" class="p-button-outlined p-button-danger exportExcel p-mr-3" title="Export To Excel" (click)="ganttExportToExcel()"></button>
            <p-dropdown #mySelect [style]="{'width':'200px','padding': '3px'}" [options]="scales" scrollHeight="300px" [(ngModel)]="selectedScale" (onChange)="setScale(mySelect.value)" optionLabel="label"></p-dropdown>

        </div>
    </div>
    <div class="p-col p-mt-3 p-grid p-jc-between">
        <div class="p-grid">
            <div *ngFor="let TaskType of colors">
                <div class="p-col p-grid" *ngIf="TaskType.visibility">
                    <div class="p-ml-1" [style]="{'background-color': TaskType.value, 'width': '2rem','height': '1.2rem'}"></div>
                    <label class="p-mx-2" [for]="TaskType.key">{{TaskType.key}}</label>
                </div>
            </div>
        </div>
        <div class="p-grid">

            <div>
                <button *ngIf="visualgraph" pButton pRipple type="button" icon="pi pi-undo" class="p-button-outlined p-button-danger exportExcel p-mr-1" title="Refresh Gantt" (click)="loadComponentRefresh()"></button>
                <button *ngIf="!projectDetails && !this.confirmMilestoneLoader && changeInRestructure" pButton pRipple type="button" icon="fa fa-trash" label="Discard All" class="p-button-outlined p-button-danger p-mr-1" (click)="CancelChanges(projectDetails,'discardAll')"
                    [disabled]="disableSave"></button>
            </div>


            <div *ngIf="oProjectDetails.status !== 'On Hold' && oProjectDetails.status !== 'In Discussion' && oProjectDetails.status !== 'Closed' &&oProjectDetails.status !== 'Cancelled' && oProjectDetails.status !== 'Awaiting Cancel Approval' && oProjectDetails.status !== 'Pending Closure' && oProjectDetails.status !== 'Audit In Progress' && oProjectDetails.projectType !== 'FTE-Writing'">
                <button *ngIf="!projectDetails && !this.confirmMilestoneLoader" [disabled]="disableSave" pButton pRipple type="button" icon="pi pi-save" label="Save" class="p-button-outlined p-button-danger" (click)="saveTasks()"></button>
            </div>
        </div>
    </div>

    <div class="p-col p-grid p-px-0">

        <div class="p-d-flex p-flex-column" style="padding: 10vw;width: 100%;" *ngIf="loaderenable">
            <div id="scInnerLoader"></div>
            <div id="scInnerLoaderText">Loading...</div>
        </div>

        <div class="taskAllocationTimeline p-col p-p-0" *ngIf="!loaderenable" [hidden]="!tableView" hideshowMenu>
            <p-treeTable [value]="milestoneData" [autoLayout]="true" styleClass="p-datatable-cactus p-datatable-gridlines">

                <ng-template pTemplate="header">
                    <tr>
                        <th> </th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Budget Hrs</th>
                        <th>Spent Hrs</th>
                        <th>TAT</th>
                        <th>Assign To</th>
                        <th>Type</th>
                        <th>Disable Cascade</th>
                        <th class="lastColumnWidth"> </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
                    <tr *ngIf="(rowData.status !== 'Deleted')" class="milestoneTable" [style.font-weight]="rowData.type === 'milestone' || rowData.type === 'submilestone' || rowData.title ==='Client Review' || (rowData.IsCentrallyAllocated === 'Yes' && rowData.title.indexOf('Slot') > -1) ? '700':''">

                        <td [style.text-align]="'left'" [style.padding-left.px]="rowData.title ==='Client Review' ? '20':''" [style.backgroundColor]="rowData.slotColor">
                            <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                            <span *ngIf="rowData.type !=='task' || (rowData.IsCentrallyAllocated === 'Yes' && rowData.title.indexOf('Slot') > -1)">
                                {{rowData.text}}</span>
                            <span style="color:#dc2038;cursor: pointer;" *ngIf="(rowData.type ==='task' && rowData.IsCentrallyAllocated !== 'Yes') || (rowData.IsCentrallyAllocated === 'Yes' && rowData.title.indexOf('Slot') < 0)" (click)="viewTaskDetails(rowData)"> {{rowData.text}}</span>

                            <div id="nextMilestone" [title]=" rowData.type==='milestone' ? 'Set as Current Milestone':'Set as Current Sub-Milestone'" (click)="setForConfirmMilestone(rowData,rowNode)" *ngIf="(rowData.isNext === true && !rowData.subMilestonePresent && !changeInRestructure) || (rowData.type==='submilestone' && rowData.isCurrent && !changeInRestructure) || (rowData.type==='submilestone' && rowData.isNext &&   !changeInRestructure)  "
                                style="display: inline;" [hidden]=" (rowData.type==='milestone' && (oProjectDetails.status ==='In Discussion' || oProjectDetails.projectType === 'FTE-Writing' || rowData.status === 'Completed' || rowData.id === -1)) || (rowData.type==='submilestone' &&  rowData.status !== 'Not Confirmed') || projectDetails ">
                                <i class="pi pi-check p-ml-2" style="font-size:1.25em;vertical-align: middle;"></i>
                            </div>
                        </td>


                        <!-- Start Date -->
                        <td>

                            <span [title]="rowData.pUserStart |  date:' d MMM, y, h:mm a'" *ngIf="(!rowData.editMode &&  rowData.type === 'task' &&  rowData.tat === true) || rowData.type === 'milestone' || rowData.type === 'submilestone'">{{rowData.start_date |  date:' d MMM, y' }}</span>
                            <span [title]="rowData.pUserStart |  date:' d MMM, y, h:mm a'" *ngIf="(!rowData.editMode && rowData.type === 'task' &&  rowData.tat !== true) || (rowData.type === 'task' && rowData.editMode && rowData.status === 'In Progress') || (rowData.type === 'task' && rowData.editMode && rowData.itemType ==='Client Review')">{{rowData.start_date |  date:' d MMM, y, h:mm a' }}</span>

                            <span *ngIf="rowData.editMode && rowData.type === 'task'  && rowData.status !== 'In Progress' && rowData.itemType !== 'Client Review' && (rowData.status === 'Not Started' || rowData.status === 'Not Confirmed' || rowData.status === 'Not Saved')">
                                <p-calendar id="calenderIcon" [(ngModel)]="rowData.pUserStartDatePart"
                                    [disabledDays]="[0,6]" [readonlyInput]="true" dateFormat="dd M , yy"
                                    yearRange="{{yearsRange}}" hideOnDateTimeSelect="true" [stepMinute]="15"
                                    [showIcon]="true" [showOnFocus]="false" [monthNavigator]="true"
                                    [yearNavigator]="true" (onClose)="DateChangePart(rowData,'start')" appendTo="body"
                                    [inputStyle]="{'width': '78%', 'min-width': '78%','padding':'0px','border':'none'}">
                                </p-calendar>
                                <span class="p-col p-grid p-input-icon-right">
                                    <i class="pi pi-clock" style="padding: 4px 8px;color: #c53e3e;"></i>
                                    <input pInputText [disabled]="rowData.tat && rowData.itemType !=='Client Review'" readonly [ngxTimepicker]="picker"
                                    [(ngModel)]="rowData.pUserStartTimePart" class="timePicker p-col-12 p-mt-2">
                                <ngx-material-timepicker [preventOverlayClick]="true"
                                    (closed)="DateChangePart(rowData,'start')" #picker
                                    class="timepickerPosition" [theme]="darkTheme" [minutesGap]="15">
                                </ngx-material-timepicker>
                                </span>

                            </span>

                        </td>
                        <!-- End Date -->
                        <td>
                            <span [title]="rowData.pUserEnd |  date:' d MMM, y, h:mm a'" *ngIf="(!rowData.editMode &&  rowData.type === 'task' &&  rowData.tat === true) || rowData.type === 'milestone' || rowData.type === 'submilestone'">{{rowData.end_date |  date:' d MMM, y' }}</span>
                            <span [title]="rowData.pUserEnd |  date:' d MMM, y, h:mm a'" *ngIf="(!rowData.editMode &&  rowData.type === 'task' &&  rowData.tat !== true) || (rowData.type === 'task' && rowData.editMode && rowData.itemType ==='Send to client')">{{rowData.end_date |  date:' d MMM, y, h:mm a' }}</span>


                            <span *ngIf="rowData.editMode && rowData.type === 'task' && rowData.itemType !=='Send to client' && (rowData.status === 'Not Started' || rowData.status === 'Not Confirmed' || rowData.status === 'In Progress' || rowData.status === 'Not Saved')">

                                <p-calendar id="calenderIcon" [(ngModel)]="rowData.pUserEndDatePart"
                                    [disabledDays]="[0,6]" [readonlyInput]="true" dateFormat="dd M , yy"
                                    yearRange="{{yearsRange}}" hideOnDateTimeSelect="true" [stepMinute]="15"
                                    [showIcon]="true" [showOnFocus]="false" [monthNavigator]="true"
                                    [yearNavigator]="true" (onClose)="DateChangePart(rowData,'end')" appendTo="body"
                                    [inputStyle]="{'width': '78%', 'min-width': '78%','padding':'0px','border':'none'}">
                                </p-calendar>

                                <span class="p-col p-grid p-input-icon-right">
                                    <i class="pi pi-clock"  style="padding: 4px 8px;color: #c53e3e;"></i>
                                    <input #inputDate pInputText [disabled]="rowData.tat && rowData.itemType !=='Client Review'" readonly [ngxTimepicker]="picker"
                                    [min]="rowData.pUserStartDatePart === rowData.pUserEndDatePart ? rowData.pUserStartTimePart :'12:00 am'"
                                    [(ngModel)]="rowData.pUserEndTimePart" class="timePicker p-col-12 p-mt-2">
                               
                                <ngx-material-timepicker [preventOverlayClick]="true"
                                    (closed)="DateChangePart(rowData,'end')" #picker
                                    class="timepickerPosition" [theme]="darkTheme" [minutesGap]="15">
                                </ngx-material-timepicker>
                                </span>



                            </span>
                        </td>

                        <!-- Budget Hrs -->
                        <td style="text-align: center;" *ngIf="projectDetails">
                            <span>{{rowData.budgetHours}}</span>
                        </td>
                        <td *ngIf="!projectDetails">
                            <div class="p-d-flex p-ai-center">
                                <div *ngIf="(rowData.type === 'milestone' && rowData.status !== 'Not Saved' && rowData.status !== 'Not Confirmed' && !rowData.isCurrent) || (rowData.type ==='task' && !rowData.editMode && rowData.itemType !== 'Client Review' && rowData.itemType !== 'Send to client')"
                                    style="width: 100%; margin-left: 7px;">{{rowData.budgetHours}}</div>

                                <input type="number" pInputText class="budgetHr" style="width: 100%;" required="required" oninput="validity.valid||(value='0');" min="0" max="{{rowData.ExpectedBudgetHrs}}" value="0" step="0.25" *ngIf="(rowData.type !=='milestone' && rowData.type !=='submilestone' && rowData.editMode
                              && (rowData.itemType !== 'Client Review' &&  rowData.itemType !== 'Send to client')) ||
                              ((rowData.status ==='In Progress' || rowData.status ==='Not Started' || rowData.status ==='Not Confirmed' || rowData.status ==='Not Saved') && rowData.type === 'milestone')" required="required" [id]="rowData.id" (change)="budgetHrsChanged(rowData)"
                                    [(ngModel)]="rowData.budgetHours">
                                <div class='overlayIcon p-ml-1' (click)="this.showOverlayPanel($event, rowData, dailyAllocateOP)" style="float: right;cursor: pointer;" title="Click to see allocation split" *ngIf="rowData.showAllocationSplit">
                                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                                    <app-allocation-overlay #dailyAllocateOP></app-allocation-overlay>

                                </div>
                            </div>
                        </td>
                        <!-- spent Hrs -->
                        <td style="text-align: center;">{{rowData.spentTime}}</td>
                        <!-- TaT -->
                        <td style="text-align: center">
                            <span *ngIf="rowData.type ==='milestone' || rowData.type ==='submilestone'">{{rowData.tatVal}}</span>
                            <span *ngIf="!rowData.editMode && rowData.type ==='task' && rowData.itemType !=='Client Review' && rowData.itemType !=='Send to client' ">{{rowData.tat === true ? 'Yes' :'No'}}</span>


                            <p-inputSwitch *ngIf="rowData.editMode && rowData.type === 'task'
                                && rowData.itemType !=='Client Review' && rowData.itemType !=='Send to client' && (rowData.IsCentrallyAllocated !== 'Yes' || rowData.slotType === 'Both' || (rowData.IsCentrallyAllocated === 'Yes' && rowData.title.indexOf('Slot') < 0))"
                                [disabled]=" rowData.title ==='Client Review'" (onChange)="ChangeEndDate($event, rowData)" [(ngModel)]="rowData.title ==='Client Review' ? 'Yes' : rowData.tat"></p-inputSwitch>
                        </td>

                        <!-- Assign To -->
                        <td>
                            <span *ngIf="!rowData.editMode && (rowData.IsCentrallyAllocated !== 'Yes' || (rowData.IsCentrallyAllocated === 'Yes' && rowData.title.indexOf('Slot') < 0))">
                                {{rowData.AssignedTo.Title}}</span>
                            <p-dropdown [style]="{'width':'100%'}" appendTo="body" *ngIf="rowData.editMode && rowData.type !=='milestone' && rowData.type !=='submilestone' && (rowData.IsCentrallyAllocated !== 'Yes' || rowData.slotType === 'Both' || (rowData.IsCentrallyAllocated === 'Yes' && rowData.title.indexOf('Slot') < 0))"
                                #assignedTo class="txtTask" [options]="rowData.assignedUsers" [disabled]="rowData.status=== 'In Progress'" [panelStyle]="{minWidth:'15em' }" [(ngModel)]="rowData.AssignedTo" placeholder="Select Resource" [showClear]="true"
                                [group]="true" filter="true" (onChange)="assignedToUserChanged(rowData)">
                                <ng-template let-group pTemplate="group">
                                    <span style="margin-left:.25em">{{group.label}}</span>
                                </ng-template>
                                <ng-template let-item pTemplate="item">
                                    <span style="margin-left:.25em">{{item.label}}</span>
                                </ng-template>
                            </p-dropdown>
                        </td>
                        <!--Daily Allocation Type-->
                        <td [style.backgroundColor]="rowData?.allocationColor">
                            <div fxLayout="column" fxLayoutAlign="center center" *ngIf="rowData?.allocationTypeLoader">
                                <div id="allocationTypeLoader"></div>
                            </div>
                        </td>
                        <td [ngStyle]="{'text-align': 'rowData.editMode' ? 'center':'left'}">
                            <span *ngIf="rowData.type==='task' && !rowData.editMode">{{rowData.DisableCascade === true  ? 'Yes':'No'}}</span>

                            <p-inputSwitch *ngIf="rowData.editMode && rowData.type==='task' && rowData.itemType !== 'Client Review'" [(ngModel)]="rowData.DisableCascade"></p-inputSwitch>
                        </td>

                        <!-- Menu option -->
                        <td class="lastColumnWidth" [style.backgroundColor]="rowData.color">

                            <!-- <div  *ngIf="!rowData.editMode && rowData.type === 'milestone' && rowData.status !== 'Completed' && rowData.status !== 'Auto Closed' && !changeInRestructure"
                                      style="text-align: center;">
                                <p-menu #popupMenu [popup]="true" [style]="{'text-align': 'left'}" [model]="taskMenu">
                                </p-menu>

                                <i class="pi pi-ellipsis-v" style="font-size:2em;cursor: pointer;" (click)="openPopup(rowData, rowNode);popupMenu.show($event);"></i>
                            </div> -->

                            <div *ngIf="(rowData.type === 'task' && rowData.milestoneStatus !== 'Completed' && rowData.status !== 'Completed' && rowData.status !=='Abandon' && rowData.status !=='Auto Closed' && rowData.status !=='Hold' && rowData.status !== 'Not Saved') || (rowData.type === 'milestone' && rowData.status !== 'Completed' && rowData.status !== 'Auto Closed') && !changeInRestructure"
                                [hidden]="rowData.editMode === false" style="text-align: center;">
                                <p-menu #popupMenu [popup]="true" [style]="{'text-align': 'left'}" [model]="taskMenu">
                                </p-menu>

                                <i class="pi pi-ellipsis-v" (click)="openPopup(rowData, rowNode);popupMenu.show($event);"></i>
                            </div>

                            <div *ngIf="(!rowData.editMode && (rowData.type === 'task' && rowData.milestoneStatus !== 'Completed' &&
                            (rowData.status !== 'Completed' && rowData.status !== 'Abandon' && rowData.status !== 'Auto Closed'
                              && rowData.status !== 'Hold') && !projectDetails && !rowData.parentSlot)) || !rowData.editMode && (rowData.type === 'milestone' && rowData.status !== 'Completed' && rowData.status !== 'Auto Closed' && !changeInRestructure)"
                                style="text-align: center;">
                                <p-menu #popupMenu [popup]="true" [style]="{'text-align': 'left'}" [model]="taskMenu">
                                </p-menu>

                                <i class="pi pi-ellipsis-v" (click)="openPopup(rowData,rowNode);popupMenu.show($event);"></i>
                            </div>

                            <div *ngIf=" rowData.editMode && rowData.type === 'task' && rowData.status === 'Not Saved' && rowData.itemType !== 'Client Review' && rowData.itemType !== 'Send to client'">
                                <p-menu #popupMenu [popup]="true" [style]="{'text-align': 'left'}" [model]="taskMenu">
                                </p-menu>

                                <i class="pi pi-ellipsis-v" (click)="openPopup(rowData,rowNode);popupMenu.show($event);"></i>
                            </div>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td style="text-align:center" [attr.colspan]="10">
                            No milestones found
                        </td>
                    </tr>
                </ng-template>

            </p-treeTable>
        </div>



    </div>


    <!-- ***************************************************************************************
                                                         gantt chart Data
           *********************************************************************************** -->

    <div [ngClass]="projectDetails  ? 'VisualRepresentationpopup':'VisualRepresentation'" [hidden]="!visualgraph || loaderenable">
        <app-gantt-chart #ganttcontainer [ganttData]='this.taskAllocateCommonService.ganttParseObject' [beforeTaskChanged]="onBeforeTaskChangedCall" [beforeTaskDrag]="onBeforeTaskDragCall" [taskClick]="onTaskClickCall" [afterTaskDrag]="onAfterTaskDragCall"></app-gantt-chart>
        <app-allocation-overlay #dailyAllocateOP></app-allocation-overlay>
    </div>

    <input [hidden]='true' readonly [ngxTimepicker]="ganttPicker" [(ngModel)]="taskTime" [min]="minTime" [max]="maxTime" class="timePicker">
    <ngx-material-timepicker [preventOverlayClick]="true" (closed)="timeChange()" #ganttPicker (timeSet)="setTime($event)" class="timepickerPosition" [theme]="darkTheme" [minutesGap]="15">
    </ngx-material-timepicker>
</div>


<div #reallocationMailTableID style="display:none">
    <table class="w580" width="580" cellpadding="5" cellspacing="0" border="0">
        <thead>
            <tr style="border-collapse:collapse;">
                <td width="150" class="fullBorder boldHeadres" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;border-width:1px;border-style:solid;border-color:grey;font-weight:bold;">
                    <div align="left" class="table-Attr-content" style="font-size:13px;color:#444444;font-family:HelveticaNeue, sans-serif;">
                        Name
                    </div>
                </td>
                <td width="150" class="fullBorder boldHeadres" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;border-width:1px;border-style:solid;border-color:grey;font-weight:bold;">
                    <div align="left" class="table-Attr-content" style="font-size:13px;color:#444444;font-family:HelveticaNeue, sans-serif;">
                        Previous Start Date
                    </div>
                </td>
                <td width="150" class="fullBorder boldHeadres" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;border-width:1px;border-style:solid;border-color:grey;font-weight:bold;">
                    <div align="left" class="table-Attr-content" style="font-size:13px;color:#444444;font-family:HelveticaNeue, sans-serif;">
                        Previous End Date
                    </div>
                </td>
                <td width="150" class="fullBorder boldHeadres" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;border-width:1px;border-style:solid;border-color:grey;font-weight:bold;">
                    <div align="left" class="table-Attr-content" style="font-size:13px;color:#444444;font-family:HelveticaNeue, sans-serif;">
                        New Start Date
                    </div>
                </td>
                <td width="150" class="fullBorder boldHeadres" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;border-width:1px;border-style:solid;border-color:grey;font-weight:bold;">
                    <div align="left" class="table-Attr-content" style="font-size:13px;color:#444444;font-family:HelveticaNeue, sans-serif;">
                        New End Date
                    </div>
                </td>
                <td width="150" class="fullBorder boldHeadres" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;border-width:1px;border-style:solid;border-color:grey;font-weight:bold;">
                    <div align="left" class="table-Attr-content" style="font-size:13px;color:#444444;font-family:HelveticaNeue, sans-serif;">
                        Assigned To
                    </div>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr style="border-collapse:collapse;" *ngFor="let item of reallocationMailData;trackBy:trackByFn">
                <td width="300" class="noLeftTopBorder" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;border-width:1px;border-style:solid;border-color:grey;border-top-width:0px;border-left-width:1px;">
                    <div align="left" class="table-Attr-content" style="font-size:13px;color:#444444;font-family:HelveticaNeue, sans-serif;">
                        {{item.taskName}}
                    </div>
                </td>
                <td width="300" class="noLeftTopBorder" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;border-width:1px;border-style:solid;border-color:grey;border-top-width:0px;border-left-width:0px;">
                    <div align="left" class="table-Attr-content" style="font-size:13px;color:#444444;font-family:HelveticaNeue, sans-serif;">
                        {{item.preStDate }}
                    </div>
                </td>
                <td width="300" class="noLeftTopBorder" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;border-width:1px;border-style:solid;border-color:grey;border-top-width:0px;border-left-width:0px;">
                    <div align="left" class="table-Attr-content" style="font-size:13px;color:#444444;font-family:HelveticaNeue, sans-serif;">
                        {{item.preEndDate}}
                    </div>
                </td>
                <td width="300" class="noLeftTopBorder" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;border-width:1px;border-style:solid;border-color:grey;border-top-width:0px;border-left-width:0px;">
                    <div align="left" class="table-Attr-content" style="font-size:13px;color:#444444;font-family:HelveticaNeue, sans-serif;">
                        {{item.newStDate }}
                    </div>
                </td>
                <td width="300" class="noLeftTopBorder" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;border-width:1px;border-style:solid;border-color:grey;border-top-width:0px;border-left-width:0px;">
                    <div align="left" class="table-Attr-content" style="font-size:13px;color:#444444;font-family:HelveticaNeue, sans-serif;">
                        {{item.newEndDate}}
                    </div>
                </td>
                <td width="300" class="noLeftTopBorder" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;border-width:1px;border-style:solid;border-color:grey;border-top-width:0px;border-left-width:0px;">
                    <div align="left" class="table-Attr-content" style="font-size:13px;color:#444444;font-family:HelveticaNeue, sans-serif;">
                        {{item.assginedTo}}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- *********************************************************************************************
                                    // change budget dialog 
    ******************************************************************************************** -->

<p-dialog header=" Change Budget Hours" [(visible)]="showBudgetHrs" [modal]="true" [draggable]="false" [responsive]="true" [style]="{'width': '30%', 'top':'0px'}" [closeOnEscape]="false" [closable]="false">

    <div class="pdialogButton p-col-12 p-grid p-jc-end">
        <button class="p-mx-1 p-button-raised p-button-danger saveTaskButton" type="button" pButton icon="pi pi-save" [ngStyle]="{'cursor':'pointer' }" (click)="saveTask(true,null)" label="Save"></button>

        <button type="button" pButton icon="pi pi-times" (click)="close();" label="Cancel" class="p-button-raised p-button-danger"></button>

    </div>
    <form class="p-mt-2 p-p-3">
        <h6> Budget Hrs</h6>
        <input class="p-col-12" type="number" pInputText [(ngModel)]="budgetHrs" [ngModelOptions]="{standalone: true}" (change)="setBudgetHours(budgetHrsTask)" oninput="validity.valid||(value='0');" min="0" max={{maxBudgetHrs}} value="0" step="0.25">
    </form>
</p-dialog>


<!-- *********************************************************************************************
                            bottom sheet to display selected user details
    ******************************************************************************************** -->

<p-sidebar [(visible)]="displayBody" position="bottom" [showCloseIcon]="false" [closeOnEscape]="false" (onHide)="onClose()" [style]="{'height':'45vh', 'background':'#ead4d4'}">
    <p-scrollPanel [style]="{height: '300px'}">
        <app-resource-selection *ngIf="hideResourceSelection" #resourceSelect></app-resource-selection>
    </p-scrollPanel>
</p-sidebar>

<!-- *********************************************************************************************
                                                         Comment Popup
    ******************************************************************************************** -->
<p-dialog header="Any specific instructions for task" appendTo="body" [closable]="false" [modal]="true" [style]="{width: '40vw'}" [(visible)]="displayComment">

    <div class="pdialogButton p-col-12 p-grid p-jc-end">
        <button class="p-mx-1 p-button-raised p-button-danger saveTaskButton" type="button" pButton icon="pi pi-check" [ngStyle]="{'cursor':'pointer' }" (click)="displayComment=false" label="Save"></button>

        <button type="button" pButton icon="pi pi-times" (click)="cancelComment();displayComment=false" label="Cancel" class="p-button-raised p-button-danger"></button>

    </div>
    <textarea *ngIf="displayComment" class="p-mt-2" placeholder="Leave Comment" rows="8" cols="30" pInputTextarea autoResize="autoResize" class="p-fluid" [(ngModel)]="task.scope"> </textarea>
</p-dialog>