<div fxLayout="row" fxLayoutAlign="start center" style="width:100%;">

    <div *ngIf="GanttChartView" fxLayout="column" fxLayoutAlign="center start" style="margin-top: 1vh;width: 100%;">

        <!-- **********************************************************************************************************
                                                         Heading buget Hours etc. Data
           ********************************************************************************************************** -->
        <div fxLayout="row" fxLayoutGap="20px" style="padding: 10px 0px 30px 0px;" fxLayoutAlign="space-around center">

            <div fxLayout="row" id="timeline-header" fxLayoutAlign="center start">
                <div class="table-header-cell-timeline">
                    Budget Hrs
                </div>
                <div class="table-body-cell-timeline">
                    <div id="projectBudgetHrs">{{oProjectDetails.budgetHours}}</div>
                </div>
                <div class="table-header-cell-timeline">
                    Allocated Hrs
                </div>
                <div class="table-body-cell-timeline">
                    <div id="allocatedHrs">{{oProjectDetails.allocatedHours}}</div>
                </div>
                <div class="table-header-cell-timeline">
                    Spent Hrs
                </div>
                <div class="table-body-cell-timeline">
                    <div id="spentHrs">{{oProjectDetails.hoursSpent}}</div>
                </div>
                <div class="table-header-cell-timeline">
                    Available Hrs
                </div>
                <div class="table-body-cell-timeline" style="border-top-right-radius: 4px;border-bottom-right-radius: 4px;">
                    <div id="availableBudgetHrs">{{oProjectDetails.availableHours}}</div>
                </div>
            </div>

            <div *ngIf="(oProjectDetails.status !== 'In Discussion' && oProjectDetails.status !== 'Closed' &&oProjectDetails.status !== 'Cancelled' && oProjectDetails.status !== 'Awaiting Cancel Approval' && oProjectDetails.status !== 'Pending Closure' && oProjectDetails.status !== 'Audit In Progress' && oProjectDetails.projectType !== 'FTE-Writing') && !projectDetails">
                <button mat-raised-button type="button" (click)="showRestructure()">
                    <mat-icon>create</mat-icon> Restructure
                </button>

            </div>

            <div>
                <button type="button" mat-raised-button (click)="showVisualRepresentation()">
                    <mat-icon *ngIf="visualgraph === true"> table_chart</mat-icon>
                    <mat-icon *ngIf="visualgraph === false"> show_chart</mat-icon>
                    {{ visualgraph === false ? 'Gantt Chart' : 'Table' }}
                </button>
            </div>
            <!-- <div>
                <button class="mr-20" type="button" mat-raised-button>Show Timeline</button>
            </div> -->
            <div *ngIf='visualgraph'>
                <button class="mr-20" type="button" mat-raised-button (click)="zoomIn()"><mat-icon>zoom_in</mat-icon></button>
                <button class="mr-20" type="button" mat-raised-button (click)="zoomOut()"><mat-icon>zoom_out</mat-icon></button>
                <!-- <button class="mr-20" type="button" mat-raised-button (click)="ganttExportToExcel()">Export To
                    Excel</button> -->
                <i style="font-size: 1.8em;cursor: pointer;vertical-align: top;
                    margin: 7px 15px 0px 0px;" (click)="ganttExportToExcel()" title="Export To Excel" class="fa fa-fw fa-file-excel-o"></i>
                <p-dropdown #mySelect [options]="scales" [style]="{'width': '150px'}" [(ngModel)]="selectedScale" (onChange)="setScale(mySelect.value)" optionLabel="label"></p-dropdown>
            </div>
        </div>

        <!-- **********************************************************************************************************
                                                         Color Code Data
           ********************************************************************************************************** -->

        <div fxLayout="row" fxLayoutAlign="space-between center" class="" style="width: 100%;padding: 0px 0px 5px;">
            <div>
                <div class="input-color">
                    <label>Planned</label>
                    <div class="color-box" style="background-color: #FFD34E;"></div>
                </div>
                <div class="input-color">
                    <label>Not Started</label>
                    <div class="color-box" style="background-color: #5F6273;"></div>
                </div>
                <div class="input-color">
                    <label>In Progress</label>
                    <div class="color-box" style="background-color: #6EDC6C;"></div>
                </div>
                <div class="input-color">
                    <label>Completed</label>
                    <div class="color-box" style="background-color: #3498DB;"></div>
                </div>
                <div class="input-color">
                    <label>Auto Closed</label>
                    <div class="color-box" style="background-color: #8183CC;"></div>
                </div>
            </div>
            <div>
                <div class="input-color">
                    <label>Equal allocation per day</label>
                    <div class="color-box" style="background-color: indianred;"></div>
                </div>
                <!-- <div class="input-color">
                  <label>Daily Split</label>
                  <div class="color-box" style="background-color: rgb(160, 247, 142)"></div>
              </div> -->
            </div>
            <div>
                <div *ngIf="visualgraph" class="input-color" fxLayoutAlign="end center" style="margin-right: 10px;">
                    <button mat-raised-button type="button" title="Refresh Gantt" (click)="loadComponentRefresh()">
                        <mat-icon>refresh</mat-icon>
                    </button>
                </div>
                <div *ngIf="changeInRestructure " class="input-color" fxLayoutAlign="end center" style="margin-right: 10px;">
                    <button *ngIf="!projectDetails" mat-raised-button type="button" (click)="CancelChanges(projectDetails,'discardAll')" [disabled]="disableSave">
                        <mat-icon>delete_forever</mat-icon> Discard All
                    </button>
                </div>

                <div *ngIf="oProjectDetails.status !== 'On Hold' && oProjectDetails.status !== 'In Discussion' && oProjectDetails.status !== 'Closed' &&oProjectDetails.status !== 'Cancelled' && oProjectDetails.status !== 'Awaiting Cancel Approval' && oProjectDetails.status !== 'Pending Closure' && oProjectDetails.status !== 'Audit In Progress' && oProjectDetails.projectType !== 'FTE-Writing'"
                    class="input-color" fxLayoutAlign="end center">
                    <button *ngIf="!projectDetails && !this.confirmMilestoneLoader" mat-raised-button type="button" [disabled]="disableSave" (click)="saveTasks()">
                        <mat-icon>save</mat-icon> Save
                    </button>
                </div>
            </div>

        </div>

        <div fxLayout="column" style="padding: 10vw;width: 100%;" fxLayoutAlign="center center" *ngIf="loaderenable">
            <div id="scInnerLoader"></div>
            <div id="scInnerLoaderText" *ngIf="!confirmMilestoneLoader">Loading...</div>
            <div id="scConfirmLoaderText" *ngIf="confirmMilestoneLoader">Checking for allocation more than 10 hours...</div>
        </div>

        <!-- **********************************************************************************************************
                                                          Table View Data
           ********************************************************************************************************** -->
        <div fxLayout="row" class="taskAllocationTimeline" *ngIf="!loaderenable" fxLayoutAlign="center start" [hidden]="!tableView">

            <p-treeTable [value]="milestoneData" [autoLayout]="true">

                <ng-template pTemplate="header">
                    <tr>
                        <th> </th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Budget Hrs</th>
                        <th>Spent Hrs</th>
                        <th>TAT</th>
                        <th>Assign To</th>
                        <th>Type</th>
                        <th>Disable Cascade</th>
                        <th> </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
                    <tr *ngIf="(rowData.status !== 'Deleted')" class="milestoneTable" [style.font-weight]="rowData.type === 'milestone' || rowData.type === 'submilestone' || rowData.title ==='Client Review' || (rowData.IsCentrallyAllocated === 'Yes' && rowData.title.indexOf('Slot') > -1) ? '700':''">

                        <td [style.text-align]="'left'" [style.padding-left.px]="rowData.title ==='Client Review' ? '20':''" [style.backgroundColor]="rowData.slotColor">
                            <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                            <span *ngIf="rowData.type !=='task' || (rowData.IsCentrallyAllocated === 'Yes' && rowData.title.indexOf('Slot') > -1)">
                                {{rowData.text}}</span>
                            <span style="color:#dc2038;cursor: pointer;" *ngIf="(rowData.type ==='task' && rowData.IsCentrallyAllocated !== 'Yes') || (rowData.IsCentrallyAllocated === 'Yes' && rowData.title.indexOf('Slot') < 0)" (click)="viewTaskDetails(rowData)"> {{rowData.text}}</span>

                            <div id="nextMilestone" [title]=" rowData.type==='milestone' ? 'Set as Current Milestone':'Set as Current Sub-Milestone'" (click)="setForConfirmMilestone(rowData,rowNode)" *ngIf="(rowData.isNext === true && !rowData.subMilestonePresent && !changeInRestructure) || (rowData.type==='submilestone' && rowData.isCurrent && !changeInRestructure) || (rowData.type==='submilestone' && rowData.isNext &&   !changeInRestructure)  "
                                style="display: inline;" [hidden]=" (rowData.type==='milestone' && (oProjectDetails.status ==='In Discussion' || oProjectDetails.projectType === 'FTE-Writing' || rowData.status === 'Completed' || rowData.id === -1)) || (rowData.type==='submilestone' &&  rowData.status !== 'Not Confirmed') || projectDetails ">
                                <i class="pi pi-check" style="font-size: 2em;vertical-align: middle;"></i>
                            </div>
                        </td>


                        <!-- Start Date -->
                        <td>

                            <span [title]="rowData.pUserStart |  date:' d MMM, y, h:mm a'" *ngIf="(!rowData.editMode &&  rowData.type === 'task' &&  rowData.tat === true) || rowData.type === 'milestone' || rowData.type === 'submilestone'">{{rowData.start_date |  date:' d MMM, y' }}</span>
                            <span [title]="rowData.pUserStart |  date:' d MMM, y, h:mm a'" *ngIf="(!rowData.editMode && rowData.type === 'task' &&  rowData.tat !== true) || (rowData.type === 'task' && rowData.editMode && rowData.status === 'In Progress') || (rowData.type === 'task' && rowData.editMode && rowData.itemType ==='Client Review')">{{rowData.start_date |  date:' d MMM, y, h:mm a' }}</span>

                            <span *ngIf="rowData.editMode && rowData.type === 'task'  && rowData.status !== 'In Progress' && rowData.itemType !== 'Client Review' && (rowData.status === 'Not Started' || rowData.status === 'Not Confirmed' || rowData.status === 'Not Saved')">
                                <p-calendar id="calenderIcon" [(ngModel)]="rowData.pUserStartDatePart"
                                    [disabledDays]="[0,6]" [readonlyInput]="true" dateFormat="dd M , yy"
                                    yearRange="{{yearsRange}}" hideOnDateTimeSelect="true" [stepMinute]="15"
                                    [showIcon]="true" [showOnFocus]="false" [monthNavigator]="true"
                                    [yearNavigator]="true" (onClose)="DateChangePart(rowData,'start')" appendTo="body"
                                    [inputStyle]="{'width': '78%', 'min-width': '78%','padding':'0px','border':'none'}">
                                </p-calendar>
                                <input [disabled]="rowData.tat && rowData.itemType !=='Client Review'" readonly [ngxTimepicker]="picker"
                                    [(ngModel)]="rowData.pUserStartTimePart" class="timePicker">
                                <ngx-material-timepicker-toggle [for]="picker"></ngx-material-timepicker-toggle>
                                <ngx-material-timepicker [preventOverlayClick]="true"
                                    (closed)="DateChangePart(rowData,'start')" #picker
                                    [ngxMaterialTimepickerTheme]="darkTheme" [minutesGap]="15">
                                </ngx-material-timepicker>
                            </span>

                        </td>
                        <!-- End Date -->
                        <td>
                            <span [title]="rowData.pUserEnd |  date:' d MMM, y, h:mm a'" *ngIf="(!rowData.editMode &&  rowData.type === 'task' &&  rowData.tat === true) || rowData.type === 'milestone' || rowData.type === 'submilestone'">{{rowData.end_date |  date:' d MMM, y' }}</span>
                            <span [title]="rowData.pUserEnd |  date:' d MMM, y, h:mm a'" *ngIf="(!rowData.editMode &&  rowData.type === 'task' &&  rowData.tat !== true) || (rowData.type === 'task' && rowData.editMode && rowData.itemType ==='Send to client')">{{rowData.end_date |  date:' d MMM, y, h:mm a' }}</span>


                            <span *ngIf="rowData.editMode && rowData.type === 'task' && rowData.itemType !=='Send to client' && (rowData.status === 'Not Started' || rowData.status === 'Not Confirmed' || rowData.status === 'In Progress' || rowData.status === 'Not Saved')">

                                <p-calendar id="calenderIcon" [(ngModel)]="rowData.pUserEndDatePart"
                                    [disabledDays]="[0,6]" [readonlyInput]="true" dateFormat="dd M , yy"
                                    yearRange="{{yearsRange}}" hideOnDateTimeSelect="true" [stepMinute]="15"
                                    [showIcon]="true" [showOnFocus]="false" [monthNavigator]="true"
                                    [yearNavigator]="true" (onClose)="DateChangePart(rowData,'end')" appendTo="body"
                                    [inputStyle]="{'width': '78%', 'min-width': '78%','padding':'0px','border':'none'}">
                                </p-calendar>
                                <input #inputDate [disabled]="rowData.tat && rowData.itemType !=='Client Review'" readonly [ngxTimepicker]="picker"
                                    [min]="rowData.pUserStartDatePart === rowData.pUserEndDatePart ? rowData.pUserStartTimePart :'12:00 am'"
                                    [(ngModel)]="rowData.pUserEndTimePart" class="timePicker">
                                <ngx-material-timepicker-toggle [for]="picker"></ngx-material-timepicker-toggle>
                                <ngx-material-timepicker [preventOverlayClick]="true"
                                    (closed)="DateChangePart(rowData,'end')" #picker
                                    [ngxMaterialTimepickerTheme]="darkTheme" [minutesGap]="15">
                                </ngx-material-timepicker>
                            </span>
                        </td>

                        <!-- Budget Hrs -->
                        <td style="text-align: center;" *ngIf="projectDetails">
                            <span>{{rowData.budgetHours}}</span>
                        </td>
                        <td style="text-align: center;" *ngIf="!projectDetails">
                            <div *ngIf="(rowData.type === 'milestone' && rowData.status !== 'Not Saved' && rowData.status !== 'Not Confirmed' && !rowData.isCurrent) || (rowData.type ==='task' && !rowData.editMode && rowData.itemType !== 'Client Review' && rowData.itemType !== 'Send to client')"
                                style="float: left;margin-left: 22px;">{{rowData.budgetHours}}</div>
                            <input type="number" class="form-control budgetHr" required="required" oninput="validity.valid||(value='0');" min="0" max="{{rowData.ExpectedBudgetHrs}}" value="0" step="0.25" *ngIf="(rowData.type !=='milestone' && rowData.type !=='submilestone' && rowData.editMode
                              && (rowData.itemType !== 'Client Review' &&  rowData.itemType !== 'Send to client')) ||
                              ((rowData.status ==='In Progress' || rowData.status ==='Not Started' || rowData.status ==='Not Confirmed' || rowData.status ==='Not Saved') && rowData.type === 'milestone')" required="required" style="border:none;border-radius: 0px;height: 25px;text-align: center;padding:0px;float: left;"
                                [id]="rowData.id" (change)="budgetHrsChanged(rowData)" [(ngModel)]="rowData.budgetHours">
                            <div class='overlayIcon' (click)="this.showOverlayPanel($event, rowData, dailyAllocateOP)" style="float: right;cursor: pointer;" title="Click to see allocation split" *ngIf="rowData.showAllocationSplit">
                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                            </div>
                        </td>
                        <!-- spent Hrs -->
                        <td style="text-align: center;">{{rowData.spentTime}}</td>
                        <!-- TaT -->
                        <td style="text-align: center">
                            <span *ngIf="rowData.type ==='milestone' || rowData.type ==='submilestone'">{{rowData.tatVal}}</span>
                            <span *ngIf="!rowData.editMode && rowData.type ==='task' && rowData.itemType !=='Client Review' && rowData.itemType !=='Send to client' ">{{rowData.tat === true ? 'Yes' :'No'}}</span>


                            <p-inputSwitch *ngIf="rowData.editMode && rowData.type === 'task'
                                && rowData.itemType !=='Client Review' && rowData.itemType !=='Send to client' && (rowData.IsCentrallyAllocated !== 'Yes' || rowData.slotType === 'Both' || (rowData.IsCentrallyAllocated === 'Yes' && rowData.title.indexOf('Slot') < 0))"
                                [disabled]=" rowData.title ==='Client Review'" (onChange)="ChangeEndDate($event, rowData)" [(ngModel)]="rowData.title ==='Client Review' ? 'Yes' : rowData.tat"></p-inputSwitch>
                        </td>

                        <!-- Assign To -->
                        <td>
                            <span *ngIf="!rowData.editMode && (rowData.IsCentrallyAllocated !== 'Yes' || (rowData.IsCentrallyAllocated === 'Yes' && rowData.title.indexOf('Slot') < 0))">
                                {{rowData.AssignedTo.Title}}</span>
                            <p-dropdown [style]="{'width':'100%'}" *ngIf="rowData.editMode && rowData.type !=='milestone' && rowData.type !=='submilestone' && (rowData.IsCentrallyAllocated !== 'Yes' || rowData.slotType === 'Both' || (rowData.IsCentrallyAllocated === 'Yes' && rowData.title.indexOf('Slot') < 0))"
                                #assignedTo class="txtTask" [options]="rowData.assignedUsers" [disabled]="rowData.status=== 'In Progress'" [panelStyle]="{minWidth:'15em' }" [(ngModel)]="rowData.AssignedTo" placeholder="Select Resource" [showClear]="true"
                                [group]="true" filter="true" (onChange)="assignedToUserChanged(rowData)">
                                <ng-template let-group pTemplate="group">
                                    <span style="margin-left:.25em">{{group.label}}</span>
                                </ng-template>
                                <ng-template let-item pTemplate="item">
                                    <span style="margin-left:.25em">{{item.label}}</span>
                                </ng-template>
                            </p-dropdown>
                        </td>
                        <!--Daily Allocation Type-->
                        <td [style.backgroundColor]="rowData?.allocationColor">
                            <div fxLayout="column" fxLayoutAlign="center center" *ngIf="rowData?.allocationTypeLoader">
                                <div id="allocationTypeLoader"></div>
                            </div>
                        </td>
                        <td [ngStyle]="{'text-align': 'rowData.editMode' ? 'center':'left'}">
                            <span *ngIf="rowData.type==='task' && !rowData.editMode">{{rowData.DisableCascade === true  ? 'Yes':'No'}}</span>

                            <p-inputSwitch *ngIf="rowData.editMode && rowData.type==='task' && rowData.itemType !== 'Client Review'" [(ngModel)]="rowData.DisableCascade"></p-inputSwitch>
                        </td>

                        <!-- Menu option -->
                        <td [style.backgroundColor]="rowData.color">

                            <!-- <div  *ngIf="!rowData.editMode && rowData.type === 'milestone' && rowData.status !== 'Completed' && rowData.status !== 'Auto Closed' && !changeInRestructure"
                                      style="text-align: center;">
                                <p-menu #popupMenu [popup]="true" [style]="{'text-align': 'left'}" [model]="taskMenu">
                                </p-menu>

                                <i class="pi pi-ellipsis-v" style="font-size:2em;cursor: pointer;" (click)="openPopup(rowData, rowNode);popupMenu.show($event);"></i>
                            </div> -->

                            <div *ngIf="(rowData.type === 'task' && rowData.milestoneStatus !== 'Completed' && rowData.status !== 'Completed' && rowData.status !=='Abandon' && rowData.status !=='Auto Closed' && rowData.status !=='Hold' && rowData.status !== 'Not Saved') || (rowData.type === 'milestone' && rowData.status !== 'Completed' && rowData.status !== 'Auto Closed') && !changeInRestructure"
                                [hidden]="rowData.editMode === false" style="text-align: center;">
                                <p-menu #popupMenu [popup]="true" [style]="{'text-align': 'left'}" [model]="taskMenu">
                                </p-menu>

                                <i class="pi pi-ellipsis-v" style="font-size:2em;cursor: pointer;" (click)="openPopup(rowData, rowNode);popupMenu.show($event);"></i>
                            </div>

                            <div *ngIf="(!rowData.editMode && (rowData.type === 'task' && rowData.milestoneStatus !== 'Completed' &&
                            (rowData.status !== 'Completed' && rowData.status !== 'Abandon' && rowData.status !== 'Auto Closed'
                              && rowData.status !== 'Hold') && !projectDetails && !rowData.parentSlot)) || !rowData.editMode && (rowData.type === 'milestone' && rowData.status !== 'Completed' && rowData.status !== 'Auto Closed' && !changeInRestructure)"
                                style="text-align: center;">
                                <p-menu #popupMenu [popup]="true" [style]="{'text-align': 'left'}" [model]="taskMenu">
                                </p-menu>

                                <i class="pi pi-ellipsis-v" style="font-size:2em;cursor: pointer;" (click)="openPopup(rowData,rowNode);popupMenu.show($event);"></i>
                            </div>

                            <div *ngIf=" rowData.editMode && rowData.type === 'task' && rowData.status === 'Not Saved' && rowData.itemType !== 'Client Review' && rowData.itemType !== 'Send to client'">
                                <p-menu #popupMenu [popup]="true" [style]="{'text-align': 'left'}" [model]="taskMenu">
                                </p-menu>

                                <i class="pi pi-ellipsis-v" style="font-size:2em;cursor: pointer;" (click)="openPopup(rowData,rowNode);popupMenu.show($event);"></i>
                            </div>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td style="text-align:center" [attr.colspan]="10">
                            No milestones found
                        </td>
                    </tr>
                </ng-template>

            </p-treeTable>


        </div>

        <!-- **********************************************************************************************************
                                                         gantt chart Data
           ********************************************************************************************************** -->
        <div fxLayout="row" fxLayoutAlign=" start center" [ngClass]="projectDetails  ? 'VisualRepresentationpopup':'VisualRepresentation'" [hidden]="!visualgraph || loaderenable" style="width:100%">
            <!--&& loaderenable === true-->

            <div style="width:100%">
                <!-- <ng-template #ganttcontainer></ng-template> -->
                <app-gantt-chart #ganttcontainer [ganttData]='this.taskAllocateCommonService.ganttParseObject' [beforeTaskChanged]="onBeforeTaskChangedCall" [beforeTaskDrag]="onBeforeTaskDragCall" [taskClick]="onTaskClickCall" [afterTaskDrag]="onAfterTaskDragCall"></app-gantt-chart>
            </div>
        </div>
        <app-allocation-overlay #dailyAllocateOP></app-allocation-overlay>

        <input [hidden]='true' readonly [ngxTimepicker]="ganttPicker" [(ngModel)]="taskTime" [min]="minTime" [max]="maxTime" class="timePicker">
        <ngx-material-timepicker [preventOverlayClick]="true" (closed)="timeChange()" #ganttPicker (timeSet)="setTime($event)" [ngxMaterialTimepickerTheme]="darkTheme" [minutesGap]="15">
        </ngx-material-timepicker>
    </div>


</div>
<div #reallocationMailTableID style="display:none">
    <table class="w580" width="580" cellpadding="5" cellspacing="0" border="0">
        <thead>
            <tr style="border-collapse:collapse;">
                <td width="150" class="fullBorder boldHeadres" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;border-width:1px;border-style:solid;border-color:grey;font-weight:bold;">
                    <div align="left" class="table-Attr-content" style="font-size:13px;color:#444444;font-family:HelveticaNeue, sans-serif;">
                        Name
                    </div>
                </td>
                <td width="150" class="fullBorder boldHeadres" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;border-width:1px;border-style:solid;border-color:grey;font-weight:bold;">
                    <div align="left" class="table-Attr-content" style="font-size:13px;color:#444444;font-family:HelveticaNeue, sans-serif;">
                        Previous Start Date
                    </div>
                </td>
                <td width="150" class="fullBorder boldHeadres" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;border-width:1px;border-style:solid;border-color:grey;font-weight:bold;">
                    <div align="left" class="table-Attr-content" style="font-size:13px;color:#444444;font-family:HelveticaNeue, sans-serif;">
                        Previous End Date
                    </div>
                </td>
                <td width="150" class="fullBorder boldHeadres" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;border-width:1px;border-style:solid;border-color:grey;font-weight:bold;">
                    <div align="left" class="table-Attr-content" style="font-size:13px;color:#444444;font-family:HelveticaNeue, sans-serif;">
                        New Start Date
                    </div>
                </td>
                <td width="150" class="fullBorder boldHeadres" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;border-width:1px;border-style:solid;border-color:grey;font-weight:bold;">
                    <div align="left" class="table-Attr-content" style="font-size:13px;color:#444444;font-family:HelveticaNeue, sans-serif;">
                        New End Date
                    </div>
                </td>
                <td width="150" class="fullBorder boldHeadres" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;border-width:1px;border-style:solid;border-color:grey;font-weight:bold;">
                    <div align="left" class="table-Attr-content" style="font-size:13px;color:#444444;font-family:HelveticaNeue, sans-serif;">
                        Assigned To
                    </div>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr style="border-collapse:collapse;" *ngFor="let item of reallocationMailData;trackBy:trackByFn">
                <td width="300" class="noLeftTopBorder" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;border-width:1px;border-style:solid;border-color:grey;border-top-width:0px;border-left-width:1px;">
                    <div align="left" class="table-Attr-content" style="font-size:13px;color:#444444;font-family:HelveticaNeue, sans-serif;">
                        {{item.taskName}}
                    </div>
                </td>
                <td width="300" class="noLeftTopBorder" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;border-width:1px;border-style:solid;border-color:grey;border-top-width:0px;border-left-width:0px;">
                    <div align="left" class="table-Attr-content" style="font-size:13px;color:#444444;font-family:HelveticaNeue, sans-serif;">
                        {{item.preStDate }}
                    </div>
                </td>
                <td width="300" class="noLeftTopBorder" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;border-width:1px;border-style:solid;border-color:grey;border-top-width:0px;border-left-width:0px;">
                    <div align="left" class="table-Attr-content" style="font-size:13px;color:#444444;font-family:HelveticaNeue, sans-serif;">
                        {{item.preEndDate}}
                    </div>
                </td>
                <td width="300" class="noLeftTopBorder" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;border-width:1px;border-style:solid;border-color:grey;border-top-width:0px;border-left-width:0px;">
                    <div align="left" class="table-Attr-content" style="font-size:13px;color:#444444;font-family:HelveticaNeue, sans-serif;">
                        {{item.newStDate }}
                    </div>
                </td>
                <td width="300" class="noLeftTopBorder" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;border-width:1px;border-style:solid;border-color:grey;border-top-width:0px;border-left-width:0px;">
                    <div align="left" class="table-Attr-content" style="font-size:13px;color:#444444;font-family:HelveticaNeue, sans-serif;">
                        {{item.newEndDate}}
                    </div>
                </td>
                <td width="300" class="noLeftTopBorder" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;border-width:1px;border-style:solid;border-color:grey;border-top-width:0px;border-left-width:0px;">
                    <div align="left" class="table-Attr-content" style="font-size:13px;color:#444444;font-family:HelveticaNeue, sans-serif;">
                        {{item.assginedTo}}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<!-- // change budget dialog -->
<p-dialog header=" Change Budget Hours" [(visible)]="showBudgetHrs" [modal]="true" [draggable]="false" [responsive]="true" [style]="{'width': '30%', 'top':'0px'}" [closeOnEscape]="false" [closable]="false">

    <div class="pdialogButton p-col-12 p-grid p-jc-end">
        <button class="p-mx-1 p-button-raised p-button-danger saveTaskButton" type="button" pButton icon="pi pi-save" [ngStyle]="{'cursor':'pointer' }" (click)="saveTask(true,null)" label="Save"></button>

        <button type="button" pButton icon="pi pi-times" (click)="close();" label="Cancel" class="p-button-raised p-button-danger"></button>

    </div>
    <form class="p-mt-2 p-p-3">
        <h6> Budget Hrs</h6>
        <input class="p-col-12" type="number" pInputText [(ngModel)]="budgetHrs" [ngModelOptions]="{standalone: true}" (change)="setBudgetHours(budgetHrsTask)" oninput="validity.valid||(value='0');" min="0" max={{maxBudgetHrs}} value="0" step="0.25">
    </form>
</p-dialog>


<p-sidebar [(visible)]="displayBody" position="bottom" styleClass="ui-sidebar-lg resourcePanel" [showCloseIcon]="false" [closeOnEscape]="false" (onHide)="onClose()">
    <app-resource-selection *ngIf="hideResourceSelection" #resourceSelect></app-resource-selection>
</p-sidebar>

<!-- *********************************************************************************************
                                                         Comment Popup
    ******************************************************************************************** -->
<p-dialog header="Any specific instructions for task" [closable]="false" [modal]="true" [style]="{width: '450px', minWidth: '300px'}" [(visible)]="displayComment">
    <textarea *ngIf="displayComment" placeholder="Leave Comment" rows="8" cols="30" pInputTextarea autoResize="autoResize" style="width:100%;padding: 3%;" [(ngModel)]="task.scope"> </textarea>
    <p-footer>
        <button type="button" pButton icon="pi pi-check" style="background-color: #af0b14;border-color:#af0b14;" (click)="displayComment=false" label="Save"></button>
        <button type="button" pButton icon="pi pi-times" (click)="cancelComment();displayComment=false" label="Cancel" class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>