::ng-deep button.ui-datepicker-trigger.ui-calendar-button {
    padding: 2px !important;
}

::ng-deep .selectButton>.ui-selectbutton>.ui-button {
    width: 50% !important;
}

::ng-deep .selectButton>.ui-selectbutton>.ui-state-active {
    background-color: #c53e3e !important;
    border-color: #c53e3e !important;
}

::ng-deep .selectButton>.ui-selectbutton>.ui-state-active:hover {
    background-color: #d45b5b !important;
    border-color: #d45b5b !important;
}

::ng-deep .card-view>.ui-card {
    background-color: #fbfbfb !important;
}

.editInvoiceitem {
    padding: 0.5rem !important;
}

.readonlyField {
    opacity: 0.5 !important;
}