<div class="p-d-flex p-flex-column" style="padding: 2vw;" *ngIf="!isSelectSOWLoaderHidden">
    <div id="modalInnerLoader"></div>
    <div id="modalInnerLoaderText">Loading...</div>
</div>


<div class="selectSOW-section p-my-2 cardViewDisplay" [hidden]='isSelectSOWTableHidden'>
    <p-scrollPanel [style]="{height: '45vh'}">
        <p-table #allProjectRef [columns]="displayedColumns" [value]="pmObject.selectSOWArray" [paginator]="true" [rows]="5" [style]="{'font-size':'13px','min-height': '400px'}" styleClass="p-datatable-cactus p-datatable-gridlines">
            <ng-template pTemplate="caption">
                <div class="p-grid table-header">
                    <div class="p-col">
                        <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText size="50" type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" [(ngModel)]="pmObject.addProject.SOWSelect.GlobalFilterValue" (input)="allProjectRef.filterGlobal($event.target.value, 'contains')"  (keydown.enter)="$event.preventDefault()" />
                </span>
                    </div>
                    <div class="p-col p-grid sow-balance-section panellargeText">
                        <div class="p-col p-grid p-my-0">
                            <div class="p-mr-2" [ngStyle]="{'color':'#d7181f'}">Total Balance :</div>
                            <div>{{pmObject.addProject.SOWSelect.sowTotalBalance}}</div>
                        </div>
                        <div class="p-col p-grid p-my-0">
                            <div class="p-mr-2" [ngStyle]="{'color':'#d7181f'}">Net Balance :</div>
                            <div>{{pmObject.addProject.SOWSelect.sowNetBalance}}</div>
                        </div>

                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th class="firstColumnWidth"></th>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                        {{ col.header }}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-sow>
                <tr [pContextMenuRow]="rowData">
                    <td class="lastColumnWidth">
                        <p-radioButton name="groupname" value="{{sow.SOWCode}}" (click)="setSelectedSOWObject(sow)" [(ngModel)]="pmObject.addProject.SOWSelect.SOWCode">
                        </p-radioButton>
                    </td>
                    <td>{{sow.SOWCode}}</td>
                    <td>{{sow.ShortTitle}}</td>
                    <td>{{sow.SOWOwner}}</td>
                    <td>{{sow.ClientLegalEntity}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="columns.length + 1">
                        No Sow Data found
                    </td>
                </tr>
            </ng-template>
        </p-table>

    </p-scrollPanel>
    <div class="error">{{errorMsg}}</div>

    <div class="p-col p-grid p-mt-1 p-jc-end">
        <button pButton pRipple type="button" (click)="goToProjectAttributes()" label="Select SOW And Continue" class="p-button-raised p-button-danger"></button>
    </div>
</div>