.user-img {
    width: 40px;
    display: inline-block;
    margin: 5px 0 2px 5px;
    border-radius: 50%;
}
.user-properties {
    float: right;
    font-size: 12px;
}
.ui-autocomplete-panel .ui-autocomplete-items .ui-autocomplete-list-item {
  border: 0px 1px 0px 0px solid #D5D5D5 !important;
}

