<div class="p-col p-mt-1 p-grid p-jc-end">


    <button type="button" pButton icon="pi pi-plus" title="Add New User" (click)="addEditUserProfile('Add New User',null)" class="AddNewUser p-button-outlined p-button-danger p-mr-1"></button>


    <span *ngIf="showUserInput" class="p-input-icon-right">
        <i class="pi pi-search"></i>
        <input style="min-height: 35px;"  class="p-mr-1" type="text" (keydown.enter)="searchInactiveUser(); $event.preventDefault()" (change)="searchInactiveUser()" id="userSelect" placeholder="User" pInputText [(ngModel)]="providedUser" />
    </span>




    <p-dropdown class="p-mr-1" [options]="userFilterOptions" [(ngModel)]="selectedOption" [style]="{'min-height':'35px'}" (onChange)="onChangeSelect()" resetFilterOnHide="true" filter="true"></p-dropdown>

    <button type="button" pButton icon="pi pi-refresh" title="Refresh User Details" (click)="loadUserTable()" class="refreshUD p-button-outlined p-button-danger p-mr-1"></button>

    <button type="button" pButton icon="pi pi-file-excel" title="Download User Details" (click)="downloadExcel()" class="DownloadUP p-button-outlined p-button-danger"></button>


</div>

<div class="p-d-flex p-flex-column" style="padding: 10vw;width: 100%;" *ngIf="loaderenable">
    <div id="scInnerLoader"></div>
    <div id="scInnerLoaderText">Loading...</div>
</div>


<div class="adminTable" *ngIf="!loaderenable">
    <!-- <div> -->
    <p-table #up [columns]="userProfileColumns" [value]="userProfileData" exportFilename="User Profile" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,25,50]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        styleClass="p-datatable-cactus p-datatable-gridlines" stateStorage="local" stateKey="UserProfileTable" hideshowMenu>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th class="firstColumnWidth">Sr.No.</th>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field" [hidden]="!col.visibility">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        {{col.header}}
                        <p-sortIcon *ngIf="col.visibility" [field]="col.field"></p-sortIcon>
                        <p-columnFilter class="cactus-filter" *ngIf="col.header != ''" [field]="col.field" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                            <ng-template pTemplate="header">
                                <div class="p-px-3 p-pt-3 p-pb-0">
                                    <span class="p-text-bold"> {{col.header}} Picker</span>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-multiSelect [ngModel]="value" [options]="col.options" placeholder="All" (onChange)="filter($event.value)" optionLabel="label">
                                    <ng-template let-option pTemplate="item">
                                        <div class="p-multiselect-representative-option">
                                            <span class="p-ml-1">{{option.label}}</span>
                                        </div>
                                    </ng-template>
                                </p-multiSelect>
                            </ng-template>
                        </p-columnFilter>
                    </div>
                </th>
                <th class="lastColumnWidth"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
            <tr>
                <td>{{ rowIndex+1 }}</td>
                <td>{{rowData.User}}</td>
                <td>{{rowData.PrimarySkill}}</td>
                <td>{{rowData.Bucket}}</td>
                <td>{{rowData.PracticeArea}}</td>
                <td>{{rowData.InCapacity}}</td>
                <td>{{rowData.DateOfJoining | date:'MMM dd, yyyy'}}</td>
                <td>{{rowData.GoLiveDate | date:'MMM dd, yyyy'}}</td>
                <!-- <td>{{rowData.LastUpdated | date:'MMM dd, yyyy'}}</td>
                <td>{{rowData.LastUpdatedBy}}</td> -->
                <td class="lastColumnWidth">
                    <div>
                        <p-menu #menu [popup]="true" [model]="pMenuItems" styleClass="borderMenu"></p-menu>
                        <i class="pi pi-ellipsis-v" style="font-size:2em;top: 100px !important;cursor: pointer;" (click)="storeRowData(rowData); menu.toggle($event);"></i>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="9">
                    No User profile data found.
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>




<div *ngIf="isUserProfileRightSideVisible" class="ng-right-side-overlay">
    <p-sidebar [(visible)]="isUserProfileRightSideVisible" position="right" [baseZIndex]="10000" [style]="{width:'28em'}">
        <p-scrollPanel [style]="{'width': '100%', 'height': '95vh'}">
            <p-table [value]="userProfileViewDataArray" styleClass="p-datatable-cactus p-datatable-sm p-datatable-gridlines">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-task style="overflow: auto">
                    <tr>
                        <td class="error">ID</td>
                        <td>{{task.ID}}</td>
                    </tr>
                    <tr>
                        <td class="error">User Name</td>
                        <td>{{task.User}}</td>
                    </tr>
                    <tr>
                        <td class="error">Manager</td>
                        <td>{{task.Manager}}</td>
                    </tr>
                    <tr *ngIf="task.ManagerEffectiveDate">
                        <td class="error">Manager Effective Date</td>
                        <td>{{task.ManagerEffectiveDate | date:'MMM dd yyyy'}}</td>
                    </tr>
                    <tr>
                        <td class="error">Bucket</td>
                        <td>{{task.Bucket}}</td>
                    </tr>
                    <tr *ngIf="task.BucketEffectiveDate">
                        <td class="error">Bucket Effective Date</td>
                        <td>{{task.BucketEffectiveDate | date:'MMM dd yyyy'}}</td>
                    </tr>
                    <tr>
                        <td class="error">Practice Area</td>
                        <td>{{task.PracticeArea}}</td>
                    </tr>
                    <tr *ngIf="task.PracticeAreaEffectiveDate">
                        <td class="error">Practice Area Effective Date</td>
                        <td>{{task.PracticeAreaEffectiveDate | date:'MMM dd yyyy'}}</td>
                    </tr>
                    <tr>
                        <td class="error">Time Zone</td>
                        <td>{{task.TimeZone.TimeZoneName}}</td>
                    </tr>
                    <tr *ngIf="task.TimeZoneEffectiveDate">
                        <td class="error">Time Zone Effective Date</td>
                        <td>{{task.TimeZoneEffectiveDate | date:'MMM dd yyyy'}}</td>
                    </tr>
                    <tr>
                        <td class="error">Date of Joining</td>
                        <td>{{task.DateOfJoining | date:'MMM dd yyyy'}}</td>
                    </tr>
                    <tr>
                        <td class="error">Go Live Date</td>
                        <td>{{task.GoLiveDate | date:'MMM dd yyyy'}}</td>
                    </tr>
                    <tr>
                        <td class="error">Designation</td>
                        <td>{{task.Designation}}</td>
                    </tr>
                    <tr>
                        <td class="error">InCapacity</td>
                        <td>{{task.InCapacity}}</td>
                    </tr>
                    <tr>
                        <td class="error">Pooled</td>
                        <td>{{task.Pooled}}</td>
                    </tr>
                    <tr>
                        <td class="error">MaxHrs</td>
                        <td>{{task.MaxHrs}}</td>
                    </tr>
                    <tr *ngIf="task.MaxHrsEffectiveDate">
                        <td class="error">Max Hrs Effective Date</td>
                        <td>{{task.MaxHrsEffectiveDate | date:'MMM dd yyyy'}}</td>
                    </tr>
                    <tr>
                        <td class="error">Primary Skill</td>
                        <td>{{task.PrimarySkill}}</td>
                    </tr>
                    <tr *ngIf="task.PrimarySkillEffectiveDate">
                        <td class="error">Primary Skill Effective Date</td>
                        <td>{{task.PrimarySkillEffectiveDate | date:'MMM dd yyyy'}}</td>
                    </tr>
                    <tr>
                        <td class="error">Skill Level</td>
                        <td>{{task.SkillLevel.Title}}</td>
                    </tr>
                    <tr *ngIf="task.SkillLevelEffectiveDate">
                        <td class="error">Skill Level Effective Date</td>
                        <td>{{task.SkillLevelEffectiveDate | date:'MMM dd yyyy'}}</td>
                    </tr>
                    <tr>
                        <td class="error">Role</td>
                        <td>{{task.RoleCH}}</td>
                    </tr>
                    <tr>
                        <td class="error">Ready To</td>
                        <td>{{task.ReadyTo}}</td>
                    </tr>
                    <tr>
                        <td class="error">Tasks</td>
                        <td>{{task.TaskText}}</td>
                    </tr>
                    <tr>
                        <td class="error">Accounts</td>
                        <td>{{task.AccountText}}</td>
                    </tr>
                    <tr>
                        <td class="error">Deliverable</td>
                        <td>{{task.DeliverableText}}</td>
                    </tr>
                    <tr>
                        <td class="error">Deliverable Exclusion</td>
                        <td>{{task.DeliverableExclusionText}}</td>
                    </tr>
                    <tr>
                        <td class="error">TA</td>
                        <td>{{task.TAText}}</td>
                    </tr>
                    <tr>
                        <td class="error">TA Exclusion</td>
                        <td>{{task.TAExclusionText}}</td>
                    </tr>
                    <tr>
                        <td class="error">Is Active</td>
                        <td>{{task.IsActive}}</td>
                    </tr>

                    <tr>
                        <td class="error">Is FTE</td>
                        <td>{{task.IsFTE}}</td>
                    </tr>
                    <tr *ngIf="task.IsFTE ==='Yes'">
                        <td class="error">FTE Effective Date</td>
                        <td>{{task.FTEEffectiveDate | date:'MMM dd yyyy'}}</td>
                    </tr>
                    <tr>
                        <td class="error">TA visibility</td>
                        <td>{{task.TAVisibility}}</td>
                    </tr>
                    <tr>
                        <td class="error">CA visibility</td>
                        <td>{{task.CAVisibility}}</td>
                    </tr>
                    <tr>
                        <td class="error">Date of Exit</td>
                        <td>{{task.DateofExit | date:'MMM dd yyyy'}}</td>
                    </tr>
                    <tr>
                        <td class="error">Placeholder User</td>
                        <td>{{task.PlaceholderUser}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-scrollPanel>
    </p-sidebar>
</div>