<div class="top-right-title">
    <a (click)="downloadExcel()" class="download-worksheet td-none"><i class="fa fa-fw fa-file-excel-o"
            aria-hidden="true"></i>
    </a>
    <a (click)="loadUserTable();" class="download-worksheet td-none mr-10"><i class="pi pi-refresh"
            aria-hidden="true"></i>
    </a>
</div>
<div [hidden]='false' class="top-right-title" *ngIf="isUserSPMUPA">
    <input *ngIf="showUserInput" class="mr-5" type="text" (keydown.enter)="searchInactiveUser(); $event.preventDefault()" (change)="searchInactiveUser()" id="userSelect" placeholder="User" pInputText [(ngModel)]="providedUser" />
    <p-dropdown [options]="userFilterOptions" [(ngModel)]="selectedOption" styleClass="custom-dropDown" (onChange)="onChangeSelect()" resetFilterOnHide="true" filter="true"></p-dropdown>
    <div style="float: left;" class="pr-20" *ngIf="selectedOption ==='Active'">
        <button pButton class="adminBtn" icon="pi pi-plus-circle" label="Add New User" type="button" (click)="addEditUserProfile('Add New User',null)"></button>
        <!-- <button pButton class="adminBtn" icon="pi pi-plus-circle" label="Add New User" type="button" (click)="showAddUserModal()"></button> -->
    </div>
</div>
<div class="clearBoth"></div>
<!-- <div *ngIf="showTable">
    <p-table #up [columns]="userProfileColumns" [value]="userProfileData" exportFilename="User Profile"></p-table>
</div> -->
<div class="adminTable">
    <div *ngIf="showTable">
        <p-table #up [columns]="userProfileColumns" [value]="userProfileData" exportFilename="User Profile" [paginator]="true" [rows]="10" class="minFirstLastCol5Per">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th>Sr.No.</th>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" [hidden]="!col.visibility">
                        {{col.header}}
                        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
                        </p-sortIcon>
                    </th>
                    <th></th>
                </tr>
                <tr>
                    <th></th>
                    <th *ngFor="let col of columns" [ngSwitch]="col.field" [hidden]="!col.visibility">
                        <p-multiSelect *ngSwitchCase="'User'" [style]="{'width':'100%'}" [maxSelectedLabels]="1" [options]="userProfileColArray.User" (onChange)="up.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()" filter="true" resetFilterOnHide="true"
                            (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect *ngSwitchCase="'PrimarySkill'" [style]="{'width':'100%'}" [maxSelectedLabels]="1" [options]="userProfileColArray.PrimarySkill" (onChange)="up.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()" filter="true"
                            resetFilterOnHide="true" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect *ngSwitchCase="'Bucket'" [style]="{'width':'100%'}" [maxSelectedLabels]="1" [options]="userProfileColArray.Bucket" (onChange)="up.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()" filter="true" resetFilterOnHide="true"
                            (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect *ngSwitchCase="'PracticeArea'" [style]="{'width':'100%'}" [maxSelectedLabels]="1" [options]="userProfileColArray.PracticeArea" (onChange)="up.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()" filter="true"
                            resetFilterOnHide="true" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect *ngSwitchCase="'InCapacity'" [style]="{'width':'100%'}" [maxSelectedLabels]="1" [options]="userProfileColArray.InCapacity" (onChange)="up.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()" filter="true" resetFilterOnHide="true"
                            (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect *ngSwitchCase="'DateOfJoining'" [style]="{'width':'100%'}" [maxSelectedLabels]="1" [options]="userProfileColArray.DateOfJoining" (onChange)="up.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()" filter="true"
                            resetFilterOnHide="true" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect *ngSwitchCase="'GoLiveDate'" [style]="{'width':'100%'}" [maxSelectedLabels]="1" [options]="userProfileColArray.GoLiveDate" (onChange)="up.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()" filter="true" resetFilterOnHide="true"
                            (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect *ngSwitchCase="'LastUpdated'" [style]="{'width':'100%'}" [maxSelectedLabels]="1" [options]="userProfileColArray.LastUpdated" (onChange)="up.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()" filter="true" resetFilterOnHide="true"
                            (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect *ngSwitchCase="'LastModifiedBy'" [style]="{'width':'100%'}" [maxSelectedLabels]="1" [options]="userProfileColArray.LastModifiedBy" (onChange)="up.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()" filter="true"
                            resetFilterOnHide="true" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                    </th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                <tr>
                    <td>{{ rowIndex+1 }}</td>
                    <td>{{rowData.User}}</td>
                    <td>{{rowData.PrimarySkill}}</td>
                    <td>{{rowData.Bucket}}</td>
                    <td>{{rowData.PracticeArea}}</td>
                    <td>{{rowData.InCapacity}}</td>
                    <td>{{rowData.DateOfJoining | date:'MMM dd, yyyy'}}</td>
                    <td>{{rowData.GoLiveDate | date:'MMM dd, yyyy'}}</td>
                    <!-- <td>{{rowData.LastUpdated | date:'MMM dd, yyyy'}}</td>
                <td>{{rowData.LastUpdatedBy}}</td> -->
                    <td>
                        <div>
                            <p-menu #menu [popup]="true" [model]="pMenuItems" styleClass="borderMenu"></p-menu>
                            <i class="pi pi-ellipsis-v" style="font-size:2em;top: 100px !important;cursor: pointer;" (click)="storeRowData(rowData); menu.toggle($event);"></i>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="9">
                        No Data found
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div *ngIf="!userProfileData.length">
        <span>No User profile data found.</span>
    </div>
</div>

<div *ngIf="isUserProfileRightSideVisible" class="ng-right-side-overlay">
    <p-sidebar [(visible)]="isUserProfileRightSideVisible" position="right" styleClass="ui-sidebar-md">
        <p-table [value]="userProfileViewDataArray">
            <ng-template pTemplate="header">
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-task style="overflow: auto">
                <tr>
                    <td [ngStyle]="{'color':'#d7181f'}">ID</td>
                    <td>{{task.ID}}</td>
                </tr>
                <tr>
                    <td [ngStyle]="{'color':'#d7181f'}">User Name</td>
                    <td>{{task.User}}</td>
                </tr>
                <tr>
                    <td [ngStyle]="{'color':'#d7181f'}">Manager</td>
                    <td>{{task.Manager}}</td>
                </tr>
                <tr *ngIf="task.ManagerEffectiveDate">
                    <td [ngStyle]="{'color':'#d7181f'}">Manager Effective Date</td>
                    <td>{{task.ManagerEffectiveDate | date:'MMM dd yyyy'}}</td>
                </tr>
                <tr>
                    <td [ngStyle]="{'color':'#d7181f'}">Bucket</td>
                    <td>{{task.Bucket}}</td>
                </tr>
                <tr *ngIf="task.BucketEffectiveDate">
                    <td [ngStyle]="{'color':'#d7181f'}">Bucket Effective Date</td>
                    <td>{{task.BucketEffectiveDate | date:'MMM dd yyyy'}}</td>
                </tr>
                <tr>
                    <td [ngStyle]="{'color':'#d7181f'}">Practice Area</td>
                    <td>{{task.PracticeArea}}</td>
                </tr>
                <tr *ngIf="task.PracticeAreaEffectiveDate">
                    <td [ngStyle]="{'color':'#d7181f'}">Practice Area Effective Date</td>
                    <td>{{task.PracticeAreaEffectiveDate | date:'MMM dd yyyy'}}</td>
                </tr>
                <tr>
                    <td [ngStyle]="{'color':'#d7181f'}">Time Zone</td>
                    <td>{{task.TimeZone.TimeZoneName}}</td>
                </tr>
                <tr *ngIf="task.TimeZoneEffectiveDate">
                    <td [ngStyle]="{'color':'#d7181f'}">Time Zone Effective Date</td>
                    <td>{{task.TimeZoneEffectiveDate | date:'MMM dd yyyy'}}</td>
                </tr>
                <tr>
                    <td [ngStyle]="{'color':'#d7181f'}">Date of Joining</td>
                    <td>{{task.DateOfJoining | date:'MMM dd yyyy'}}</td>
                </tr>
                <tr>
                    <td [ngStyle]="{'color':'#d7181f'}">Go Live Date</td>
                    <td>{{task.GoLiveDate | date:'MMM dd yyyy'}}</td>
                </tr>
                <tr>
                    <td [ngStyle]="{'color':'#d7181f'}">Designation</td>
                    <td>{{task.Designation}}</td>
                </tr>
                <tr>
                    <td [ngStyle]="{'color':'#d7181f'}">InCapacity</td>
                    <td>{{task.InCapacity}}</td>
                </tr>
                <tr>
                    <td [ngStyle]="{'color':'#d7181f'}">Pooled</td>
                    <td>{{task.Pooled}}</td>
                </tr>
                <tr>
                    <td [ngStyle]="{'color':'#d7181f'}">MaxHrs</td>
                    <td>{{task.MaxHrs}}</td>
                </tr>
                <tr *ngIf="task.MaxHrsEffectiveDate">
                    <td [ngStyle]="{'color':'#d7181f'}">Max Hrs Effective Date</td>
                    <td>{{task.MaxHrsEffectiveDate | date:'MMM dd yyyy'}}</td>
                </tr>
                <tr>
                    <td [ngStyle]="{'color':'#d7181f'}">Primary Skill</td>
                    <td>{{task.PrimarySkill}}</td>
                </tr>
                <tr *ngIf="task.PrimarySkillEffectiveDate">
                    <td [ngStyle]="{'color':'#d7181f'}">Primary Skill Effective Date</td>
                    <td>{{task.PrimarySkillEffectiveDate | date:'MMM dd yyyy'}}</td>
                </tr>
                <tr>
                    <td [ngStyle]="{'color':'#d7181f'}">Skill Level</td>
                    <td>{{task.SkillLevel.Title}}</td>
                </tr>
                <tr *ngIf="task.SkillLevelEffectiveDate">
                    <td [ngStyle]="{'color':'#d7181f'}">Skill Level Effective Date</td>
                    <td>{{task.SkillLevelEffectiveDate | date:'MMM dd yyyy'}}</td>
                </tr>
                <tr>
                    <td [ngStyle]="{'color':'#d7181f'}">Role</td>
                    <td>{{task.Role}}</td>
                </tr>
                <tr>
                    <td [ngStyle]="{'color':'#d7181f'}">Ready To</td>
                    <td>{{task.ReadyTo}}</td>
                </tr>
                <tr>
                    <td [ngStyle]="{'color':'#d7181f'}">Tasks</td>
                    <td>{{task.TaskText}}</td>
                </tr>
                <tr>
                    <td [ngStyle]="{'color':'#d7181f'}">Accounts</td>
                    <td>{{task.AccountText}}</td>
                </tr>
                <!-- <tr>
                  <td colspan="2" [ngStyle]="{'color':'#d7181f'}"></td>
              </tr>
              <tr *ngIf="task.Timeline.Standard.IsStandard">
                  <td colspan="2" [ngStyle]="{'color':'#d7181f'}" align="center">Standard Project</td>
              </tr>
              <tr *ngIf="task.Timeline.Standard.IsStandard">
                  <td [ngStyle]="{'color':'#d7181f'}">Service</td>
                  <td>{{task.Timeline.Standard.Service}}</td>
              </tr>
              <tr *ngIf="task.Timeline.Standard.IsStandard">
                  <td [ngStyle]="{'color':'#d7181f'}">Proposed Start Date</td>
                  <td>{{task.Timeline.Standard.ProposedStartDate | date:'MMM dd yyyy'}}</td>
              </tr>
              <tr *ngIf="task.Timeline.Standard.IsStandard">
                  <td [ngStyle]="{'color':'#d7181f'}">Proposed End Date</td>
                  <td>{{task.Timeline.Standard.ProposedEndDate | date:'MMM dd yyyy'}}</td>
              </tr>
              <tr *ngIf="task.Timeline.NonStandard.IsStandard">
                  <td colspan="2" [ngStyle]="{'color':'#d7181f'}" align="center">Non Standard Project</td>
              </tr>
              <tr *ngIf="task.Timeline.NonStandard.IsStandard">
                  <td [ngStyle]="{'color':'#d7181f'}">Deliverable Type</td>
                  <td>{{task.Timeline.NonStandard.DeliverableType}}</td>
              </tr>
              <tr *ngIf="task.Timeline.NonStandard.IsStandard">
                  <td [ngStyle]="{'color':'#d7181f'}">Sub Type</td>
                  <td>{{task.Timeline.NonStandard.SubDeliverable}}</td>
              </tr>
              <tr *ngIf="task.Timeline.NonStandard.IsStandard">
                  <td [ngStyle]="{'color':'#d7181f'}">Service</td>
                  <td>{{task.Timeline.NonStandard.Service}}</td>
              </tr>
              <tr *ngIf="task.Timeline.NonStandard.IsStandard">
                  <td [ngStyle]="{'color':'#d7181f'}">Proposed Start Date</td>
                  <td>{{task.Timeline.NonStandard.ProposedStartDate | date:'MMM dd yyyy'}}</td>
              </tr>
              <tr *ngIf="task.Timeline.NonStandard.IsStandard">
                  <td [ngStyle]="{'color':'#d7181f'}">Proposed End Date</td>
                  <td>{{task.Timeline.NonStandard.ProposedEndDate | date:'MMM dd yyyy'}}</td>
              </tr>
              <tr>
                  <td colspan="2" [ngStyle]="{'color':'#d7181f'}"></td>
              </tr> -->
                <tr>
                    <td [ngStyle]="{'color':'#d7181f'}">Deliverable</td>
                    <td>{{task.DeliverableText}}</td>
                </tr>
                <tr>
                    <td [ngStyle]="{'color':'#d7181f'}">Deliverable Exclusion</td>
                    <td>{{task.DeliverableExclusionText}}</td>
                </tr>
                <tr>
                    <td [ngStyle]="{'color':'#d7181f'}">TA</td>
                    <td>{{task.TAText}}</td>
                </tr>
                <tr>
                    <td [ngStyle]="{'color':'#d7181f'}">TA Exclusion</td>
                    <td>{{task.TAExclusionText}}</td>
                </tr>
                <tr>
                    <td [ngStyle]="{'color':'#d7181f'}">Is Active</td>
                    <td>{{task.IsActive}}</td>
                </tr>

                <tr>
                    <td [ngStyle]="{'color':'#d7181f'}">Is FTE</td>
                    <td>{{task.IsFTE}}</td>
                </tr>
                <tr *ngIf="task.IsFTE ==='Yes'">
                    <td [ngStyle]="{'color':'#d7181f'}">FTE Effective Date</td>
                    <td>{{task.FTEEffectiveDate | date:'MMM dd yyyy'}}</td>
                </tr>
                <tr>
                    <td [ngStyle]="{'color':'#d7181f'}">TA visibility</td>
                    <td>{{task.TAVisibility}}</td>
                </tr>
                <tr>
                    <td [ngStyle]="{'color':'#d7181f'}">CA visibility</td>
                    <td>{{task.CAVisibility}}</td>
                </tr>
                <tr>
                    <td [ngStyle]="{'color':'#d7181f'}">Date of Exit</td>
                    <td>{{task.DateofExit | date:'MMM dd yyyy'}}</td>
                </tr>
            </ng-template>
        </p-table>
    </p-sidebar>
</div>