<div class="p-d-flex p-flex-column" style="padding: 2vw;" *ngIf="!hideLoader">
    <div id="modalInnerLoader"></div>
    <div id="modalInnerLoaderText">Loading...</div>
</div>


<div id="mainContent" [hidden]="hideTable">
    <div class="pdialogButton p-col-12 p-grid p-jc-end">
        <button type="button " pButton icon="pi pi-save" class="p-mx-1 p-button-raised p-button-danger saveTaskButton" (click)="saveTimeSpent() " label="Save"></button>
        <button type="button" pButton icon="pi pi-times " (click)="cancel(); " label="Cancel" class="p-button-raised p-button-danger"></button>
    </div>


    <div class="table">
        <p-table [value]="allocationSplit" styleClass="p-datatable-cactus p-datatable-gridlines">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th class="dateCol">
                        Date
                    </th>
                    <th class="hrsCol">
                        Hours
                    </th>
                    <th class="minsCol">
                        Mins
                    </th>
                    <th class="valueCol">
                        Budget Hrs
                    </th>
                    <th class="valueCol">
                        Time Spent
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td (click)="showTasks(rowData)" class="allocationDate" [style.background]="rowData.leave ? '#808080': '#FFFFFF'" [title]="rowData.leave ? 'On Leave' : ''">
                        {{ rowData.Date | date: " d MMM, y" }}
                    </td>
                    <td>
                        <app-allocation-slider (changedValue)="checkAllocation($event, rowData)" type="hrs" [value]="rowData.Allocation.valueHrs" [range]="rowData.Allocation.maxHrs"></app-allocation-slider>
                    </td>
                    <td>
                        <app-allocation-slider (changedValue)="checkAllocation($event, rowData)" type="mins" [value]="rowData.Allocation.valueMins" [range]="rowData.Allocation.maxMins"></app-allocation-slider>
                    </td>
                    <td>
                        <div>
                            {{ rowData.Allocation.valueHrs + '.' + common.getMinsValue(rowData.Allocation.valueMins) }}
                        </div>
                        <div class="timepicker" *ngIf="rowData.Allocation.maxHrs">
                            <ngx-material-timepicker-toggle [for]="picker"></ngx-material-timepicker-toggle>
                            <ngx-material-timepicker [preventOverlayClick]="true" #picker (closed)="checkAllocation(picker, rowData)" [defaultTime]="rowData.Allocation.valueHrs + ':' + rowData.Allocation.valueMins" [ngxMaterialTimepickerTheme]="darkTheme" [minutesGap]="15" [format]="24">
                            </ngx-material-timepicker>
                        </div>
                    </td>
                    <td>
                        <div>
                            {{ rowData.timeSpent}}
                        </div>
                    </td>
                </tr>
                <tr [hidden]="rowData.hideTasksTable">
                    <td [attr.colspan]="5">
                        <app-capacity-tasks (collapse)="showTasks(rowData)" [componentName]="'prestack'" [disableCamera]="false" [tasks]="rowData.tasks"></app-capacity-tasks>
                    </td>
                </tr>
            </ng-template>
        </p-table>

    </div>
</div>