<div id="dailyAllocation" [hidden]="hideLoader">
  <div id="dailyAllocationLoader"></div>
  <div id="dailyAllocationLoaderText">Loading...</div>
</div>
<div id="mainContent" [hidden]="hideTable">
  <!-- <div
    fxLayout="row"
    fxLayoutAlign="space-between center"
    class=""
    style="width: 100%; padding: 0px 0px 5px;"
  >
    <div class="input-color">
      <label>Above maximum working Hrs</label>
      <div class="color-box" style="background-color: orange;"></div>
    </div>
  </div> -->

  <div class='footer' fxLayout="row" fxLayoutAlign="end center">

    <button type="button" pButton icon="pi pi-save" [ngStyle]="{'margin-right':   '5px','cursor':'pointer' }"
      (click)="saveAllocation()" label="Save" class="saveTaskButton"></button>
    <button type="button" pButton icon="pi pi-times" (click)="cancel();" label="Cancel" class="ui-button-secondary"
      style="background-color:ghostwhite;"></button>

  </div>
  <div class="table">
    <p-table [columns]="cols" [value]="newAllocation">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th class="dateCol">
            Date
          </th>
          <th class="hrsCol">
            Hours
          </th>
          <th class="minsCol">
            Mins
          </th>
          <th class="valueCol">
            Budget Hrs
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td>
            {{ rowData["Date"] | date: " d MMM, y" }}
          </td>
          <td>
            <app-allocation-slider (changedValue)="checkAllocation($event, rowData)" type="hrs"
              [value]="rowData.Allocation.valueHrs" [range]="rowData.Allocation.maxHrs"></app-allocation-slider>
          </td>
          <td>
            <app-allocation-slider (changedValue)="checkAllocation($event, rowData)" type="mins"
              [value]="rowData.Allocation.valueMins" [range]="rowData.Allocation.maxMins"></app-allocation-slider>
          </td>
          <td>
            <div>
              {{
                rowData.Allocation.valueHrs + '.' + common.getMinsValue(rowData.Allocation.valueMins)
              }}
            </div>
            <div class="timepicker">
              <ngx-material-timepicker-toggle [for]="picker"></ngx-material-timepicker-toggle>
              <ngx-material-timepicker
                [preventOverlayClick]="true"
                #picker
                (closed)="checkAllocation(picker, rowData)"
                [defaultTime]="rowData.Allocation.valueHrs + ':' + rowData.Allocation.valueMins"
                [ngxMaterialTimepickerTheme]="darkTheme"
                [minutesGap]="15"
                [format]="24"
              >
              </ngx-material-timepicker>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>

  </div>
</div>
