<div class="p-d-flex p-flex-column" style="padding: 2vw;" *ngIf="modalloaderenable">
    <div id="modalInnerLoader"></div>
    <div id="modalInnerLoaderText">Loading...</div>
</div>


<div class="pdialogButton p-col-12 p-grid p-jc-end" *ngIf="!modalloaderenable">

    <button type="button" pButton icon="pi pi-save" id="saveClient" (click)="saveSubdivision();" label="{{buttonLabel}}" class="p-mx-1 p-button-raised p-button-danger" [ngStyle]="{'cursor':'pointer' }"></button>
    <button type="button" pButton icon="pi pi-times" (click)="cancel();" label="Cancel" class="p-button-raised p-button-danger"></button>

</div>



<div class="p-col p-grid" *ngIf="!modalloaderenable" #scrollDown>
    <form [formGroup]='subDivisionform' class="p-col formfont">

        <div class="p-grid p-mt-2">
            <div class="p-grid p-col">
                <div class="p-col-4 p-grid p-ai-center"><span class="compulsory">*</span>Sub-Division Name</div>
                <div class="p-col-8 p-grid p-ai-center">
                    <input type="text" style="width: 100%;" formControlName="subDivision_Name" placeholder="Sub-Division Name" pInputText>
                    <div class="error" *ngIf="isSubDivisionFormSubmit && subDivisionform.controls.subDivision_Name.errors">
                        <div *ngIf="subDivisionform.controls.subDivision_Name.errors.required">
                            Sub-Division Name is required</div>
                    </div>
                </div>
            </div>
            <div class="p-grid p-col">
                <div class="p-col-4 p-grid p-ai-center">Distribution List</div>
                <div class="p-col-8 p-grid p-ai-center">
                    <input type="text" style="width: 100%;" formControlName="distributionList" placeholder="Distribution List" (focusout)="validateEmailId()" pInputText>
                    <div class="error" *ngIf="isSubDivisionFormSubmit && subDivisionform.controls.distributionList.errors">
                        <div *ngIf="subDivisionform.controls.distributionList.errors.email">Distribution List must be a valid email address</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-grid p-mt-2">
            <div class="p-grid p-col">
                <div class="p-col-4 p-grid p-ai-center">Delivery Level 1</div>
                <div class="p-col-8 p-grid p-ai-center">
                    <p-multiSelect class="p-col p-grid" [style]="{'width':'100%'}" [options]="adminObject.dropdown.DeliveryLevel1Array" defaultLabel="Select Delivery Level 1" formControlName="deliveryLevel1" (keydown.enter)="$event.preventDefault()" filter="true" [maxSelectedLabels]="1"
                        resetFilterOnHide="true" (onPanelShow)="isOptionFilter=true;"></p-multiSelect>
                </div>
            </div>
            <div class="p-grid p-col">
                <div class="p-col-4 p-grid p-ai-center">CM Level 1</div>
                <div class="p-col-8 p-grid p-ai-center">
                    <p-multiSelect class="p-col p-grid" [style]="{'width':'100%'}" [options]="adminObject.dropdown.CMLevel1Array" defaultLabel="Select CM Level 1" formControlName="cmLevel1" (keydown.enter)="$event.preventDefault()" filter="true" [maxSelectedLabels]="1" resetFilterOnHide="true"
                        (onPanelShow)="isOptionFilter=true;">
                    </p-multiSelect>
                </div>
            </div>
        </div>
    </form>
</div>