<div fxLayout="column" style="padding: 2vw;width: 100%;" fxLayoutAlign="center center" *ngIf="loaderEnable">
    <div id="modalInnerLoader"></div>
    <div id="modalInnerLoaderText">Loading...</div>
</div>



<div fxLayout="row" *ngIf="!loaderEnable" fxLayoutAlign="space-between start" fxLayoutGap="3px" style="width:100%;padding: 10px 0px 10px 0px;min-height: 300px;">

    <div class="ui-fluid" fxLayout="column" fxFlex="18">
        <span class="header">Primary Resources</span>
        <p-autoComplete [(ngModel)]="primaryResoucesusers" [suggestions]="filterPrimaryResources" (completeMethod)="filterUsers($event)" [minLength]="1" placeholder="Select Resources" field="UserName" [multiple]="true" scrollHeight="135px" [dropdown]="true" class="primaryResource">
            <ng-template let-primaryResoucesusers pTemplate="item">
                <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                    <div class="user-name">
                        {{primaryResoucesusers.UserName}}
                    </div>
                </div>
            </ng-template>
        </p-autoComplete>
    </div>

    <div class="ui-fluid" fxLayout="column" fxFlex="12">
        <span class="header">Writer</span>
        <p-autoComplete [(ngModel)]="writerusers" [readonly]="true" placeholder="Writers" field="UserName" [multiple]="true" [scrollHeight]="100">
            <ng-template let-writerusers pTemplate="item">
                <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">

                    <div class="user-name">
                        {{writerusers.UserName}}
                    </div>

                </div>
            </ng-template>
        </p-autoComplete>
    </div>
    <div class="ui-fluid" fxLayout="column" fxFlex="12">
        <span class="header">Reviewer</span>
        <p-autoComplete [(ngModel)]="reviewerusers" [readonly]="true" placeholder="Reviewer" field="UserName" [multiple]="true">
            <ng-template let-reviewerusers pTemplate="item">
                <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">

                    <div class="user-name">
                        {{reviewerusers.UserName}}
                    </div>

                </div>
            </ng-template>
        </p-autoComplete>
    </div>
    <div class="ui-fluid" fxLayout="column" fxFlex="12">
        <span class="header">Quality Checker</span>
        <p-autoComplete [(ngModel)]="qualityusers" [readonly]="true" placeholder="Quality Checker" field="UserName" [multiple]="true">
            <ng-template let-qualityusers pTemplate="item">
                <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">

                    <div class="user-name">
                        {{qualityusers.UserName}}
                    </div>

                </div>
            </ng-template>
        </p-autoComplete>
    </div>
    <div class="ui-fluid" fxLayout="column" fxFlex="12">
        <span class="header">Editor</span>
        <p-autoComplete [(ngModel)]="editorusers" [readonly]="true" placeholder="Editor" field="UserName" [multiple]="true">
            <ng-template let-editorusers pTemplate="item">
                <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">

                    <div class="user-name">
                        {{editorusers.UserName}}
                    </div>

                </div>
            </ng-template>
        </p-autoComplete>
    </div>
    <div class="ui-fluid" fxLayout="column" fxFlex="12">
        <span class="header">Graphics</span>
        <p-autoComplete [(ngModel)]="graphicsusers" [readonly]="true" placeholder="Graphics" field="UserName" [multiple]="true">
            <ng-template let-graphicsusers pTemplate="item">
                <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">

                    <div class="user-name">
                        {{graphicsusers.UserName}}
                    </div>

                </div>
            </ng-template>
        </p-autoComplete>
    </div>
    <div class="ui-fluid" fxLayout="column" fxFlex="12">
        <span class="header">Publication Support</span>
        <p-autoComplete [(ngModel)]="pubsupportusers" [readonly]="true" placeholder="Publication Support" field="UserName" [multiple]="true">
            <ng-template let-pubsupportusers pTemplate="item">
                <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">

                    <div class="user-name">
                        {{pubsupportusers.UserName}}
                    </div>

                </div>
            </ng-template>
        </p-autoComplete>
    </div>
    <div class="ui-fluid" fxLayout="column" fxFlex="7" style="align-items: flex-end;margin-right: 0px;">
        <button style="margin: 18px 0px 0px 0px;" mat-raised-button type="button"  (click)="saveResources()">
          <!-- [disabled]="disableSave" -->
            <mat-icon>save</mat-icon> Save
          </button>
    </div>
</div>

<p-toast [style]="{marginTop: '80px'}" styleClass="custom-toast" key="custom" position="bottom-center">
</p-toast>
