::ng-deep .ui-helper-clearfix {
    border: none !important;
}

::ng-deep .ui-autocomplete-list-item.ui-state-highlight {
    background-color: #db1721 !important;
}

::ng-deep .ui-autocomplete-token {
    font-size: 11px !important;
    background: #db1721 !important;
    margin: 0.2em 0.286em 0 0 !important;
}

::ng-deep .header {
    font-weight: 500 !important;
    font-size: 1em !important;
}

::ng-deep .ui-autocomplete-dropdown {
    padding: 0.47em;
    background-color: #db1721 !important;
    border: 1px solid #db1721 !important;
}

::ng-deep .ui-autocomplete-multiple-container {
    border: 1px solid #db1721 !important;
    border-radius: 3px !important;
    overflow-y: auto !important;
    max-height: 150px !important;
}