::ng-deep .p-autocomplete-list-item.p-state-highlight {
    background-color: #db1721 !important;
}

::ng-deep .ui-helper-clearfix {
    border: none !important;
}

::ng-deep .p-autocomplete-token {
    font-size: 12px !important;
    background: #db1721 !important;
    margin: .2em .286em 0 0!important;
}

::ng-deep .p-autocomplete-multiple-container {
    border: 1px solid #db1721 !important;
    border-radius: 3px !important;
    overflow-y: auto !important;
    display: block !important;
    max-height: 150px !important;
}

::ng-deep .p-autocomplete {
    width: 100% !important;
}

::ng-deep .p-autocomplete-dropdown {
    padding: 1em !important;
    background-color: #db1721!important;
    border: 1px solid #db1721!important;
}