.taskButton {
    position: fixed !important;
    width: 100% !important;
    margin: -50px !important;
}
.saveTaskButton {
    background-color: #db1721 !important;
    border: 1px solid #db1721 !important;
}

body .p-grid .ui-overlaypanel {
    top: 55px !important;
    left: 190px !important;
}

body .p-grid .ui-overlaypanel-shifted:after, .ui-overlaypanel-shifted:before {
    left: 18px !important;
    /* right: 260px; */
    margin-left: -10px !important;
}