<div class='taskButton' fxLayout="row" fxLayoutAlign="end center">

    <button type="button" pButton icon="pi pi-save" [ngStyle]="{'margin-right':   '5px','cursor':'pointer' }"
        (click)="saveTask()" label="Save" class="saveTaskButton"></button>
    <button type="button" pButton icon="pi pi-times" (click)="reset();" label="Cancel" class="ui-button-secondary"
        style="background-color:ghostwhite;"></button>

</div>

<div fxLayout="row" #scrollDown fxLayoutAlign="space-between start" fxLayoutGap="5px">

    <form [formGroup]="editTaskForm" class="p-col">
        <div class="p-grid p-col mt-20">
            <div class="p-col-2">
                Start Date
            </div>
            <div class="p-col-4">
                <p-calendar formControlName="startDate" appendTo="body" dateFormat="M dd, yy" [disabledDays]="[0,6]"
                    placeholder="Select Start Date"></p-calendar>
            </div>
            <div class="p-col-3">
                <input readonly [ngxTimepicker]="startDateTimepicker" formControlName="startDateTimePart"
                    class="timePicker">
                <ngx-material-timepicker-toggle [for]="startDateTimepicker"></ngx-material-timepicker-toggle>
                <ngx-material-timepicker [preventOverlayClick]="true" #startDateTimepicker
                    [ngxMaterialTimepickerTheme]="darkTheme" [minutesGap]="15">
                </ngx-material-timepicker>
            </div>
        </div>
        <div class="p-grid p-col mt-20">
            <div class="p-col-2">
                End Date
            </div>
            <div class="p-col-4">
                <p-calendar formControlName="endDate" appendTo="body" dateFormat="M dd, yy" [disabledDays]="[0,6]"
                    placeholder="Select End Date"></p-calendar>
            </div>
            <div class="p-col-3">
                <input readonly [ngxTimepicker]="endDateTimepicker" formControlName="endDateTimePart"
                    class="timePicker">
                <ngx-material-timepicker-toggle [for]="endDateTimepicker"></ngx-material-timepicker-toggle>
                <ngx-material-timepicker [preventOverlayClick]="true" #endDateTimepicker
                    [ngxMaterialTimepickerTheme]="darkTheme" [minutesGap]="15">
                </ngx-material-timepicker>
            </div>
        </div>
        <div class="p-grid p-col mt-20">
            <div class="p-col-2">
                Budget Hrs
            </div>
            <div class="p-col-2">
                <app-daily-allocation-overlay #dailyAllocateOP></app-daily-allocation-overlay>
                <input type="number" (mouseenter)="this.showOverlayPanel($event, dailyAllocateOP)" pInputText
                    formControlName="budgetHrs" min="0" value="0" step="0.25">
            </div>
            <div class="p-col-2">
                <button pButton type="button" (click)="viewAllocation('')"
                    class="viewAllocation" icon='pi pi-sliders-h'></button>
            </div>
            <div class="p-col-2">
                Resource
            </div>
            <div class="p-col-4">
                <p-dropdown appendTo="body" [style]="{'width':'100%'}" [options]="assignedUsers"
                    [panelStyle]="{minWidth:'15em' }" placeholder="Select Resource" [showClear]="true" [group]="true"
                    filter="true" formControlName="resource" resetFilterOnHide="true">
                    <ng-template let-group pTemplate="group">
                        <span style="margin-left:.25em">{{group.label}}</span>
                    </ng-template>
                    <ng-template let-item pTemplate="item">
                        <span style="margin-left:.25em">{{item.label}}</span>
                    </ng-template>
                </p-dropdown>
            </div>
        </div>

        <div class="p-grid p-col mt-20">
            <ng-container *ngIf="editTaskObject.isDisableCascade">
                <div class="p-col-2">
                    Disable Cascade
                </div>
                <div class="p-col-4">
                    <p-inputSwitch formControlName="disableCascade"></p-inputSwitch>
                </div>
            </ng-container>
            <ng-container *ngIf="editTaskObject.isTat">
                <div class="p-col-2">
                    TAT
                </div>
                <div class="p-col-4">
                    <p-inputSwitch formControlName="tat"></p-inputSwitch>
                </div>
            </ng-container>
        </div>
    </form>

</div>