<div class="financeTable">
    <p-table [value]="rowData" [rowsPerPageOptions]="[10,25,50]" [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {​​​​​​​​first}​​​​​​​​ to {​​​​​​​​last}​​​​​​​​ of {​​​​​​​​totalRecords}​​​​​​​​ entries"
    styleClass="p-datatable-cactus p-datatable-gridlines" stateStorage="local" stateKey="pftable">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item style="overflow: auto">
            <tr>
                <td [ngStyle]="{'color':'#d7181f'}">Project Code</td>
                <td>{{rowItemData.ProjectCode}}</td>
            </tr>
            <tr>
                <td [ngStyle]="{'color':'#d7181f'}">Client LE</td>
                <td>{{rowItemData.ClientLegalEntity}}</td>
            </tr>
            <tr>
                <td [ngStyle]="{'color':'#d7181f'}">SOW Code</td>
                <td>{{rowItemData.SOWCode}}</td>
            </tr>
            <tr>
                <td [ngStyle]="{'color':'#d7181f'}">SOW Name</td>
                <td>{{rowItemData.SOWName}}</td>
            </tr>
            <tr>
                <td [ngStyle]="{'color':'#d7181f'}">Project MileStones</td>
                <td>{{rowItemData.ProjectMileStone}}</td>
            </tr>
            <tr>
                <td [ngStyle]="{'color':'#d7181f'}">PO Number</td>
                <td>{{rowItemData.PONumber}}</td>
            </tr>
            <tr>
                <td [ngStyle]="{'color':'#d7181f'}">PO Name</td>
                <td>{{rowItemData.POName}}</td>
            </tr>
            <tr>
                <td [ngStyle]="{'color':'#d7181f'}">POC Name</td>
                <td>{{rowItemData.POCName}}</td>
            </tr>
            <tr *ngIf="rowItemData.ScheduledDate">
                <td [ngStyle]="{'color':'#d7181f'}">Scheduled Date</td>
                <td>{{rowItemData.ScheduledDate |date:'mediumDate'}}</td>
            </tr>
            <tr *ngIf="rowItemData.ProposedEndDate">
                <td [ngStyle]="{'color':'#d7181f'}">Proposed End Date</td>
                <td>{{rowItemData.ProposedEndDate |date:'mediumDate'}}</td>
            </tr>
            <tr>
                <td [ngStyle]="{'color':'#d7181f'}">Currency</td>
                <td>{{rowItemData.Currency}}</td>
            </tr>
            <tr>
                <td [ngStyle]="{'color':'#d7181f'}">Rate</td>
                <td>{{rowItemData.Rate}}</td>
            </tr>
            <tr>
                <td [ngStyle]="{'color':'#d7181f'}">Hours Spent</td>
                <td>{{rowItemData.HoursSpent}}</td>
            </tr>
            <tr>
                <td [ngStyle]="{'color':'#d7181f'}">Budget Hrs</td>
                <td>{{rowItemData.BudgetHrs}}</td>
            </tr>
            <tr>
                <td [ngStyle]="{'color':'#d7181f'}">Template</td>
                <td>{{rowItemData.Template}}</td>
            </tr>
            <tr *ngIf="rowItemData.TotalInvoice">
                <td [ngStyle]="{'color':'#d7181f'}">Total Invoice</td>
                <td>{{rowItemData.TotalInvoice}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>