  <div class="popupLoader" [hidden]="hidePopupLoader">
      <div id="cdLoader"></div>
      <div id="cdLoaderText">PLEASE WAIT...UPDATING CD</div>
  </div>
  <div class="tablePopupLoader" [hidden]='hidePopupTable'>
      <!--Dissatisfaction popup-->
      <div *ngIf="qc.actionClicked ==='close'">

          <!-- <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert> -->
          <div><span class="mandatory">All Fields are mandatory below</span></div>
          <table class="cdPopupTable" id="identifyAccountableTable">
              <tr>
                  <td>
                      <p-dropdown [options]="qc.accountableGroup" placeholder="Select Accountable" filter="true" resetFilterOnHide="true" [(ngModel)]="qc.selectedAccountableGroup">
                      </p-dropdown> <span class="mandatory">*</span>
                  </td>
              </tr>
              <tr>

                  <td>
                      <p-dropdown [options]="qc.segregation" placeholder="Select Segregation" filter="true" resetFilterOnHide="true" [(ngModel)]="qc.selectedSegregation" [disabled]="qc.status !== 'Created'">
                      </p-dropdown> <span class="mandatory">*</span>
                  </td>
              </tr>
              <tr>

                  <td>
                      <p-dropdown [options]="qc.businessImpact" placeholder="Select Business Impact" filter="true" resetFilterOnHide="true" [(ngModel)]="qc.selectedBusinessImpact">
                      </p-dropdown> <span class="mandatory">*</span>
                  </td>
              </tr>
              <tr>

                  <td>
                      <p-dropdown [options]="qc.cdCategories" placeholder="Select CD Category" filter="true" resetFilterOnHide="true" [(ngModel)]="qc.selectedCDCategory">
                      </p-dropdown> <span class="mandatory">*</span>
                  </td>
              </tr>
              <tr>
                  <td>
                    <span class="ui-float-label">
                      <textarea class="popupTextArea" id="float-input" rows="7" maxlength="1500" pInputTextarea  [(ngModel)]="qc.resourceIdentifiedComments"></textarea>
                      <label for="float-input">Please enter comments</label>
                    </span>
                    <label>{{qc.resourceIdentifiedComments.length}} / 1500</label>
                  </td>
              </tr>
          </table>
          <!--Close client dissatisfaction popup-->
          <table class="closePopupTable">
              <tr [hidden]="qc.actionClicked !=='viewComments'">
                  <td>
                    <span class="ui-float-label">
                      <textarea id="float-input" class="popupTextArea" rows="4" maxlength="1500" pInputTextarea  [(ngModel)]="qc.resourceIdentifiedComments"></textarea>
                      <label for="float-input">Please enter comments</label>
                    </span>
                    <label>{{qc.resourceIdentifiedComments.length}} / 1500</label>
                  </td>
              </tr>
              <tr>
                  <td>
                    <span class="ui-float-label textArea full-width">
                      <textarea id="float-input" class="popupTextArea" rows="4" maxlength="1500" pInputTextarea color="#B13E3E"  [disabled]="qc.actionClicked ==='viewComments'" [(ngModel)]="qc.rcaComments"></textarea>
                      <label for="float-input">Please enter root cause analysis details</label>
                    </span>
                    <label>{{qc.rcaComments.length}} / 1500</label>
                      <hr>
                  </td>
              </tr>
              <tr>
                  <td>
                    <span class="ui-float-label textArea full-width">
                      <textarea id="float-input" class="popupTextArea" rows="4" maxlength="1500" pInputTextarea color="#B13E3E"  [disabled]="qc.actionClicked ==='viewComments'" [(ngModel)]="qc.caComments"></textarea>
                      <label for="float-input">Please enter corrective action details</label>
                    </span>
                    <label>{{qc.caComments.length}} / 1500</label>
                      <hr>
                  </td>
              </tr>
              <tr>
                  <td>
                    <span class="ui-float-label textArea full-width">
                      <textarea id="float-input" class="popupTextArea" rows="4" maxlength="1500" pInputTextarea color="#B13E3E"  [disabled]="qc.actionClicked ==='viewComments'" [(ngModel)]="qc.paComments"></textarea>
                      <label for="float-input">Please enter preventive action details</label>
                    </span>
                    <label>{{qc.paComments.length}} / 1500</label>
                  </td>
              </tr>
          </table>
      </div>
      <!--Tag CD to Client / Project popup-->
      <table class="full-width" *ngIf="qc.actionClicked ==='tag'">
          <tr>
              <td class="tagGroup">
                  <p-dropdown class="tagPopup" [options]="qc.tagGroups" filter="true" resetFilterOnHide="true" placeholder="Select Project / Client" optionLabel="label" [(ngModel)]="qc.selectedGroup" (onChange)="getSelectedGroupItems()" appendTo="body">
                  </p-dropdown> <span class="mandatory">*</span>
              </td>
          </tr>
          <tr>
              <td>
                  <p-dropdown class="tagPopup" [options]="qc.tagGroupItems" placeholder="Select open project code" filter="true" resetFilterOnHide="true" optionLabel="Title" [(ngModel)]="qc.selectedTaggedItem" appendTo="body" loader="loading">
                  </p-dropdown> <span class="mandatory">*</span>
                  <div class="popupResourceLoader">
                      <div id="resourceLoader" [hidden]="hideResourceLoader"></div>
                  </div>
                  <span class="orText">
                  OR
                  </span>
                  <span class="p-input-icon-right searchProject">
                    <i class="pi pi-search search-icon" (click)="searchProjectCode(closedPrjCode.value)"  *ngIf="!showPrjLoader"></i>
                    <i class="pi pi-spin pi-spinner"  *ngIf="showPrjLoader"></i>
                    <input type="text"
                    [ngClass]="{'prjFound-search': showAccepted, 'prjNotFound-search':showRejected}"
                    class="search-input"
                    pInputText #closedPrjCode (keydown.enter)="searchProjectCode(closedPrjCode.value); $event.preventDefault()" placeholder="Select closed project code"/>
                  </span>
                  <span *ngIf="showAccepted" class="prjFound"><i class="pi pi-check-circle" ></i></span>
                  <span  *ngIf="showRejected" class="prjNotFound"><i class="pi pi-times-circle"  ></i> Project not found.</span>
              </td>
          </tr>
          <tr>
      </table>
      <!--View Comments for client dissatisfaction popup-->
      <table class="viewCommentsPopupTable" *ngIf="qc.actionClicked ==='viewComments'">
          <tr [hidden]="qc.actionClicked !=='viewComments'">
              <td>
                <span class="ui-float-label">
                  <textarea id="float-input" class="popupTextArea" rows="4" maxlength="1500" color="#B13E3E" readonly pInputTextarea  [(ngModel)]="qc.resourceIdentifiedComments"></textarea>
                </span>
                <div class="hint">
                  <span class="hint-label">CD Details</span>
                  <span class="wordCount">{{qc.resourceIdentifiedComments.length}} / 1500</span>
                </div>
              </td>
          </tr>
          <tr>
              <td>
                <span class="ui-float-label">
                  <textarea id="float-input" class="popupTextArea" rows="4" maxlength="1500" readonly color="#B13E3E" pInputTextarea  [(ngModel)]="qc.rcaComments"></textarea>
                </span>
                <div class="hint">
                  <span class="hint-label">Root Cause Analysis</span>
                  <span class="wordCount">{{qc.rcaComments.length}} / 1500</span>
                </div>
              </td>
          </tr>
          <tr>
              <td>
                <span class="ui-float-label">
                  <textarea id="float-input" rows="4" class="popupTextArea" maxlength="1500" readonly color="#B13E3E" pInputTextarea  [(ngModel)]="qc.caComments"></textarea>

                </span>
                <div class="hint">
                  <span class="hint-label">Corrective Actions</span>
                  <span class="wordCount">{{qc.caComments.length}} / 1500</span>
                </div>
              </td>
          </tr>
          <tr>
              <td>
                <span class="ui-float-label">
                  <textarea id="float-input" rows="4" class="popupTextArea" maxlength="1500" readonly color="#B13E3E" pInputTextarea  [(ngModel)]="qc.paComments"></textarea>
                </span>
                <div class="hint">
                  <span class="hint-label">Preventive Actions</span>
                  <span class="wordCount">{{qc.paComments.length}} / 1500</span>
                </div>
              </td>
          </tr>
          <tr *ngIf="qc.rejectionComments">
              <td>
                <span class="ui-float-label">
                  <textarea id="float-input" rows="4" class="popupTextArea" maxlength="1500" readonly color="#B13E3E" pInputTextarea  [(ngModel)]="qc.rejectionComments"></textarea>
                </span>
                <div class="hint">
                  <span class="hint-label">Rejection Comments</span>
                  <span class="wordCount">{{qc.rejectionComments.length}} / 1500</span>
                </div>
              </td>
          </tr>
      </table>
      <!--Delete client dissatisfaction popup-->
      <table class="full-width" *ngIf="qc.actionClicked ==='delete'">
          <tr>
              <td>
                  <p-dropdown class="tagPopup" [options]="cdDelete.reasons" placeholder="Select deletion reason" filter="true" optionLabel="label" resetFilterOnHide="true" [(ngModel)]="cdDelete.selectedReason" appendTo="body">
                  </p-dropdown><span class="mandatory">*</span>
              </td>
          </tr>
      </table>
      <!--Confirmation popup-->
      <table class="confirmPopup full-width" *ngIf="qc.actionClicked ==='valid' || qc.actionClicked ==='invalid' || qc.actionClicked ==='reject'">
          <tr>
              <td *ngIf="qc.actionClicked ==='valid'">
                  <p>Are you sure you want to mark CD as <strong>valid</strong> ?</p>
              </td>
              <td *ngIf="qc.actionClicked ==='invalid'">
                  <p>Are you sure you want to mark CD as <strong>invalid</strong> ?</p>
              </td>
              <td *ngIf="qc.actionClicked ==='reject'">
                  <p class="rejectionComments">Are you sure you want to reject CD and send back for correction?</p>
                  <span class="ui-float-label">
                    <textarea id="float-input"  class="popupTextArea" rows="4" maxlength="1500" color="#B13E3E" pInputTextarea  (keyup)="updateRejectionComments($event)"></textarea>
                    <label for="float-input">Comments</label>
                  </span>
                  <label class="wordCount">{{qc.newRejectionComments.length}} / 1500</label>
              </td>
          </tr>
      </table>
  </div>
  <div class="footer">
      <div [hidden]='hidePopupTable'>
          <button type="button" class="btn btn-light button cancelbtn" (click)="close()">Cancel</button>

          <button type="button" id='tagBtn' class="btn btn-light button savebtn" (click)="tag()" [disabled]="!qc.selectedTaggedItem" [hidden]="qc.actionClicked !== 'tag'"> Submit </button>

          <button type="button" id='deleteBtn' class="btn btn-light button savebtn" (click)="deleteCD()" [disabled]="!cdDelete.selectedReason" [hidden]="qc.actionClicked !== 'delete'"> Submit </button>

          <button type="button" id='saveBtn' class="btn btn-light button savebtn" (click)="closeCD($event)" [disabled]="!qc.resourceIdentifiedComments && !qc.selectedSegregation && !qc.selectedAccountableGroup && !qc.selectedBusinessImpact && !qc.selectedCDCategory && !qc.rcaComments && !qc.caComments && !qc.paComments"
              [hidden]="qc.actionClicked !== 'close'"> Save </button>

          <button type="button" id='closeBtn' class="btn btn-light button savebtn" (click)="closeCD($event)" [disabled]="!qc.selectedSegregation || !qc.selectedAccountableGroup || !qc.selectedBusinessImpact || !qc.selectedCDCategory || !qc.rcaComments || !qc.caComments || !qc.paComments || !qc.selectedSegregation"
              [hidden]="qc.actionClicked !== 'close'"> Submit </button>

          <button type="button" id='rejectBtn' class="btn btn-light button savebtn" (click)="updateValidity(qc.actionClicked)" [disabled]="qc.actionClicked === 'reject' && !qc.newRejectionComments" [hidden]="qc.actionClicked !== 'valid' && qc.actionClicked !== 'invalid' && qc.actionClicked !== 'reject'">Confirm</button>
      </div>
  </div>
