::ng-deep .mat-form-field {
  width: 100%;
}
::ng-deep #managerContent .download-worksheet {
  margin-top:15px;
}
::ng-deep .feedbackSubmitted {
  color:green;
}
::ng-deep textarea{font-family: inherit}
::ng-deep table.user-tabular-data-screen-3{margin-top: 20px;width: 100%}
::ng-deep table.user-tabular-data-screen-3 tr th{background: #fafafa;padding: 20px 20px;border-collapse: collapse;color: #777777;font-weight: 700;text-align: left !important}
::ng-deep table.user-tabular-data-screen-3 tr td{border-collapse: collapse;padding: 10px 20px;vertical-align: top;border-bottom: 1px solid #ccc}
::ng-deep .default-txt{color: #828282;background: transparent;border: none;cursor: pointer}
::ng-deep .save-feedback{color: #b51921;background: transparent;border: none;cursor: pointer}
::ng-deep .commentsTextArea{
  padding-top: 20px!important;
}
::ng-deep .downloadbutton {
  float: right;
  display: inline-block;
}
::ng-deep a.refreshButton{
  margin-right: 14px;
}
