::ng-deep .UserButton {
    position: fixed !important;
    width: 100% !important;
    margin: -50px !important;
}

::ng-deep #saveClient {
    background-color: #C53E3E !important;
    border-color: #C53E3E !important;
}

.cancel-btn {
    background-color:ghostwhite;
}

.fdBtn {
    margin-right: 10px;
}

