<!-- Approve Accept Reject Modal -->
<!-- <p-dialog header="{{expenseDialog.title}}" [(visible)]="displayModal" [modal]="true" [draggable]="false" [responsive]="true" [contentStyle]="{'max-height':'450px'}" [style]="{'width': '50%'}" [blockScroll]="true" (onHide)="cancelFormSub('cancelReject_form')"> -->

    <div class='UserButton' fxLayout="row" fxLayoutAlign="end center">
      <button id="saveClient" pButton type="button" class="fdBtn" label="{{expenseDialog.title}}" [disabled]="submitBtn.isClicked" (click)="onSubmit(expenseDialog.title)"></button>
      <button type="button" pButton (click)="cancel();" label="Cancel" class="ui-button-secondary cancel-btn"></button>
    </div>
    <div fxLayout="row" #scrollDown fxLayoutAlign="space-between start" fxLayoutGap="5px">
    <form id="myform" [formGroup]="cancelReject_form" *ngIf="expenseDialog.title === 'Cancel Expense' || expenseDialog.title === 'Reject Expense'  ">
        <div class="ui-g">
            <div class="ui-g-6">Are you sure you want to {{expenseDialog.text}} this expense ?</div>
            <div class="ui-g-6">
                <p-radioButton name="ce" value="Yes" label="Yes" inputId="preopt1" (onClick)="isExpenseRej()" formControlName="isCancel">
                </p-radioButton>&nbsp;
                <p-radioButton name="ce" value="No" label="No" inputId="preopt2" (onClick)="isExpenseRej()" formControlName="isCancel">
                </p-radioButton>
                <div *ngIf="formSubmit.isSubmit && isValidCancelExpeseForm.isCancel.errors">
                    <div *ngIf="isValidCancelExpeseForm.isCancel.errors.required" style="color:red;">Please select your Confirmation.
                    </div>
                </div>
            </div>
            <div class="ui-g-6">Comments</div>
            <div class="ui-g-6">
                <span class="ui-float-label">
                    <textarea [rows]="4" [cols]="30" pInputTextarea autoResize="autoResize"
                        formControlName="ApproverComments"></textarea>
                    <!-- <label for="float-input">Comment</label> -->
                </span>
                <div *ngIf="formSubmit.isSubmit && isValidCancelExpeseForm.ApproverComments.errors">
                    <div *ngIf="isValidCancelExpeseForm.ApproverComments.errors.required" style="color:red;">Comments are required.
                    </div>
                </div>
            </div>
        </div>
    </form>

    <form id="myform" [formGroup]="approveExpense_form" *ngIf="expenseDialog.title === 'Approve Expense' || expenseDialog.title === 'Approve Expense'  ">
        <div class="ui-g">
            <div class="ui-g-6">Paying Entity</div>
            <div class="ui-g-6">
                <p-dropdown resetFilterOnHide="true" [options]="billingEntityData" virtualScroll="true" itemSize="30" [showClear]="false" placeholder="Select a Billing Entity" [style]="{'width':'100%'}" formControlName="PayingEntity" (onChange)="selectedBE($event.value)"
                    optionLabel="Title">
                </p-dropdown>
                <div *ngIf="formSubmit.isSubmit && isValidApproveExpeseForm.PayingEntity.errors">
                    <div *ngIf="isValidApproveExpeseForm.PayingEntity.errors.required" style="color:red;">Paying entity is required.</div>
                </div>
            </div>
            <div *ngIf="selectedRowItem.RequestType === 'Invoice Payment' " style="width: -webkit-fill-available !important;">
                <div class="ui-g-6">Note</div>
                <div class="ui-g-6">
                    <!-- <input type="text" pInputText formControlName="ApproverComments" /> -->
                    <textarea rows="5" cols="30" pInputTextarea formControlName="ApproverComments" maxlength="100"></textarea>
                    <div *ngIf="formSubmit.isSubmit && isValidApproveExpeseForm.ApproverComments.errors">
                        <div *ngIf="isValidApproveExpeseForm.ApproverComments.errors.required" style="color:red;">Please provide Note.</div>
                    </div>
                </div>
            </div>
            <div *ngIf="selectedRowItem.RequestType === 'Credit Card'">
                <div class="ui-g-6">Reference Number</div>
                <div class="ui-g-6">
                    <input type="text" pInputText formControlName="Number" />
                    <div *ngIf="formSubmit.isSubmit && isValidApproveExpeseForm.Number.errors">
                        <div *ngIf="isValidApproveExpeseForm.Number.errors.required" style="color:red;">Please provide Reference number.</div>
                    </div>
                </div>
                <div class="ui-g-6">Payment Date</div>
                <div class="ui-g-6 pl-0">
                    <p-calendar styleClass="pCalendarBtn" [showIcon]="true" [monthNavigator]="true" [readonlyInput]="true" dateFormat="dd M , yy" yearRange="2019:2030" [disabledDays]="[0,6]" [yearNavigator]="true" [inputStyle]="{'width': '80%', 'min-width': '80%','padding':'0px'}"
                        appendTo="body" formControlName="DateSpend">
                    </p-calendar>
                    <div *ngIf="formSubmit.isSubmit && isValidApproveExpeseForm.DateSpend.errors">
                        <div *ngIf="isValidApproveExpeseForm.DateSpend.errors.required" style="color:red;">Please provide Payment Date.</div>
                    </div>
                </div>
                <div class="ui-g-6">Payment Mode</div>
                <div class="ui-g-6">
                    <p-dropdown resetFilterOnHide="true" [options]="paymentModeArray" [showClear]="false" placeholder="Select a Payment Mode" [style]="{'width':'100%'}" formControlName="PaymentMode" optionLabel="value" (onChange)="selectedPaymentMode($event.value)" onfocus='this.size=10;'>
                    </p-dropdown>
                    <div *ngIf="formSubmit.isSubmit && isValidApproveExpeseForm.PaymentMode.errors">
                        <div *ngIf="isValidApproveExpeseForm.PaymentMode.errors.required" style="color:red;">Please provide Payment Mode.</div>
                    </div>
                </div>


                <!-- <div class="p-grid">
                    <div class="p-col-4">
                        <div class="box">
                            Payment Mode
                        </div>
                    </div>
                    <div class="p-col-4">
                        <div class="box">
                            <p-dropdown resetFilterOnHide="true"[options]="paymentModeArray" [showClear]="false" placeholder="Select a Payment Mode"
                                [style]="{'width':'100%'}" formControlName="PaymentMode" optionLabel="value"
                                (onChange)="selectedPaymentMode($event.value)" onfocus='this.size=10;'>
                            </p-dropdown>
                        </div>
                    </div>
                </div> -->


                <div class="ui-g-6">Notes</div>
                <div class="ui-g-6">
                    <textarea [rows]="4" [cols]="30" pInputTextarea autoResize="autoResize" formControlName="ApproverComments"></textarea>
                    <div *ngIf="formSubmit.isSubmit && isValidApproveExpeseForm.ApproverComments.errors">
                        <div *ngIf="isValidApproveExpeseForm.ApproverComments.errors.required" style="color:red;">Please provide Note.</div>
                    </div>
                </div>
                <div class="ui-g-6">Upload File</div>
                <div class="ui-g-6">
                    <input type="file" name="myfile" class="form-control" id="myfile" (change)="onFileChange($event, 'ApprovedExpenseFiles')" #fileInput formControlName="ApproverFileUrl" />
                    <div *ngIf="formSubmit.isSubmit && isValidApproveExpeseForm.ApproverFileUrl.errors">
                        <div *ngIf="isValidApproveExpeseForm.ApproverFileUrl.errors.required" style="color:red;">Please provide file.</div>
                    </div>
                </div>
            </div>


            <div [ngStyle]="{'margin-top':selectedRowItem.RequestType !== 'Credit Card' ? '45%' : '0px' }"></div>

        </div>
    </form>
</div>
<!-- </p-dialog> -->