<!-- Loadder -->
<div class="tableLoader" [hidden]='isPSInnerLoaderHidden'>
    <div id="scInnerLoader"></div>
    <div id="scInnerLoaderText">Loading...</div>
</div>



<div class="p-grid">
    <div class="p-col-12 p-md-12 p-lg-12 f-right">
        <div style="display: -webkit-inline-box;">
            <div class="box" style="margin-right: 20px;">
                <button type="button" pButton icon="fa fa-plus-circle" iconPos="left" label="Create Proforma"
                    (click)="createProforma()"></button>
            </div>
            <div class="box">
                <!-- <button type="button" pButton label="Export" (click)="fdDataShareServie.convertToExcelFile(pfc)"></button> -->
                <i style="font-size: 1.8em;cursor: pointer;" (click)="fdDataShareServie.convertToExcelFile(pfc)"
                    title="Export To Excel" class="fa fa-fw fa-file-excel-o"></i>
            </div>
        </div>
    </div>
    <div style="clear: both;"></div>
    <!-- <div class="p-col-12 p-md-6 p-lg-3 f-right">
           
        </div> -->
</div>

<!-- <button (click)="checkSelectedRowData()">Check Data</button> -->
<div class="financeTable">
<p-table #pfc [columns]="proformaCols" [value]="proformaRes" [paginator]="true" [rows]="10"
    [(selection)]="selectedRowData" selectionMode="multiple" (onRowSelect)="onRowSelect($event)"
    [resizableColumns]="true" exportFilename="Proformas">
    <ng-template pTemplate="header" let-columns>

        <tr>
            <th>S.No</th>
            <th style="width: 2.25em">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn pReorderableColumn
                [hidden]="!col.visibility">
                {{col.header}}
                <p-sortIcon *ngIf="col.header != '' " [field]="col.field"></p-sortIcon>
            </th>
        </tr>

        <tr>
            <th></th>
            <th></th>
            <th *ngFor="let col of columns" [ngSwitch]="col.field" class="ui-fluid" [hidden]="!col.visibility">
                <ng-container *ngIf="col.field">
            <td></td>
            <p-multiSelect *ngSwitchCase="'ProformaNumber'" [options]="proformaColArray.ProformaNumber"
                defaultLabel="All" appendTo="body" (onChange)="pfc.filter($event.value, col.field, 'in')">
            </p-multiSelect>
            <p-multiSelect *ngSwitchCase="'PONumber'" [options]="proformaColArray.PONumber" defaultLabel="All"
                appendTo="body" (onChange)="pfc.filter($event.value, col.field, 'in')">
            </p-multiSelect>
            <p-multiSelect *ngSwitchCase="'ProformaDate'" [options]="proformaColArray.ProformaDate" defaultLabel="All"
                appendTo="body" (onChange)="pfc.filter($event.value, col.field, 'in')">
            </p-multiSelect>
            <p-multiSelect *ngSwitchCase="'ProformaType'" [options]="proformaColArray.ProformaType" defaultLabel="All"
                appendTo="body" (onChange)="pfc.filter($event.value, col.field, 'in')">
            </p-multiSelect>
            <p-multiSelect *ngSwitchCase="'Amount'" [options]="proformaColArray.Amount" defaultLabel="All"
                appendTo="body" (onChange)="pfc.filter($event.value, col.field, 'in')">
            </p-multiSelect>
            <p-multiSelect *ngSwitchCase="'Currency'" [options]="proformaColArray.Currency" defaultLabel="All"
                appendTo="body" (onChange)="pfc.filter($event.value, col.field, 'in')">
            </p-multiSelect>
            <p-multiSelect *ngSwitchCase="'POC'" [options]="proformaColArray.POC" defaultLabel="All" appendTo="body"
                (onChange)="pfc.filter($event.value, col.field, 'in')">
            </p-multiSelect>
            <p-multiSelect *ngSwitchCase="'Status'" [options]="proformaColArray.Status" defaultLabel="All"
                appendTo="body" (onChange)="pfc.filter($event.value, col.field, 'in')">
            </p-multiSelect>

            <!-- <p-dropdown [options]="[{id:1,value:'Rahul'}]" [style]="{'width':'100%'}">
                <ng-template let-item pTemplate="item">
                  <span>{{item.value}}</span>
                </ng-template>
              </p-dropdown> -->
            </ng-container>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
        <tr>
            <td>
                {{rowIndex+1}}
            </td>
            <td>
                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
            </td>
            <td *ngFor="let col of columns;index as i" class="ui-resizable-column" [hidden]="!col.visibility">
                <ng-container
                    *ngIf="col.field != 'ProformaNumber' &&  col.field != '' && col.field !== 'ProformaDate' ">
                    {{rowData[col.field]}}
                </ng-container>
                <ng-container *ngIf="col.field == 'ProformaDate'">
                    <p>{{rowData[col.field] | date:'MMM d, y' }}</p>
                </ng-container>
                <ng-container *ngIf="col.field == 'ProformaNumber'">
                    <a *ngIf="rowData['FileURL']" [href]="rowData['FileURL']" target="_blank">
                        {{rowData[col.field]}}</a>
                    <p *ngIf="!rowData['FileURL'] ">{{rowData[col.field]}}</p>
                </ng-container>
                <ng-container *ngIf="col.field == ''">
                    <p-menu #popupMenu [popup]="true" appendTo="body" [model]="items" styleClass="borderMenu"></p-menu>
                    <i class="pi pi-ellipsis-v" style="font-size:2em;top: 100px !important;cursor: pointer;"
                        (click)="popupMenu.toggle($event);openPopup(rowData, popupMenu)"></i>
                </ng-container>
            </td>
        </tr>
    </ng-template>
</p-table>
</div>
<!-- Table End  -->

<!-- Right Side Bar -->
<p-sidebar [(visible)]="rightSideBar" position="right" [style]="{overflow:'auto'}"
    styleClass="ui-sidebar-md">
    <ng-container *ngIf="rightSideBar">
        <app-pro-table-attribute [rowItemData]="selectedRowItem"></app-pro-table-attribute>
    </ng-container>
</p-sidebar>

<!-- Context Menu Start -->
<!-- <p-contextMenu #cm [model]="items"></p-contextMenu> -->
<!-- Context Menu End -->

<!-- Toast Messages -->
<p-toast position="bottom-right" key="myKey1"></p-toast>
<!-- Toast Message End -->

<!-- Confirmation -->
<p-confirmDialog key="proforma" [style]="{width: '30vw'}"></p-confirmDialog>

<!-- Replace Proforma -->
<p-dialog header="Replace Proforma" [(visible)]="replaceProformaModal" [modal]="true" [draggable]="false"
    [responsive]="true" [style]="{'width': '30%'}" [maximizable]="false" 
    (onHide)="cancelFormSub('replaceProforma')">
    <form id="myform" [formGroup]="replaceProforma_form">
        <div class="ui-g">
            <div class="ui-g-6">
                Uplaod File
            </div>
            <div class="ui-g-6">
                <input type="file" name="myfile" class="form-control" id="myfile" (change)="onFileChange($event,'')"
                    #fileInput formControlName="file" />
                <div *ngIf="formSubmit.isSubmit && isValidReplaceProformaForm.file.errors">
                    <div *ngIf="isValidReplaceProformaForm.file.errors.required" style="color:red;">Please Select file &
                        try again.
                    </div>
                </div>
            </div>
        </div>
    </form>
    <p-footer>
        <button pButton type="button" label="Save" [disabled]="submitBtn.isClicked"
            (click)="onSubmit('replaceProforma')"></button>
        <button pButton type="button" label="Cancel" (click)="cancelFormSub('replaceProforma')"></button>
    </p-footer>

</p-dialog>
<!-- Replace Proforma End-->

<!-- Generate Invoice -->
<p-dialog header="Generate Invoice" [(visible)]="generateInvoiceModal" [modal]="true" [draggable]="false"
    [responsive]="true" [style]="{'width': '40%'}" [maximizable]="false" (onHide)="cancelFormSub('generateInvoice')"
    [responsive]="true">
    <form id="myform" [formGroup]="generateInvoice_form">
        <div class="ui-g">
            <div class="ui-g-6">
                Invoice Date
            </div>
            <div class="ui-g-6">
                <p-calendar [showIcon]="true" [monthNavigator]="true" [readonlyInput]="true" dateFormat="dd M , yy"
                    yearRange="2019:2030" [disabledDays]="[0,6]" [yearNavigator]="true"
                    [style]="{'position': 'fixed', 'overflow': 'visible', 'z-index': '999'}"
                    [inputStyle]="{'width': '80%', 'min-width': '80%','padding':'0px'}" formControlName="InvoiceDate">
                </p-calendar>
                <div *ngIf="formSubmit.isSubmit && isValidGenerateInvoiceForm.InvoiceDate.errors">
                    <div *ngIf="isValidReplaceProformaForm.file.errors.required" style="color:red;">Please
                        provide Invoice Date.
                    </div>
                </div>
            </div>
        </div>
    </form>
    <p-footer>
        <button pButton type="button" label="Save" [disabled]="submitBtn.isClicked"
            (click)="onSubmit('generateInvoice')"></button>
        <button pButton type="button" label="Cancel" (click)="cancelFormSub('generateInvoice')"></button>
    </p-footer>

</p-dialog>
<!-- Generate Invoice End-->

<!-- Add to Proforma Modal -->
<p-dialog header="Create Proforma Form" [(visible)]="proformaModal" [modal]="true" [draggable]="false"
    [responsive]="true" [style]="{'width': '85%', 'top':'0px'}" [maximizable]="false"
    (onHide)="cancelFormSub('createProforma')">

    <form id="myform" [formGroup]="createProforma_form" novalidate>

        <div class="addProformaHeight p-grid">
            <div class="p-col-12 p-md-6 p-lg-3">
                <div class="box">
                    Client Legal Entity
                </div>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3">
                <div class="box">
                    <p-dropdown id="cle" class="cleClass" [options]="cleData" formControlName="ClientLegalEntity"
                        placeholder="Select Client" [filter]="true" optionLabel="Title" [showClear]="true"
                        (onChange)="onCLIChange($event)"></p-dropdown>
                    <div *ngIf="formSubmit.isSubmit && isValidCreateProformaForm.ClientLegalEntity.errors">
                        <div *ngIf="isValidCreateProformaForm.ClientLegalEntity.errors.required" style="color:red;">
                            Please provide Client Legal Entity.</div>
                    </div>
                </div>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3">
                <div class="box">PO</div>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3">
                <div class="box">
                    <p-dropdown [options]="poNames" formControlName="POName" placeholder="Select PO "
                        optionLabel="Number" [filter]="true" [showClear]="true" (onChange)="onPOChange($event)">
                    </p-dropdown>
                    <div *ngIf="formSubmit.isSubmit && isValidCreateProformaForm.POName.errors">
                        <div *ngIf="isValidCreateProformaForm.POName.errors.required" style="color:red;">Please
                            select PO.</div>
                    </div>
                </div>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3">
                <div class="box">Currency</div>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3">
                <div class="box">
                    <input type="text" pInputText formControlName="Currency" />
                </div>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3">
                <div class="box">
                    Amount
                </div>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3">
                <div class="box">
                    <input id="disabled-input" type="text" (keypress)="onlyNumberKey($event)" pInputText
                        formControlName="Amount" maxlength="15" (input)="enteredPOAmt($event.target.value)" />
                </div>
                <div *ngIf="formSubmit.isSubmit && isValidCreateProformaForm.Amount.errors">
                    <div *ngIf="isValidCreateProformaForm.Amount.errors.required" style="color:red;">Please
                        provide Amount.</div>
                </div>
                <div *ngIf="enterPOAmtMsg">
                    <div style="color:red;">Entered amount can't be greater than Avaliable Budget.
                    </div>
                </div>
            </div>


            <div class="p-col-12 p-md-6 p-lg-3">
                <div class="box">Proforma Type</div>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3">
                <div class="box">
                    <p-dropdown [options]="proformaTypes" formControlName="ProformaType" placeholder="Select One"
                        optionLabel="lable" [showClear]="true"
                        (onChange)="updatePrformaNumFromPT(createProforma_form.value.ClientLegalEntity,$event)">
                    </p-dropdown>
                </div>
                <div *ngIf="formSubmit.isSubmit && isValidCreateProformaForm.ProformaType.errors">
                    <div *ngIf="isValidCreateProformaForm.ProformaType.errors.required" style="color:red;">Please
                        provide Proforma Type.</div>
                </div>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3">
                <div class="box">
                    POC Name
                </div>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3">
                <div class="box">
                    <p-dropdown [options]="listOfPOCNames" formControlName="POCName" placeholder="Select POC Name"
                        [filter]="true" optionLabel="FullName" (onChange)="pocChange($event)"
                        [style]="{width: '215px'}">
                        <ng-template let-item pTemplate="item">
                            <div class="ui-helper-clearfix" style="position: relative;height: 35px;">
                                <div style="font-size:14px;float:left;margin-top:4px">{{item.label }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <div *ngIf="formSubmit.isSubmit && isValidCreateProformaForm.POCName.errors">
                        <div *ngIf="isValidCreateProformaForm.POCName.errors.required" style="color:red;">Please
                            provide POC Name.</div>
                    </div>
                </div>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3">
                <div class="box">
                    Proforma Number
                </div>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3">
                <div class="box">
                    <input type="text" pInputText formControlName="ProformaNumber" />
                    <div *ngIf="formSubmit.isSubmit && isValidCreateProformaForm.ProformaNumber.errors">
                        <div *ngIf="isValidCreateProformaForm.ProformaNumber.errors.required" style="color:red;">Please
                            provide Proforma Number.</div>
                    </div>
                </div>
            </div>

            <div class="p-col-12 p-md-6 p-lg-3">
                <div class="box">
                    Address Type
                </div>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3">
                <div class="box">
                    <p-dropdown [options]="proformaAddressType" formControlName="AddressType" placeholder="Select One"
                        optionLabel="lable" [showClear]="true"></p-dropdown>
                    <div *ngIf="formSubmit.isSubmit && isValidCreateProformaForm.AddressType.errors">
                        <div *ngIf="isValidCreateProformaForm.AddressType.errors.required" style="color:red;">Please
                            provide Address Type.</div>
                    </div>
                </div>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3">
                <div class="box">
                    Template
                </div>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3">
                <div class="box">
                    <p-dropdown [options]="proformatTemplates" formControlName="Template" placeholder="Select One"
                        optionLabel="label" [showClear]="true"
                        (onChange)="showHideState(createProforma_form.value.Template)"></p-dropdown>
                    <div *ngIf="formSubmit.isSubmit && isValidCreateProformaForm.Template.errors">
                        <div *ngIf="isValidCreateProformaForm.Template.errors.required" style="color:red;">Please
                            provide Template.</div>
                    </div>
                </div>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3">
                <div class="box">State</div>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3">
                <div class="box" *ngIf="isTemplate4US">
                    <p-dropdown [options]="usStatesData" formControlName="State" placeholder="Select One"
                        optionLabel="Title" [filter]="true" [showClear]="true"></p-dropdown>
                    <div *ngIf="formSubmit.isSubmit && isValidCreateProformaForm.State.errors">
                        <div *ngIf="isValidCreateProformaForm.State.errors.required" style="color:red;">Please
                            provide State.</div>
                    </div>
                </div>
            </div>

            <div class="p-col-12 p-md-6 p-lg-3">
                <div class="box">Proforma Date</div>
            </div>
            <div class="p-col-12 p-md-6 p-lg-9">
                <div class="box">
                    <p-calendar [showIcon]="true" [monthNavigator]="true" [readonlyInput]="true" dateFormat="dd M , yy"
                        yearRange="2019:2030" [disabledDays]="[0,6]" [yearNavigator]="true"
                        [inputStyle]="{'width': '80%', 'min-width': '80%','padding':'0px'}" [minDate]="minProformDate"
                        (onFocus)="updateCalendarUI(fromCalendar)"
                        (onClose)="updatePrformaNumFromPT(createProforma_form.value.ClientLegalEntity,$event)"
                        #fromCalendar formControlName="ProformaDate">
                    </p-calendar>
                    <div *ngIf="formSubmit.isSubmit && isValidCreateProformaForm.ProformaDate.errors">
                        <div *ngIf="isValidCreateProformaForm.ProformaDate.errors.required" style="color:red;">Please
                            provide Proforma Date.</div>
                    </div>
                </div>
            </div>



            <div class="p-col-12 p-md-6 p-lg-3">
                <div class="box">Proforma Title</div>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3">
                <div class="box">
                    <!-- <input id="disabled-input" type="text" pInputText formControlName="ProformaTitle" /> -->
                    <textarea rows="5" style="width:90%" pInputTextarea formControlName="ProformaTitle"></textarea>
                    <div *ngIf="formSubmit.isSubmit && isValidCreateProformaForm.ProformaTitle.errors">
                        <div *ngIf="isValidCreateProformaForm.ProformaTitle.errors.required" style="color:red;">Please
                            provide Proforma Title.</div>
                    </div>
                    <div *ngIf="createProforma_form.controls['ProformaTitle'].hasError('maxlength')">Proforma title
                        should be less than 255 charcters</div>
                </div>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3">
                <div class="box">Additional Comments (optional)</div>
            </div>
            <div class="p-col-12 p-md-6 p-lg-3">
                <div class="box">
                    <textarea rows="5" style="width:90%" pInputTextarea formControlName="AdditionalComments"></textarea>
                </div>
            </div>
        </div>

    </form>
    <p-footer>
        <button type="button" pButton label="Add Proforma" [disabled]="submitBtn.isClicked"
            (click)="onSubmit('createProforma')"></button>
        <button type="button" pButton label="Cancel" (click)="cancelFormSub('createProforma')"></button>
    </p-footer>
</p-dialog>

<!-- To Display Proforma Number -->
<p-toast [style]="{marginTop: '80px'}" styleClass="custom-toast" key="custom" position="bottom-center"></p-toast>
<!-- <router-outlet></router-outlet> -->
<app-editor #editorRef></app-editor>
<app-timeline-history #timelineRef></app-timeline-history>