<div class="tableLoader" [hidden]="isPSInnerLoaderHidden">
  <div id="scInnerLoader"></div>
  <div id="scInnerLoaderText">Loading...</div>
</div>
<div class="p-col-6 f-left">
  <div style="display: -webkit-inline-box;">
    <div class="box">
      Select PO &nbsp;
      <p-dropdown
        resetFilterOnHide="true"
        [options]="purchaseOrders"
        [(ngModel)]="selectedPurchaseNumber"
        filter="true"
        placeholder="Select PO"
        optionLabel="NameNumber"
        [showClear]="true"
        (onChange)="onChange($event)"
      >
        
      </p-dropdown>
    </div>
  </div>
</div>
<div class="p-col-6 f-right">
  <div style="display: -webkit-inline-box;">
    <div class="box" style="margin-right: 20px;">
      <button
        type="button"
        class="fdBtn"
        pButton
        icon="fa fa-plus-circle"
        iconPos="left"
        label="Add to Proforma"
        (click)="addProforma()"
      ></button>
    </div>
    <div class="box">
      <i
        style="font-size: 1.8em; cursor: pointer;"
        (click)="fdDataShareServie.convertToExcelFile(cnf)"
        title="Export To Excel"
        class="fa fa-fw fa-file-excel-o"
      ></i>
    </div>
  </div>
</div>
<div class="clear"></div>


<div class="p-grid">
  
    <div class="p-col-3">
      Revenue Balance : &nbsp;
      <label style="margin: 0 8px;" *ngIf="selectedPurchaseNumber">{{
        po.revenuBalance
      }}</label>
    </div>
    <div class="p-col-3">
      OOP Balance : &nbsp;
      <label style="margin: 0 8px;" *ngIf="selectedPurchaseNumber">{{
        po.oopBalance
      }}</label>
    </div>
    <div class="p-col-3">
      # Item : &nbsp;
      <label *ngIf="selectedAllRowData" style="color: red; margin: 0 8px;">{{
        selectedAllRowData.length
      }}</label>
    </div>
    <div class="p-col-3">
      Total Amount : &nbsp;
      <label *ngIf="selectedAllRowData" style="color: red; margin: 0 8px;">{{
        selectedTotalAmt
      }}</label>
    </div>
  
</div>

<div class="financeTable">
  <p-table
    #cnf
    [columns]="confirmCols"
    [value]="confirmedRes"
    [paginator]="false"
    (onRowSelect)="onRowSelect($event)"
    (onRowUnselect)="onRowUnselect($event)"
    [(selection)]="selectedAllRowData"
    selectionMode=""
    exportFilename="Confirmed_InvoiceLineItems"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th>S.No</th>
        <th style="width: 2.25em;">
          <p-tableHeaderCheckbox
            (click)="handleData($event)"
          ></p-tableHeaderCheckbox>
        </th>
        <th
          *ngFor="let col of columns"
          [pSortableColumn]="col.field"
          [hidden]="!col.visibility"
        >
          {{ col.header }}
          <p-sortIcon *ngIf="col.header != ''" [field]="col.field"></p-sortIcon>
        </th>
      </tr>
      <tr>
        <th></th>
        <th></th>
        <th
          *ngFor="let col of columns"
          [ngSwitch]="col.field"
          class="ui-fluid"
          [hidden]="!col.visibility"
        >
          <ng-container *ngIf="col.field">
            <td></td>
            <p-multiSelect
              (keydown.enter)="$event.preventDefault()"
              resetFilterOnHide="true"
              *ngSwitchCase="'ProjectCode'"
              [options]="confirmedInColArray.ProjectCode"
              defaultLabel="All"
              [maxSelectedLabels]="1"
              (onChange)="cnf.filter($event.value, col.field, 'in')"
              (input)="optionFilter($event)"
              (onPanelShow)="isOptionFilter = true"
            >
            </p-multiSelect>
            <p-multiSelect
              (keydown.enter)="$event.preventDefault()"
              resetFilterOnHide="true"
              *ngSwitchCase="'SOWValue'"
              [options]="confirmedInColArray.SOWCode"
              defaultLabel="All"
              [maxSelectedLabels]="1"
              (onChange)="cnf.filter($event.value, col.field, 'in')"
              (input)="optionFilter($event)"
              (onPanelShow)="isOptionFilter = true"
            >
            </p-multiSelect>
            <p-multiSelect
              (keydown.enter)="$event.preventDefault()"
              resetFilterOnHide="true"
              *ngSwitchCase="'ClientLegalEntity'"
              [options]="confirmedInColArray.ClientLegalEntity"
              defaultLabel="All"
              [maxSelectedLabels]="1"
              (onChange)="cnf.filter($event.value, col.field, 'in')"
              (input)="optionFilter($event)"
              (onPanelShow)="isOptionFilter = true"
            >
            </p-multiSelect>
            <p-multiSelect
              (keydown.enter)="$event.preventDefault()"
              resetFilterOnHide="true"
              *ngSwitchCase="'ProjectMileStone'"
              [options]="confirmedInColArray.ProjectMileStone"
              defaultLabel="All"
              [maxSelectedLabels]="1"
              (onChange)="cnf.filter($event.value, col.field, 'in')"
              (input)="optionFilter($event)"
              (onPanelShow)="isOptionFilter = true"
            >
            </p-multiSelect>
            <p-multiSelect
              (keydown.enter)="$event.preventDefault()"
              resetFilterOnHide="true"
              *ngSwitchCase="'POName'"
              [options]="confirmedInColArray.POName"
              defaultLabel="All"
              [maxSelectedLabels]="1"
              (onChange)="cnf.filter($event.value, col.field, 'in')"
              (input)="optionFilter($event)"
              (onPanelShow)="isOptionFilter = true"
            >
            </p-multiSelect>
            <p-multiSelect
              (keydown.enter)="$event.preventDefault()"
              resetFilterOnHide="true"
              *ngSwitchCase="'ClientName'"
              [options]="confirmedInColArray.ClientName"
              defaultLabel="All"
              [maxSelectedLabels]="1"
              (onChange)="cnf.filter($event.value, col.field, 'in')"
              (input)="optionFilter($event)"
              (onPanelShow)="isOptionFilter = true"
            >
            </p-multiSelect>
            <p-multiSelect
              (keydown.enter)="$event.preventDefault()"
              resetFilterOnHide="true"
              *ngSwitchCase="'ClientAmount'"
              [options]="confirmedInColArray.ClientAmount"
              defaultLabel="All"
              [maxSelectedLabels]="1"
              (onChange)="cnf.filter($event.value, col.field, 'in')"
              (input)="optionFilter($event)"
              (onPanelShow)="isOptionFilter = true"
            >
            </p-multiSelect>
            <p-multiSelect
              (keydown.enter)="$event.preventDefault()"
              resetFilterOnHide="true"
              *ngSwitchCase="'ClientCurrency'"
              [options]="confirmedInColArray.ClientCurrency"
              defaultLabel="All"
              [maxSelectedLabels]="1"
              (onChange)="cnf.filter($event.value, col.field, 'in')"
              (input)="optionFilter($event)"
              (onPanelShow)="isOptionFilter = true"
            >
            </p-multiSelect>
            <p-multiSelect
              (keydown.enter)="$event.preventDefault()"
              resetFilterOnHide="true"
              *ngSwitchCase="'ScheduledDate'"
              [options]="confirmedInColArray.ScheduledDate"
              defaultLabel="All"
              [maxSelectedLabels]="1"
              (onChange)="cnf.filter($event.value, col.field, 'in')"
              (input)="optionFilter($event)"
              (onPanelShow)="isOptionFilter = true"
            >
            </p-multiSelect>
            <p-multiSelect
              (keydown.enter)="$event.preventDefault()"
              resetFilterOnHide="true"
              *ngSwitchCase="'ScheduleType'"
              [options]="confirmedInColArray.ScheduleType"
              defaultLabel="All"
              [maxSelectedLabels]="1"
              (onChange)="cnf.filter($event.value, col.field, 'in')"
              (input)="optionFilter($event)"
              (onPanelShow)="isOptionFilter = true"
            >
            </p-multiSelect>
            <p-multiSelect
              (keydown.enter)="$event.preventDefault()"
              resetFilterOnHide="true"
              *ngSwitchCase="'POC'"
              [options]="confirmedInColArray.POC"
              defaultLabel="All"
              [maxSelectedLabels]="1"
              (onChange)="cnf.filter($event.value, col.field, 'in')"
              (input)="optionFilter($event)"
              (onPanelShow)="isOptionFilter = true"
            >
            </p-multiSelect>
            <p-multiSelect
              (keydown.enter)="$event.preventDefault()"
              resetFilterOnHide="true"
              *ngSwitchCase="'Amount'"
              [options]="confirmedInColArray.Amount"
              defaultLabel="All"
              [maxSelectedLabels]="1"
              (onChange)="cnf.filter($event.value, col.field, 'in')"
              (input)="optionFilter($event)"
              (onPanelShow)="isOptionFilter = true"
            >
            </p-multiSelect>
            <p-multiSelect
              (keydown.enter)="$event.preventDefault()"
              resetFilterOnHide="true"
              *ngSwitchCase="'Currency'"
              [options]="confirmedInColArray.Currency"
              defaultLabel="All"
              [maxSelectedLabels]="1"
              (onChange)="cnf.filter($event.value, col.field, 'in')"
              (input)="optionFilter($event)"
              (onPanelShow)="isOptionFilter = true"
            >
            </p-multiSelect>
            <p-multiSelect
              (keydown.enter)="$event.preventDefault()"
              resetFilterOnHide="true"
              *ngSwitchCase="'POCName'"
              [options]="confirmedInColArray.POCName"
              defaultLabel="All"
              [maxSelectedLabels]="1"
              (onChange)="cnf.filter($event.value, col.field, 'in')"
              (input)="optionFilter($event)"
              (onPanelShow)="isOptionFilter = true"
            >
            </p-multiSelect>
          </ng-container>
        </th>
      </tr>
    </ng-template>
    <ng-template
      pTemplate="body"
      let-rowData
      let-columns="columns"
      let-rowIndex="rowIndex"
    >
      <tr>
        <td>
          {{ rowIndex + 1 }}
        </td>
        <td>
          <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
        </td>
        <td
          *ngFor="let col of columns; index as i"
          class="ui-resizable-column"
          [hidden]="!col.visibility"
        >
          <ng-container *ngIf="col.field != 'ScheduledDate' && col.field != ''">
            {{ rowData[col.field] }}
          </ng-container>
          <ng-container *ngIf="col.field == 'ScheduledDate'">
            {{ rowData[col.field] | date: "MMM dd, yyyy" }}
          </ng-container>
          <ng-container *ngIf="col.field == ''">
            <div>
              <p-menu
                #popupMenu
                [popup]="true"
                [model]="items"
                styleClass="borderMenu"
              >
              </p-menu>
              <i
                class="pi pi-ellipsis-v"
                style="font-size: 2em; top: 100px !important; cursor: pointer;"
                (click)="openPopup(rowData, popupMenu); popupMenu.show($event)"
              ></i>
            </div>
          </ng-container>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<!-- Table End -->

<!-- Right Side Bar -->
<p-sidebar
  [(visible)]="rightSideBar"
  position="right"
  [style]="{ width: '30em', overflow: 'auto' }"
  styleClass="ui-sidebar-md"
>
  <ng-container *ngIf="rightSideBar">
    <app-ili-table-attribute
      [rowItemData]="selectedRowItem"
    ></app-ili-table-attribute>
  </ng-container>
</p-sidebar>


<app-editor #editorRef></app-editor>
<app-timeline-history #timelineRef></app-timeline-history>
