<!-- Loadder -->
<div class="tableLoader" [hidden]='fdConstantsService.fdComponent.isPSInnerLoaderHidden'>
    <div id="scInnerLoader"></div>
    <div id="scInnerLoaderText">Loading...</div>
</div>
<!-- <div class="ui-g">
    <div class="ui-g-3"></div>
    <div class="ui-g-3"></div>
    <div class="ui-g-3"></div>
    <div class="ui-g-3 f-right">
        <div class="box" style="display: -webkit-inline-box;">
            <i style="font-size: 1.8em;cursor: pointer;" (click)=" fdDataShareServie.convertToExcelFile(db)" title="Export To Excel" class="fa fa-fw fa-file-excel-o"></i>
        </div>
    </div>
</div> -->
<div class="financeTable">
    <p-table #db [columns]="deliverableBasedCols" [value]="deliverableBasedRes" 
    [rowsPerPageOptions]="[10,25,50]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [paginator]="true" [rows]="10" styleClass="p-datatable-cactus p-datatable-gridlines"
    (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" selectionMode="" 
    [(selection)]="selectedAllRowsItem" exportFilename="Deliverable_Based_InvoiceLineItems">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th class="firstColumnWidth">S.No</th>
                <th class="firstColumnWidth">
                    <p-tableHeaderCheckbox (click)="selectAllRows()"></p-tableHeaderCheckbox>
                </th>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field" [hidden]="!col.visibility">
                    <!-- {{col.header}}
                    <p-sortIcon *ngIf="col.header != '' " [field]="col.field"></p-sortIcon> -->
                    <div *ngIf="col.field != ''" class="p-d-flex p-jc-between p-ai-center">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                        <p-columnFilter
                            *ngIf="col.header != ''"
                            [field]="col.field" matchMode="in" display="menu" [showMatchModes]="false"
                            [showOperator]="false" [showAddButton]="false">
                            <ng-template pTemplate="header">
                                <div class="p-px-3 p-pt-3 p-pb-0">
                                    <span class="p-text-bold"> {{col.header}} Picker</span>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-multiSelect [ngModel]="value" [options]="col.options" placeholder="All"
                                    (onChange)="filter($event.value)" optionLabel="label">
                                    <ng-template let-option pTemplate="item">
                                        <div class="p-multiselect-representative-option">
                                            <span class="p-ml-1">{{option.label}}</span>
                                        </div>
                                    </ng-template>
                                </p-multiSelect>
                            </ng-template>
                        </p-columnFilter>
                      </div>
                </th>
                <th class="lastColumnWidth">
                    <i (click)="fdDataShareServie.convertToExcelFile(db)" title="Export To Excel"
                              class="pi pi-file-excel tableExportIcon"></i>
                  </th>
            </tr>
            <!-- <tr>
                <th></th>
                <th></th>
                <th *ngFor="let col of columns" [ngSwitch]="col.field" class="ui-fluid" [hidden]="!col.visibility">
                    <ng-container *ngIf="col.field">
                        <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'ProjectCode'" [options]="deliverableBasedColArray.ProjectCode" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="db.filter($event.value, col.field, 'in')"
                            (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'ShortTitle'" [options]="deliverableBasedColArray.ShortTitle" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="db.filter($event.value, col.field, 'in')"
                            (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'SOWValue'" [options]="deliverableBasedColArray.SOWValue" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="db.filter($event.value, col.field, 'in')"
                            (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'ProjectMileStone'" [options]="deliverableBasedColArray.ProjectMileStone" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="db.filter($event.value, col.field, 'in')"
                            (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'POValues'" [options]="deliverableBasedColArray.POValues" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="db.filter($event.value, col.field, 'in')"
                            (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'ClientName'" [options]="deliverableBasedColArray.ClientName" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="db.filter($event.value, col.field, 'in')"
                            (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'Amount'" [options]="deliverableBasedColArray.Amount" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="db.filter($event.value, col.field, 'in')" (input)="optionFilter($event)"
                            (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'Currency'" [options]="deliverableBasedColArray.Currency" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="db.filter($event.value, col.field, 'in')"
                            (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'ScheduledDate'" [options]="deliverableBasedColArray.ScheduledDate" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="db.filter($event.value, col.field, 'in')"
                            (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'POCName'" [options]="deliverableBasedColArray.POCName" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="db.filter($event.value, col.field, 'in')" (input)="optionFilter($event)"
                            (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                    </ng-container>
                </th>
            </tr> -->
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
            <tr>
                <td class="firstColumnWidth">
                    {{rowIndex +1}}
                </td>
                <td class="firstColumnWidth">
                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                </td>
                <td *ngFor="let col of columns;index as i" [hidden]="!col.visibility">
                    <ng-container *ngIf="col.field != 'ScheduledDate' &&  col.field != '' ">
                        {{rowData[col.field]}}
                    </ng-container>
                    <ng-container *ngIf="col.field == 'ScheduledDate'">
                        {{rowData[col.field] | date:'MMM dd, yyyy' }}
                    </ng-container>
                    <!-- <ng-container *ngIf="col.field == ''">
                        <div>
                            <p-menu #popupMenu [popup]="true" [model]="items" styleClass="borderMenu">
                            </p-menu>
                            <i class="pi pi-ellipsis-v" style="font-size:2em;top: 100px !important;cursor: pointer;" (click)="openPopup(rowData, popupMenu);popupMenu.show($event);"></i>
                        </div>
                    </ng-container> -->
                </td>
                <td class="lastColumnWidth">
                    <div>
                      <p-menu
                            #popupMenu
                            [popup]="true"
                            [model]="items"
                            styleClass="borderMenu"
                          >
                          </p-menu>
                      <i class="pi pi-ellipsis-v" style="font-size:2em;top: 100px !important;cursor: pointer;"
                      (click)="openPopup(rowData, popupMenu);popupMenu.show($event);"></i>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<!-- Right Side Bar -->
<p-sidebar [(visible)]="rightSideBar" position="right" [style]="{overflow: 'auto'}" styleClass="ui-sidebar-md">
    <ng-container *ngIf="rightSideBar">
        <app-ili-table-attribute [rowItemData]="selectedRowItem"></app-ili-table-attribute>
    </ng-container>
</p-sidebar>

<app-timeline-history #timelineRef></app-timeline-history>
<!-- [autoZIndex]="false" [baseZIndex]="1001" -->