<div [hidden]='isAllProjectLoaderHidden'>
    <div id="allProjectLoader"></div>
    <div id="allProjectLoaderText">Loading...</div>
</div>
<div class="allProjects-section" [hidden]='isAllProjectTableHidden'>
    <div class="box excelIcon">
        <i style="font-size: 1.8em;cursor: pointer;" (click)="pmCommonService.convertToExcelFile(allProjectRef)"
            title="Export To Excel" class="fa fa-fw fa-file-excel-o"></i>
    </div>
    <div class="clear"></div>
    <p-table #allProjectRef [columns]="displayedColumns" [value]="pmObject.allProjectsArray" [paginator]="true"
        [rows]="10" selectionMode="" exportFilename="All Projects">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th class="lastColumnWidth ">S.No</th>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    {{ col.header }}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
                <th class="lastColumnWidth"></th>
            </tr>
            <tr>
                <th class="lastColumnWidth"></th>
                <th *ngFor="let col of columns" [ngSwitch]="col.field" class="ui-fluid">
                    <p-multiSelect *ngSwitchCase="'SOWCode'" [options]="allProjects.sowCodeArray" defaultLabel="All"
                        (onChange)="allProjectRef.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()">
                    </p-multiSelect>
                    <p-multiSelect *ngSwitchCase="'ProjectCode'" [(ngModel)]="pmObject.columnFilter.ProjectCode"
                        [options]="allProjects.projectCodeArray" defaultLabel="All"
                        (onChange)="allProjectRef.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()">
                    </p-multiSelect>
                    <p-multiSelect *ngSwitchCase="'ShortTitle'" [options]="allProjects.shortTitleArray"
                        defaultLabel="All" (onChange)="allProjectRef.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()">
                    </p-multiSelect>
                    <p-multiSelect *ngSwitchCase="'ClientLegalEntity'" [options]="allProjects.clientLegalEntityArray"
                        defaultLabel="All" (onChange)="allProjectRef.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()">
                    </p-multiSelect>
                    <p-multiSelect *ngSwitchCase="'DeliverableType'" [options]="allProjects.deliveryTypeArray"
                        defaultLabel="All" (onChange)="allProjectRef.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()">
                    </p-multiSelect>
                    <p-multiSelect *ngSwitchCase="'ProjectType'" [options]="allProjects.projectTypeArray"
                        defaultLabel="All" (onChange)="allProjectRef.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()">
                    </p-multiSelect>
                    <p-multiSelect *ngSwitchCase="'Status'" [options]="allProjects.statusArray" defaultLabel="All"
                        (onChange)="allProjectRef.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()">
                    </p-multiSelect>
                    <p-multiSelect *ngSwitchCase="'CreatedBy'" [options]="allProjects.createdByArray" defaultLabel="All"
                        (onChange)="allProjectRef.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()">
                    </p-multiSelect>
                    <p-multiSelect *ngSwitchCase="'CreatedDate'" [options]="allProjects.createdDateArray"
                        defaultLabel="All" (onChange)="allProjectRef.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()">
                    </p-multiSelect>
                </th>
                <th class="lastColumnWidth"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-task let-rowIndex="rowIndex">
            <tr>
                <td>{{rowIndex+1}}</td>
                <td>{{task.SOWCode}}</td>
                <td>{{task.ProjectCode}}</td>
                <td>{{task.ShortTitle}}</td>
                <td>{{task.ClientLegalEntity}}</td>
                <td>{{task.DeliverableType}}</td>
                <td>{{task.ProjectType}}</td>
                <td
                    [ngClass]="{'blueColor' : task.isBlueIndicator,'redColor': task.isRedIndicator,'greenColor': task.isGreenIndicator}">
                    {{task.Status}}</td>
                <td>{{task.CreatedBy}}</td>
                <td>{{task.CreatedDate | date:'MMM dd yyyy hh:mm:ss aa'}}</td>
                <td>
                    <div>
                        <p-menu [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'" #menu class="projectSlider"
                            [model]="popItems" [popup]="true"></p-menu>
                        <i class="pi pi-ellipsis-v" style="font-size:2em;cursor: pointer;"
                            (click)="storeRowData(rowData,menu); menu.toggle($event);"></i>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <div *ngIf="pmObject.isProjectRightSideVisible" class="ng-right-side-overlay">
        <p-sidebar [(visible)]="pmObject.isProjectRightSideVisible" position="right" styleClass="ui-sidebar-md">
            <p-table [value]="projectViewDataArray">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-task style="overflow: auto">
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Project ID</td>
                        <td>{{task.ProjectAttributes.ID}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">SOW Code</td>
                        <td>{{task.SOWSelect.SOWCode}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Project Code</td>
                        <td>{{task.ProjectAttributes.ProjectCode}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">ClientLegalEntity</td>
                        <td>{{task.ProjectAttributes.ClientLegalEntity}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Sub Division</td>
                        <td>{{task.ProjectAttributes.SubDivision}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Billing Entity</td>
                        <td>{{task.ProjectAttributes.BillingEntity}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Billed By</td>
                        <td>{{task.ProjectAttributes.BilledBy}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Practice Area</td>
                        <td>{{task.ProjectAttributes.PracticeArea}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Priority</td>
                        <td>{{task.ProjectAttributes.Priority}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Project Status</td>
                        <td>{{task.ProjectAttributes.ProjectStatus}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" [ngStyle]="{'color':'#d7181f'}">Client POC</td>
                    </tr>
                    <tr>
                        <td>{{task.ProjectAttributes.PointOfContact1Text}}</td>
                        <td>{{task.ProjectAttributes.PointOfContact2Text}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Molecule</td>
                        <td>{{task.ProjectAttributes.Molecule}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Therapeutic Area</td>
                        <td>{{task.ProjectAttributes.TherapeuticArea}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Indication</td>
                        <td>{{task.ProjectAttributes.Indication}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">PUB Support Required</td>
                        <td>{{task.ProjectAttributes.PUBSupportRequired}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">PUB Support Status</td>
                        <td>{{task.ProjectAttributes.PUBSupportStatus}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Project Title</td>
                        <td>{{task.ProjectAttributes.ProjectTitle}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Alternate ID/ Short Title</td>
                        <td>{{task.ProjectAttributes.AlternateShortTitle}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">End Use of Deliverable</td>
                        <td>{{task.ProjectAttributes.EndUseofDeliverable}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">SOW Box Link</td>
                        <td>{{task.ProjectAttributes.SOWBoxLink}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Conference / Journal</td>
                        <td>{{task.ProjectAttributes.ConferenceJournal}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Authors</td>
                        <td>{{task.ProjectAttributes.Authors}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Comments</td>
                        <td>{{task.ProjectAttributes.Comments}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" [ngStyle]="{'color':'#d7181f'}"></td>
                    </tr>
                    <tr *ngIf="task.Timeline.Standard.IsStandard">
                        <td colspan="2" [ngStyle]="{'color':'#d7181f'}" align="center">Standard Project</td>
                    </tr>
                    <tr *ngIf="task.Timeline.Standard.IsStandard">
                        <td [ngStyle]="{'color':'#d7181f'}">Service</td>
                        <td>{{task.Timeline.Standard.Service}}</td>
                    </tr>
                    <tr *ngIf="task.Timeline.Standard.IsStandard">
                        <td [ngStyle]="{'color':'#d7181f'}">Proposed Start Date</td>
                        <td>{{task.Timeline.Standard.ProposedStartDate | date:'MMM dd yyyy'}}</td>
                    </tr>
                    <tr *ngIf="task.Timeline.Standard.IsStandard">
                        <td [ngStyle]="{'color':'#d7181f'}">Proposed End Date</td>
                        <td>{{task.Timeline.Standard.ProposedEndDate | date:'MMM dd yyyy'}}</td>
                    </tr>
                    <tr *ngIf="task.Timeline.NonStandard.IsStandard">
                        <td colspan="2" [ngStyle]="{'color':'#d7181f'}" align="center">Non Standard Project</td>
                    </tr>
                    <tr *ngIf="task.Timeline.NonStandard.IsStandard">
                        <td [ngStyle]="{'color':'#d7181f'}">Deliverable Type</td>
                        <td>{{task.Timeline.NonStandard.DeliverableType}}</td>
                    </tr>
                    <tr *ngIf="task.Timeline.NonStandard.IsStandard">
                        <td [ngStyle]="{'color':'#d7181f'}">Sub Type</td>
                        <td>{{task.Timeline.NonStandard.SubDeliverable}}</td>
                    </tr>
                    <tr *ngIf="task.Timeline.NonStandard.IsStandard">
                        <td [ngStyle]="{'color':'#d7181f'}">Service</td>
                        <td>{{task.Timeline.NonStandard.Service}}</td>
                    </tr>
                    <tr *ngIf="task.Timeline.NonStandard.IsStandard">
                        <td [ngStyle]="{'color':'#d7181f'}">Proposed Start Date</td>
                        <td>{{task.Timeline.NonStandard.ProposedStartDate | date:'MMM dd yyyy'}}</td>
                    </tr>
                    <tr *ngIf="task.Timeline.NonStandard.IsStandard">
                        <td [ngStyle]="{'color':'#d7181f'}">Proposed End Date</td>
                        <td>{{task.Timeline.NonStandard.ProposedEndDate | date:'MMM dd yyyy'}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" [ngStyle]="{'color':'#d7181f'}"></td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">currency</td>
                        <td>{{task.FinanceManagement.Currency}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Budget Hours</td>
                        <td>{{task.FinanceManagement.BudgetHours}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" [ngStyle]="{'color':'#d7181f'}"></td>
                    </tr>
                    <tr>
                        <td colspan="2" [ngStyle]="{'color':'#d7181f'}" align="center">Budget</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Total</td>
                        <td>{{task.FinanceManagement.Budget.Total}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Revenue</td>
                        <td>{{task.FinanceManagement.Budget.Net}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">OOP</td>
                        <td>{{task.FinanceManagement.Budget.OOP}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Tax</td>
                        <td>{{task.FinanceManagement.Budget.Tax}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" [ngStyle]="{'color':'#d7181f'}"></td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Active CM1</td>
                        <td>{{task.ProjectAttributes.ActiveCM1Text}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Active CM2</td>
                        <td>{{task.ProjectAttributes.ActiveCM2Text}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Active Delivery1</td>
                        <td>{{task.ProjectAttributes.ActiveDelivery1Text}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Active Delivery 2</td>
                        <td>{{task.ProjectAttributes.ActiveDelivery2Text}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-sidebar>
    </div>
    <div *ngIf="pmObject.isAuditRollingVisible">
        <p-dialog [(visible)]="pmObject.isAuditRollingVisible" [modal]="true" [style]="{width: '1300px'}">
            <p-header>
                Audit Rolling Project.
            </p-header>
            <p-table [value]="addRollingProjectArray" class="audit-rolling-section">
                <ng-template pTemplate="header">
                    <tr>
                        <th></th>
                        <th>Parameters</th>
                        <th>Comments</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-task style="overflow: auto">
                    <tr class="formContentChecklist">
                        <td><input type="checkbox"></td>
                        <td>{{task.parameter}}</td>
                        <td><textarea rows="1" cols="30"></textarea></td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                    <tr *ngIf="checkList.addRollingProjectError">
                        <td colspan="3" class="error">{{checkList.addRollingProjectErrorMsg}}</td>
                    </tr>
                </ng-template>
            </p-table>
            <p-footer>
                <p-button type="button" class="mr-5" (click)="auditComplete()" label="Confirm"></p-button>
                <p-button type="button" class="mr-5" (click)="closeDialog()" label="Cancel"></p-button>
            </p-footer>
        </p-dialog>
    </div>
    <div *ngIf="pmObject.isMoveProjectToSOWVisible">
        <p-dialog [(visible)]="pmObject.isMoveProjectToSOWVisible" [modal]="true" [style]="{width: '900px'}">
            <p-header>
                Move Project To SOW
            </p-header>
            <div class="ui-grid-col-2">SOW Code</div>
            <div class="ui-grid-col-4">
                <p-dropdown [(ngModel)]="newSelectedSOW" [options]="sowDropDownArray" placeholder="Please Select"
                    [showClear]="true" [filter]="true"></p-dropdown>
            </div>
            <p-footer>
                <p-button type="button" class="mr-5" (click)="performSOWMove()" label="Move"></p-button>
                <p-button type="button" class="mr-5" (click)="closeMoveSOW()" label="Cancel"></p-button>
            </p-footer>
        </p-dialog>
    </div>
    <div *ngIf="pmObject.isReasonSectionVisible">
        <p-dialog [(visible)]="pmObject.isReasonSectionVisible" [modal]="true" [style]="{width: '900px'}">
            <p-header>
                Cancel Project
            </p-header>
            <div class="ui-grid-row mt-20">
                <div class="ui-grid-col-2"><span class="compulsory">*</span>Reason Type</div>
                <div class="ui-grid-col-4">
                    <p-dropdown [(ngModel)]="selectedReasonType" [options]="cancelReasonArray"
                        placeholder="Please Select" [showClear]="true" [filter]="true"></p-dropdown>
                </div>
            </div>
            <div class="ui-grid-row mt-20">
                <div class="ui-grid-col-2"><span class="compulsory">*</span>Reason</div>
                <div class="ui-grid-col-4">
                    <div class="floatLeft">
                        <textarea [(ngModel)]="selectedReason" rows="3" cols="30"></textarea>
                    </div>
                </div>
            </div>
            <p-footer>
                <p-button type="button" (click)="saveCancelProject()" label="Confirm"></p-button>
                <p-button type="button" (click)="pmObject.isReasonSectionVisible=false" label="Cancel">
                </p-button>
            </p-footer>
        </p-dialog>
    </div>
</div>
<app-timeline-history #timelineRef></app-timeline-history>