<div class="box excelIcon" style="margin-top: 1px !important;">
    <mat-icon style="font-size: 2.8em; 
    cursor: pointer;
    margin: 0px 15px 0px 0px;" [hidden]="hideExcelWithBudget" title="Export To Excel with Budget & Currency"
        (click)="convertToExcelFile(allProjectRef)"> local_atm</mat-icon>
    <!-- <i style="font-size: 1.8em;cursor: pointer;padding: 0px 15px 0px 0px;" (click)="pmCommonService.convertToExcelFile(allProjectRef)" title="Export To Excel with Budget & Currency" class="fa fa-file-text-o"></i> -->
    <i style="font-size: 1.8em;cursor: pointer;vertical-align: top;
    margin: 7px 15px 0px 0px;" (click)="pmCommonService.convertToExcelFile(allProjectRef)" title="Export To Excel"
        class="fa fa-fw fa-file-excel-o"></i>


</div>
<div [hidden]='!(showNavigateSOW && showFilterOptions)' class="top-right-title" style="margin: 5px 10px 10px 0px;">
    <input class="mr-5" type="text" (keydown.enter)="searchClosedProject($event); $event.preventDefault()"
        (change)="searchClosedProject($event)" *ngIf="showProjectInput" id="projectCodeSelect"
        placeholder="Project Code" pInputText [(ngModel)]="providedProjectCode" />
    <p-dropdown [options]="overAllValues" [(ngModel)]="selectedOption" styleClass="custom-dropDown" optionLabel="name"
        (onChange)="onChangeSelect($event)"></p-dropdown>
</div>



<div [hidden]='isAllProjectLoaderHidden' style="padding: 15vw;">
    <div id="allProjectLoader"></div>
    <div id="allProjectLoaderText">Loading...</div>
</div>
<br>
<div class="allProjects-section" [hidden]='isAllProjectTableHidden'>

    <div class="tableLoader" *ngIf="ExcelDownloadenable">
        <div id="excelDownloadLoader"></div>
        <div id="excelDownloadLoadertext">Loading...</div>
    </div>
    <div *ngIf="showTable">
        <p-table #allProjectRef [columns]="displayedColumns" [value]="pmObject.allProjectsArray" [paginator]="true"
            [rows]="10" selectionMode="" exportFilename="All Projects" [style]="{'font-size':'13px'}">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th>S.No</th>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" [hidden]="!col.visibility">
                        {{ col.header }}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                    <th></th>
                </tr>
                <tr>
                    <th></th>
                    <th *ngFor="let col of columns" [ngSwitch]="col.field" class="ui-fluid" [hidden]="!col.visibility">
                        <input *ngSwitchCase="'PrimaryResources'" pInputText type="text"
                            (input)="allProjectRef.filter($event.target.value, col.field, col.filterMatchMode)"
                            (keydown.enter)="$event.preventDefault()">
                        <p-multiSelect *ngSwitchCase="'SOWCode'" [options]="allProjects.SOWCode" defaultLabel="All"
                            [maxSelectedLabels]="1" (onChange)="allProjectRef.filter($event.value, col.field, 'in')"
                            (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true"
                            (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect *ngSwitchCase="'ProjectCode'" [(ngModel)]="pmObject.columnFilter.ProjectCode"
                            [options]="allProjects.ProjectCode" defaultLabel="All" [maxSelectedLabels]="1"
                            (onChange)="allProjectRef.filter($event.value, col.field, 'in')"
                            (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true"
                            (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect *ngSwitchCase="'ShortTitle'" [options]="allProjects.ShortTitle"
                            defaultLabel="All" [maxSelectedLabels]="1"
                            (onChange)="allProjectRef.filter($event.value, col.field, 'in')"
                            (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true"
                            (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect *ngSwitchCase="'ClientLegalEntity'" [options]="allProjects.ClientLegalEntity"
                            defaultLabel="All" [maxSelectedLabels]="1"
                            (onChange)="allProjectRef.filter($event.value, col.field, 'in')"
                            (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true"
                            (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <!-- <p-multiSelect *ngSwitchCase="'DeliverableType'" [options]="allProjects.deliveryTypeArray" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="allProjectRef.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                    </p-multiSelect> -->
                        <p-multiSelect *ngSwitchCase="'ProjectType'" [options]="allProjects.ProjectType"
                            defaultLabel="All" [maxSelectedLabels]="1"
                            (onChange)="allProjectRef.filter($event.value, col.field, 'in')"
                            (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true"
                            (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect *ngSwitchCase="'Status'" [options]="allProjects.Status" defaultLabel="All"
                            [maxSelectedLabels]="1" (onChange)="allProjectRef.filter($event.value, col.field, 'in')"
                            (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true"
                            (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect *ngSwitchCase="'PrimaryResouces'" [options]="allProjects.PrimaryResources"
                            defaultLabel="All" [maxSelectedLabels]="1"
                            (onChange)="allProjectRef.filter($event.value, col.field, 'in')"
                            (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true"
                            (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect *ngSwitchCase="'POC'" [options]="allProjects.POC" defaultLabel="All"
                            [maxSelectedLabels]="1" (onChange)="allProjectRef.filter($event.value, col.field, 'in')"
                            (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true"
                            (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect *ngSwitchCase="'TA'" [options]="allProjects.TA" defaultLabel="All"
                            [maxSelectedLabels]="1" (onChange)="allProjectRef.filter($event.value, col.field, 'in')"
                            (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true"
                            (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect *ngSwitchCase="'Molecule'" [options]="allProjects.Molecule" defaultLabel="All"
                            [maxSelectedLabels]="1" (onChange)="allProjectRef.filter($event.value, col.field, 'in')"
                            (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true"
                            (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <!-- <p-multiSelect *ngSwitchCase="'CreatedBy'" [options]="allProjects.createdByArray" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="allProjectRef.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                    </p-multiSelect>
                    <p-multiSelect *ngSwitchCase="'CreatedDate'" [options]="allProjects.createdDateArray" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="allProjectRef.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                    </p-multiSelect> -->
                    </th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-task let-rowIndex="rowIndex">
                <tr>
                    <td>{{rowIndex+1}}</td>
                    <td>
                        <a *ngIf="showNavigateSOW" href="javascript:void(0)"
                            (click)="navigateToSOW(task)">{{task.SOWCode}}</a>
                        <span *ngIf="!showNavigateSOW">{{task.SOWCode}}</span>
                    </td>
                    <td>{{task.ProjectCode}}</td>
                    <td>{{task.ShortTitle}}</td>
                    <td>{{task.ClientLegalEntity}}</td>
                    <!-- <td>{{task.DeliverableType}}</td> -->
                    <td>{{task.ProjectType}}</td>

                    <td>{{task.PrimaryResources}}</td>
                    <td>{{task.POC}}</td>
                    <td>{{task.TA}}</td>
                    <td>{{task.Molecule}}</td>
                    <td
                        [ngClass]="{'blueColor' : task.isBlueIndicator,'redColor': task.isRedIndicator,'greenColor': task.isGreenIndicator}">
                        {{task.Status}}</td>
                    <!-- <td>{{task.CreatedBy}}</td>
                <td>{{task.CreatedDate | date:'MMM dd yyyy hh:mm:ss aa'}}</td> -->
                    <td>
                        <div>

                            <!-- <button #btn type="button" pButton icon="pi pi-bars" label="Show" (click)="menu.toggle($event)"></button>
                        <p-tieredMenu #menu [model]="popItems" [appendTo]="body" [popup]="true"></p-tieredMenu> -->

                            <p-tieredMenu [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'" #menu
                                class="projectSlider" [model]="popItems" [popup]="true"></p-tieredMenu>
                            <i class="pi pi-ellipsis-v"  style="font-size:2em;cursor: pointer;"
                                (click)="storeRowData(rowData,menu); menu.show($event);"></i>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td style="text-align:center" [attr.colspan]="11">
                        No project found
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>


    <div *ngIf="pmObject.isProjectRightSideVisible" class="ng-right-side-overlay">
        <p-sidebar [(visible)]="pmObject.isProjectRightSideVisible" position="right" styleClass="ui-sidebar-md">
            <p-table [value]="projectViewDataArray">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-task style="overflow: auto">
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Project ID</td>
                        <td>{{task.ProjectAttributes.ID}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">SOW Code</td>
                        <td>{{task.SOWSelect.SOWCode}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Project Code</td>
                        <td>{{task.ProjectAttributes.ProjectCode}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">ClientLegalEntity</td>
                        <td>{{task.ProjectAttributes.ClientLegalEntity}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Sub Division</td>
                        <td>{{task.ProjectAttributes.SubDivision}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Billing Entity</td>
                        <td>{{task.ProjectAttributes.BillingEntity}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Billed By</td>
                        <td>{{task.ProjectAttributes.BilledBy}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Practice Area</td>
                        <td>{{task.ProjectAttributes.PracticeArea}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Priority</td>
                        <td>{{task.ProjectAttributes.Priority}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Current Milestone</td>
                        <td>{{task.ProjectAttributes.Milestone}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Project Status</td>
                        <td>{{task.ProjectAttributes.ProjectStatus}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Client POC</td>

                        <td>{{task.ProjectAttributes.PointOfContact1Text}}<br />
                            {{task.ProjectAttributes.PointOfContact2Text}}
                        </td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Molecule</td>
                        <td>{{task.ProjectAttributes.Molecule}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Therapeutic Area</td>
                        <td>{{task.ProjectAttributes.TherapeuticArea}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Indication</td>
                        <td>{{task.ProjectAttributes.Indication}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">PUB Support Required</td>
                        <td>{{task.ProjectAttributes.PUBSupportRequired ? "Yes" : "No" }}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">PUB Support Status</td>
                        <td>{{task.ProjectAttributes.PUBSupportStatus}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Project Title</td>
                        <td>{{task.ProjectAttributes.ProjectTitle}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Alternate ID/ Short Title</td>
                        <td>{{task.ProjectAttributes.AlternateShortTitle}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">End Use of Deliverable</td>
                        <td>{{task.ProjectAttributes.EndUseofDeliverable}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">SOW Box Link</td>
                        <td>{{task.ProjectAttributes.SOWBoxLink}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Conference / Journal</td>
                        <td>{{task.ProjectAttributes.ConferenceJournal}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Authors</td>
                        <td>{{task.ProjectAttributes.Authors}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Comments</td>
                        <td>{{task.ProjectAttributes.Comments}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" [ngStyle]="{'color':'#d7181f'}"></td>
                    </tr>
                    <tr *ngIf="task.Timeline.Standard.IsStandard">
                        <td colspan="2" [ngStyle]="{'color':'#d7181f'}" align="center">Standard Project</td>
                    </tr>
                    <tr *ngIf="task.Timeline.Standard.IsStandard">
                        <td [ngStyle]="{'color':'#d7181f'}">Service</td>
                        <td>{{task.Timeline.Standard.Service}}</td>
                    </tr>
                    <tr *ngIf="task.Timeline.Standard.IsStandard">
                        <td [ngStyle]="{'color':'#d7181f'}">Proposed Start Date</td>
                        <td>{{task.Timeline.Standard.ProposedStartDate | date:'MMM dd yyyy'}}</td>
                    </tr>
                    <tr *ngIf="task.Timeline.Standard.IsStandard">
                        <td [ngStyle]="{'color':'#d7181f'}">Proposed End Date</td>
                        <td>{{task.Timeline.Standard.ProposedEndDate | date:'MMM dd yyyy'}}</td>
                    </tr>
                    <tr *ngIf="task.Timeline.NonStandard.IsStandard">
                        <td colspan="2" [ngStyle]="{'color':'#d7181f'}" align="center">Non Standard Project</td>
                    </tr>
                    <tr *ngIf="task.Timeline.NonStandard.IsStandard">
                        <td [ngStyle]="{'color':'#d7181f'}">Deliverable Type</td>
                        <td>{{task.Timeline.NonStandard.DeliverableType}}</td>
                    </tr>
                    <tr *ngIf="task.Timeline.NonStandard.IsStandard">
                        <td [ngStyle]="{'color':'#d7181f'}">Sub Type</td>
                        <td>{{task.Timeline.NonStandard.SubDeliverable}}</td>
                    </tr>
                    <tr *ngIf="task.Timeline.NonStandard.IsStandard">
                        <td [ngStyle]="{'color':'#d7181f'}">Service</td>
                        <td>{{task.Timeline.NonStandard.Service}}</td>
                    </tr>
                    <tr *ngIf="task.Timeline.NonStandard.IsStandard">
                        <td [ngStyle]="{'color':'#d7181f'}">Proposed Start Date</td>
                        <td>{{task.Timeline.NonStandard.ProposedStartDate | date:'MMM dd yyyy'}}</td>
                    </tr>
                    <tr *ngIf="task.Timeline.NonStandard.IsStandard">
                        <td [ngStyle]="{'color':'#d7181f'}">Proposed End Date</td>
                        <td>{{task.Timeline.NonStandard.ProposedEndDate | date:'MMM dd yyyy'}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" [ngStyle]="{'color':'#d7181f'}"></td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Currency</td>
                        <td>{{task.FinanceManagement.Currency}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Budget Hours</td>
                        <td>{{task.FinanceManagement.BudgetHours}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Project SOW</td>
                        <td>
                            <span *ngIf="task.FinanceManagement.ProjectSOW.length">
                                <a href="{{task.FinanceManagement.ProjectSOW}}" target="_blank" style="color:red">Click
                                    here</a>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" [ngStyle]="{'color':'#d7181f'}"></td>
                    </tr>
                    <tr>
                        <td colspan="2" [ngStyle]="{'color':'#d7181f'}" align="center">Budget</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Total</td>
                        <td>{{task.FinanceManagement.Budget.Total}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Revenue</td>
                        <td>{{task.FinanceManagement.Budget.Net}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">OOP</td>
                        <td>{{task.FinanceManagement.Budget.OOP}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Tax</td>
                        <td>{{task.FinanceManagement.Budget.Tax}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" [ngStyle]="{'color':'#d7181f'}"></td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Active CM1</td>
                        <td>{{task.ProjectAttributes.ActiveCM1Text}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Active CM2</td>
                        <td>{{task.ProjectAttributes.ActiveCM2Text}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Active Delivery1</td>
                        <td>{{task.ProjectAttributes.ActiveDelivery1Text}}</td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'color':'#d7181f'}">Active Delivery 2</td>
                        <td>{{task.ProjectAttributes.ActiveDelivery2Text}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-sidebar>
    </div>
    <div *ngIf="pmObject.isAuditRollingVisible">
        <p-dialog [(visible)]="pmObject.isAuditRollingVisible" [modal]="true" [style]="{width: '1300px'}">
            <p-header>
                Audit Project
            </p-header>
            <p-table [value]="addRollingProjectArray" class="audit-rolling-section">
                <ng-template pTemplate="header">
                    <tr>
                        <th></th>
                        <th>Parameters</th>
                        <th>Comments</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-task style="overflow: auto">
                    <tr class="formContentChecklist">
                        <td><input type="checkbox"></td>
                        <td>{{task.parameter}}</td>
                        <td><textarea rows="1" cols="30"></textarea></td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                    <tr *ngIf="checkList.addRollingProjectError">
                        <td colspan="3" class="error">{{checkList.addRollingProjectErrorMsg}}</td>
                    </tr>
                </ng-template>
            </p-table>
            <p-footer>
                <p-button type="button" class="mr-5" (click)="auditComplete()" label="Confirm"></p-button>
                <p-button type="button" class="mr-5" (click)="closeDialog()" label="Cancel"></p-button>
            </p-footer>
        </p-dialog>
    </div>
    <div *ngIf="pmObject.isMoveProjectToSOWVisible">
        <p-dialog [(visible)]="pmObject.isMoveProjectToSOWVisible" [modal]="true" [style]="{width: '900px'}" [contentStyle]="{'max-height':'450px', 'height':'305px'}">
            <p-header>
                Move Project To SOW
            </p-header>
            <div class="ui-grid-col-2">SOW Code</div>
            <div class="ui-grid-col-4">
                <p-dropdown [(ngModel)]="newSelectedSOW" appendTo="body" [options]="sowDropDownArray"  placeholder="Please Select"
                    [showClear]="true" [filter]="true" resetFilterOnHide="true"></p-dropdown>
            </div>
            <p-footer>
                <button type="button" pButton class="mr-5" (click)="performSOWMove()" label="Move"></button>
                <button type="button" pButton class="mr-5" (click)="closeMoveSOW()" label="Cancel"></button>
            </p-footer>
        </p-dialog>
    </div>
    <div *ngIf="pmObject.isReasonSectionVisible">
        <p-dialog [(visible)]="pmObject.isReasonSectionVisible" [modal]="true" [style]="{width: '900px'}">
            <p-header>
                Cancel Project
            </p-header>
            <div class="ui-grid-row mt-20">
                <div class="ui-grid-col-2"><span class="compulsory">*</span>Reason Type</div>
                <div class="ui-grid-col-4">
                    <p-dropdown [(ngModel)]="selectedReasonType" [options]="cancelReasonArray"
                        placeholder="Please Select" [showClear]="true" [filter]="true" resetFilterOnHide="true">
                    </p-dropdown>
                </div>
            </div>
            <div class="ui-grid-row mt-20">
                <div class="ui-grid-col-2"><span class="compulsory">*</span>Reason</div>
                <div class="ui-grid-col-4">
                    <div class="floatLeft">
                        <textarea [(ngModel)]="selectedReason" rows="3" cols="30"></textarea>
                    </div>
                </div>
            </div>
            <p-footer>
                <p-button type="button" (click)="saveCancelProject()" label="Confirm"></p-button>
                <p-button type="button" (click)="pmObject.isReasonSectionVisible=false" label="Cancel">
                </p-button>
            </p-footer>
        </p-dialog>
    </div>
</div>

<p-dialog *ngIf="showExpenseEnable" header="{{projectTitle}}" [contentStyle]="{'max-height':'96vh'}"
    [style]="{'width': '96vw'}" [modal]="true" [draggable]="false" appendTo='body' [(visible)]="showExpenseEnable">

    <!--*************************************************************************************************
//  dialog to show expense data
************************************************************************************************** -->

    <div fxLayout="column" style="padding: 10vw;" fxLayoutAlign="center center" [hidden]="!expensedataloaderEnable">
        <div id="modalInnerLoader"></div>
        <div id="modalInnerLoaderText">Loading...</div>
    </div>
    <p-table #dt2 *ngIf="!expensedataloaderEnable" [columns]="ExpenseCols" [value]="projectExpenses" [paginator]="true"
        [rows]="10" [style]="{'font-size':'13px'}" (sortFunction)="customSort($event)" [customSort]="true">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width: 4em;">S.No</th>
                <th *ngFor="let col of columns"
                    [ngStyle]="{'width': col.field === 'Status' ? '15em !important':(col.field === 'Category'|| col.field === 'ClientAmount'|| col.field === 'ClientCurrency') ? '11.5em !important':'' }"
                    [pSortableColumn]="col.field"  [hidden]="!col.visibility">
                    {{col.header}}
                    <p-sortIcon *ngIf="col.header != '' " [field]="col.field"></p-sortIcon>
                </th>

            </tr>
            <tr>
                <th></th>
                <th *ngFor="let col of columns" [ngSwitch]="col.field" [hidden]="!col.visibility" class="ui-fluid">
                    <ng-container *ngIf="col.field">
                        <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true"
                            (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;"
                            *ngSwitchCase="'RequestType'" [options]="expenseColArray.RequestType" defaultLabel="All"
                            [maxSelectedLabels]="1" (onChange)="dt2.filter($event.value, col.field, 'in')">
                        </p-multiSelect>
                        <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true"
                            (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;"
                            *ngSwitchCase="'VendorName'" [options]="expenseColArray.VendorName" defaultLabel="All"
                            [maxSelectedLabels]="1" (onChange)="dt2.filter($event.value, col.field, 'in')">
                        </p-multiSelect>
                        <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true"
                            (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;"
                            *ngSwitchCase="'Category'" [options]="expenseColArray.Category" defaultLabel="All"
                            [maxSelectedLabels]="1" (onChange)="dt2.filter($event.value, col.field, 'in')">
                        </p-multiSelect>

                        <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true"
                            (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;"
                            *ngSwitchCase="'ExpenseType'" [options]="expenseColArray.ExpenseType" defaultLabel="All"
                            [maxSelectedLabels]="1" (onChange)="dt2.filter($event.value, col.field, 'in')">
                        </p-multiSelect>
                        <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true"
                            (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;"
                            *ngSwitchCase="'ClientAmount'" [options]="expenseColArray.ClientAmount" defaultLabel="All"
                            [maxSelectedLabels]="1" (onChange)="dt2.filter($event.value, col.field, 'in')">
                        </p-multiSelect>
                        <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true"
                            (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;"
                            *ngSwitchCase="'ClientCurrency'" [options]="expenseColArray.ClientCurrency"
                            defaultLabel="All" [maxSelectedLabels]="1"
                            (onChange)="dt2.filter($event.value, col.field, 'in')">
                        </p-multiSelect>

                        <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true"
                            (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;" *ngSwitchCase="'Status'"
                            [options]="expenseColArray.Status" defaultLabel="All" [maxSelectedLabels]="1"
                            (onChange)="dt2.filter($event.value, col.field, 'in')">
                        </p-multiSelect>

                        <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true"
                            (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;"
                            *ngSwitchCase="'Modified'" [options]="expenseColArray.ModifiedDate" defaultLabel="All"
                            [maxSelectedLabels]="1" (onChange)="dt2.filter($event.value, col.field, 'in')">
                        </p-multiSelect>
                        <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true"
                            (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;"
                            *ngSwitchCase="'ModifiedBy'" [options]="expenseColArray.ModifiedBy" defaultLabel="All"
                            [maxSelectedLabels]="1" (onChange)="dt2.filter($event.value, col.field, 'in')">
                        </p-multiSelect>


                    </ng-container>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-node="rowData" let-rowData let-columns="columns" let-rowIndex="rowIndex">
            <tr>
                <td>
                    {{rowIndex+1}}
                </td>
                <td *ngFor="let col of columns;index as i" [hidden]="!col.visibility" class="ui-resizable-column">
                    <ng-container *ngIf="col.field != 'Created' && col.field != 'Modified' &&  col.field != '' ">
                        {{rowData[col.field]}}
                    </ng-container>
                    <ng-container *ngIf="col.field == 'Modified'">
                        {{rowData[col.field] | date:'MMM dd, yyyy' }}
                    </ng-container>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="columns.length" style="text-align: center;font-weight:bold;">
                    No records found
                </td>
            </tr>
        </ng-template>
    </p-table>



    <p-footer>
        <button type="button" pButton icon="pi pi-times" style="cursor: pointer; background-color: #c1c1c1 !important;
        border: 1px solid #c1c1c1 !important;" (click)="showExpenseEnable=false" label="Close"
            class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>






<app-timeline-history #timelineRef></app-timeline-history>