/* .allProjects-section .excelIcon {
    float: right;
  }
  
  .allProjects-section .clear {
    clear: both;
  }
  
  .allProjects-section .ui-table-wrapper table thead tr th:first-child,
  .allProjects-section .ui-table-wrapper table thead tr th:last-child,
  .allProjects-section .ui-table-wrapper table tbody tr td:first-child,
  .allProjects-section .ui-table-wrapper table tbody tr td:last-child {
    width: 60px;
  }   */