<p-table [columns]="rulesCols" [value]="ruleTableArray" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header" let-columns let-rowData="rowData">
        <tr>
            <th>S.No</th>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field" [hidden]="!col.visibility">
                {{col.header}}
                <p-sortIcon *ngIf="col.header != '' " [field]="col.field"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-node="rowData" let-rowData let-columns="columns" let-rowIndex="rowIndex">
        <tr>
            <td>{{rowIndex+1}}</td>
            <td *ngFor="let col of columns;index as i" [hidden]="!col.visibility"
                [ngStyle]="{'background-color':rowData.IsAdhoc ? '#f7e7b7' : ''}">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>