<!-- Loadder -->
<div></div>

<div class="tableLoader" [hidden]='pubsupportService.pubsupportComponent.isPSInnerLoaderHidden'>
    <div id="scInnerLoader"></div>
    <div id="scInnerLoaderText">Loading...</div>
</div>

<div class="ui-g">
    <div class="ui-g-12 ui-md-6 ui-lg-6 top-left-title">
        <span>PROJECT LISTING </span>
    </div>
    <div class="ui-g-6">
        <p-dropdown [options]="overAllValues" [(ngModel)]="selectedOption" styleClass="custom-dropDown" optionLabel="name" (onChange)="onChangeSelect($event)"></p-dropdown>
        <input type="text" (change)="searchClosedProject($event)" (keydown.enter)="enterEvent($event)" *ngIf="showProjectInput" id="projectCodeSelect" placeholder="Project Code" pInputText [(ngModel)]="providedProjectCode" />
        <a href="https://tableau.cactusmum.com/#/views/PublishPaper/PublishPaperDump?:iid=1 " style="color: red;float: right;padding: 5px 20px;" target="_blank">Published paper report</a>
    </div>
</div>

<!-- <div class="top-title-bottom">
    <div class="top-left-title">
        <span>PROJECT LISTING </span>
    </div>
    <div class="top-right-title">
        <p-dropdown [options]="overAllValues" [(ngModel)]="selectedOption" styleClass="custom-dropDown"
            optionLabel="name" (onChange)="onChangeSelect($event)"></p-dropdown>
        <input type="text" (change)="searchClosedProject($event)" *ngIf="showProjectInput" id="projectCodeSelect"
            placeholder="Project Code" pInputText [(ngModel)]="providedProjectCode" />
    </div>
    <div>
        <a href="https://tableau.cactusmum.com/#/views/PublishPaper/PublishPaperDump?:iid=1 " target="_blank">Publish
            paper report</a>
    </div>
    <div class="clear">
    </div>
</div> -->
<div class="pubsuppotTable">
    <p-table [value]="pubSupportProjectInfoData" dataKey="Id" [columns]="pubsupportCols" expandableRows="true" #dt [expandedRowKeys]="expandedRows" rowExpandMode="single" (onRowExpand)="onRowExpand($event)" [paginator]="true" [rows]="10" expandedIcon="fas fa-angle-down"
        collapsedIcon="fas fa-angle-right" styleClass="custom-pdatatable">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width: 3%;"></th>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    {{ col.header }}
                    <p-sortIcon *ngIf="col.field" [field]="col.field"></p-sortIcon>
                </th>
                <th style="width: 3%;"></th>
            </tr>
            <tr>
                <th style="width: 3%;"></th>
                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                    <ng-container *ngIf="col.field == 'ProjectCode'">
                        <input pInputText type="text" [(ngModel)]="projectCode" (input)="dt.filter($event.target.value, col.field, 'contains')">
                    </ng-container>
                    <ng-container *ngIf="col.field && col.field !== 'ProjectCode'">
                        <input pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                    </ng-container>
                </th>
                <th style="width: 3%;"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-projectItem let-expanded="expanded" let-columns="columns" let-rowIndex="rowIndex">
            <tr>
                <td>
                    <a href="#" [pRowToggler]="projectItem">
                        <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                    </a>
                </td>
                <td>
                    <a style="color:#d7181f" (click)="goToProjectDetails(projectItem, plistIndex)">{{projectItem.ProjectCode}}</a>
                </td>
                <td>{{projectItem.ClientLegalEntity}}</td>
                <td>{{projectItem.DeliverableType}}</td>
                <td>{{projectItem.PrimaryPOC}}</td>
                <td>
                    <ng-container>
                        <div [ngClass]="{'lightgreen': projectItem.Status =='In Progress', 'lightblue': projectItem.Status =='Unallocated',  'lightcoral': projectItem.Status =='In Discussion'}" style="height: 45px;padding: 7px 0px 0px 2px;" [ngStyle]="{'height':projectItem.Status.length > 15 ? '55px': projectItem.Status.length > 25 ? '75px':'45px'}">
                            {{projectItem.Status }}
                        </div>
                    </ng-container>
                </td>
                <td>{{projectItem.PubSupportStatus}}</td>
                <td>
                    <ng-container>
                        {{projectItem.LastSubmissionDate | date:'MMM d, y, hh:mm a' }}
                    </ng-container>
                </td>
                <td>
                    <ng-container>
                        <a style="color:#d7181f" (click)="openAuthorModal(projectItem)">Author Details</a>
                    </ng-container>
                </td>
                <td>
                    <div>
                        <p-menu #popupMenu [style]="{'width': '20em'}" [popup]="true" [model]="items"></p-menu>
                        <i class="pi pi-ellipsis-v" style="font-size:2em;cursor: pointer;" (click)="openPopup(projectItem, popupMenu);popupMenu.show($event);"></i>
                    </div>
                </td>

            </tr>
        </ng-template>
        <!-- <p-column expander="true" [style]="{'width':'50px', 'font-size':'larger'}">
            <ng-template pTemplate let-plistIndex="rowIndex">
            </ng-template>
        </p-column>
        <p-column field="ProjectCode" header="Project Code" [filter]="true" filterMatchMode="contains"
            filterPlaceholder="Search" sortField="ProjectCode" [sortable]="true">
            <ng-template pTemplate let-col let-projectCode="rowData" pTemplate="body" let-plistIndex="rowIndex">
                <a style="color:#d7181f"
                    (click)="goToProjectDetails(projectCode, plistIndex)">{{projectCode[col.field]}}</a>
            </ng-template>
        </p-column>
        <p-column field="ClientLegalEntity" header="Client Legal Entity" [filter]="true" filterMatchMode="contains"
            filterPlaceholder="Search" sortField="ClientLegalEntity" [sortable]="true">
        </p-column>
        <p-column field="DeliverableType" header="Deliverable" [filter]="true" filterMatchMode="contains"
            filterPlaceholder="Search" sortField="DeliverableType" [sortable]="true"></p-column>
        <p-column field="PrimaryPOC" header="POC" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search"
            sortField="PrimaryPOC" [sortable]="true">
        </p-column>
        <p-column field="Status" header="Status" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search"
            sortField="Status" [sortable]="true">
            <ng-template let-col let-projectCode="rowData" pTemplate="body" let-plistIndex="rowIndex">
                <div [ngClass]="{'lightgreen': projectCode[col.field] =='In Progress', 'lightblue': projectCode[col.field] =='Unallocated',  'lightcoral': projectCode[col.field] =='In Discussion'}"
                    style="height: 45px;padding: 7px 0px 0px 2px;"
                    [ngStyle]="{'height':projectCode[col.field].length > 15 ? '55px': projectCode[col.field].length > 25 ? '75px':'45px'}">
                    {{projectCode[col.field] }}
                </div>
            </ng-template>
        </p-column>
        <p-column field="PubSupportStatus" header="Pub Sup Status" [filter]="true" filterMatchMode="contains"
            filterPlaceholder="Search" sortField="PubSupportStatus" [sortable]="true">
        </p-column>
        <p-column field="LastSubmissionDate" header="Last Submission" [filter]="true" filterMatchMode="contains"
            filterPlaceholder="Search" sortField="LastSubmissionDate" [sortable]="true">
            <ng-template let-col let-projectCode="rowData" pTemplate="body" let-plistIndex="rowIndex">
                {{projectCode[col.field] | date:'MMM d, y, hh:mm a' }}
            </ng-template>
        </p-column>
        <p-column field="Authors_and_Author_Forms" header="Authors and Author Forms" filterPlaceholder="Search">
            <ng-template pTemplate let-i="rowIndex" let-node="rowData">
                <a style="color:#d7181f" (click)="openAuthorModal(node)">Author Details</a>
            </ng-template>
        </p-column>
        <p-column [style]="{'width':'50px'}">
            <ng-template pTemplate let-i="rowIndex" let-node="rowData">
                <div>
                    <p-menu #popupMenu [style]="{'width': '20em'}" [popup]="true" [model]="items">
                    </p-menu>
                    <i class="pi pi-ellipsis-v" style="font-size:2em;cursor: pointer;"
                        (click)="openPopup(node, popupMenu);popupMenu.show($event);"></i>
                </div>
            </ng-template>
        </p-column> -->
        <ng-template let-car pTemplate="rowexpansion" let-parentIndex="plistIndex">
            <tr *ngIf="showHideJC">
                <td colspan="10">
                    <!-- <ng-template #jcDetails></ng-template> -->
                    <app-journal-conference-details #jcDetails (fileReplace)='replaceFile($event.type, $event.project,$event.milestone,$event.id)'></app-journal-conference-details>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<!-- Modal  -->

<!-- Add author Component Start-->
<ng-template #addAuthorcontainer></ng-template>
<!-- <ng-template [ngIf]="ref">
        <app-add-author (messageEvent)="destroyAddAuthorModal($event)"></app-add-author>
    </ng-template> -->
<!-- Add author Component End -->

<!-- Add author Component Start-->
<!-- <ng-container #authorDetailscontainer></ng-container> -->
<!-- Add author Component End -->

<!-- Update author forms & emails -->
<p-dialog header="Update Author forms & emails" [(visible)]="updateAuthorModal_1" [modal]="true" [draggable]="false" [style]="{'width': '50%'}" [maximizable]="false" [contentStyle]="{'height': '250px'}" (onHide)="cancelFormSub('updateAuthorModal')">
    <form [formGroup]="update_author_form">
        <div class="ui-g" *ngIf="!selectedType">
            <div class="ui-g-12 ui-md-6 ui-lg-4">
                Upload files:
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-8">
                <input type="file" name="myfile" class="form-control" id="myfile" (change)="onFileChange($event)" #fileInput placeholder="updateAuthorForms" formControlName="file">
                <div *ngIf="formSubmit.isSubmit && isValidUpdateAuthorForm.file.errors">
                    <div *ngIf="isValidUpdateAuthorForm.file.errors.required" style="color: red;">File is required.
                    </div>
                </div>
            </div>
        </div>

        <div class="ui-g" *ngIf="!update_author_form.value.file">
            <div class="ui-g-12 ui-md-6 ui-lg-4">
                Select from Existing Author Forms:
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-8">
                <select id="type" name="existingAuthorList" class="form-control" [(ngModel)]="selectedType" (ngModelChange)="updateAuthorFormsFiles(selectedType, $event)" formControlName="existingAuthorList">
                    <option value="">Select</option>
                    <ng-container *ngFor="let projctCode of projectCodeRes; let i = index">
                        <option *ngIf="projctCode.ProjectCode !=selectedProject.ProjectCode" [ngValue]="projctCode">
                            {{projctCode.ProjectCode}}
                        </option>
                    </ng-container>
                </select>
                <div *ngIf="formSubmit.isSubmit && isValidUpdateAuthorForm.existingAuthorList.errors">
                    <div *ngIf="isValidUpdateAuthorForm.existingAuthorList.errors.required" style="color: red;">Existing author is required.</div>
                </div>
                <div style="color:#d7181f;">{{noFileMsg}}</div>
            </div>
        </div>

    </form>
    <p-footer>
        <button pButton type="button" label="Update" class="ui_button_danger" [disabled]="submitBtn.isClicked" (click)="onSubmit('updateAuthor')"></button>
        <button pButton type="button" label="Cancel" class="ui_button_danger" (click)="cancelFormSub('updateAuthorModal')"></button>
    </p-footer>

</p-dialog>

<!-- End -->

<!-- Update Decision Detais -->
<p-dialog header="Update Decision details" [(visible)]="updateDecisionModal" [modal]="true" [draggable]="false" [style]="{'width': '50%'}" [maximizable]="false" [contentStyle]="{'height': '150px'}" (onHide)="cancelFormSub('updateDecisionModal')">
    <form [formGroup]="update_decision_details">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-6 ui-lg-4">
                Upload files:
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-8">
                <input type="file" name="myfile" class="form-control" (change)="onFileChange($event)" formControlName="file" #fileInput />
                <div *ngIf="formSubmit.isSubmit && isValidDecisionForm.file.errors">
                    <div *ngIf="isValidDecisionForm.file.errors.required" style="color:red;">File is required.
                    </div>
                </div>
            </div>
        </div>

        <div class="ui-g">
            <div class="ui-g-12 ui-md-6 ui-lg-4">
                Decision:
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-8">
                <select id="type" name="Decision" class="form-control" formControlName="Decision">
                    <option value="">Select</option>
                    <option value="Accepted"
                        *ngIf="deliverableDetails.length && deliverableDetails[0].NameST == 'Accepted'">
                        Accepted</option>
                    <option value="Presented"
                        *ngIf="deliverableDetails.length && deliverableDetails[0].NameST == 'Presented'">
                        Presented</option>
                    <option value="Rejected">Rejected</option>
                    <option value="Resubmit to same journal"
                        *ngIf="deliverableDetails.length && deliverableDetails[0].EntryType == 'Journal'">
                        Resubmit to same journal</option>
                </select>
                <div *ngIf="formSubmit.isSubmit && isValidDecisionForm.Decision.errors">
                    <div *ngIf="isValidDecisionForm.Decision.errors.required" style="color:red;">Decision is required.
                    </div>
                </div>
            </div>
        </div>

    </form>
    <p-footer>
        <button pButton type="button" label="Update" [disabled]="submitBtn.isClicked" (click)="onSubmit('updateDecision')"></button>
        <button pButton type="button" label="Cancel" (click)="cancelFormSub('updateDecisionModal')"></button>
    </p-footer>

</p-dialog>
<!-- End -->

<!-- Update Decision Detais -->
<p-dialog header="Update Publication details" [(visible)]="updatePublicatoinModal" [modal]="true" [draggable]="false" [style]="{'width': '60%'}" [maximizable]="false" [contentStyle]="{'height': '150px'}" (onHide)="cancelFormSub('updatePublicatoinModal')">
    <form [formGroup]="update_publication_form">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-6 ui-lg-2">
                Publication Title:
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-4">
                <textarea maxlength="1000" placeholder="Title" class="form-control" formControlName="PublicationTitle"></textarea>
                <div *ngIf="formSubmit.isSubmit && isValidUpdatePublicationForm.PublicationTitle.errors">
                    <div *ngIf="isValidUpdatePublicationForm.PublicationTitle.errors.required" style="color: red;">Title is required.
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-2">
                Citation:
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-4">
                <textarea maxlength="1000" placeholder="Title" class="form-control" formControlName="Citation"></textarea>
                <div *ngIf="formSubmit.isSubmit && isValidUpdatePublicationForm.Citation.errors">
                    <div *ngIf="isValidUpdatePublicationForm.Citation.errors.required" style="color: red;">Citation is required.
                    </div>
                </div>
            </div>
        </div>

        <div class="ui-g">
            <div class="ui-g-12 ui-md-6 ui-lg-2">
                PDF Available?:
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-4">
                <select id="type" name="country" class="form-control" [ngClass]="{'is-invalid': submitted && isValidUpdatePublicationForm.PDFAvailable.errors}" formControlName="PDFAvailable">
                    <option value="">Select</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
                <div *ngIf="formSubmit.isSubmit && isValidUpdatePublicationForm.PDFAvailable.errors">
                    <div *ngIf="isValidUpdatePublicationForm.PDFAvailable.errors.required" style="color: red;">Is PDF File available?
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-2">
                Upload Published paper:
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-4">
                <input type="file" name="myfile" class="form-control" id="myfile" (change)="onFileChange($event)" #fileInput formControlName="PublicationURL" />
                <div *ngIf="formSubmit.isSubmit && isValidUpdatePublicationForm.PublicationURL.errors">
                    <div *ngIf="isValidUpdatePublicationForm.PublicationURL.errors.required" style="color: red;">File is required.
                    </div>
                </div>
            </div>
        </div>

    </form>
    <p-footer>
        <button pButton type="button" label="Update" [disabled]="submitBtn.isClicked" (click)="onSubmit('updatePublication')"></button>
        <button pButton type="button" label="Cancel" (click)="cancelFormSub('updatePublicatoinModal')"></button>
    </p-footer>

</p-dialog>


<!-- Galley Form -->
<p-dialog header="Override Galley" [(visible)]="overrideGalleyModal" [modal]="true" [draggable]="false" [style]="{'width': '30%'}" [maximizable]="false" [contentStyle]="{'height': '150px'}" (onHide)="cancelFormSub('overrideGalleyModal')">
    <form [formGroup]="galley_form">
        <div class="ui-g">
            <!-- <div class="ui-g-12 ui-md-6 ui-lg-2"></div> -->
            <div class="ui-g-12 ui-md-6 ui-lg-12">
                Upload file to enable Update Publication details option:
            </div>
            <!-- <div class="ui-g-12 ui-md-6 ui-lg-2"></div> -->

        </div>

        <div class="ui-g">
            <div class="ui-g-12 ui-md-6 ui-lg-4">
                Upload file:
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-8">
                <input type="file" name="myfile" class="form-control" id="myfile" (change)="onFileChange($event)" #fileInput formControlName="GalleyURL" />
                <div *ngIf="formSubmit.isSubmit && isValidGalleyForm.GalleyURL.errors">
                    <div *ngIf="isValidGalleyForm.GalleyURL.errors.required" style="color: red;">File is required.
                    </div>
                </div>
            </div>
        </div>

    </form>
    <p-footer>
        <button pButton type="button" label="Update" [disabled]="submitBtn.isClicked" (click)="onSubmit('galley')"></button>
        <button pButton type="button" label="Cancel" (click)="cancelFormSub('overrideGalleyModal')"></button>
    </p-footer>

</p-dialog>
<!-- End -->


<!-- Add Journal & Conference Modal -->
<p-dialog header="Add Journal conference details" [(visible)]="addJCDetailsModal" [modal]="true" [draggable]="false" [contentStyle]="{'min-height':'350px','max-height':'450px'}" [responsive]="true" [style]="{'width': '75%'}" (onHide)="cancelFormSub('addJCDetailsModal')">

    <form id="myform" [formGroup]="journal_Conference_Detail_form">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-6 ui-lg-2">
                Type <span style="color:red">*</span>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-4">
                <p-dropdown resetFilterOnHide="true" [options]="documentTypes" placeholder="Select document type" [style]="{'width':'100%'}" formControlName="EntryType" (onChange)="onChangeSelectedType($event.value)">
                </p-dropdown>
                <div *ngIf="formSubmit.isSubmit && isValidAddUpdateJCDetailsForm.EntryType.errors">
                    <div *ngIf="isValidAddUpdateJCDetailsForm.EntryType.errors.required" style="color:red;">
                        Please select one of type & try again.</div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-1">
                List <span style="color:red">*</span>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-4">
                <p-dropdown resetFilterOnHide="true" filter="true" [options]="jcListArray" placeholder="Select document type" [style]="{'width':'100%'}" formControlName="jcLineItem" optionLabel="{{optionLabel.title}}" emptyFilterMessage="No results found" resetFilterOnHide="true"
                    (onChange)="onChangeSelectedJCItem($event,journal_Conference_Detail_form.value.EntryType)">
                </p-dropdown>
                <div *ngIf="formSubmit.isSubmit && isValidAddUpdateJCDetailsForm.jcLineItem.errors">
                    <div *ngIf="isValidAddUpdateJCDetailsForm.jcLineItem.errors.required" style="color:red;">
                        Please select one of document & try again.</div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-1">
                <i class="pi pi-plus-circle" style="font-size: 3em;color:#c53e3e;margin-top: -7px;" (click)="createJC()"></i>
            </div>
        </div>

        <div class="ui-g">
            <div class="ui-g-12 ui-md-6 ui-lg-2">
                Milestones <span style="color:red">*</span>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-4">
                <p-dropdown resetFilterOnHide="true" [options]="milestoneListArray" placeholder="Select milestone" [style]="{'width':'100%'}" filter="true" formControlName="Milestone">
                </p-dropdown>
                <div *ngIf="formSubmit.isSubmit && isValidAddUpdateJCDetailsForm.Milestone.errors">
                    <div *ngIf="isValidAddUpdateJCDetailsForm.Milestone.errors.required" style="color:red;">
                        Please select one of milestone & try again.</div>
                </div>
            </div>
        </div>

        <div *ngIf="(journal_Conference_Detail_form.value.EntryType === 'Journal' || journal_Conference_Detail_form.value.EntryType === 'Conference') && journal_Conference_Detail_form.value.jcLineItem">
            <div class="ui-g">
                <div class="p-col-12 p-md-6 p-lg-2">
                    User Name
                    <!-- <span style="color:red">*</span> -->
                </div>
                <div class="p-col-12 p-md-6 p-lg-4" style="padding: 0.5rem!important;">
                    <input type="text" pInputText maxlength="100" formControlName="UserName" style="width: 100%;" placeholder="User Name" />
                    <div *ngIf="formSubmit.isSubmit && isValidAddUpdateJCDetailsForm.UserName.errors">
                        <div *ngIf="isValidAddUpdateJCDetailsForm.UserName.errors.required" style="color:red;">
                            Please provide User Name.</div>
                    </div>
                </div>

                <div class="p-col-12 p-md-6 p-lg-2" style="padding: 0.5rem!important;">
                    <div class="box">Password
                        <!-- <span style="color:red">*</span> -->
                    </div>
                </div>
                <div class="p-col-12 p-md-6 p-lg-4" style="padding: 0.5rem!important;">
                    <input type="text" pInputText maxlength="100" formControlName="Password" style="width: 100%;" placeholder="Password" />
                    <div *ngIf="formSubmit.isSubmit && isValidAddUpdateJCDetailsForm.Password.errors">
                        <div *ngIf="isValidAddUpdateJCDetailsForm.Password.errors.required" style="color:red;">
                            Please provide Password.</div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="journal_Conference_Detail_form.value.EntryType === 'Journal' && journal_Conference_Detail_form.value.jcLineItem">
            <div class="ui-g">
                <div class="p-col-12 p-md-6 p-lg-2">
                    Name <span style="color:red">*</span>
                </div>
                <div class="p-col-12 p-md-6 p-lg-4" style="padding: 0.5rem!important;">
                    <!-- <input type="text" pInputText maxlength="30" formControlName="Name" style="width: 100%;" placeholder="Name" />  (keyup)="onKey($event.value)" (blur)="checkUniqueName()"-->
                    <textarea rows="5" cols="30" pInputTextarea formControlName="Name" maxlength="200"></textarea>
                    <div *ngIf="formSubmit.isSubmit && isValidAddUpdateJCDetailsForm.Name.errors">
                        <div *ngIf="isValidAddUpdateJCDetailsForm.Name.errors.required" style="color:red;">
                            Please provide Name.</div>
                    </div>
                </div>

                <div class="p-col-12 p-md-6 p-lg-2" style="padding: 0.5rem!important;">
                    <div class="box">Expected Review Period <span style="color:red">*</span></div>
                </div>
                <div class="p-col-12 p-md-6 p-lg-4" style="padding: 0.5rem!important;">
                    <div class="box">
                        <input type="text" pInputText maxlength="100" formControlName="ExpectedReviewPeriod" placeholder="12 Months">
                        <div *ngIf="formSubmit.isSubmit && isValidAddUpdateJCDetailsForm.ExpectedReviewPeriod.errors">
                            <div *ngIf="isValidAddUpdateJCDetailsForm.ExpectedReviewPeriod.errors.required" style="color:red;">
                                Expected Review is required.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui-g">
                <div class="p-col-12 p-md-6 p-lg-2">
                    Impact factor <span style="color:red">*</span>
                </div>
                <div class="p-col-12 p-md-6 p-lg-4" style="padding: 0.5rem!important;">
                    <input type="text" maxlength="10" id="factor" name="name" placeholder="50%" formControlName="IF">
                    <div *ngIf="formSubmit.isSubmit && isValidAddUpdateJCDetailsForm.IF.errors">
                        <div *ngIf="isValidAddUpdateJCDetailsForm.IF.errors.required" style="color:red;">
                            Impact factor is required.
                        </div>
                    </div>
                </div>

                <div class="p-col-12 p-md-6 p-lg-2" style="padding: 0.5rem!important;">
                    <div class="box">Rejection Ratio <span style="color:red">*</span></div>
                </div>
                <div class="p-col-12 p-md-6 p-lg-4" style="padding: 0.5rem!important;">
                    <div class="box">
                        <input type="text" maxlength="10" placeholder="20%" formControlName="RejectionRate">
                        <div *ngIf="formSubmit.isSubmit && isValidAddUpdateJCDetailsForm.RejectionRate.errors">
                            <div *ngIf="isValidAddUpdateJCDetailsForm.RejectionRate.errors.required" style="color:red;">
                                Rejection Rate is required.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui-g">
                <div class="p-col-12 p-md-6 p-lg-2">
                    Comments
                </div>
                <div class="p-col-12 p-md-6 p-lg-4" style="padding: 0.5rem!important;">
                    <div class="box">
                        <textarea rows="5" cols="30" pInputTextarea formControlName="Comments" maxlength="2000"></textarea>

                    </div>
                </div>

                <div class="p-col-12 p-md-6 p-lg-2" style="padding: 0.5rem!important;">
                    <div class="box">Journal Editor Info <span style="color:red">*</span></div>
                </div>
                <div class="p-col-12 p-md-6 p-lg-4" style="padding: 0.5rem!important;">
                    <div class="box">
                        <textarea rows="5" cols="30" pInputTextarea formControlName="JournalEditorInfo" maxlength="2000"></textarea>
                        <div *ngIf="formSubmit.isSubmit && isValidAddUpdateJCDetailsForm.JournalEditorInfo.errors">
                            <div *ngIf="isValidAddUpdateJCDetailsForm.JournalEditorInfo.errors.required" style="color:red;">
                                Journal Editor Info is required.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div *ngIf="journal_Conference_Detail_form.value.EntryType === 'Conference' && journal_Conference_Detail_form.value.jcLineItem">
            <div class="ui-g">
                <div class="p-col-12 p-md-6 p-lg-2 padding15">
                    Conference Name <span style="color:red">*</span>
                </div>
                <div class="p-col-12 p-md-6 p-lg-10">
                    <!-- <input type="text" pInputText maxlength="30" formControlName="Name" style="width: 100% !important;" placeholder="Name" (keyup)="onKey($event.value)" (blur)="checkUniqueName()" /> -->
                    <textarea rows="5" cols="30" pInputTextarea formControlName="Name" maxlength="200"></textarea>
                    <div *ngIf="formSubmit.isSubmit && isValidAddUpdateJCDetailsForm.Name.errors">
                        <div *ngIf="isValidAddUpdateJCDetailsForm.Name.errors.required" style="color:red;">
                            Please provide Conference Name.</div>
                    </div>
                </div>
            </div>

            <div class="ui-g">
                <div class="p-col-12 p-md-6 p-lg-2 padding15">
                    <div class="box">
                        Conference Date <span style="color:red">*</span>
                    </div>
                </div>
                <div class="p-col-12 p-md-6 p-lg-4" style="padding: 0.5rem!important;">
                    <p-calendar [showIcon]="true" [style]="{'width':'100%'}" [readonlyInput]="true" dateFormat="M dd, yy" placeholder="Select Date" formControlName="CongressDate" [disabledDays]="[0,6]" yearRange="{{yearsRange}}" appendTo="body" [monthNavigator]="true" [inputStyle]="{'width': '80%', 'min-width': '80%','padding':'0px'}"
                        [yearNavigator]="true">
                    </p-calendar>
                    <div *ngIf="formSubmit.isSubmit && isValidAddUpdateJCDetailsForm.CongressDate.errors">
                        <div *ngIf="isValidAddUpdateJCDetailsForm.CongressDate.errors.required" style="color:red;">
                            Please provide Start Date.</div>
                    </div>
                </div>
                <div class="p-col-12 p-md-6 p-lg-2 padding15">
                    <div class="box">Submission Deadline <span style="color:red">*</span></div>
                </div>
                <div class="p-col-12 p-md-6 p-lg-4" style="padding: 0.5rem!important;">
                    <div class="box">
                        <p-calendar [showIcon]="true" [style]="{'width':'100%'}" [readonlyInput]="true" dateFormat="M dd, yy" placeholder="Select Date" formControlName="AbstractSubmissionDeadline" [disabledDays]="[0,6]" yearRange="{{yearsRange}}" appendTo="body" [monthNavigator]="true"
                            [inputStyle]="{'width': '80%', 'min-width': '80%','padding':'0px'}" [yearNavigator]="true">
                        </p-calendar>
                        <div *ngIf="formSubmit.isSubmit && isValidAddUpdateJCDetailsForm.AbstractSubmissionDeadline.errors">
                            <div *ngIf="isValidAddUpdateJCDetailsForm.AbstractSubmissionDeadline.errors.required" style="color:red;">
                                Please provide Submission Deadline Date.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui-g">
                <div class="p-col-12 p-md-6 p-lg-2 padding15">
                    Comments
                </div>
                <div class="p-col-12 p-md-6 p-lg-10">
                    <div class="box">
                        <textarea rows="5" cols="30" pInputTextarea formControlName="Comments" maxlength="2000"></textarea>
                        <div *ngIf="formSubmit.isSubmit && isValidAddUpdateJCDetailsForm.Comments.errors">
                            <div *ngIf="isValidAddUpdateJCDetailsForm.Comments.errors.required" style="color:red;">
                                Please provide Comments.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <p-footer>
        <button pButton type="button" label="Submit" [disabled]="submitBtn.isClicked" (click)="onSubmit('addJCDetailsModal')"></button>
        <button pButton type="button" label="Close" (click)="cancelFormSub('addJCDetailsModal')"></button>
    </p-footer>
</p-dialog>

<!-- Edit Journal Requirement Modal -->
<p-dialog header="Edit Journal conference details" [(visible)]="editJCDetailsModal" [modal]="true" [draggable]="false" [contentStyle]="{'min-height':'350px','max-height':'450px'}" [responsive]="true" [style]="{'width': '75%'}" (onHide)="cancelFormSub('editJCDetailsModal')">

    <form id="myform" [formGroup]="journal_Conference_Edit_Detail_form">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-6 ui-lg-2">
                Type <span style="color:red">*</span>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-4">
                <p-dropdown resetFilterOnHide="true" [disabled]="true" [options]="documentTypes" placeholder="Select document type" [style]="{'width':'100%'}" formControlName="EntryType" (onChange)="onChangeSelectedType($event.value)">
                </p-dropdown>
                <!-- <div *ngIf="formSubmit.isSubmit && isValidAddUpdateJCDetailsForm.EntryType.errors">
                    <div *ngIf="isValidAddUpdateJCDetailsForm.EntryType.errors.required" style="color:red;">
                        Please select one of type & try again.</div>
                </div> -->
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-2">
                List <span style="color:red">*</span>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-4">
                <input type="text" disabled="true" pInputText maxlength="100" formControlName="jcLineItemName" style="width: 100%;" placeholder="-" />

            </div>

        </div>

        <div class="ui-g">
            <div class="ui-g-12 ui-md-6 ui-lg-2">
                Milestones <span style="color:red">*</span>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-4">
                <p-dropdown resetFilterOnHide="true" [options]="milestoneListArray" placeholder="Select milestone" [style]="{'width':'100%'}" filter="true" formControlName="Milestone">
                </p-dropdown>
                <div *ngIf="formSubmit.isSubmit && isValidEditJCDetailsForm.Milestone.errors">
                    <div *ngIf="isValidEditJCDetailsForm.Milestone.errors.required" style="color:red;">
                        Please select one of milestone & try again.</div>
                </div>
            </div>
        </div>

        <div>
            <div class="ui-g">
                <div class="p-col-12 p-md-6 p-lg-2">
                    User Name <span style="color:red">*</span>
                </div>
                <div class="p-col-12 p-md-6 p-lg-4" style="padding: 0.5rem!important;">
                    <input type="text" pInputText formControlName="UserName" maxlength="100" style="width: 100%;" placeholder="User Name" />
                    <div *ngIf="formSubmit.isSubmit && isValidEditJCDetailsForm.UserName.errors">
                        <div *ngIf="isValidEditJCDetailsForm.UserName.errors.required" style="color:red;">
                            Please provide Name.</div>
                    </div>
                </div>

                <div class="p-col-12 p-md-6 p-lg-2" style="padding: 0.5rem!important;">
                    <div class="box">Password <span style="color:red">*</span></div>
                </div>
                <div class="p-col-12 p-md-6 p-lg-4" style="padding: 0.5rem!important;">
                    <input type="text" pInputText maxlength="100" formControlName="Password" style="width: 100%;" placeholder="Password" />
                    <div *ngIf="formSubmit.isSubmit && isValidEditJCDetailsForm.Password.errors">
                        <div *ngIf="isValidEditJCDetailsForm.Password.errors.required" style="color:red;">
                            Please provide Password.</div>
                    </div>
                </div>
            </div>

        </div>

        <div *ngIf="journal_Conference_Edit_Detail_form.value.EntryType === 'Journal' && journal_Conference_Edit_Detail_form.value.jcLineItemName">
            <div class="ui-g">
                <div class="p-col-12 p-md-6 p-lg-2">
                    Name <span style="color:red">*</span>
                </div>
                <div class="p-col-12 p-md-6 p-lg-4" style="padding: 0.5rem!important;">
                    <!-- <input type="text" pInputText maxlength="30" formControlName="Name" style="width: 100%;" placeholder="Name" />  (keyup)="onKey($event.value)" (blur)="checkUniqueName()"-->
                    <textarea rows="5" cols="30" pInputTextarea formControlName="Name" maxlength="200"></textarea>
                    <div *ngIf="formSubmit.isSubmit && isValidEditJCDetailsForm.Name.errors">
                        <div *ngIf="isValidEditJCDetailsForm.Name.errors.required" style="color:red;">
                            Please provide Name.</div>
                    </div>
                </div>

                <div class="p-col-12 p-md-6 p-lg-2" style="padding: 0.5rem!important;">
                    <div class="box">Expected Review Period <span style="color:red">*</span></div>
                </div>
                <div class="p-col-12 p-md-6 p-lg-4" style="padding: 0.5rem!important;">
                    <div class="box">
                        <input type="text" pInputText maxlength="100" formControlName="ExpectedReviewPeriod" placeholder="12 Months">
                        <div *ngIf="formSubmit.isSubmit && isValidEditJCDetailsForm.ExpectedReviewPeriod.errors">
                            <div *ngIf="isValidEditJCDetailsForm.ExpectedReviewPeriod.errors.required" style="color:red;">
                                Expected Review is required.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui-g">
                <div class="p-col-12 p-md-6 p-lg-2">
                    Impact factor <span style="color:red">*</span>
                </div>
                <div class="p-col-12 p-md-6 p-lg-4" style="padding: 0.5rem!important;">
                    <input type="text" maxlength="10" id="factor" name="name" placeholder="50%" formControlName="IF">
                    <div *ngIf="formSubmit.isSubmit && isValidEditJCDetailsForm.IF.errors">
                        <div *ngIf="isValidEditJCDetailsForm.IF.errors.required" style="color:red;">
                            Impact factor is required.
                        </div>
                    </div>
                </div>

                <div class="p-col-12 p-md-6 p-lg-2" style="padding: 0.5rem!important;">
                    <div class="box">Rejection Ratio <span style="color:red">*</span></div>
                </div>
                <div class="p-col-12 p-md-6 p-lg-4" style="padding: 0.5rem!important;">
                    <div class="box">
                        <input type="text" maxlength="10" placeholder="20%" formControlName="RejectionRate">
                        <div *ngIf="formSubmit.isSubmit && isValidEditJCDetailsForm.RejectionRate.errors">
                            <div *ngIf="isValidEditJCDetailsForm.RejectionRate.errors.required" style="color:red;">
                                Rejection Rate is required.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui-g">
                <div class="p-col-12 p-md-6 p-lg-2">
                    Comments
                </div>
                <div class="p-col-12 p-md-6 p-lg-4" style="padding: 0.5rem!important;">
                    <div class="box">
                        <textarea rows="5" cols="30" pInputTextarea formControlName="Comments" maxlength="2000"></textarea>
                    </div>
                </div>

                <div class="p-col-12 p-md-6 p-lg-2" style="padding: 0.5rem!important;">
                    <div class="box">Journal Editor Info <span style="color:red">*</span></div>
                </div>
                <div class="p-col-12 p-md-6 p-lg-4" style="padding: 0.5rem!important;">
                    <div class="box">
                        <textarea rows="5" cols="30" pInputTextarea formControlName="JournalEditorInfo" maxlength="2000"></textarea>
                        <div *ngIf="formSubmit.isSubmit && isValidEditJCDetailsForm.JournalEditorInfo.errors">
                            <div *ngIf="isValidEditJCDetailsForm.JournalEditorInfo.errors.required" style="color:red;">
                                Journal Editor Info is required.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div *ngIf="journal_Conference_Edit_Detail_form.value.EntryType === 'Conference' && journal_Conference_Edit_Detail_form.value.jcLineItemName">
            <div class="ui-g">
                <div class="p-col-12 p-md-6 p-lg-2 padding15">
                    Conference Name <span style="color:red">*</span>
                </div>
                <div class="p-col-12 p-md-6 p-lg-10">
                    <!-- <input type="text" pInputText maxlength="30" formControlName="Name" style="width: 100% !important;" placeholder="Name" (keyup)="onKey($event.value)" (blur)="checkUniqueName()" /> -->
                    <textarea rows="5" cols="30" pInputTextarea formControlName="Name" maxlength="200"></textarea>
                    <div *ngIf="formSubmit.isSubmit && isValidEditJCDetailsForm.Name.errors">
                        <div *ngIf="isValidEditJCDetailsForm.Name.errors.required" style="color:red;">
                            Please provide Conference Name.</div>
                    </div>
                </div>
            </div>

            <div class="ui-g">
                <div class="p-col-12 p-md-6 p-lg-2 padding15">
                    <div class="box">
                        Conference Date <span style="color:red">*</span>
                    </div>
                </div>
                <div class="p-col-12 p-md-6 p-lg-4" style="padding: 0.5rem!important;">
                    <p-calendar [showIcon]="true" [style]="{'width':'100%'}" [readonlyInput]="true" dateFormat="M dd, yy" placeholder="Select Date" formControlName="CongressDate" [disabledDays]="[0,6]" yearRange="{{yearsRange}}" appendTo="body" [monthNavigator]="true" [inputStyle]="{'width': '80%', 'min-width': '80%','padding':'0px'}"
                        [yearNavigator]="true">
                    </p-calendar>
                    <div *ngIf="formSubmit.isSubmit && isValidEditJCDetailsForm.CongressDate.errors">
                        <div *ngIf="isValidEditJCDetailsForm.CongressDate.errors.required" style="color:red;">
                            Please provide Start Date.</div>
                    </div>
                </div>
                <div class="p-col-12 p-md-6 p-lg-2 padding15">
                    <div class="box">Submission Deadline <span style="color:red">*</span></div>
                </div>
                <div class="p-col-12 p-md-6 p-lg-4" style="padding: 0.5rem!important;">
                    <div class="box">
                        <p-calendar [showIcon]="true" [style]="{'width':'100%'}" [readonlyInput]="true" dateFormat="M dd, yy" placeholder="Select Date" formControlName="AbstractSubmissionDeadline" [disabledDays]="[0,6]" yearRange="{{yearsRange}}" appendTo="body" [monthNavigator]="true"
                            [inputStyle]="{'width': '80%', 'min-width': '80%','padding':'0px'}" [yearNavigator]="true">
                        </p-calendar>
                        <div *ngIf="formSubmit.isSubmit && isValidEditJCDetailsForm.AbstractSubmissionDeadline.errors">
                            <div *ngIf="isValidEditJCDetailsForm.AbstractSubmissionDeadline.errors.required" style="color:red;">
                                Please provide Submission Deadline Date.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui-g">
                <div class="p-col-12 p-md-6 p-lg-2 padding15">
                    Comments
                </div>
                <div class="p-col-12 p-md-6 p-lg-10">
                    <div class="box">
                        <textarea rows="5" cols="30" pInputTextarea formControlName="Comments" maxlength="2000"></textarea>
                        <div *ngIf="formSubmit.isSubmit && isValidEditJCDetailsForm.Comments.errors">
                            <div *ngIf="isValidEditJCDetailsForm.Comments.errors.required" style="color:red;">
                                Please provide Comments.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <p-footer>
        <button pButton type="button" label="Update" [disabled]="submitBtn.isClicked" (click)="onSubmit('editJCDetailsModal')"></button>
        <button pButton type="button" label="Close" (click)="cancelFormSub('editJCDetailsModal')"></button>
    </p-footer>
</p-dialog>

<!-- Update Journal Requirement Modal -->

<p-dialog header="Update journal requirement details" [(visible)]="updateJCRequirementModal" [modal]="true" [draggable]="false" [contentStyle]="{'min-height':'150px','max-height':'450px'}" [responsive]="true" [style]="{'width': '45%'}" (onHide)="cancelFormSub('updateJCRequirementModal')">

    <form id="myform" [formGroup]="update_Journal_Requirement_form">
        <div class="ui-g">
            <div class="row container">
                <div class="col-lg-4">
                    <label for="upload-document">Upload files:</label>
                </div>
                <div class="col-lg-8">
                    <input type="file" name="myfile" class="form-control" (change)="onFileChange($event)" formControlName="JournalRequirementResponse" #fileInput />
                    <div *ngIf="formSubmit.isSubmit && isValidUpdateJCRequirementForm.JournalRequirementResponse.errors">
                        <div *ngIf="isValidUpdateJCRequirementForm.JournalRequirementResponse.errors.required" style="color:red;">File is required.</div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <p-footer>
        <button pButton type="button" label="Submit" [disabled]="submitBtn.isClicked" (click)="onSubmit('updateJCRequirementModal')"></button>
        <button pButton type="button" label="Close" (click)="cancelFormSub('updateJCRequirementModal')"></button>
    </p-footer>
</p-dialog>

<!--- Replace Existing Document File-->

<p-dialog header="Replace Document" [(visible)]="replaceDocument" [modal]="true" [draggable]="false" [contentStyle]="{'min-height':'150px','max-height':'450px'}" [responsive]="true" [style]="{'width': '45%'}" (onHide)="cancelFormSub('replaceDocument')">

    <form id="myform" [formGroup]="replace_Document_Form">
        <div class="ui-g">
            <div class="row container">
                <div class="col-lg-4">
                    <label for="upload-document">Upload files:</label>
                </div>
                <div class="col-lg-8">
                    <input type="file" name="myfile" class="form-control" (change)="onReplaceFile($event)" formControlName="documentFile" #fileInput />
                    <div *ngIf="formSubmit.isSubmit && isValidReplaceDocumentForm.documentFile.errors">
                        <div *ngIf="isValidReplaceDocumentForm.documentFile.errors.required" style="color:red;">File is required.</div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <p-footer>
        <button pButton type="button" label="Submit" [disabled]="submitBtn.isClicked" (click)="onSubmit('replaceDocument')"></button>
        <button pButton type="button" label="Close" (click)="cancelFormSub('replaceDocument')"></button>
    </p-footer>
</p-dialog>