<div class="p-d-flex p-flex-column" style="padding: 10vw;width: 100%;" *ngIf="loaderenable">
    <div id="scInnerLoader"></div>
    <div id="scInnerLoaderText">Loading...</div>
</div>


<!-- ****************************************************************************************
                                                          Table View Data
   ************************************************************************************** -->


<div class="MyCurrentCompletedTable p-mt-2" *ngIf="allTasks.length > 0 && !loaderenable" hideshowMenu>

    <p-table #TasksTable [columns]="cols" [value]="allTasks" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,25,50]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [style]="{'font-size':'13px','min-height': '400px'}"
        styleClass="p-datatable-cactus p-datatable-gridlines" [exportFilename]="TabName ==='MyCompletedTask' ? 'My Completed Tasks':'My Current Tasks'" stateStorage="local" [stateKey]="config.data ? 'popupTaskTable' : TabName ==='MyCompletedTask' ? 'MyCompletedTasks':'MyCurrentTasks'">

        <ng-template pTemplate="header" let-columns>
            <tr>
                <th class="lastColumnWidth">No.</th>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field" [hidden]="!col.visibility" [ngStyle]="{'width':  col.field === 'TimeSpent'  ? '7em': (col.field === 'StartDate' || col.field === 'DueDate'|| col.field === 'MainStatus' || col.field === 'TaskStatus' ||  col.field === 'ExpectedTime') ? '10em' : '25em' }">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        {{col.header}}
                        <p-sortIcon *ngIf="col.header != ''  && col.field != 'TimeSpent' " [field]="col.field"></p-sortIcon>
                        <p-columnFilter class="cactus-filter" *ngIf="col.header != ''  && col.field != 'TimeSpent'  && col.field != 'ExpectedTime' " [field]="col.field" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                            <ng-template pTemplate="header">
                                <div class="p-px-3 p-pt-3 p-pb-0">
                                    <span class="p-text-bold"> {{col.header}} Picker</span>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-multiSelect [ngModel]="value" [options]="AllTaskColArray[col.field]" placeholder="All" (onChange)="filter($event.value)" optionLabel="label">
                                    <ng-template let-option pTemplate="item">
                                        <div class="p-multiselect-representative-option">
                                            <span class="p-ml-1">{{option.label}}</span>
                                        </div>
                                    </ng-template>
                                </p-multiSelect>
                            </ng-template>
                        </p-columnFilter>
                    </div>
                </th>
                <th style="width: 2em !important;"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-node="rowData" let-rowData let-columns="columns" let-rowIndex="rowIndex">
            <tr>

                <td> {{rowIndex+1}} </td>
                <td *ngFor="let col of columns;index as i" [hidden]="!col.visibility">

                    <span *ngIf="col.field !== 'TaskName' && col.field !=='TimeSpent' && col.field !=='StartDate' && col.field !=='DueDate' ">
                        {{rowData[col.field]}}</span>
                    <span *ngIf="col.field ==='StartDate' || col.field ==='DueDate' ">
                        {{rowData[col.field] | date:' MMM d, y, h:mm a'}}</span>

                    <span *ngIf="( col.field ==='TimeSpent' && rowData.MainStatus ==='Planned')">
                        {{rowData[col.field]}}</span>
                    <span *ngIf="col.field === 'TaskName' || (col.field ==='TimeSpent' && rowData.MainStatus !=='Planned')" (click)="showDialog(rowData,col.field,rowIndex)" style="cursor: pointer;color:#C53E3E;">
                        {{rowData[col.field]}} <div
                            *ngIf="col.field === 'TaskName' && tableloaderenable && rowIndex === selectedindex"
                            id="scTableInnerLoader"></div>
                        <div *ngIf="col.field === 'TaskName' && rowData.Comments">[{{rowData.Comments}}]</div> </span>
                    <span *ngIf="col.field === 'ExpectedTime'">
                        <span class='overlayIcon'
                            appendTo="body"
                            (click)="showOverlayPanel($event, rowData, dailyAllocateOP)"
                            style="float: right;cursor: pointer;"
                            title="Click to see allocation split"
                            *ngIf="rowData.showAllocationSplit">
                            <i [hidden]="hideIcon" style="font-size: 17px;" class="fa fa-info-circle" aria-hidden="true"></i>
                            <app-allocation-overlay #dailyAllocateOP [style]="{'right' : hideIcon ? '0px !important':'','left' :  hideIcon ? 'inherit !important':''  }"></app-allocation-overlay>
                        </span>
                    </span>
                </td>
                <td class="lastColumnWidthtd">
                    <div *ngIf="rowData.MainStatus !=='Planned'">
                        <p-menu #popupMenu [style]="{'width': '16em' , 'right' : hideIcon ? '0px !important':'','left' :  hideIcon ? 'inherit !important':''  }" [popup]="true" [model]="taskMenu"></p-menu>
                        <i class="pi pi-ellipsis-v" style="font-size:2em;cursor: pointer;" (click)="openPopup(rowData, popupMenu);popupMenu.show($event);" appendTo="body"></i>


                    </div>
                </td>
            </tr>
        </ng-template>

    </p-table>
</div>

<div *ngIf="allTasks.length === 0 && !loaderenable"><span style="font-size: 2em;color:#C53E3E;">No Tasks
        Available.</span></div>

<p-dialog header="Rename SubMilestone" [(visible)]="renameSub" [modal]="true" [draggable]="false" [style]="{'width': '50%'}" [maximizable]="false" [contentStyle]="{'max-height':'350px'}">

    <div class="ui-g">
        <div class="ui-g-12 ui-md-6 ui-lg-2">
            Sub milestones:
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-6">
            <p-dropdown #dd editable="true" [options]="subMilestonesList" [style]="{'width':'100%'}" appendTo="body" [(ngModel)]="subMilestone" optionLabel="label" (onChange)="onChangeDD($event.value)" (click)="clearFilter(dd)">
            </p-dropdown>
            <div *ngIf="errorMsg">
                <div style="color: red;">{{errorMsg}}</div>
            </div>
            <!-- <div *ngIf="subMilestone.length > 30">
                <div style="color: red;">Maximum Sub Milestone character length is 30 only.</div>
            </div> -->
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-4">
            <div style="color: #C53E3E;">Preferably PUB ID </div>
            <div>{{enteredSubMile ? enteredSubMile.length : '0'}} / 30</div>
        </div>
    </div>

    <p-footer>
        <button pButton type="button" label="Update" class="redLight" (click)="onUpdate()"></button>
        <button pButton type="button" label="Cancel" class="redLight" (click)="cancelSub()"></button>
    </p-footer>

</p-dialog>

<!-- <app-feedback-popup #feedbackPopup (popupClosed)='saveTask($event)'></app-feedback-popup> -->