::ng-deep .evenrow {
    padding: 0.5em 0em 0.5em 0em !important;
}

::ng-deep .p-float-label {
    width: 100%;
}

::ng-deep .oddrow {
    padding: 0.5em 0.3em 0.5em 0.3em !important;
}

.input-color {
    position: relative;
    float: left;
    font-size: 14px;
}

.input-color label {
    padding-left: 40px;
    margin-bottom: 0.3rem;
}

.input-color .color-box {
    width: 30px;
    height: 20px;
    display: inline-block;
    background-color: #ccc;
    position: absolute;
    left: 5px;
}

.topCardPosition>.ui-card {
    margin-top: -25px;
}