<div class="p-d-flex p-flex-column" style="padding: 10vw;width: 100%;" *ngIf="mainloaderenable">
    <div id="scInnerLoader"></div>
    <div id="scInnerLoaderText">Loading...</div>
</div>

<div class="p-row p-dir-col" *ngIf="!mainloaderenable">
    <p-card class="topCardPosition">
        <form #searchForm="ngForm" [formGroup]="searchCapacityForm" (ngSubmit)="onSubmit('search')">
            <div class="p-col p-grid p-justify-between p-align-center">
                <div class="p-pl-0 p-grid" style="width: 12%;">
                    <span class="p-col p-float-label">
                        <p-multiSelect inputId="multiselect" [options]="Buckets" formControlName="bucket" (onChange)="onChange($event,'bucket')"
                        resetFilterOnHide="true" (keydown.enter)="$event.preventDefault()"
                        [style]="{width:'100%'}"></p-multiSelect>
                        <label for="multiselect" class=" p-px-0 mainlable">Select Bucket</label>
                    </span>
                </div>
                <div class="p-mx-1 p-grid" style="width: 15%;">
                    <span class="p-col p-px-0 p-float-label">
                        <p-multiSelect inputId="multiselect" [options]="PracticeAreas" formControlName="practicearea"   (onChange)="onChange($event,'practicearea')"
                        resetFilterOnHide="true" (keydown.enter)="$event.preventDefault()"
                        [style]="{width:'100%'}"></p-multiSelect>
                        <label for="multiselect" class="p-px-0 mainlable">Select Practice Area</label>
                    </span>
                </div>
                <div class="p-mx-1 p-grid" style="width: 16%;">
                    <span class="p-col p-px-0 p-float-label">
                        <p-multiSelect inputId="multiselect" [options]="Skills" formControlName="skill" (onChange)="onChange($event,'skill')"
                        resetFilterOnHide="true" (keydown.enter)="$event.preventDefault()"
                        [style]="{width:'100%'}"></p-multiSelect>
                        <label for="multiselect" class="mainlable">Select Skill</label>
                    </span>
                </div>

                <div class="p-mx-1 p-grid" style="width: 17%;">
                    <span class="p-col p-px-0 p-float-label">
                        <p-multiSelect inputId="multiselect"  [options]="Resources" formControlName="resources" (onChange)="onChange($event,'resource')"
                        resetFilterOnHide="true" (keydown.enter)="$event.preventDefault()" 
                        [style]="{width:'100%'}"></p-multiSelect>
                        <label for="multiselect" class="p-px-0 mainlable">Select Resources</label>
                    </span>
                </div>
                <div class="p-mx-1 p-grid" style="width: 11%;">
                    <span class="p-col p-px-0 p-float-label">
                        <p-dropdown inputId="dropdown" [options]="Statuses" formControlName="status" (onChange)="onChange($event,'taskType')"   (keydown.enter)="$event.preventDefault()" defaultLabel="Select Status"
                        [style]="{width:'100%'}"></p-dropdown>
                        <label class="p-px-0 mainlable" for="dropdown">Task Status</label>
                    </span>
                </div>
                <div class="p-mx-1 p-grid" style="width: 8%;">
                    <span class="p-col p-px-0 p-float-label">
                        <p-dropdown inputId="dropdown" [options]="ResourceType" formControlName="resourcetype"
                        resetFilterOnHide="true" (onChange)="fetchDataloader = false"  (keydown.enter)="$event.preventDefault()" defaultLabel="Select Resource Type"
                        [style]="{width:'100%'}"></p-dropdown>
                        <label class="p-px-0 mainlable" for="dropdown">Resources Type</label>
                    </span>
                </div>

                <div class="p-mx-0 p-pr-0 p-grid" style="width: 18%;">
                    <span class="p-col p-pr-1 p-float-label">
                        <p-calendar inputId="calendar" formControlName="rangeDates" selectionMode="range" [style]="{'width':'100%'}"
                        numberOfMonths='1' dateFormat="M dd, yy" [showIcon]="true" [disabledDays]="[0,6]" (onClose)="fetchDataloader = false"
                        [readonlyInput]="true"  [style]="{'cursor': 'pointer'}"
                        [required]="true"></p-calendar>
                        <label class="p-px-0 mainlable" for="calendar">Custom Dates</label>
                    </span>
                </div>

            </div>
            <div class="p-col p-grid p-ai-center vertical-container p-jc-between">

                <div class="p-col-10 p-grid">

                    <span style="float: left;font-size: 14px;padding-right: 10px; font-weight: 700;"> Days : </span>
                    <div class="input-color">
                        <label>Available</label>
                        <div class="color-box" style="background-color: #55bf3b;left: 0px;"></div>
                    </div>
                    <div class="input-color">
                        <label>Fully/Over Allocated</label>
                        <div class="color-box" style="background-color: #EF3D3D;"></div>
                    </div>
                    <div class="input-color">
                        <label>Leave / Not Working </label>
                        <div class="color-box" style="background-color: #808080;"></div>
                    </div>
                    <div class="input-color">
                        <label>Go Live</label>
                        <div class="color-box" style="background-color: #CCFFCC;"></div>
                    </div>
                    <div class="input-color">
                        <label>Trainee</label>
                        <div class="color-box" style="background-color: #ffffff;border: 1px solid #cdcdcd;"></div>
                    </div>
                    <span style="float: left;font-size: 14px;padding-right: 10px; padding-left: 25px;  font-weight: 700;"> Tasks : </span>
                    <div class="input-color">
                        <label>Confirmed</label>
                        <div class="color-box" style="background-color: #ffff00;left: 0px;"></div>
                    </div>
                    <div class="input-color">
                        <label>Planned / Blocked</label>
                        <div class="color-box" style="background-color: #7798bf;"></div>
                    </div>


                </div>
                <!-- <p-footer> -->
                <div class="p-col-2 p-grid p-jc-end">


                    <button pButton type="button" title="Refresh" icon="pi pi-refresh" class="p-mx-1 p-button-raised p-button-danger" (click)="onChange($event,'');searchForm.reset()"></button>

                    <button pButton type="button" title="Block Resource" icon="fa fa-user-plus" class="p-mx-1 p-button-raised p-button-danger" (click)="onSubmit('blockResource')"></button>

                    <button pButton type="submit" title="Search" icon="pi pi-search" class="p-mx-1 p-button-raised p-button-danger"></button>

                </div>
                <!-- </p-footer> -->

            </div>
        </form>
        <div class="p-col" [hidden]="!fetchDataloader">
            <div [hidden]="!userCapacityEnable">
                <app-usercapacity #InitialUserCapacity (updateblocking)="UpdateBlocking($event)" (selectedUserEvent)="receiveSelectedUser($event)" [parentModule]="'capacity'"></app-usercapacity>
            </div>

        </div>


    </p-card>
</div>