
<p-tabMenu  [ngStyle]="{'padding': this.config.data === undefined ? '10px':''}" [model]="items" [activeItem]="activeItem"></p-tabMenu>

<div fxLayout="column" style="padding: 2vw;" fxLayoutAlign="center center" [hidden]="!loaderenable">
    <div id="modalInnerLoader"></div>
    <div id="modalInnerLoaderText">Loading...</div>
  </div>

<!-- 
    <p-toast styleClass="custom-toast" key="custom" [hideTransitionOptions]="'0ms'"
    position="bottom-center">
    </p-toast> -->
  

<p-fileUpload   [style]="{'margin-top':'1vh'}"  *ngIf="!loaderenable && (selectedTab === 'My Drafts' || selectedTab ==='Source Docs' || selectedTab ==='References' || selectedTab ==='Meeting Notes & Client Comments')" customUpload="true"     (uploadHandler)="uploadDocuments($event,selectedTab)"
        multiple="multiple"   maxFileSize="100000000">
</p-fileUpload>

<p-tabPanel [header]="item.label"    [hidden]="loaderenable" *ngFor="let item of items; let i = index" [selected]="item.label === selectedTab">
   
      <p-table [style]="{'margin-top':'1vh','font-size':'12px'}" *ngIf="DocumentArray.length > 0"    [columns]="cols" [(selection)]="selectedDocuments" [value]="DocumentArray">
        
        <ng-template pTemplate="header" let-columns >
              <tr>
                  <th style="width: 3em">   
                      <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                  </th>
                  <th [ngStyle]="{'line-height': isFirst ? '33px':'','width': isFirst ? '35%':''}" *ngFor="let col of columns; index as i; first as isFirst">
                      <span> {{col.header}}</span>
                      <button   *ngIf= "item.label ==='My Drafts'" style="float: right;margin-left: 7px;font-size: 12px;" [hidden]="col.header !=='Document Name'" [hidden]="col.header !=='Document Name'" pButton type="button"  label="Mark final" (click)="markAsFinal()" class="ui-button-danger" ></button>

                      <button  style="float: right;font-size: 12px;" [hidden]="col.header !=='Document Name'" pButton type="button"   label="Download" (click)="downloadFile()" class="ui-button-danger" ></button>
                  </th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr [ngStyle]="{'background-color': rowData.isFileMarkedAsFinal ? '#fff1f1':'#ffffff'}">
                  <td style="width: 3em">
                      <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                  </td>
                  <td *ngFor="let col of columns">
                       <a href="{{rowData.ServerRelativeUrl}}" style="color:#c53e3e;" target="_blank" *ngIf="col.field === 'fileName'">{{rowData[col.field]}}</a>
                       <span  *ngIf="col.field !== 'fileName'">{{rowData[col.field]}}</span>
                  </td>
              </tr>
          </ng-template>
      </p-table>
     
 
  
   

</p-tabPanel>


<div *ngIf="DocumentArray.length === 0 && !loaderenable" style="    padding: 30px 0px 0px 0px;color: #c53e3e;font-size: 1.2em;">* No Documents present for current task.  </div>

