<div class="userdetails">
    <div class="downloadbutton">
        <a (click)="downloadExcel(cfp)" class="download-worksheet download td-none"><i class="fa fa-download" aria-hidden="true"></i></a>
    </div>
</div>
<app-filter #positveFilter (callFilter)="applyFilters($event)"></app-filter>
<div class="pfTable">
    <p-table #cfp id="pfTable" width="100%" [columns]="CFColumns" [value]="CFRows" exportFilename="Client Positive Feedback" [hidden]="hideTable">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngStyle]="{'width':col.field === '' ? '3em' : col.field === 'ID' ? '6em' : ''}">
                    {{col.header}}
                    <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" *ngIf="col.field !== '' " ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
                    </p-sortIcon>
                </th>
            </tr>
            <tr>
                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                    <p-multiSelect *ngSwitchCase="'ID'" [style]="{'width':'100%'}" [options]="CFPositiveColArray.ID" defaultLabel="ID" (onChange)="cfp.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()" filter="true" resetFilterOnHide="true"
                        (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;" [maxSelectedLabels]="1">
                    </p-multiSelect>
                    <p-multiSelect *ngSwitchCase="'Title'" [style]="{'width':'100%'}" [options]="CFPositiveColArray.Title" defaultLabel="Title" (onChange)="cfp.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()" filter="true" resetFilterOnHide="true"
                        (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;" [maxSelectedLabels]="1"></p-multiSelect>
                    <p-multiSelect *ngSwitchCase="'Status'" [style]="{'width':'100%'}" [options]="CFPositiveColArray.Status" defaultLabel="Status" (onChange)="cfp.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()" filter="true" resetFilterOnHide="true"
                        (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;" [maxSelectedLabels]="1"></p-multiSelect>
                    <p-multiSelect *ngSwitchCase="'SentDate'" [style]="{'width':'100%'}" [options]="CFPositiveColArray.SentDate" defaultLabel="Sent Date" (onChange)="cfp.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()" filter="true" resetFilterOnHide="true"
                        (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;" [maxSelectedLabels]="1"></p-multiSelect>
                    <p-multiSelect *ngSwitchCase="'SentBy'" [style]="{'width':'100%'}" [options]="CFPositiveColArray.SentBy" defaultLabel="Sent By" (onChange)="cfp.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()" filter="true" resetFilterOnHide="true"
                        (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;" [maxSelectedLabels]="1"></p-multiSelect>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    <ng-container *ngIf="col.field != 'Title' && col.field != 'SentDate' && col.field != 'SentBy' && col.field != 'Status' && col.field != 'Actions' &&  col.field != ''">
                        {{rowData[col.field]}}
                    </ng-container>
                    <ng-container *ngIf="col.field == 'Title'">
                        <a [href]="rowData['fullUrl']" download>{{rowData[col.field]}}</a>
                    </ng-container>
                    <ng-container *ngIf="col.field == 'SentDate'">
                        {{rowData[col.field] | date: 'MMM d, yyyy'}}
                    </ng-container>
                    <ng-container *ngIf="col.field == 'SentBy'">
                        {{rowData[col.field]}}
                    </ng-container>
                    <ng-container *ngIf="col.field == 'Status'">
                        {{rowData[col.field]}}<a class="inactiveIcon" title="Inactive Feedback" *ngIf="rowData['IsActive'] === false"><i class="fas fa-eye-slash"></i></a>
                    </ng-container>
                    <ng-container *ngIf="col.field == ''">
                        <div style="float: right">
                            <p-menu #menu [style]="{'width': '20em'}" [model]="items" [popup]="true" (clickOutside)="clickout($event)">
                            </p-menu>
                            <i class="pi pi-ellipsis-v" *ngIf="rowData['Status'] === 'Pending'" style="font-size:2em;top: 100px !important;cursor: pointer;" (click)="menu.toggle($event);openMenuPopup(rowData)"></i>
                        </div>
                    </ng-container>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="columns.length">
                    No Data found
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<!-- bindTableEvent binds emitted property from actions popup component-->
<app-popup #PFPopup (bindTableEvent)="updatePFTable($event)" (setSuccessMessage)="showToastMsg($event)"></app-popup>
<div class="tableLoader" [hidden]='hideLoader'>
    <div id="mainLoader"></div>
    <div id="mainLoaderText">Loading...</div>
</div>
<!-- <ng-template #popupLoader let-modal>
    <div class="modal-body">
        <div id="mainLoader"></div>
        <div id="mainLoaderText">Loading...</div>
    </div>
  </ng-template> -->
