<p-table [value]="rowData" [rowsPerPageOptions]="[10,25,50]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {​​​​​​​​first}​​​​​​​​ to {​​​​​​​​last}​​​​​​​​ of {​​​​​​​​totalRecords}​​​​​​​​ entries" styleClass="p-datatable-cactus p-datatable-sm  p-datatable-gridlines"
    stateStorage="local" stateKey="tableattributes">
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
        <tr>
            <td class="error">Project Code</td>
            <td>{{rowItemData.ProjectCode}}</td>
        </tr>
        <tr>
            <td class="error">Client Legal Entity</td>
            <td>{{rowItemData.ClientLegalEntity}}</td>
        </tr>
        <tr>
            <td class="error">SOW Code</td>
            <td>{{rowItemData.SOWCode}}</td>
        </tr>
        <tr>
            <td class="error">SOW Name</td>
            <td>{{rowItemData.SOWName}}</td>
        </tr>
        <tr>
            <td class="error">Number</td>
            <td>{{rowItemData.Number}}</td>
        </tr>
        <tr>
            <td class="error">Category</td>
            <td>{{rowItemData.Category}}</td>
        </tr>
        <tr>
            <td class="error">Vendor Name</td>
            <td>{{rowItemData.VendorName}}</td>
        </tr>
        <tr>
            <td class="error">Expense Type</td>
            <td>{{rowItemData.ExpenseType}}</td>
        </tr>
        <tr>
            <td class="error">Request Type</td>
            <td>{{rowItemData.RequestType}}</td>
        </tr>
        <tr>
            <td class="error">Payment Mode</td>
            <td>{{rowItemData.PaymentMode}}</td>
        </tr>
        <tr>
            <td class="error">Paying Entity</td>
            <td>{{rowItemData.PayingEntity}}</td>
        </tr>
        <tr>
            <td class="error">Client Currency</td>
            <td>{{rowItemData.ClientCurrency}}</td>
        </tr>
        <tr>
            <td class="error">Client Amount</td>
            <td>{{rowItemData.ClientAmount}}</td>
        </tr>
        <tr *ngIf="rowItemData.Currency">
            <td class="error">Currency</td>
            <td>{{rowItemData.Currency}}</td>
        </tr>
        <tr *ngIf="rowItemData.Amount">
            <td class="error">Amount</td>
            <td>{{rowItemData.Amount}}</td>
        </tr>
        <tr>
            <td class="error">Status</td>
            <td>{{rowItemData.Status}}</td>
        </tr>
        <tr>
            <td class="error">Notes</td>
            <td>{{rowItemData.Notes}}</td>
        </tr>
        <tr>
            <td class="error">Date Spend</td>
            <td>{{rowItemData.DateSpend}}</td>
        </tr>
        <tr>
            <td class="error">Approver Comments</td>
            <td>{{rowItemData.ApproverComments}}</td>
        </tr>

        <tr>
            <td class="error">Approver File Url</td>
            <td><a href="{{rowItemData.ApproverFileUrl}}" class="cls_ApproveFileUrl" target="_blank" style="color:red" *ngIf="rowItemData.ApproverFileUrl">Click here</a>
            </td>
        </tr>
        <tr>
            <td class="error">File URL</td>
            <td><a href="{{rowItemData.FileURL}}" class="cls_FileUrl" target="_blank" style="color:red" *ngIf="rowItemData.FileURL">Click
                    here</a>
            </td>
        </tr>
        <tr>
            <td class="error">Client Approval File URL</td>
            <td><a href="{{rowItemData.ClientApprovalFileURL }}" class="cls_ClientApproveFileUrl" target="_blank" style="color:red" *ngIf="rowItemData.ClientApprovalFileURL">Click here</a>
            </td>
        </tr>
        <tr>
            <td class="error">Created Date</td>
            <td>{{rowItemData.Created | date:'mediumDate'}}</td>
        </tr>
        <tr>
            <td class="error">Created By</td>
            <td>{{rowItemData.CreatedBy}}</td>
        </tr>
        <tr>
            <td class="error">Modified Date</td>
            <td>{{rowItemData.Modified | date:'mediumDate'}}</td>
        </tr>
        <tr>
            <td class="error">Modified By</td>
            <td>{{rowItemData.ModifiedBy}}</td>
        </tr>

    </ng-template>
</p-table>