<div fxLayout="row" #scrollDown fxLayoutAlign="space-between start" fxLayoutGap="5px">
    <form [formGroup]='removeAccess' class="p-col">
        <div class="p-grid">
            <div class="p-col-1">
                <h5>Resources</h5>
            </div>
            <div class="p-col-3">
                <p-dropdown [options]="dropDown.resourceNameArray" formControlName="resourceName" filter="true" resetFilterOnHide="true" placeholder='Select Resource' [style]="{'width':'100%'}" (onChange)="onAttributesChanged()">
                </p-dropdown>
                <div class="error" *ngIf="isRemoveAccessFormSubmit && removeAccess.controls.resourceName.errors">
                    <div *ngIf="removeAccess.controls.resourceName.errors.required">
                        Please select atleast one resource</div>
                </div>
            </div>
            <div class="p-col-1">
                <h5>Attributes</h5>
            </div>
            <div class="p-col-3">
                <p-dropdown [options]="dropDown.attributesArray" formControlName="attributes" filter="true" resetFilterOnHide="true" placeholder='Select Attributes' [style]="{'width':'100%'}" (onChange)="onAttributesChanged()">
                </p-dropdown>
                <div class="error" *ngIf="isRemoveAccessFormSubmit && removeAccess.controls.attributes.errors">
                    <div *ngIf="removeAccess.controls.attributes.errors.required">
                        Please select attribute</div>
                </div>
            </div>
            <div class="p-col-4">
                <button type="button" pButton [disabled]="isSearchButtonDisabled" icon="pi pi-search" id="searchId" [ngStyle]="{'margin-right':   '5px','cursor':'pointer' }" label="Search" class="adminBtn" (click)="searchAcess()"></button>
                <button type="button" pButton [disabled]="isRemoveButtonDisabled" icon="pi pi-minus" id="removeAccessId" [ngStyle]="{'margin-right':   '5px','cursor':'pointer' }" label="Remove Access" class="adminBtn" (click)="removeUsers()"></button>
                <button type="button" pButton [disabled]="isRefreshButtonDisabled" icon="pi pi-refresh" id="refreshId" [ngStyle]="{'margin-right':   '5px','cursor':'pointer' }" label="Refresh" class="adminBtn" (click)="refresh()"></button>
            </div>
        </div>
    </form>
</div>
<div *ngIf="isRuleTable">
    <app-show-rule [rulesColumns]="rulesCols" [ruleItems]="ruleTableArray"></app-show-rule>
</div>
<div *ngIf="!isRuleTable" class="removeAccessTable" [hidden]="adminObject.isMainLoaderHidden && tableDataArray.length === 0">
    <div *ngIf="attribute === adminConstants.ATTRIBUTES.PROJECTCODE">
        <p-table #projCode [columns]="projectCodeCols" [value]="tableDataArray" [paginator]="true" [rows]="10" [(selection)]="selectedAllRowsItem" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" selectionMode="" class="cls_abmaintable">
            <ng-template pTemplate="header" let-columns let-rowData="rowData">
                <tr>
                    <th>S.No</th>
                    <th style="width: 2.25em">
                        <p-tableHeaderCheckbox (click)="selectAllRows()" class="cls_abselectallcb">
                        </p-tableHeaderCheckbox>
                    </th>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" [hidden]="!col.visibility">
                        {{col.header}}
                        <p-sortIcon *ngIf="col.header != '' " [field]="col.field"></p-sortIcon>
                    </th>
                    <th></th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th *ngFor="let col of columns" [ngSwitch]="col.field" class="ui-fluid" [hidden]="!col.visibility">
                        <ng-container *ngIf="col.field">
                            <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'ProjectCode'" [options]="projectCodeColArray.ProjectCode" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="projCode.filter($event.value, col.field, 'in')"
                                (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;" class="cls_abNumber">
                            </p-multiSelect>
                            <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'BusinessVertical'" [options]="projectCodeColArray.PracticeArea" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="projCode.filter($event.value, col.field, 'in')"
                                (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;" class="cls_abProjectCode">
                            </p-multiSelect>

                            <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'WBJID'" [options]="projectCodeColArray.WBJID" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="projCode.filter($event.value, col.field, 'in')" (input)="optionFilter($event)"
                                (onPanelShow)="isOptionFilter=true;" class="cls_abVendorName">
                            </p-multiSelect>
                            <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'ClientLegalEntity'" [options]="projectCodeColArray.ClientLegalEntity" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="projCode.filter($event.value, col.field, 'in')"
                                (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;" class="cls_abExpenseType">
                            </p-multiSelect>
                            <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'Status'" [options]="projectCodeColArray.Status" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="projCode.filter($event.value, col.field, 'in')" (input)="optionFilter($event)"
                                (onPanelShow)="isOptionFilter=true;" class="cls_abClientAmount">
                            </p-multiSelect>
                        </ng-container>
                    </th>
                    <th></th>
                </tr>

            </ng-template>
            <ng-template pTemplate="body" let-node="rowData" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                <tr>
                    <td>{{rowIndex+1}}</td>
                    <td>
                        <p-tableCheckbox class="cls_abcheckbox{{rowIndex+1}}" [value]="rowData"></p-tableCheckbox>
                    </td>

                    <td *ngFor="let col of columns;index as i" [hidden]="!col.visibility" [ngStyle]="{'background-color':rowData.IsAdhoc ? '#f7e7b7' : ''}">
                        {{rowData[col.field]}}
                    </td>
                    <td>
                        <div style="float: right;cursor: pointer;" (click)="showOverlayPanel($event, rowData)" title="Click to see the rule">
                            <i class='overlayIcon' class="fa fa-info-circle" aria-hidden="true"></i>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div *ngIf="attribute === adminConstants.ATTRIBUTES.SOWCODE">
        <p-table #sowCode [columns]="sowCodeCols" [value]="tableDataArray" [paginator]="true" [rows]="10" [(selection)]="selectedAllRowsItem" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" selectionMode="" class="cls_abmaintable">
            <ng-template pTemplate="header" let-columns let-rowData="rowData">
                <tr>
                    <th>S.No</th>
                    <th style="width: 2.25em">
                        <p-tableHeaderCheckbox (click)="selectAllRows()" class="cls_abselectallcb">
                        </p-tableHeaderCheckbox>
                    </th>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" [hidden]="!col.visibility">
                        {{col.header}}
                        <p-sortIcon *ngIf="col.header != '' " [field]="col.field"></p-sortIcon>
                    </th>
                    <th></th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th *ngFor="let col of columns" [ngSwitch]="col.field" class="ui-fluid" [hidden]="!col.visibility">
                        <ng-container *ngIf="col.field">
                            <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'Title'" [options]="sowCodeColArray.Title" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="sowCode.filter($event.value, col.field, 'in')" (input)="optionFilter($event)"
                                (onPanelShow)="isOptionFilter=true;" class="cls_abProjectCode">
                            </p-multiSelect>
                            <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'SOWCode'" [options]="sowCodeColArray.SOWCode" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="sowCode.filter($event.value, col.field, 'in')" (input)="optionFilter($event)"
                                (onPanelShow)="isOptionFilter=true;" class="cls_abNumber">
                            </p-multiSelect>
                            <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'BusinessVertical'" [options]="sowCodeColArray.PracticeArea" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="sowCode.filter($event.value, col.field, 'in')"
                                (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;" class="cls_abExpenseType">
                            </p-multiSelect>
                            <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'ClientLegalEntity'" [options]="sowCodeColArray.ClientLegalEntity" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="sowCode.filter($event.value, col.field, 'in')"
                                (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;" class="cls_abVendorName">
                            </p-multiSelect>
                        </ng-container>
                    </th>
                    <th></th>
                </tr>

            </ng-template>
            <ng-template pTemplate="body" let-node="rowData" let-rowData let-columns="columns" let-rowIndex="rowIndex">

                <tr>
                    <td>{{rowIndex+1}}</td>
                    <td>
                        <p-tableCheckbox class="cls_abcheckbox{{rowIndex+1}}" [value]="rowData"></p-tableCheckbox>
                    </td>

                    <td *ngFor="let col of columns;index as i" [hidden]="!col.visibility" [ngStyle]="{'background-color':rowData.IsAdhoc ? '#f7e7b7' : ''}">
                        {{rowData[col.field]}}
                    </td>
                    <td>
                        <div style="float: right;cursor: pointer;" (click)="showOverlayPanel($event, rowData)" title="Click to see the rule">
                            <i class='overlayIcon' class="fa fa-info-circle" aria-hidden="true"></i>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div *ngIf="attribute === adminConstants.ATTRIBUTES.CLIENTDISSATISFACTION">
        <p-table #qcTable [columns]="qcCols" [value]="tableDataArray" [paginator]="true" [rows]="10" [(selection)]="selectedAllRowsItem" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" selectionMode="" class="cls_abmaintable">
            <ng-template pTemplate="header" let-columns let-rowData="rowData">
                <tr>
                    <th>S.No</th>
                    <th style="width: 2.25em">
                        <p-tableHeaderCheckbox (click)="selectAllRows()" class="cls_abselectallcb">
                        </p-tableHeaderCheckbox>
                    </th>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" [hidden]="!col.visibility">
                        {{col.header}}
                        <p-sortIcon *ngIf="col.header != '' " [field]="col.field"></p-sortIcon>
                    </th>
                    <th></th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th *ngFor="let col of columns" [ngSwitch]="col.field" class="ui-fluid" [hidden]="!col.visibility">
                        <ng-container *ngIf="col.field">
                            <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'Title'" [options]="qcColArray.Title" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="qcTable.filter($event.value, col.field, 'in')" (input)="optionFilter($event)"
                                (onPanelShow)="isOptionFilter=true;" class="cls_abProjectCode">
                            </p-multiSelect>
                            <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'Status'" [options]="qcColArray.Status" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="qcTable.filter($event.value, col.field, 'in')" (input)="optionFilter($event)"
                                (onPanelShow)="isOptionFilter=true;" class="cls_abNumber">
                            </p-multiSelect>
                        </ng-container>
                    </th>
                    <th></th>
                </tr>

            </ng-template>
            <ng-template pTemplate="body" let-node="rowData" let-rowData let-columns="columns" let-rowIndex="rowIndex">

                <tr>
                    <td>{{rowIndex+1}}</td>
                    <td>
                        <p-tableCheckbox class="cls_abcheckbox{{rowIndex+1}}" [value]="rowData"></p-tableCheckbox>
                    </td>

                    <td *ngFor="let col of columns;index as i" [hidden]="!col.visibility" [ngStyle]="{'background-color':rowData.IsAdhoc ? '#f7e7b7' : ''}">
                        {{rowData[col.field]}}
                    </td>
                    <td>
                        <div style="float: right;cursor: pointer;" (click)="showOverlayPanel($event, rowData)" title="Click to see the rule">
                            <i class='overlayIcon' class="fa fa-info-circle" aria-hidden="true"></i>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div *ngIf="attribute === adminConstants.ATTRIBUTES.POSITIVEFEEDBACK">
        <p-table #pfTable [columns]="pfCols" [value]="tableDataArray" [paginator]="true" [rows]="10" [(selection)]="selectedAllRowsItem" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" selectionMode="" class="cls_abmaintable">
            <ng-template pTemplate="header" let-columns let-rowData="rowData">
                <tr>
                    <th>S.No</th>
                    <th style="width: 2.25em">
                        <p-tableHeaderCheckbox (click)="selectAllRows()" class="cls_abselectallcb">
                        </p-tableHeaderCheckbox>
                    </th>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" [hidden]="!col.visibility">
                        {{col.header}}
                        <p-sortIcon *ngIf="col.header != '' " [field]="col.field"></p-sortIcon>
                    </th>
                    <th></th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th *ngFor="let col of columns" [ngSwitch]="col.field" class="ui-fluid" [hidden]="!col.visibility">
                        <ng-container *ngIf="col.field">
                            <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'Title'" [options]="pfColArray.Title" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="pfTable.filter($event.value, col.field, 'in')" (input)="optionFilter($event)"
                                (onPanelShow)="isOptionFilter=true;" class="cls_abProjectCode">
                            </p-multiSelect>
                            <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'Status'" [options]="pfColArray.Status" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="pfTable.filter($event.value, col.field, 'in')" (input)="optionFilter($event)"
                                (onPanelShow)="isOptionFilter=true;" class="cls_abNumber">
                            </p-multiSelect>
                        </ng-container>
                    </th>
                    <th></th>
                </tr>

            </ng-template>
            <ng-template pTemplate="body" let-node="rowData" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                <tr>
                    <td>{{rowIndex+1}}</td>
                    <td>
                        <p-tableCheckbox class="cls_abcheckbox{{rowIndex+1}}" [value]="rowData"></p-tableCheckbox>
                    </td>
                    <td *ngFor="let col of columns;index as i" [hidden]="!col.visibility" [ngStyle]="{'background-color':rowData.IsAdhoc ? '#f7e7b7' : ''}">
                        {{rowData[col.field]}}
                    </td>
                    <td>
                        <div style="float: right;cursor: pointer;" (click)="showOverlayPanel($event, rowData)" title="Click to see the rule">
                            <i class='overlayIcon' class="fa fa-info-circle" aria-hidden="true"></i>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <p-overlayPanel #ruleOP [showCloseIcon]="true">
        <ng-template #showRuleDetailsview>
        </ng-template>
    </p-overlayPanel>
</div>
<div *ngIf="adminObject.isMainLoaderHidden && tableDataArray.length == 0 && !isRuleTable" style=" color:red;text-align: center;padding-top: 20px;">
    No data available.
</div>
<div *ngIf="adminObject.isMainLoaderHidden && ruleTableArray.length == 0 && isRuleTable" style=" color:red;text-align: center;padding-top: 20px;">
    No data available.
</div>