<!-- <i class="pi pi-search" (mouseenter)="op2.show($event)" style="font-size:24px"></i> -->
<p-overlayPanel class="dailyAllocationOverlayComp" #op2 [dismissable]="true" [showCloseIcon]="true">
    <p-scrollPanel [style]="{width: '100%', height: '250px'}">
        <p-table #viewAllocate [columns]="cols" [value]="allocation" [style]="{width: '500px'}" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5,10,25]" [showCurrentPageReport]="true" currentPageReportTemplate="{first} to {last} of {totalRecords}" styleClass="p-datatable-cactus p-datatable-gridlines">
            <ng-template pTemplate="header">
                <tr>
                    <th *ngFor="let col of cols">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row>
                <tr>
                    <td>{{row.date | date:'mediumDate'}}</td>
                    <td>{{row.allocation}}</td>
                </tr>
            </ng-template>
        </p-table>
    </p-scrollPanel>
</p-overlayPanel>