<!-- <i class="pi pi-search" (mouseenter)="op2.show($event)" style="font-size:24px"></i> -->
<p-overlayPanel class="dailyAllocationOverlayComp" #op2 [dismissable]="true" [showCloseIcon]="true">
  <p-table #viewAllocate [columns]="cols" [value]="allocation" [style]="{width: '250px'}" [paginator]="true" [rows]="5" >
      <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let col of cols">
              {{col.header}}
            </th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row>
          <tr>
              <td>{{row.date | date:'mediumDate'}}</td>
              <td>{{row.allocation}}</td>
          </tr>
      </ng-template>
  </p-table>
</p-overlayPanel>
