<div class="wrap-table100" [hidden]="isPAFilterHidden">


    <div class="p-d-flex p-flex-column" style="padding: 10vw;width: 100%;" *ngIf="!isPAInnerLoaderHidden">
        <div id="scInnerLoader"></div>
        <div id="scInnerLoaderText">Loading...</div>
    </div>

    <div class="pendingTable table100 projectDataExist ver4 m-b-110" [hidden]="isPATableHidden" hideshowMenu>
        <!-- <div class="p-col p-grid p-jc-end">
            <i style="font-size: 1.8em;cursor: pointer;" (click)="pmCommonService.convertToExcelFile(paTableRef)" title="Export To Excel" class="fa fa-fw fa-file-excel-o"></i>
        </div> -->
        <p-table #paTableRef [columns]="displayedColumns" [value]="pmObject.pendingAllocationArray" [paginator]="true" [rows]="10" selectionMode="" exportFilename="Pending Allocation" [rowsPerPageOptions]="[10,25,50]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            styleClass="p-datatable-cactus p-datatable-gridlines" stateStorage="local" stateKey="PendingAllocationProjects">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th class="firstColumnWidth">S.No</th>
                    <th [style]="{'width' : col.field === 'DeliverableType' ? '11%' : col.field === 'Molecule' || col.field === 'PrimaryResourceText' || col.field === 'Milestone'  ? '10%':'' }" *ngFor="let col of columns" [pSortableColumn]="col.field">
                        <div class="p-d-flex p-jc-between p-ai-center">
                            {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                            <p-columnFilter *ngIf="col.header != ''  && col.field !='PrimaryResourceText' " [field]="col.field" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                                <ng-template pTemplate="header">
                                    <div class="p-px-3 p-pt-3 p-pb-0">
                                        <span class="p-text-bold"> {{col.header}} Picker</span>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-multiSelect [ngModel]="value" [options]="col.options" placeholder="All" (onChange)="filter($event.value)" optionLabel="label">
                                        <ng-template let-option pTemplate="item">
                                            <div class="p-multiselect-representative-option">
                                                <span class="p-ml-1">{{option.label}}</span>
                                            </div>
                                        </ng-template>
                                    </p-multiSelect>
                                </ng-template>
                            </p-columnFilter>

                            <p-columnFilter *ngIf="col.header != ''  && col.field ==='PrimaryResourceText' " type="text" [field]="col.field" matchMode="contains" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false"></p-columnFilter>
                        </div>
                    </th>
                    <th class="lastColumnWidth"> <i (click)="pmCommonService.convertToExcelFile(paTableRef)" title="Export To Excel" class="pi pi-file-excel tableExportIcon"></i></th>
                </tr>
                <!-- <tr>
                    <th class="lastColumnWidth"></th>
                    <th *ngFor="let col of columns" [ngSwitch]="col.field" class="ui-fluid">
                        <input *ngSwitchCase="'PrimaryResourceText'" pInputText type="text" (input)="paTableRef.filter($event.target.value, col.field, col.filterMatchMode)" (keydown.enter)="$event.preventDefault()">
                        <p-multiSelect *ngSwitchCase="'ProjectCode'" [options]="paArrays.ProjectCode" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="paTableRef.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect *ngSwitchCase="'ShortTitle'" [options]="paArrays.ShortTitle" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="paTableRef.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect *ngSwitchCase="'ClientLegalEntity'" [options]="paArrays.ClientLegalEntity" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="paTableRef.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect *ngSwitchCase="'POC'" [options]="paArrays.POC" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="paTableRef.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;"></p-multiSelect>
                        <p-multiSelect *ngSwitchCase="'DeliverableType'" [options]="paArrays.DeliverableType" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="paTableRef.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect *ngSwitchCase="'TA'" [options]="paArrays.TA" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="paTableRef.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;"></p-multiSelect>
                        <p-multiSelect *ngSwitchCase="'Molecule'" [options]="paArrays.Molecule" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="paTableRef.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;"></p-multiSelect>
                        <p-multiSelect *ngSwitchCase="'Milestone'" [options]="paArrays.Milestone" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="paTableRef.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect *ngSwitchCase="'Status'" [options]="paArrays.Status" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="paTableRef.filter($event.value, col.field, 'in')" (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;"></p-multiSelect>
                    </th>
                    <th class="lastColumnWidth"></th>
                </tr> -->
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-task let-rowIndex="rowIndex">
                <tr>
                    <td>{{rowIndex+1}}</td>
                    <td>{{task.ProjectCode}}</td>
                    <td>{{task.ShortTitle}}</td>
                    <td>{{task.ClientLegalEntity}}</td>
                    <td>{{task.POC}}</td>
                    <td>{{task.DeliverableType}}</td>
                    <td>{{task.TA}}</td>
                    <td>{{task.Molecule}}</td>
                    <td>{{task.PrimaryResourceText}}</td>
                    <td>{{task.Milestone}}</td>
                    <td>{{task.Status}}</td>
                    <td class="lastColumnWidth">
                        <div>
                            <p-menu [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'" #menu [model]="popItems" [popup]="true">
                            </p-menu>
                            <i class="pi pi-ellipsis-v"  style="font-size:2em;cursor: pointer;" (click)="storeRowData(rowData); menu.show($event);"></i>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="columns.length + 1">
                        No Project Found.
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<app-timeline-history #timelineRef></app-timeline-history>