
  
  ::ng-deep .pendingTable .ui-table-wrapper tbody.ui-table-tbody>tr>td:last-child {
    overflow: visible;
  }
  
  ::ng-deep .pendingTable .ui-table-wrapper tbody.ui-table-tbody>tr>td:last-child>div {
    position: relative;
  }
  
  ::ng-deep .pendingTable .ui-table-wrapper tbody.ui-table-tbody>tr>td:last-child>div > i {
    top: 0px !important;
  }
  
  ::ng-deep .pendingTable .ui-table-wrapper tbody.ui-table-tbody>tr>td:last-child>div div.ui-menu {
    top: 0px !important;
    left: inherit !important;
    right: 40px !important;
  }