@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* @import '@fullcalendar/core/main.css';
@import '@fullcalendar/daygrid/main.css';
@import '@fullcalendar/timegrid/main.css'; */


/* @import '@fullcalendar/list/main.css';
@import '@fullcalendar/bootstrap/main.css'; */


/* @font-face {
    font-family: 'Helvetica';
    url: ('/fonts/HelveticaNeue.ttf') format('truetype'), /* Safari, Android, iOS */


/* } */

body {
    font-family: Helvetica;
    font-size: 13px;
}


/* Loadder ICON  */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#scInnerLoader {
    border: 10px solid #f3f3f3 !important;
    border-radius: 50% !important;
    border-top: 10px solid red !important;
    border-bottom: 10px solid red !important;
    width: 100px !important;
    height: 100px !important;
    -webkit-animation: spin 2s linear infinite !important;
    animation: spin 2s linear infinite !important;
    margin: 0 auto !important;
    position: relative !important;
    top: 25% !important;
    transform: translateY(-50%) !important;
}

#scInnerLoaderText {
    -moz-animation: loading-text-opacity 2s linear 0s infinite normal !important;
    -o-animation: loading-text-opacity 2s linear 0s infinite normal !important;
    -webkit-animation: loading-text-opacity 2s linear 0s infinite normal !important;
    animation: loading-text-opacity 2s linear 0s infinite normal !important;
    color: black !important;
    font-family: "Helvetica Neue, "Helvetica", ""arial" !important;
    font-size: 10px !important;
    font-weight: bold !important;
    opacity: 0.5 !important;
    text-align: center !important;
    text-transform: uppercase !important;
    top: 27% !important;
    position: relative;
}

body .ui-table .ui-sortable-column.ui-state-highlight,
body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active,
body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item.ui-state-highlight {
    background-color: #C53E3E !important;
}

.ui-toast-detail {
    white-space: pre-line;
}

#modalInnerLoader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid red;
    border-bottom: 5px solid red;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#modalInnerLoaderText {
    -moz-animation: loading-text-opacity 2s linear 0s infinite normal;
    -o-animation: loading-text-opacity 2s linear 0s infinite normal;
    -webkit-animation: loading-text-opacity 2s linear 0s infinite normal;
    animation: loading-text-opacity 2s linear 0s infinite normal;
    color: black;
    font-family: "Helvetica Neue, "Helvetica", ""arial";
    font-size: 10px;
    font-weight: bold;
    opacity: 0.5;
    text-align: center;
    text-transform: uppercase;
    top: 0;
}


/* new for angular 11  */

.p-fluid .p-calendar {
    display: flex !important;
}

.p-accordion .p-accordion-header .p-accordion-header-link {
    padding: 0.2em 0.5em !important;
    text-decoration: none !important;
}

.p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link {
    background: #c53e3e !important;
    color: #ffffff !important;
}

.p-accordion .p-accordion-header:not(.p-disabled).p-highlight:hover .p-accordion-header-link {
    background: #e4e4e4 !important;
    color: #c05252 !important;
    text-decoration: none !important;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link,
.p-calendar-w-btn .p-datepicker-trigger.p-button span,
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    color: #c53e3e !important;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background: rgb(181 63 63 / 12%) !important;
    border-color: rgb(181 63 63 / 12%) !important;
    color: #b53f3f !important;
}

.p-paginator .p-paginator-current {
    margin-left: auto !important;
}

.p-datatable.p-datatable-cactus .p-paginator {
    padding: 0.5rem !important;
}

.p-datepicker table td>span.p-highlight,
.p-column-filter-menu-button.p-column-filter-menu-button-open,
.p-column-filter-menu-button.p-column-filter-menu-button-open:hover,
.p-overlaypanel .p-overlaypanel-close {
    background: #c53e3e !important;
    color: #ffffff !important;
}

.p-datepicker table td.p-datepicker-today>span {
    background: #f4f4f4 !important;
    color: #000000 !important;
    border-color: #c53e3e !important;
}

.p-datatable .p-sortable-column.p-highlight,
.p-overlaypanel .p-overlaypanel-close:enabled:hover,
.p-button:enabled:hover {
    background: #a80404 !important;
    color: #ffffff !important;
}

.p-column-filter-menu-button.p-column-filter-menu-button-active,
.p-column-filter-menu-button.p-column-filter-menu-button-active:hover,
.p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon {
    color: #ffffff !important;
}

.p-datatable .p-sortable-column.p-highlight:hover {
    background: #c41818 !important;
}

.p-column-filter-menu-button.p-column-filter-menu-button-active,
.p-column-filter-menu-button.p-column-filter-menu-button-active:hover,
.p-button:enabled:active,
.p-button:enabled:focus {
    background: #d90000 !important;
    color: #ffffff !important;
}

.p-datatable .p-sortable-column:focus,
.p-column-filter-menu-button:focus {
    box-shadow: inset 0 0 0 0.2rem #fc9d9d !important;
}

.p-calendar .p-inputtext,
.p-multiselect .p-multiselect-label,
.p-inputtext {
    padding: 6px !important;
    font-size: 13px !important;
}

.p-calendar-w-btn:not(.p-disabled):hover,
.p-dropdown:not(.p-disabled):hover,
.p-multiselect:not(.p-disabled):hover,
.p-inputtext:enabled:hover,
.p-radiobutton .p-radiobutton-box.p-highlight {
    border-color: #c53e3e !important;
}

.p-button.p-button-text {
    background-color: #f4f4f4 !important;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenu-ink-bar,
.p-column-filter-buttonbar>button,
.p-tabview .p-tabview-nav .p-tabview-ink-bar,
.p-steps .p-steps-item.p-highlight .p-steps-number,
.p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
    background-color: #c53e3e !important;
}

.p-steps .p-steps-item.p-highlight .p-steps-title {
    color: #9a1111 !important;
    background: white !important;
    padding: 0px 6px !important;
}

.p-dialog-header {
    background: #f1f1f1 !important;
    padding: 0.75rem 2rem !important;
}

.p-overlaypanel .p-overlaypanel-content {
    padding: 1rem 0rem 0rem !important;
}

.p-button.p-button-outlined {
    color: #c53e3e !important;
    background-color: #ffffff !important;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
    color: #c53e3e !important;
    background-color: #ffefef !important;
}

.p-inputtext:enabled:focus,
.p-dropdown:not(.p-disabled).p-focus {
    box-shadow: inset 0 0 0 1px #c53e3e, inset 0 0 0 1px #c53e3e, inset 0 0 0 1px #c53e3e, inset 0 0 0 1px #c53e3e !important;
    border-color: #c53e3e !important;
}

.p-checkbox .p-checkbox-box.p-highlight,
.p-fileupload-choose {
    border-color: #c53e3e !important;
    background: #c53e3e !important;
}

.pdialogButton {
    margin: -53px -20px !important;
    position: fixed !important;
}

.p-button {
    padding: 0.3rem 0.5rem !important;
}

.p-progressbar {
    background: #c53e3e66 !important;
}

.p-fileupload .p-fileupload-buttonbar .p-button:disabled,
.p-fileupload-row>div>.p-button:disabled {
    background: #cdcdcd !important;
    color: #000000 !important;
    cursor: not-allowed !important;
}

.p-fileupload .p-fileupload-buttonbar .p-button,
.p-fileupload-row>div>.p-button {
    background: #c53e3e !important;
    color: #ffffff !important;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    color: #c53e3e !important;
    background: #e7424214 !important;
}

.p-checkbox .p-checkbox-box.p-highlight .p-checkbox-icon.pi-check:before {
    top: 9px !important;
    left: 2px !important;
}

.firstColumnWidth {
    width: 4em !important;
}

.lastColumnWidth {
    width: 2em !important;
}

.lastColumnWidth,
.lastColumnWidthtd {
    padding: 0px !important;
    vertical-align: middle !important;
    text-align: center !important;
}


/* .MyCurrentCompletedTable .ui-table-wrapper tbody.ui-table-tbody>tr>td:last-child>div div.ui-menu
 */

.p-datatable.p-datatable-cactus .p-datatable-wrapper tbody.p-datatable-tbody>tr>td:last-child>div div.p-menu,
.p-datatable.p-datatable-cactus .p-datatable-wrapper tbody.p-datatable-tbody>tr>td:last-child>div div.p-tieredmenu {
    top: inherit !important;
    left: inherit !important;
    right: 25px !important;
}

.p-calendar-w-btn .p-datepicker-trigger.p-button:enabled:hover {
    background: rgba(0, 0, 0, 0.04) !important;
}

.p-calendar-w-btn {
    width: 100% !important;
}

.p-paginator .p-dropdown {
    height: inherit !important;
}

.p-input-icon-left>.p-inputtext {
    padding-left: 2rem !important;
}

.capacitytd {
    border: 1px solid #e3e3e3 !important;
}


/** Please wait Loader **/

.spanner {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    display: block;
    text-align: center;
    height: 300px;
    color: #FFF;
    transform: translateY(-50%);
    z-index: 1000;
    visibility: hidden;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
}

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

.loader {
    color: #ffffff;
    font-size: 10px;
    margin: 30px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}

@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

.show {
    visibility: visible;
}

.spanner,
.overlay {
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.spanner.show,
.overlay.show {
    opacity: 1;
    position: fixed;
    z-index: 9999;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


/** Please wait Loader  end **/

.p-submenu-list {
    left: -200px!important;
}

.p-dialog-content .p-inputtextarea {
    width: 100% !important;
}

.compulsory {
    display: inline;
    padding-right: 2px;
    color: #c53e3e;
}

.error {
    color: #c53e3e;
}

.p-checkbox-label {
    margin-bottom: 0px !important;
}

.p-datatable-tbody>tr>td {
    word-break: break-word !important;
}


/* file upload new ui  */

.file-upload {
    display: block;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.file-upload .file-select {
    display: block;
    border: 2px solid #dce4ec;
    color: #34495e;
    cursor: pointer;
    height: 36px;
    line-height: 36px;
    text-align: left;
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
    border-radius: 4px;
}

.file-upload .file-select .file-select-button {
    background: #dce4ec;
    padding: 0 10px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
}

.file-upload .file-select .file-select-name {
    line-height: 36px;
    display: inline-block;
    padding: 0 10px;
}

.file-upload .file-select:hover {
    border-color: #34495e;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload .file-select:hover .file-select-button {
    background: #34495e;
    color: #FFFFFF;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload.active .file-select {
    border-color: #3fa46a;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload.active .file-select .file-select-button {
    background: #3fa46a;
    color: #FFFFFF;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload .file-select input[type=file] {
    z-index: 100;
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}

.file-upload .file-select.file-select-disabled {
    opacity: 0.65;
}

.file-upload .file-select.file-select-disabled:hover {
    cursor: default;
    display: block;
    border: 2px solid #dce4ec;
    color: #34495e;
    cursor: pointer;
    height: 36px;
    line-height: 36px;
    margin-top: 5px;
    text-align: left;
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
}

.file-upload .file-select.file-select-disabled:hover .file-select-button {
    background: #dce4ec;
    color: #666666;
    padding: 0 10px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
}

.file-upload .file-select.file-select-disabled:hover .file-select-name {
    line-height: 36px;
    display: inline-block;
    padding: 0 10px;
}

.panellargeText {
    font-size: 16px !important;
}

.cardViewDisplay {
    background: #ffffff !important;
    color: #000001 !important;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12) !important;
    border-radius: 4px !important;
    padding: 1em 1em 0em 1em !important;
}

.overlaypanel>.p-overlaypanel {
    top: 90px!important;
    left: inherit!important;
    right: 0!important;
    width: 450px!important;
}

.p-sidebar-close {
    float: right !important;
}

.p-splitbutton,
.p-calendar-w-btn,
.p-button.p-button-icon-only {
    height: 38px !important;
}

.dailyAllocationOverlayComp .p-overlaypanel {
    top: inherit !important;
    right: 8vw !important;
    left: inherit !important;
}


/* Dynamic Dialog common Css end  */


/* */

i.pi.pi-ellipsis-v {
    font-size: 1.25em !important;
}

.p-scrollpanel-wrapper,
.p-dropdown-items-wrapper,
.p-datatable-cactus,
.p-tieredmenu-overlay,
.p-menu-overlay {
    font-size: 13px !important;
}

.tableExportIcon {
    font-size: 25px !important;
    color: #c53e3e !important;
    cursor: pointer !important;
}