<!-- <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert> -->
<div class="userdetails">
    <div class="downloadbutton">
        <a (click)="downloadExcel(cd)" class="download-worksheet download td-none"><i class="fa fa-download" aria-hidden="true"></i></a>
    </div>
</div>
<app-filter (callFilter)="applyFilters(cd, $event)" (searchFilter)="search(cd, $event)" [getCDStatus]="cdStatus"></app-filter>

<app-cds #cd [cdStatus]="cdStatus" [readOnly]="false"></app-cds>
