<p-accordion [activeIndex]="activeIndex">
  <p-accordionTab *ngFor="let task of scorecardTasks.tasks">
    <p-header>
      <span>{{
        task.submilestones ? task.task + "-" + task.submilestones : task.task
      }}</span>
      <span
        *ngIf="task?.milestone !== 'Draft 1' && scorecardTasks.tasks.length > 1"
        title="Ignore Feedback"
        class="ignoreIcon"
        ><p-inputSwitch
          (onChange)="onIgnoreClicked(task, $event)"
          [(ngModel)]="task.ignoreFeedback"
        ></p-inputSwitch
      ></span>
    </p-header>
    <div class="ratework-popup">
      <table class="table popup-rating-row" id="templates">
        <tbody>
          <tr>
            <td>Template</td>
            <td>
              <p-dropdown
                [options]="scorecardTemplates.templates"
                filter="true"
                resetFilterOnHide="true"
                class="filterBy"
                optionLabel="Title"
                placeholder="Select Template"
                (onChange)="getTemplateMatrix(task.taskID)"
                [(ngModel)]="task.selectedTemplate"
                appendTo="body"
              >
              </p-dropdown>
            </td>
          </tr>
          <tr>
            <td>Average rating</td>
            <td>
              <div class="customer-detail popup">
                <div class="cd-rating">
                  <span id="#">{{ task.averageRating }}</span>
                  <div class="star-white fa-star fa"></div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>Resource</td>
            <td>
              {{ task.assignedTo }}
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table popup-rating-row scrollTable" id="templateMatrix">
        <tbody>
          <tr *ngFor="let matrixObj of task.templateMatrix">
            <ng-container *ngIf="matrixObj.question !== ''">
              <td [title]="matrixObj.tooltip">
                {{ matrixObj.question }}
              </td>
              <td class="stars">
                <p-rating
                  [(ngModel)]="matrixObj.rating"
                  stars="5"
                  [cancel]="false"
                  (onRate)="updateRating(task)"
                ></p-rating>
              </td>
            </ng-container>
          </tr>
        </tbody>
      </table>
      <span class="ui-float-label">
        <textarea id="float-input" rows="7" cols="90" pInputTextarea   [(ngModel)]="task.feedbackComment"></textarea>
        <label for="float-input">Please share your feedback</label>
      </span>
    </div>
  </p-accordionTab>
</p-accordion>
<div class="footer">
  <div>
    <!-- <button
      *ngIf="
        scorecardTasks?.currentTask?.Milestone !== 'Draft 1' &&
        scorecardTasks.tasks.length === 1
      "
      type="button"
      class="btn btn-light button cancel-rating"
      (click)="cancel()"
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-light button save-rating"
      (click)="saveRatingFeedback()"
    >
      Submit
    </button> -->

    <button *ngIf="
    scorecardTasks?.currentTask?.Milestone !== 'Draft 1' &&
    scorecardTasks.tasks.length === 1
  " type="button" pButton icon="pi pi-times" (click)="cancel();" label="Cancel" class="p-button-raised p-button-danger"></button>
  
    <button class="p-mx-1 p-button-raised p-button-danger" type="button" pButton icon="pi pi-save" id="saveFeedback" [ngStyle]="{'cursor':'pointer' }" (click)="saveRatingFeedback()" label="Submit"></button>

  </div>
</div>
<!-- </p-dialog> -->
