<div>
  <div class="userRole">
    <div class="ui-g">
      <div class="ui-g-5">
        <div class="ui-g-2">
          <span>User:</span>
        </div>
        <div class="ui-g-3">
          <p-dropdown [options]="users" filter="true" resetFilterOnHide="true" placeholder='Select User'
            [(ngModel)]="selectedUser" (onChange)="userChange()" >
          </p-dropdown>
        </div>
      </div>
      <div class="ui-g-5">
        <div class="ui-g-2">
          <span>Client:</span>
        </div>
        <div class="ui-g-3">
          <p-dropdown [options]="clients" filter="true" resetFilterOnHide="true" placeholder='Select Client'
            [(ngModel)]="selectedClient" (onChange)="clientChange()">
          </p-dropdown>
        </div>
      </div>
      <div class="ui-g-2">
        <button pButton class="adminBtn" type="button" label="Save" (onClick)="save()"></button>
      </div>
    </div>
    <div *ngIf="projectList.length">
      <p-table [columns]="cols" [value]="projectList" [(selection)]="selectedProject" dataKey="ID" [scrollable]="true"
        scrollHeight="400px">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th>Sr No.</th>
            <th>
              <p-tableHeaderCheckbox [disabled]="disableTableHeader"></p-tableHeaderCheckbox>
            </th>
            <th>
              Project
            </th>
            <th>Action</th>
            <th>Current</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
          <tr [ngClass]="{'disableColor':rowData.IsTypeChangedDisabled}">
            <td>{{rowIndex +1}}</td>
            <td>
              <p-tableCheckbox [disabled]="rowData.IsTypeChangedDisabled" [value]="rowData"></p-tableCheckbox>
            </td>
            <td class="brandColor">
              {{rowData.ProjectCode}}({{rowData.WBJID}})
            </td>
            <td>
              <p-dropdown [disabled]="rowData.IsTypeChangedDisabled" [options]="accessType"
                [(ngModel)]="rowData.AccessType" (onChange)="typeChange(rowData)">
              </p-dropdown>
            </td>
            <td>{{rowData.CurrentAccess}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div *ngIf="!projectList.length">
      <div class="ui-g">
        <div class="ui-g-12 brandColor">No Projects found.</div>
      </div>
    </div>
  </div>
</div>