<!-- main filters for rules  -->



<div class="p-d-flex p-flex-column" style="padding: 12vw;" *ngIf="loaderenable">
    <div id="modalInnerLoader"></div>
    <div id="modalInnerLoaderText">Loading...</div>
</div>



<div *ngIf="!loaderenable">
    <form class="p-grid" #searchProjectForm="ngForm" [formGroup]="searchRulesForm" (ngSubmit)="onSubmit()">
        <div class="p-col p-grid projectFilters">
            <p-multiSelect class="p-col p-fluid" [options]="filterData.PRACTICEAREA" resetFilterOnHide="true" (keydown.enter)="$event.preventDefault()" defaultLabel="Select Practice Area" formControlName="practiceArea" [filter]="true" filterBy="label" maxSelectedLabels="2"></p-multiSelect>

            <p-multiSelect class="p-col p-fluid" [options]="filterData.CLE" resetFilterOnHide="true" (keydown.enter)="$event.preventDefault()" defaultLabel="Select Client Legal Entity" formControlName="cle" [filter]="true" filterBy="label" maxSelectedLabels="2"></p-multiSelect>

            <p-multiSelect class="p-col p-fluid" *ngIf="RuleType !== constant.RulesType.SOW" [options]="filterData.SUBDIVISION" resetFilterOnHide="true" (keydown.enter)="$event.preventDefault()" defaultLabel="Select Sub-Division" formControlName="subDivision" [filter]="true"
                filterBy="label" maxSelectedLabels="2"></p-multiSelect>

            <p-multiSelect class="p-col p-fluid" *ngIf="RuleType !== constant.RulesType.SOW" [options]="filterData.DELIVERYTYPE" resetFilterOnHide="true" (keydown.enter)="$event.preventDefault()" defaultLabel="Select Delivery Type" formControlName="deliveryType"
                [filter]="true" filterBy="label" maxSelectedLabels="2"></p-multiSelect>

            <div class="p-col-2">
                <button pButton pRipple pTooltip="Search" tooltipPosition="bottom" type="button" icon="pi pi-search" class="p-button-outlined p-button-danger p-mr-2" type="submit"></button>
                <button pButton pRipple pTooltip="Refresh" tooltipPosition="bottom" type="button" icon="pi pi-refresh" class="p-button-outlined p-button-danger" (click)="resetProjectFilters()"></button>
            </div>

        </div>
    </form>

    <!-- expansion panel for add or view project rules  -->
    <p-accordion [activeIndex]="index" (onClose)="onTabClose($event)" (onOpen)="onTabOpen($event)">

        <!-- Add project Rules  -->
        <p-accordionTab class="AddRules">
            <ng-template pTemplate="header">
                <div class="p-col p-grid p-mt-0 p-p-0">
                    <h6 class="p-col p-px-2 p-m-0">{{headerName}}</h6>
                </div>
            </ng-template>
            <ng-template pTemplate="content">
                <p-panel header="ADD ACCESS" styleClass="cls_AddAccessHeader">
                    <ng-template pTemplate="icons">
                        <div class="p-grid">
                            <p-selectButton *ngIf="RuleType === this.constant.RulesType.PROJECT || RuleType === this.constant.RulesType.SOW" class="selectionType p-mr-2" [options]="AddAccessType" [(ngModel)]="selectedAccessType" (onChange)="CheckDataOnAccessType()"></p-selectButton>

                            <button pButton pRipple type="button" icon="pi pi-save" class="p-button-rounded p-button-outlined p-mr-2" pTooltip="Save" tooltipPosition="bottom" (click)="addRule()"></button>

                            <button pButton pRipple type="button" icon="pi pi-refresh" class="p-button-rounded p-button-info p-button-outlined" pTooltip="Refresh" tooltipPosition="bottom" (click)="cleanData()"></button>
                        </div>
                    </ng-template>

                    <div class="p-d-flex p-flex-column" style="padding:5vw;" *ngIf="subloaderenable">
                        <div id="modalInnerLoader"></div>
                        <div id="modalInnerLoaderText">Loading...</div>
                    </div>

                    <div class="p-col  p-mt-1" *ngIf="!subloaderenable">

                        <!-- // Drag option Projet parameter -->
                        <p-card class="p-grid p-dir-col">
                            <div class="p-grid p-justify-start">
                                <div class="p-m-2" *ngFor="let parameter of filterData.RULEPARAMETERSDISPLAY" pDraggable="attributes" (onDragStart)="dragStart($event,parameter)" (onDragEnd)="dragEnd($event)">
                                    <button pButton pRipple type="button" class="p-button-outlined p-button-danger" [label]="parameter.label" [value]="parameter.value"></button>
                                </div>

                            </div>
                        </p-card>
                        <div class="p-grid">
                            <!-- // drop option for parameters -->
                            <p-card class="p-col-7 p-pl-0 p-mt-1  dropAccesscard" [style]="{'width':'100%','height':'200px'}" pDroppable="attributes" (onDrop)="drop($event)">

                                <div class="p-grid p-justify-start p-pt-5">
                                    <div class="p-p-1" *ngFor='let selected of selectedOption;let i=index;first as isFirst;last as isLast' style="
                                border: 1px solid #CDCDCF;
                                background-color: #cdcdcd;
                                border-radius: 4px;margin: 0px 2px;">
                                        <p-dropdown [options]="selected.value" [style]="{'width':'150px'}" resetFilterOnHide="true" [(ngModel)]="selected.selectedValue" [placeholder]="selected.placeholder" [filter]="true" (keydown.enter)="$event.preventDefault()" (onChange)="checkNext(selected,i)"></p-dropdown>
                                        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-outlined p-button-danger" (click)="removeOption(selected)" style="height: 32px;
                                        background-color: white;"></button>
                                    </div>
                                </div>
                            </p-card>

                            <!-- /// Owner and User Access dropdown  -->
                            <p-card class="p-col-5 p-pr-0 accesslevelcard p-mt-1" [style]="{'width':'100%','height':'200px'}">

                                <div [ngClass]="selectedAccessType === constant.RulesType.DELIVERY ? 'p-col' : 'p-col flipped'">
                                    <div class="front">
                                        <div class="p-grid p-justify-start" *ngIf="selectedAccessType === constant.RulesType.DELIVERY && selectedOption.length > 0">
                                            <div class="p-col" *ngFor='let delivery of filterData.DELIVERY;let i=index;first as isFirst;'>
                                                <h6 class="first" *ngIf="isFirst">Owner</h6>
                                                <p-dropdown *ngIf="isFirst" [options]="delivery.values" class="p-fluid" resetFilterOnHide="true" [(ngModel)]="delivery.selectedValue" placeholder="Select owner" [filter]="true" (keydown.enter)="$event.preventDefault()"></p-dropdown>
                                                <h6 class="first" *ngIf="!isFirst">Access</h6>
                                                <p-multiSelect *ngIf="!isFirst" [options]="delivery.values" resetFilterOnHide="true" (keydown.enter)="$event.preventDefault()" defaultLabel="Select User" [(ngModel)]="delivery.selectedValue" class="p-fluid" [style]="{'z-index':'99999'}" [filter]="true"
                                                    filterBy="label"></p-multiSelect>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="back">
                                        <div class="p-grid p-justify-start" *ngIf="selectedAccessType === constant.RulesType.CM && selectedOption.length > 0">
                                            <div class="p-col" *ngFor='let cm of filterData.CM;let i=index;first as isFirst;'>
                                                <h6 class="first" *ngIf="isFirst">Owner</h6>
                                                <p-dropdown *ngIf="isFirst" [options]="cm.values" class="p-fluid" resetFilterOnHide="true" [(ngModel)]="cm.selectedValue" placeholder="Select owner" [filter]="true" (keydown.enter)="$event.preventDefault()"></p-dropdown>
                                                <h6 class="first" *ngIf="!isFirst">Access</h6>
                                                <p-multiSelect *ngIf="!isFirst" [options]="cm.values" resetFilterOnHide="true" (keydown.enter)="$event.preventDefault()" defaultLabel="Select User" class="p-fluid" [(ngModel)]="cm.selectedValue" [style]="{'z-index':'99999'}" [filter]="true" filterBy="label"></p-multiSelect>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </p-card>
                        </div>

                        <div class="p-grid">

                            <!-- selected parameters display  -->
                            <p-card class="p-col-7 p-pl-0  dropAccesscard p-d-flex" [style]="{'width':'100%','min-height':'200px'}">

                                <div class="p-grid p-justify-start">
                                    <div class="p-col" *ngFor='let selected of selectedOption;let i=index;' style="display: contents;">
                                        <div class="p-gird" *ngIf="selected.selectedValue !==''" style="padding: 8px 15px 8px 15px;
                                    border: 1px solid #cdcdcd;
                                    background-color: #cdcdcd;
                                    text-align: center;
                                    font-weight: bold;">
                                            {{selected.selectedValue}}
                                        </div>


                                        <div style="font-size: 10px;margin: 3px;" class="p-grid">
                                            <i *ngIf="selectedOption[i + 1] && selectedOption[i + 1].selectedValue !=='' && selected.selectedValue !=='' && selectedOption.length - 1 > i " class="pi pi-chevron-right" style="font-size: 3em"></i>
                                        </div>
                                    </div>
                                </div>
                            </p-card>

                            <!-- /// Owner and User Access Display  -->
                            <p-card class="p-col-5 p-pr-0 accesslevelcardview p-d-flex" [style]="{'width':'100%','min-height':'200px'}">
                                <div *ngIf="selectedAccessType === constant.RulesType.DELIVERY && selectedOption.length > 0">
                                    <div class="p-grid p-pl-3" *ngFor='let delivery of filterData.DELIVERY;let i=index;first as isFirst;'>
                                        <h6 class="first p-col-2 p-grid p-m-0  p-ai-center" *ngIf="isFirst && delivery.selectedValue !==''"> Owner :</h6>
                                        <h6 class="first p-col-2 p-grid p-m-0 p-pt-3" *ngIf="!isFirst && delivery.selectedValue !==''"> Access :</h6>

                                        <div class="p-text-center p-text-bold" *ngIf="delivery.selectedValue !==''  && isFirst" style="padding: 5px 20px;
                                    border: 1px solid #cdcdcd;
                                    background-color: #cdcdcd;">
                                            {{delivery.selectedValue}}
                                        </div>

                                        <div class="p-col p-grid p-mt-2 p-p-0" *ngIf="delivery.selectedValue !==''  && !isFirst">
                                            <div class="p-text-center p-text-bold" *ngFor='let selected of delivery.selectedValue;' style="padding: 5px 20px;
                                        border: 1px solid #cdcdcd;
                                        background-color: #cdcdcd;
                                        margin: 5px 5px 0px 8px;">
                                                {{selected}}
                                            </div>
                                        </div>


                                    </div>
                                </div>

                                <div *ngIf="selectedAccessType === constant.RulesType.CM && selectedOption.length > 0">
                                    <div class="p-grid" style="padding: 20px 0px 0px 0px;" *ngFor='let cm of filterData.CM;let i=index;first as isFirst;'>
                                        <span class="first" style="font-size: 20px;padding: 0px 20px 0px 15px;" *ngIf="isFirst && cm.selectedValue !==''"> Owner :</span>
                                        <span class="first" style="font-size: 20px;padding: 0px 20px 0px 15px;" *ngIf="!isFirst && cm.selectedValue !==''"> Access :</span>

                                        <div *ngIf="cm.selectedValue !=='' && isFirst" style="padding: 5px 20px;
                                    border: 1px solid #cdcdcd;
                                    background-color: #cdcdcd;
                                    text-align: center;
                                    font-weight: bold;">
                                            {{cm.selectedValue}}
                                        </div>

                                        <div class="p-col p-grid" style="padding: 0px;" *ngIf="cm.selectedValue !==''  && !isFirst">
                                            <div *ngFor='let selected of cm.selectedValue;' style="padding: 5px 20px;
                                        border: 1px solid #cdcdcd;
                                        background-color: #cdcdcd;
                                        text-align: center;
                                        font-weight: bold;
                                         margin: 5px 5px 0px 8px;">
                                                {{selected}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </p-card>
                        </div>
                    </div>
                </p-panel>
            </ng-template>
        </p-accordionTab>
        <!-- Display rules  -->
        <p-accordionTab>
            <ng-template pTemplate="header">
                <div class="p-col p-grid p-mt-0 p-p-0">
                    <h6 class="p-col p-px-2 p-m-0">Rules</h6>
                </div>
            </ng-template>
            <ng-template pTemplate="content">

                <div class="p-col p-mt-1 p-grid p-jc-between">
                    <div class="p-grid">
                        <h6 class="p-col p-m-0">Rules : </h6>
                        <div *ngFor="let RuleType of colors">
                            <div class="p-col p-grid p-ai-center">
                                <div class="p-ml-1" [style]="{'background-color': RuleType.value, 'width': '2rem','height': '1.2rem'}"></div>
                                <label class="p-m-2" [for]="RuleType.key">{{RuleType.key}}</label>
                            </div>
                        </div>
                        <p-selectButton *ngIf="RuleType === this.constant.RulesType.PROJECT || RuleType === this.constant.RulesType.SOW" class="p-mx-5" [options]="ViewAccessType" [(ngModel)]="selectedViewAccessType" (onChange)="filterRules()"></p-selectButton>
                    </div>
                    <div class="p-grid">
                        <button pButton pRipple [disabled]="filterData.TEMPRULES.length === 0 ? true : false" type="button" icon="pi pi-save" class="p-button-rounded p-button-danger p-button-outlined" pTooltip="Save Rules" tooltipPosition="bottom" (click)="SaveRules()"></button>
                    </div>
                </div>




                <p-scrollPanel class="p-col" [style]="{'width': '100%','height':'400px'}">
                    <p-table [columns]="cols" [value]="filterData.TEMPRULES" [reorderableColumns]="true" (onRowReorder)="onRowReorder($event)">

                        <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
                            <!-- <tr [ngStyle]="{'background-color' : rowData.RuleType === 'existing' && rowData.edited.IsActiveCH === false  && rowData.edited.UserEdited === false ?  '#cdcdcd' : rowData.RuleType === 'new' ? '#f1e5ca' : rowData.RuleType === 'existing' && rowData.IsActiveCH === 'No' ?  '#f1caca' : '#ecfbd0' ,'margin': index === 0 ? '0px' : '15px 0px', 'cursor':'pointer'}"
                                [pReorderableRow]="index" class="p-grid Rules_tr">
                                <td style="font-size: 16px;">
                                

                                    <i style="vertical-align: middle;" class="pi pi-bars" pReorderableRowHandle [pTooltip]="rowData.ResourceType" tooltipPosition="bottom"></i>
                                </td>
                                <td *ngFor='let Rule of rowData.DisplayRules;let j= index;' class="p-grid ruleNames">
                                    <div class="p-grid" style="margin:5px;font-size:18px;width:80%;">
                                        <p [pTooltip]="Rule.DisplayName" tooltipPosition="bottom" style="margin: 3px 0px 0px 0px ;"> {{Rule.Value}}</p>
                                    </div>
                                    <div class="p-col" style="font-size:20px;padding:7px;width: 10%;">
                                        <i *ngIf="rowData.DisplayRules[j + 1] &&  rowData.DisplayRules.length - 1 > j " style="vertical-align: middle;" class="pi pi-chevron-right"></i>
                                    </div>

                                </td>

                                <td class="p-col p-grid p-jc-end closeButton">


                                    <button pTooltip="View Details" tooltipPosition="bottom" pButton pRipple type="button" icon="pi pi-info-circle" class="p-button-rounded p-button-info p-button-outlined p-mr-2" (click)="showDetails($event,rowData)" style="cursor: pointer;"></button>


                                    <button pButton pRipple type="button" icon="pi pi-user-edit" class="p-button-rounded p-button-outlined p-mr-2" pTooltip="Edit Rule Users" tooltipPosition="bottom" (click)="EditRule(rowData)"></button>

                                    <button pButton pRipple type="button" class="p-button-rounded p-button-danger p-button-outlined" [pTooltip]="rowData.IsActiveCH === 'Yes' ? 'Delete Rule' : 'Recover Rule'" tooltipPosition="bottom" (click)="RemoveRule(rowData)" [icon]="rowData.IsActiveCH === 'Yes' ? 'pi pi-times' : 'pi pi-undo'"></button>
                                </td>


                            </tr> -->
                            <tr [ngStyle]="{'background-color' : rowData.RuleType === 'existing' && rowData.edited.IsActiveCH === false  && rowData.edited.UserEdited === false ?  '#cdcdcd' : rowData.RuleType === 'new' ? '#f1e5ca' : rowData.RuleType === 'existing' && rowData.IsActiveCH === 'No' ?  '#f1caca' : '#ecfbd0' ,'margin': index === 0 ? '0px' : '15px 0px', 'cursor':'pointer'}"
                                [pReorderableRow]="index" class="p-grid Rules_tr">
                                <td class="p-pb-1">
                                    <!-- {{index}} {{rowData |json}} -->

                                    <i style="vertical-align: middle;" class="pi pi-bars p-text-bold" pReorderableRowHandle [pTooltip]="rowData.ResourceType" tooltipPosition="bottom"></i>
                                </td>
                                <td *ngFor='let Rule of rowData.DisplayRules;let j= index;' class="p-grid p-pb-1 ruleNames p-text-bold">
                                    <div class="p-grid p-m-1">
                                        <p [pTooltip]="Rule.DisplayName" tooltipPosition="bottom" style="margin: 3px 0px 0px 0px ;"> {{Rule.Value}}</p>
                                    </div>
                                    <div class="p-col">
                                        <i *ngIf="rowData.DisplayRules[j + 1] &&  rowData.DisplayRules.length - 1 > j " style="vertical-align: middle;" class="pi pi-chevron-right"></i>
                                    </div>

                                </td>

                                <td class="p-col p-pb-1 closeButton" style="text-align: right;padding: 3px;">
                                    <p-overlayPanel appendTo="body" class="p-col overlaypanel" #showRuleDetails [style]="{'min-width':'700px','background-color':'#fff6f6'}">

                                        <div *ngIf="PanelDetails" class="p-grid p-dir-col" style="padding: 5px 0px 0px 0px;font-size: 15px;">
                                            <div class="p-col" style="display: flex;">
                                                <span style="padding: 0px 10px;"> Owner :</span>
                                                <div style="font-weight: bold;">
                                                    {{PanelDetails.OwnerPG.Title}}
                                                </div>
                                            </div>
                                            <div class="p-col" style="display: flex;" *ngIf="PanelDetails.Access">
                                                <span style="padding: 0px 10px;"> Access :</span>

                                                <div class="p-col p-grid">
                                                    <div style="font-weight: bold;">
                                                        {{PanelDetails.Access}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </p-overlayPanel>
                                    <button pTooltip="View Details" tooltipPosition="bottom" pButton pRipple type="button" icon="pi pi-info-circle" class="p-button-rounded p-button-info p-button-outlined p-mr-2" (click)="showDetails($event,rowData)" style="cursor: pointer;"></button>



                                    <button pButton pRipple type="button" icon="pi pi-user-edit" class="p-button-rounded p-button-outlined p-mr-2" pTooltip="Edit Rule Users" tooltipPosition="bottom" (click)="EditRule(rowData)"></button>

                                    <button pButton pRipple type="button" class="p-button-rounded p-button-danger p-button-outlined" [pTooltip]="rowData.IsActiveCH === 'Yes' ? 'Delete Rule' : 'Recover Rule'" tooltipPosition="bottom" (click)="RemoveRule(rowData)" [icon]="rowData.IsActiveCH === 'Yes' ? 'pi pi-times' : 'pi pi-undo'"></button>

                                </td>


                            </tr>
                        </ng-template>

                        <ng-template pTemplate="emptymessage" let-columns>
                            <tr>
                                <td [attr.colspan]="columns.length" style="border: none;
                            font-size: 2em;
                            text-align: center;
                            padding: 6vw;">
                                    No rules found.
                                </td>
                            </tr>
                        </ng-template>

                    </p-table>
                </p-scrollPanel>
            </ng-template>

        </p-accordionTab>
    </p-accordion>



</div>