<div class="financeTable">
    <p-table [value]="rowData">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item style="overflow: auto">
            <tr>
                <td [ngStyle]="{'color':'#d7181f'}">Invoice Number</td>
                <td>{{rowItemData.InvoiceNumber}}</td>
            </tr>
            <tr>
                <td [ngStyle]="{'color':'#d7181f'}">Client</td>
                <td>{{rowItemData.ClientLegalEntity}}</td>
            </tr>
            <tr>
                <td [ngStyle]="{'color':'#d7181f'}">Title</td>
                <td>{{rowItemData.Title}}</td>
            </tr>
            <tr>
                <td [ngStyle]="{'color':'#d7181f'}">Invoice Date</td>
                <td>{{rowItemData.InvoiceDate | date:'medium'}}</td>
            </tr>
            <tr>
                <td [ngStyle]="{'color':'#d7181f'}">Invoice Status</td>
                <td>{{rowItemData.InvoiceStatus}}</td>
            </tr>
            <tr>
                <td [ngStyle]="{'color':'#d7181f'}">PO Number</td>
                <td>{{rowItemData.PONumber}}</td>
            </tr>
            <tr>
                <td [ngStyle]="{'color':'#d7181f'}">PO Name</td>
                <td>{{rowItemData.POName}}</td>
            </tr>
            <tr>
                <td [ngStyle]="{'color':'#d7181f'}">Currency</td>
                <td>{{rowItemData.Currency}}</td>
            </tr>
            <tr>
                <td [ngStyle]="{'color':'#d7181f'}">Amount</td>
                <td>{{rowItemData.Amount}}</td>
            </tr>
            <tr>
                <td [ngStyle]="{'color':'#d7181f'}">POC</td>
                <td>{{rowItemData.POC}}</td>
            </tr>
            <tr>
                <td [ngStyle]="{'color':'#d7181f'}">AddressType</td>
                <td>{{rowItemData.AddressType}}</td>
            </tr>
            <tr>
                <td [ngStyle]="{'color':'#d7181f'}">Additional Info</td>
                <td>{{rowItemData.AdditionalInfo}}</td>
            </tr>
            <tr>
                <td [ngStyle]="{'color':'#d7181f'}">Template</td>
                <td>{{rowItemData.Template}}</td>
            </tr>
            <tr>
                <td [ngStyle]="{'color':'#d7181f'}">Dispute Reason</td>
                <td>{{rowItemData.DisputeReason}}</td>
            </tr>
            <tr>
                <td [ngStyle]="{'color':'#d7181f'}">Dispute Comments</td>
                <td>{{rowItemData.DisputeComments}}</td>
            </tr>
            <tr>
                <td [ngStyle]="{'color':'#d7181f'}">Invoice Type</td>
                <td>{{rowItemData.InvoiceType}}</td>
            </tr>
            <tr>
                <td [ngStyle]="{'color':'#d7181f'}">Tagged Amount</td>
                <td>{{rowItemData.TaggedAmount}}</td>
            </tr>
            <tr>
                <td [ngStyle]="{'color':'#d7181f'}">IsTagged Fully</td>
                <td>{{rowItemData.IsTaggedFully}}</td>
            </tr>
            <tr>
                <td [ngStyle]="{'color':'#d7181f'}">File URL</td>
                <td><a href="{{rowItemData.FileURL}}" target="_blank" style="color:red"
                        *ngIf="rowItemData.FileURL">Click here</a>
                </td>
            </tr>
            <tr>
                <td [ngStyle]="{'color':'#d7181f'}">Payment URL</td>
                <td><a href="{{rowItemData.PaymentURL}}" target="_blank" style="color:red"
                        *ngIf="rowItemData.PaymentURL">Click here</a>
                </td>
            </tr>

            <tr>
                <td [ngStyle]="{'color':'#d7181f'}">Reason</td>
                <td>{{rowItemData.Reason}}</td>
            </tr>
            <tr>
                <td [ngStyle]="{'color':'#d7181f'}">State</td>
                <td>{{rowItemData.State}}</td>
            </tr>
            <tr>
                <td [ngStyle]="{'color':'#d7181f'}">Created</td>
                <td>{{rowItemData.Created | date:'medium'}}</td>
            </tr>
            <tr>
                <td [ngStyle]="{'color':'#d7181f'}">Modified</td>
                <td>{{rowItemData.Modified | date:'medium'}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>