
#resp-table {
    width: 100%;
    display: table;
    border-collapse: collapse;
  }
  
  .table-header-cell{
    display: table-cell;
    text-align: left;
    padding-top: 10px;
  }
  
  #resp-table-body{
    display: table-row-group;
  }
  
  .resp-table-row{
    display: table-row;
  }
  
  .table-body-cell{
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 10px;
  }
  
  #resp-table-header{
    display: table-header-group;
    font-weight: bold;
    font-size: 15px;
  }
  
  #saveResource {
    width: 30px;
    cursor: pointer;
  }
  
  #mainLoader,#resourceLoader{
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid red;
    border-bottom: 10px solid red;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 2%;
  }
  .loader {
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid red;
    border-bottom: 6px solid red;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  
  
        @keyframes loading-text-opacity {
            0%  {opacity: 0}
            20% {opacity: 0}
            50% {opacity: 1}
            100%{opacity: 0}
        }
  
        @-moz-keyframes loading-text-opacity {
            0%  {opacity: 0}
            20% {opacity: 0}
            50% {opacity: 1}
            100%{opacity: 0}
        }
  
        @-webkit-keyframes loading-text-opacity {
            0%  {opacity: 0}
            20% {opacity: 0}
            50% {opacity: 1}
            100%{opacity: 0}
        }
  
        @-o-keyframes loading-text-opacity {
            0%  {opacity: 0}
            20% {opacity: 0}
            50% {opacity: 1}
            100%{opacity: 0}
        }
  .loading-text{
       -moz-animation: loading-text-opacity 2s linear 0s infinite normal;
            -o-animation: loading-text-opacity 2s linear 0s infinite normal;
            -webkit-animation: loading-text-opacity 2s linear 0s infinite normal;
            animation: loading-text-opacity 2s linear 0s infinite normal;
            color: black;
            font-family: "Helvetica Neue", "Helvetica\"", "arial\"";
            font-size: 10px;
            font-weight: bold;
            opacity: 0;
            text-align: center;
            text-transform: uppercase;
            top: 0;
  }
  #mainLoaderText,#resourceLoaderText{
       -moz-animation: loading-text-opacity 2s linear 0s infinite normal;
            -o-animation: loading-text-opacity 2s linear 0s infinite normal;
            -webkit-animation: loading-text-opacity 2s linear 0s infinite normal;
            animation: loading-text-opacity 2s linear 0s infinite normal;
            color: black;
            font-family: "Helvetica Neue", "Helvetica\"", "arial\"";
            font-size: 10px;
            font-weight: bold;
            opacity: 0;
            text-align: center;
            text-transform: uppercase;
            top: 0;
  }
  
  @-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
  }
  
  #primaryResourcesSelect{
    width:160px;
  }
  .resourcetab .resourceHeader{
    border: 1px solid rgb(177, 177, 177);
    background: rgb(177, 177, 177);
    color: white;
    font-size: large;
    cursor: pointer;
    border-bottom: 1px solid white;
  }
  
  .selectedTabSection {
    background: #D7181F !important
  }
  /* 
  .resourcetab {
    margin-bottom: 3px;
  } */
  
  .resources {
    display: none;
  }

  .sp-peoplepicker-topLevel {
      height: 75px !important;
  }

  .resourceSectionHeight {
      height: 250px;
      width: 100%;
  }

  #resourcesComponent {
    margin-bottom: 10px;
  }
  