<div class="tableLoader" [hidden]='isPSInnerLoaderHidden'>
    <div id="scInnerLoader"></div>
    <div id="scInnerLoaderText">Loading...</div>
</div>

<div class="p-col">
    <div class="p-col-12 p-md-12 p-lg-12 f-right">
        <div style="display: -webkit-inline-box;">
            <div *ngIf="constantService.userPermission.isFDUserAdmin" class="box" style="margin-right: 20px">
                <button type="button" class="fdBtn" pButton label="Approve Expense" (click)="approveExpense('approve')"></button>
            </div>
            <div *ngIf="constantService.userPermission.isFDUserAdmin" class="box" style="margin-right: 20px">
                <button type="button" class="fdBtn" pButton label="Reject Expense" (click)="approveExpense('reject')"></button>
            </div>
            <div class="box">
                <!-- <button type="button" pButton label="Export" (click)="fdDataShareServie.convertToExcelFile(pendingExpense)"></button> -->
                <i style="font-size: 1.8em;cursor: pointer;" (click)=" fdDataShareServie.convertToExcelFile(pendingExpense)" title="Export To Excel" class="fa fa-fw fa-file-excel-o"></i>
            </div>
        </div>
    </div>
    <div style="clear: both;"></div>
</div>
<div class="financeTable">
    <p-table #pendingExpense [columns]="pendingExpeseCols" [value]="pendingExpenses" [paginator]="true" [rows]="10" exportFilename="Pending_Expenses" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" selectionMode="" [(selection)]="selectedAllRowsItem">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width: 4em;">S.No</th>
                <th style="width: 2.25em">
                    <p-tableHeaderCheckbox (click)="selectAllRows()"></p-tableHeaderCheckbox>
                </th>
                <th *ngFor="let col of columns" [ngStyle]="{'width': (col.field === 'RequestType' || col.field === 'ProjectCode' || col.field === 'Category'|| col.field === 'ExpenseType'|| col.field === 'ClientAmount'|| col.field === 'ClientCurrency'|| col.field === 'CreatedDate'|| col.field === 'CreatedBy' ) ? '10em': (col.field === 'ClientLegalEntity') ? '15em':(col.field === 'VendorName') ? '20em':'3em' }"
                    [pSortableColumn]="col.field" [hidden]="!col.visibility">
                    {{col.header}}
                    <p-sortIcon *ngIf="col.header != '' " [field]="col.field"></p-sortIcon>
                </th>

            </tr>
            <tr>
                <th></th>
                <th></th>
                <th *ngFor="let col of columns" [ngSwitch]="col.field" [hidden]="!col.visibility" class="ui-fluid">
                    <ng-container *ngIf="col.field">
                        <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'RequestType'" [options]="pendinExpenseColArray.RequestType" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="pendingExpense.filter($event.value, col.field, 'in')"
                            (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'ClientLegalEntity'" [options]="pendinExpenseColArray.ClientLegalEntity" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="pendingExpense.filter($event.value, col.field, 'in')"
                            (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'ProjectCode'" [options]="pendinExpenseColArray.ProjectCode" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="pendingExpense.filter($event.value, col.field, 'in')"
                            (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'SOWCode'" [options]="pendinExpenseColArray.SOWCode" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="pendingExpense.filter($event.value, col.field, 'in')"
                            (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <!-- <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true"
                            *ngSwitchCase="'SOWName'" [options]="pendinExpenseColArray.SOWName" defaultLabel="All" [maxSelectedLabels]="1"
                            (onChange)="pendingExpense.filter($event.value, col.field, 'in')" (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect> -->
                        <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'Category'" [options]="pendinExpenseColArray.Category" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="pendingExpense.filter($event.value, col.field, 'in')"
                            (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <!-- <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true"
                            *ngSwitchCase="'PONumber'" [options]="pendinExpenseColArray.PONumber" defaultLabel="All" [maxSelectedLabels]="1"
                            (onChange)="pendingExpense.filter($event.value, col.field, 'in')" (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect> -->
                        <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'ExpenseType'" [options]="pendinExpenseColArray.ExpenseType" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="pendingExpense.filter($event.value, col.field, 'in')"
                            (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'ClientAmount'" [options]="pendinExpenseColArray.ClientAmount" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="pendingExpense.filter($event.value, col.field, 'in')"
                            (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'ClientCurrency'" [options]="pendinExpenseColArray.ClientCurrency" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="pendingExpense.filter($event.value, col.field, 'in')"
                            (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'CreatedDate'" [options]="pendinExpenseColArray.CreatedDate" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="pendingExpense.filter($event.value, col.field, 'in')"
                            (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'CreatedBy'" [options]="pendinExpenseColArray.CreatedBy" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="pendingExpense.filter($event.value, col.field, 'in')"
                            (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'ModifiedBy'" [options]="pendinExpenseColArray.ModifiedBy" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="pendingExpense.filter($event.value, col.field, 'in')"
                            (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'Modified'" [options]="pendinExpenseColArray.ModifiedDate" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="pendingExpense.filter($event.value, col.field, 'in')"
                            (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'VendorName'" [options]="pendinExpenseColArray.VendorName" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="pendingExpense.filter($event.value, col.field, 'in')"
                            (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                    </ng-container>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-node="rowData" let-rowData let-columns="columns" let-rowIndex="rowIndex">
            <tr>
                <td>
                    {{rowIndex+1}}
                </td>
                <td>
                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                </td>
                <td *ngFor="let col of columns;" [hidden]="!col.visibility" class="ui-resizable-column">
                    <ng-container *ngIf="col.field != 'CreatedDate' && col.field != 'Modified' &&  col.field != '' ">
                        {{rowData[col.field]}}
                    </ng-container>
                    <ng-container *ngIf="col.field == 'CreatedDate' || col.field == 'Modified'">
                        {{rowData[col.field] | date:'MMM dd, yyyy' }}
                    </ng-container>
                    <ng-container *ngIf="col.field == ''">
                        <div>
                            <p-menu #popupMenu [popup]="true" [model]="items" styleClass="borderMenu">
                            </p-menu>
                            <i class="pi pi-ellipsis-v" style="font-size:2em;top: 100px !important;cursor: pointer;" (click)="openPopup(rowData, popupMenu);popupMenu.show($event);"></i>
                        </div>
                    </ng-container>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div *ngIf="pendingExpenses.length == 0" style="color:red;text-align: center;padding-top: 20px;">
    No data available.
</div>
<!-- Table End  -->

<!-- Right Side Bar -->
<p-sidebar [(visible)]="rightSideBar" position="right" [style]="{overflow:'auto'}" styleClass="ui-sidebar-md">
    <ng-container *ngIf="rightSideBar">
        <app-table-attribute [rowItemData]="selectedRowItem"></app-table-attribute>
    </ng-container>
</p-sidebar>

<!-- Approve Accept Reject Modal -->
<p-dialog header="{{cancelRejectDialog.title}}" [(visible)]="displayModal" [modal]="true" [draggable]="false" [responsive]="true" [contentStyle]="{'max-height':'450px'}" [style]="{'width': '50%'}" [blockScroll]="true" (onHide)="cancelFormSub('cancelReject_form')">

    <form id="myform" [formGroup]="cancelReject_form" *ngIf="cancelRejectDialog.title === 'Cancel Expense' || cancelRejectDialog.title === 'Reject Expense'  ">
        <div class="ui-g">
            <div class="ui-g-6">Are you sure you want to {{cancelRejectDialog.text}} this expense ?</div>
            <div class="ui-g-6">
                <p-radioButton name="ce" value="Yes" label="Yes" inputId="preopt1" (onClick)="isExpenseRej()" formControlName="isCancel">
                </p-radioButton>&nbsp;
                <p-radioButton name="ce" value="No" label="No" inputId="preopt2" (onClick)="isExpenseRej()" formControlName="isCancel">
                </p-radioButton>
                <div *ngIf="formSubmit.isSubmit && isValidCancelExpeseForm.isCancel.errors">
                    <div *ngIf="isValidCancelExpeseForm.isCancel.errors.required" style="color:red;">Please select your Confirmation.
                    </div>
                </div>
            </div>
            <div class="ui-g-6">Comments</div>
            <div class="ui-g-6">
                <span class="ui-float-label">
                    <textarea [rows]="4" [cols]="30" pInputTextarea autoResize="autoResize"
                        formControlName="ApproverComments"></textarea>
                    <!-- <label for="float-input">Comment</label> -->
                </span>
                <div *ngIf="formSubmit.isSubmit && isValidCancelExpeseForm.ApproverComments.errors">
                    <div *ngIf="isValidCancelExpeseForm.ApproverComments.errors.required" style="color:red;">Comments are required.
                    </div>
                </div>
            </div>
        </div>
    </form>
    <p-footer *ngIf="cancelRejectDialog.title === 'Cancel Expense' || cancelRejectDialog.title === 'Reject Expense'  ">
        <button pButton type="button" class="fdBtn" label="{{cancelRejectDialog.title}}" [disabled]="submitBtn.isClicked" (click)="onSubmit(cancelRejectDialog.title)"></button>
    </p-footer>

    <form id="myform" [formGroup]="approveExpense_form" *ngIf="cancelRejectDialog.title === 'Approve Expense' || cancelRejectDialog.title === 'Approve Expense'  ">
        <div class="ui-g">
            <div class="ui-g-6">Paying Entity</div>
            <div class="ui-g-6">
                <p-dropdown resetFilterOnHide="true" [options]="billingEntityData" virtualScroll="true" itemSize="30" [showClear]="false" placeholder="Select a Billing Entity" [style]="{'width':'100%'}" formControlName="PayingEntity" (onChange)="selectedBE($event.value)"
                    optionLabel="Title">
                </p-dropdown>
                <div *ngIf="formSubmit.isSubmit && isValidApproveExpeseForm.PayingEntity.errors">
                    <div *ngIf="isValidApproveExpeseForm.PayingEntity.errors.required" style="color:red;">Paying entity is required.</div>
                </div>
            </div>
            <div *ngIf="selectedRowItem.RequestType === 'Invoice Payment' " style="width: -webkit-fill-available !important;">
                <div class="ui-g-6">Note</div>
                <div class="ui-g-6">
                    <!-- <input type="text" pInputText formControlName="ApproverComments" /> -->
                    <textarea rows="5" cols="30" pInputTextarea formControlName="ApproverComments" maxlength="100"></textarea>
                    <div *ngIf="formSubmit.isSubmit && isValidApproveExpeseForm.ApproverComments.errors">
                        <div *ngIf="isValidApproveExpeseForm.ApproverComments.errors.required" style="color:red;">Please provide Note.</div>
                    </div>
                </div>
            </div>
            <div *ngIf="selectedRowItem.RequestType === 'Credit Card'">
                <div class="ui-g-6">Reference Number</div>
                <div class="ui-g-6">
                    <input type="text" pInputText formControlName="Number" />
                    <div *ngIf="formSubmit.isSubmit && isValidApproveExpeseForm.Number.errors">
                        <div *ngIf="isValidApproveExpeseForm.Number.errors.required" style="color:red;">Please provide Reference number.</div>
                    </div>
                </div>
                <div class="ui-g-6">Payment Date</div>
                <div class="ui-g-6 pl-0">
                    <p-calendar styleClass="pCalendarBtn" [showIcon]="true" [monthNavigator]="true" [readonlyInput]="true" dateFormat="dd M , yy" yearRange="2019:2030" [disabledDays]="[0,6]" [yearNavigator]="true" [inputStyle]="{'width': '80%', 'min-width': '80%','padding':'0px'}"
                        appendTo="body" formControlName="DateSpend">
                    </p-calendar>
                    <div *ngIf="formSubmit.isSubmit && isValidApproveExpeseForm.DateSpend.errors">
                        <div *ngIf="isValidApproveExpeseForm.DateSpend.errors.required" style="color:red;">Please provide Payment Date.</div>
                    </div>
                </div>
                <div class="ui-g-6">Payment Mode</div>
                <div class="ui-g-6">
                    <p-dropdown resetFilterOnHide="true" [options]="paymentModeArray" [showClear]="false" placeholder="Select a Payment Mode" [style]="{'width':'100%'}" formControlName="PaymentMode" optionLabel="value" (onChange)="selectedPaymentMode($event.value)" onfocus='this.size=10;'>
                    </p-dropdown>
                    <div *ngIf="formSubmit.isSubmit && isValidApproveExpeseForm.PaymentMode.errors">
                        <div *ngIf="isValidApproveExpeseForm.PaymentMode.errors.required" style="color:red;">Please provide Payment Mode.</div>
                    </div>
                </div>


                <!-- <div class="p-grid">
                    <div class="p-col-4">
                        <div class="box">
                            Payment Mode
                        </div>
                    </div>
                    <div class="p-col-4">
                        <div class="box">
                            <p-dropdown resetFilterOnHide="true"[options]="paymentModeArray" [showClear]="false" placeholder="Select a Payment Mode"
                                [style]="{'width':'100%'}" formControlName="PaymentMode" optionLabel="value"
                                (onChange)="selectedPaymentMode($event.value)" onfocus='this.size=10;'>
                            </p-dropdown>
                        </div>
                    </div>
                </div> -->


                <div class="ui-g-6">Notes</div>
                <div class="ui-g-6">
                    <textarea [rows]="4" [cols]="30" pInputTextarea autoResize="autoResize" formControlName="ApproverComments"></textarea>
                    <div *ngIf="formSubmit.isSubmit && isValidApproveExpeseForm.ApproverComments.errors">
                        <div *ngIf="isValidApproveExpeseForm.ApproverComments.errors.required" style="color:red;">Please provide Note.</div>
                    </div>
                </div>
                <div class="ui-g-6">Upload File</div>
                <div class="ui-g-6">
                    <input type="file" name="myfile" class="form-control" id="myfile" (change)="onFileChange($event, 'ApprovedExpenseFiles')" #fileInput formControlName="ApproverFileUrl" />
                    <div *ngIf="formSubmit.isSubmit && isValidApproveExpeseForm.ApproverFileUrl.errors">
                        <div *ngIf="isValidApproveExpeseForm.ApproverFileUrl.errors.required" style="color:red;">Please provide file.</div>
                    </div>
                </div>
            </div>


            <div [ngStyle]="{'margin-top':selectedRowItem.RequestType !== 'Credit Card' ? '45%' : '0px' }"></div>

        </div>
    </form>
    <p-footer *ngIf="cancelRejectDialog.title === 'Approve Expense'">
        <button pButton type="button" class="fdBtn" label="{{cancelRejectDialog.title}}" [disabled]="submitBtn.isClicked" (click)="onSubmit(cancelRejectDialog.title)"></button>
    </p-footer>
</p-dialog>

<!-- <button (click)="getReq()" pButton type="button">CLienk Me</button> -->