<!-- <div class="ui-g">
    <div class="ui-g-12 ui-fluid ui-md-4">
        <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" dateFormat="M dd, yy" placeholder="Select Start & End Date" showButtonBar="true" (onClose)="SelectedDateRange()" [minDate]="min2Years" (onClearClick)="setDefault()"></p-calendar>
    </div>

    <div class="ui-g-12 ui-md-8 f-right">
        <i style="font-size: 1.8em;cursor: pointer;" (click)=" fdDataShareServie.convertToExcelFile(pi)" title="Export To Excel" class="fa fa-fw fa-file-excel-o"></i>
    </div>
    <div style="clear: both;"></div>
</div> -->
<div class="p-col p-grid p-mt-1">
    <p-calendar [style]="{width:'300px'}" [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" dateFormat="M dd, yy" placeholder="Select Start & End Date" showButtonBar="true" (onClose)="SelectedDateRange()" [minDate]="min2Years" (onClearClick)="setDefault()"></p-calendar>
</div>
<div class="financeTable" hideshowMenu>
    <p-table #pi dataKey="Id" [columns]="outstandingInCols" [value]="paidInvoicesRes" [rowsPerPageOptions]="[10,25,50]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [paginator]="true" [rows]="10"
        styleClass="p-datatable-cactus p-datatable-gridlines" [(selection)]="selectedRowData" selectionMode="" (onRowSelect)="onRowSelect($event)" exportFilename="Paid_Invoices" stateStorage="local" stateKey="paidInvoicesTable" (click)="onTableClick()" rowExpandMode="multiple"
        [expandedRowKeys]="expandedRows" (onRowExpand)="OnRowExpand($event)">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th class="firstColumnWidth">S.No</th>
                <th class="firstColumnWidth p-text-center">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field" [hidden]="!col.visibility">
                    <!-- {{col.header}}
                    <p-sortIcon *ngIf="col.header != '' " [field]="col.field"></p-sortIcon> -->
                    <div *ngIf="col.field != ''" class="p-d-flex p-jc-between p-ai-center">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                        <p-columnFilter *ngIf="col.header != ''" [field]="col.field" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                            <ng-template pTemplate="header">
                                <div class="p-px-3 p-pt-3 p-pb-0">
                                    <span class="p-text-bold"> {{col.header}} Picker</span>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-multiSelect [ngModel]="value" maxSelectedLabels="1" [options]="col.options" placeholder="All" (onChange)="filter($event.value)" optionLabel="label">
                                    <ng-template let-option pTemplate="item">
                                        <div class="p-multiselect-representative-option">
                                            <span class="p-ml-1">{{option.label}}</span>
                                        </div>
                                    </ng-template>
                                </p-multiSelect>
                            </ng-template>
                        </p-columnFilter>
                    </div>
                </th>
                <th class="lastColumnWidth">
                    <i (click)="fdDataShareServie.convertToExcelFile(pi)" title="Export To Excel" class="pi pi-file-excel tableExportIcon"></i>
                </th>
            </tr>

            <!-- <tr>
                <th></th>
                <th></th>
                <th *ngFor="let col of columns" [ngSwitch]="col.field" class="ui-fluid" [hidden]="!col.visibility" style="overflow: visible;">
                    <ng-container *ngIf="col.field">
                        <td></td>
                        <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'InvoiceStatus'" [options]="outInvoiceColArray.InvoiceStatus" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="pi.filter($event.value, col.field, 'in')"
                            (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'DisplayInvoiceWithAuxiliary'" [options]="outInvoiceColArray.DisplayInvoiceWithAuxiliary" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="pi.filter($event.value, col.field, 'in')"
                            (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'PONumber'" [options]="outInvoiceColArray.PONumber" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="pi.filter($event.value, col.field, 'in')" (input)="optionFilter($event)"
                            (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'POValues'" [options]="outInvoiceColArray.POValues" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="pi.filter($event.value, col.field, 'in')" (input)="optionFilter($event)"
                            (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'ClientLegalEntity'" [options]="outInvoiceColArray.ClientLegalEntity" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="pi.filter($event.value, col.field, 'in')"
                            (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'InvoiceDate'" [options]="outInvoiceColArray.InvoiceDate" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="pi.filter($event.value, col.field, 'in')"
                            (input)="optionFilter($event)" (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'Amount'" [options]="outInvoiceColArray.Amount" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="pi.filter($event.value, col.field, 'in')" (input)="optionFilter($event)"
                            (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'Currency'" [options]="outInvoiceColArray.Currency" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="pi.filter($event.value, col.field, 'in')" (input)="optionFilter($event)"
                            (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'POC'" [options]="outInvoiceColArray.POC" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="pi.filter($event.value, col.field, 'in')" (input)="optionFilter($event)"
                            (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                        <p-multiSelect (keydown.enter)="$event.preventDefault()" resetFilterOnHide="true" *ngSwitchCase="'ModifiedBy'" [options]="outInvoiceColArray.ModifiedBy" defaultLabel="All" [maxSelectedLabels]="1" (onChange)="pi.filter($event.value, col.field, 'in')" (input)="optionFilter($event)"
                            (onPanelShow)="isOptionFilter=true;">
                        </p-multiSelect>
                    </ng-container>
                </th>
            </tr> -->
        </ng-template>
        <ng-template pTemplate="body" let-node="rowData" let-rowData let-expanded="expanded" let-columns="columns" let-rowIndex="rowIndex">
            <tr>
                <td>
                    <a class="error" href="#" [pRowToggler]="rowData" style="vertical-align: middle;">
                        <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                    </a>
                </td>
                <td class="p-text-center">
                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                </td>
                <td *ngFor="let col of columns;index as i" class="ui-resizable-column" [hidden]="!col.visibility">
                    <ng-container *ngIf="col.field != 'DisplayInvoiceWithAuxiliary' &&  col.field != '' && col.field != 'InvoiceDate'">
                        {{rowData[col.field]}}
                    </ng-container>
                    <ng-container *ngIf="col.field == 'InvoiceDate'">
                        {{rowData[col.field] | date:'MMM dd, yyyy' }}
                    </ng-container>

                    <ng-container *ngIf="col.field == 'DisplayInvoiceWithAuxiliary'">
                        <a class="error" *ngIf="rowData['FileURL']" [href]="rowData['FileURL']" target="_blank">
                            {{rowData[col.field]}}</a>
                        <p *ngIf="!rowData['FileURL']">{{rowData[col.field]}}</p>
                    </ng-container>

                    <!-- <ng-container *ngIf="col.field == ''">
                        <div>
                            <p-menu #popupMenu [popup]="true" [model]="items" styleClass="borderMenu" (onHide)="pmenuOnHide()" (onShow)="pmenuonShow()">
                            </p-menu>
                            <i class="pi pi-ellipsis-v" style="font-size:2em;top: 100px !important;cursor: pointer;" (click)="openPopup(rowData, popupMenu);popupMenu.show($event);"></i>
                        </div>
                    </ng-container> -->
                </td>
                <td class="lastColumnWidth">
                    <div>
                        <p-menu #popupMenu [popup]="true" [model]="items" styleClass="borderMenu">
                        </p-menu>
                        <i class="pi pi-ellipsis-v" style="font-size:2em;top: 100px !important;cursor: pointer;" (click)="openPopup(rowData, popupMenu);popupMenu.show($event);"></i>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-invoice let-columns="columns">
            <tr *ngIf="invoice.loaderenable">
                <td colspan="11">
                    <div id="modalInnerLoader"></div>
                    <div id="modalInnerLoaderText">Loading...</div>
                </td>
            </tr>
            <tr *ngIf="!invoice.loaderenable">
                <td [attr.colspan]="11" style="padding: 0px;">
                    <p-table #invoicesTable [columns]="invoiceCols" class="invoicesTable" [style]="{'font-size':'13px'}" [value]="invoice.invoiceDetails">
                        <ng-template pTemplate="header" let-columns>

                            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                {{col.header}}
                                <p-sortIcon *ngIf="col.header != '' " [field]="col.field"></p-sortIcon>
                            </th>
                            <th class="lastColumnWidth"></th>
                        </ng-template>

                        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                            <tr class="milestoneTable" *ngIf="!invoice.loaderenable">
                                <td *ngFor="let col of columns;index as i">
                                    <ng-container>
                                        {{rowData[col.field]}}
                                    </ng-container>

                                </td>
                                <td class="lastColumnWidth">
                                    <div>
                                        <p-menu #popupMenu [popup]="true" [model]="items" [style]="{'text-align': 'left'}" styleClass="borderMenu"></p-menu>
                                        <i class="pi pi-ellipsis-v" style="font-size:2em;top: 100px !important;cursor: pointer;" (click)="openPopup(rowData, popupMenu,proforma);popupMenu.show($event);"></i>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage" let-columns>
                            <tr>
                                <td [attr.colspan]="columns.length">
                                    No records found
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<!-- Table End  -->

<!-- Right Side Bar -->
<p-sidebar [(visible)]="rightSideBar" position="right" [baseZIndex]="10000" [style]="{width:'28em'}">
    <p-scrollPanel [style]="{'width': '100%', 'height': '95vh'}">
        <ng-container *ngIf="rightSideBar">
            <app-inv-table-attribute [rowItemData]="selectedRowItem"></app-inv-table-attribute>
        </ng-container>
    </p-scrollPanel>
</p-sidebar>

<!-- Right Side Bar Invoice -->
<p-sidebar [(visible)]="rightSideBarInvoice" position="right" [baseZIndex]="10000" [style]="{width:'28em'}">
    <p-scrollPanel [style]="{'width': '100%', 'height': '95vh'}">
        <ng-container *ngIf="rightSideBarInvoice">
            <app-ili-table-attribute [rowItemData]="selectedRowItem"></app-ili-table-attribute>
        </ng-container>
    </p-scrollPanel>
</p-sidebar>

<!-- Context Menu Start -->
<!-- <p-contextMenu #cm [model]="items" [hidden]="contextMenu"></p-contextMenu> -->
<!-- Context Menu End -->

<!-- Payment Resolved -->
<p-dialog header="Payment Resolved" [(visible)]="paymentResovedModal" [modal]="true" [draggable]="false" [responsive]="true" [style]="{'width': '30%', 'top':'0px'}" [maximizable]="false" [baseZIndex]="10000" (onHide)="cancelFormSub('paymentResoved')">
    <form id="myform" [formGroup]="paymentResoved_form">
        <div class="ui-g">
            <div class="ui-g-6">
                Upload File
            </div>
            <div class="ui-g-6">
                <input type="file" name="myfile" class="form-control" id="myfile" (change)="onFileChange($event)" #fileInput formControlName="file" />
                <div *ngIf="formSubmit.isSubmit && isValidPaymentResovedForm.file.errors">
                    <div *ngIf="isValidPaymentResovedForm.file.errors.required" style="color:red;">Please Select file & try again.
                    </div>
                </div>
            </div>
        </div>
    </form>
    <p-footer>
        <button pButton type="button" class="fdBtn" label="Save" [disabled]="submitBtn.isClicked" (click)="onSubmit('paymentResoved')"></button>
        <button pButton type="button" class="fdBtn" label="Cancel" (click)="cancelFormSub('paymentResoved')"></button>
    </p-footer>
</p-dialog>

<!-- Dispute invoice -->
<!-- <p-dialog header="Dispute Invoice" [(visible)]="disputeInvoiceModal" [modal]="true" [draggable]="false"
    [responsive]="true" [style]="{'width': '30%', 'top':'0px'}" [maximizable]="false" [baseZIndex]="10000"
    (onHide)="cancelFormSub('disputeInvoice')">
    <form id="myform" [formGroup]="disputeInvoice_form">
        <div class="ui-g">
            <div class="ui-g-6">
                Reason
            </div>
            <div class="ui-g-6">
                <p-dropdown resetFilterOnHide="true"[options]="reasons" placeholder="Select One" optionLabel="name" [showClear]="true"
                    formControlName="Reason"></p-dropdown>
                <div *ngIf="formSubmit.isSubmit && isValidDisputeInvoiceForm.Reason.errors">
                    <div *ngIf="isValidDisputeInvoiceForm.Reason.errors.required" style="color:red;">Please Select
                        Reason.
                    </div>
                </div>
            </div>
            <div class="ui-g-6">
                Comments
            </div>
            <div class="ui-g-6">
                <textarea [rows]="4" [cols]="30" pInputTextarea autoResize="autoResize"
                    formControlName="Comments"></textarea>
                <div *ngIf="formSubmit.isSubmit && isValidDisputeInvoiceForm.Comments.errors">
                    <div *ngIf="isValidDisputeInvoiceForm.Comments.errors.required" style="color:red;">Please provide
                        Comment.
                    </div>
                </div>
            </div>
        </div>
    </form>
    <p-footer>
        <button pButton type="button" label="Save" [disabled]="submitBtn.isClicked" (click)="onSubmit('disputeInvoice')"></button>
        <button pButton type="button" label="Cancel" (click)="cancelFormSub('disputeInvoice')"></button>
    </p-footer>

</p-dialog> -->

<!-- Replace Invoice -->
<p-dialog header="Replace Invoice" [(visible)]="replaceInvoiceModal" [modal]="true" [draggable]="false" [responsive]="true" [style]="{'width': '30%', 'top':'0px'}" [maximizable]="false" [baseZIndex]="10000" (onHide)="cancelFormSub('replaceInvoice')">
    <form id="myform" [formGroup]="replaceInvoice_form">
        <div class="ui-g">
            <div class="ui-g-6">
                Uplaod File
            </div>
            <div class="ui-g-6">
                <input type="file" name="myfile" class="form-control" id="myfile" (change)="onFileChange($event)" #fileInput formControlName="file" />
                <div *ngIf="formSubmit.isSubmit && isValidReplaceInvoiceForm.file.errors">
                    <div *ngIf="isValidReplaceInvoiceForm.file.errors.required" style="color:red;">Please Select file & try again.
                    </div>
                </div>
            </div>
        </div>
    </form>
    <p-footer>
        <button pButton type="button" class="fdBtn" label="Save" [disabled]="submitBtn.isClicked" (click)="onSubmit('replaceInvoice')"></button>
        <button pButton type="button" class="fdBtn" label="Cancel" (click)="cancelFormSub('replaceInvoice')"></button>
    </p-footer>

</p-dialog>

<!-- Mark as Credit or Debit Note Modal -->
<!-- <p-dialog header="Mark as Credit or Debit Note" [(visible)]="creditOrDebitModal" [modal]="true" [draggable]="false" [responsive]="true" [style]="{'width': '40%', 'top':'0px'}" [maximizable]="false" [baseZIndex]="10000" (onHide)="cancelFormSub('creditDebit')">

    <form id="myform" [formGroup]="creditOrDebitNote_form">
        <div class="ui-g">
            <div class="ui-g-6">Number</div>
            <div class="ui-g-6">
                <input id="disabled-input" type="text" pInputText formControlName="Number" />
                <div *ngIf="formSubmit.isSubmit && isValidCreditDebitNoteForm.Number.errors">
                    <div *ngIf="isValidCreditDebitNoteForm.Number.errors.required" style="color:red;">Please provide Number.
                    </div>
                </div>
            </div>

            <div class="ui-g-6">Upload File</div>
            <div class="ui-g-6">
                <input type="file" name="myfile" class="form-control" id="myfile" (change)="onFileChange($event)" #fileInput formControlName="file" />
                <div *ngIf="formSubmit.isSubmit && isValidCreditDebitNoteForm.file.errors">
                    <div *ngIf="isValidCreditDebitNoteForm.file.errors.required" style="color:red;">Please Select file & try again.
                    </div>
                </div>
            </div>

            <div class="ui-g-6">Amount</div>
            <div class="ui-g-6">
                <input id="disabled-input" type="text" pInputText formControlName="Amount" />
                <div *ngIf="formSubmit.isSubmit && isValidCreditDebitNoteForm.Amount.errors">
                    <div *ngIf="isValidCreditDebitNoteForm.Amount.errors.required" style="color:red;">Please provide Amount.
                    </div>
                </div>
            </div>

            <div class="ui-g-6">Type</div>
            <div class="ui-g-6">
                <input id="disabled-input" type="text" pInputText formControlName="Type" />
                <div *ngIf="formSubmit.isSubmit && isValidCreditDebitNoteForm.Type.errors">
                    <div *ngIf="isValidCreditDebitNoteForm.Type.errors.required" style="color:red;">Please provide Type.
                    </div>
                </div>
            </div>

            <div class="ui-g-6">Comments</div>
            <div class="ui-g-6">
                <textarea [rows]="4" [cols]="30" pInputTextarea autoResize="autoResize" formControlName="Comments"></textarea>
                <div *ngIf="formSubmit.isSubmit && isValidCreditDebitNoteForm.Comments.errors">
                    <div *ngIf="isValidCreditDebitNoteForm.Comments.errors.required" style="color:red;">Please provide Comments.
                    </div>
                </div>
            </div>

        </div>
    </form>

    <p-footer>
        <button pButton type="button" class="fdBtn" label="Confirm" [disabled]="submitBtn.isClicked" (click)="onSubmit('creditDebit')"></button>
        <button pButton type="button" class="fdBtn" label="Cancel" (click)="cancelFormSub('creditDebit')"></button>
    </p-footer>
</p-dialog> -->
<app-timeline-history #timelineRef></app-timeline-history>