<div class="pdialogButton p-col-12 p-grid p-jc-end">
    <button class="p-mx-1 p-button-raised p-button-danger SaveGraph" type="button" pButton icon="pi pi-save" id="saveBooking" [ngStyle]="{'cursor':'pointer' }" (click)="SaveGraph()" label="Save"></button>

    <button type="button" pButton icon="pi pi-times" (click)="cancelGraph();" label="Cancel" class="p-button-raised p-button-danger cancelGraph"></button>

</div>



<div fxLayout="column" style="padding: 10vw;width: 100%;" fxLayoutAlign="center center" *ngIf="mainloaderenable">
    <div id="scInnerLoader"></div>
    <div id="scInnerLoaderText">Loading...</div>
</div>

<div class="dragDropFlex p-flex-column">

    <p-accordion (onOpen)="onTabOpen($event.index)">
        <p-accordionTab [selected]="step === 0" [hidden]="mainloaderenable">
            <ng-template pTemplate="header">
                <div class="p-col p-grid p-mt-0 p-p-0">
                    <h5 class="p-col p-px-2 p-pb-0 p-pt-1 p-m-0">Milestones</h5>
                    <h5 class="p-col p-px-2 p-pb-0 p-pt-1 p-m-0">{{selectedMilestone}}</h5>
                </div>
            </ng-template>
            <ng-template pTemplate="content">
                <div class="p-col p-grid p-flex-column">
                    <div class="p-col-12">
                        <div class="p-grid p-p-4 milestones dndList panelArea" dndEffectAllowed="move">
                            <div dndPlaceholderRef class="dndPlaceholder"></div>
                            <div class="p-p-2 p-mr-2 p-mb-2 itemBox" *ngFor="let milestone of sharedObject.oTaskAllocation.arrMilestones" [dndDraggable]="milestone" dndEffectAllowed="move" [dndType]="milestone">
                                <div class="milestones-item"><span> {{milestone}}</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="p-col-12">
                        <div class="p-grid p-mt-2 milestones-drop milestonesDropArea" id="dropZone" (dndDrop)="onDrop($event,'milestone',false)" [dndDropzone]="milestones" dndEffectAllowed="move">
                            <div class="p-col p-grid p-m-0">
                                <div class="p-col"></div>
                                <div class="p-col p-grid p-ai-center">
                                    <span class="p-col p-text-center">Drop Milestones here
                                    </span>
                                </div>
                                <div class="p-col p-grid p-jc-end">
                                    <button pButton pRipple type="button" class="p-button-outlined p-button-danger  p-mr-1" (click)="ReloadGraph('milestone')" icon="pi pi-refresh" title="Refresh graph"></button>
                                </div>
                            </div>
                            <ngx-graph [view]="[width,height]" class="chart-container" id="MilestoneChart" [links]="milestonesGraph.links" [nodes]="milestonesGraph.nodes" [legend]="false" [curve]="curve" [enableZoom]="false" [panningEnabled]="false" [draggingEnabled]="false" [style.overflow-x]="width > minWidth ? 'scroll' : ''"
                                [autoCenter]="true">
                                <ng-template #defsTemplate>
                                    <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
                                        <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
                                    </svg:marker>
                                </ng-template>
                                <ng-template #nodeTemplate let-node>
                                    <svg:g class="node" ngx-tooltip [tooltipPlacement]="'top'" [tooltipType]="'tooltip'" [tooltipTitle]="node.label" (mouseup)="onMilestoneUp($event, node)" (mousedown)="onMilestoneDown($event, node)" (click)="SelectMilestone(node,'milestone')" (contextmenu)="RemoveNode($event,node,'milestone')">

                                        <svg:rect [attr.width]="node.dimension.width" [attr.style.cursor]="pointer" [attr.height]="30" [attr.fill]="node.color || node.options.color" />
                                        <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2">
                                            {{node.label}}
                                        </svg:text>
                                    </svg:g>
                                </ng-template>
                                <ng-template #linkTemplate let-link>
                                    <svg:g class="edge">
                                        <svg:path class="line" stroke-width="3" marker-end="url(#arrow)">

                                        </svg:path>
                                    </svg:g>
                                </ng-template>

                            </ngx-graph>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-accordionTab>


        <p-accordionTab *ngIf="milestoneIndex > -1" [selected]="step === 1">
            <ng-template pTemplate="header">
                <div class="p-col p-grid p-mt-0 p-p-0">
                    <h5 class="p-col p-px-2 p-pb-0 p-pt-1 p-m-0">Sub Milestones</h5>
                    <h5 class="p-col p-px-2 p-pb-0 p-pt-1 p-m-0">{{selectedSubMilestone}}</h5>
                </div>
            </ng-template>
            <ng-template pTemplate="content">
                <div class="p-col p-grid p-flex-column">
                    <div class="p-col-12">
                        <div class="p-grid p-p-4 milestones dndList panelArea" dndEffectAllowed="move">
                            <div dndPlaceholderRef class="dndPlaceholder"></div>
                            <div class="p-p-2 p-mr-2 p-mb-2 itemBox" *ngFor="let submilestone of sharedObject.oTaskAllocation.arrSubMilestones" [dndDraggable]="submilestone" dndEffectAllowed="move" [dndType]="submilestone">
                                <div class="submilestones-item"><span> {{submilestone}}</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="p-col-12">
                        <div class="p-grid p-mt-2 submilestones-drop submilestonesDropArea" id="dropZone" (dndDrop)="onDrop($event,'submilestone',false)" [dndDropzone]="submilestones" dndEffectAllowed="move" [style.height]="subMilestoneMaxHeight + 'px'">
                            <div class="p-col p-grid p-m-0 p-as-start">
                                <div class="p-col"></div>
                                <div class="p-col p-grid p-ai-center">
                                    <span class="p-col p-text-center">Drop Sub Milestones here
                                    </span>
                                </div>
                                <div class="p-col p-grid p-jc-end">
                                    <button pButton pRipple type="button" class="p-button-outlined p-button-danger  p-mr-1" (click)="ChangeOrientation('submilestone')" icon="fa fa-refresh" title="Change Orientation"></button>
                                    <button pButton pRipple type="button" class="p-button-outlined p-button-danger  p-mr-1" (click)="ReloadGraph('submilestone')" icon="pi pi-refresh" title="Refresh graph"></button>
                                </div>
                            </div>
                            <ngx-graph *ngIf="subMilestoneHoritontal" [view]="[subMilestoneWidth, subMilestoneHeight]" class="chart-container" id="SubMilestoneChart" [links]="milestonesGraph.nodes[milestoneIndex].submilestone.links" [nodes]="milestonesGraph.nodes[milestoneIndex].submilestone.nodes"
                                [legend]="false" [curve]="curve" [enableZoom]="false" [draggingEnabled]="false" [panningEnabled]="false" [autoCenter]="true" [style.overflow-x]="subMilestoneWidth > minWidth ? 'scroll' : ''" [style.overflow-y]="subMilestoneHeight > subMilestoneMaxHeight ? 'scroll' : ''">

                                <ng-template #defsTemplate>
                                    <svg:marker id="arrow1" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
                                        <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
                                    </svg:marker>
                                </ng-template>

                                <ng-template #nodeTemplate let-node>
                                    <svg:g class="node" ngx-tooltip [tooltipPlacement]="'top'" [tooltipType]="'tooltip'" [tooltipTitle]="node.label" (mouseup)="onMilestoneUp($event, node)" (mousedown)="onMilestoneDown($event, node)" (click)="SelectMilestone(node,'submilestone')" (contextmenu)="RemoveNode($event,node,'submilestone')"
                                        *ngIf=" (milestonesGraph.nodes[milestoneIndex].submilestone.nodes.length > 1 && node.label !== 'Default') || milestonesGraph.nodes[milestoneIndex].submilestone.nodes.length === 1 ">

                                        <svg:rect [attr.width]="node.dimension.width" [attr.style.cursor]="pointer" [attr.height]="node.dimension.height" [attr.fill]="node.color || node.options.color" />
                                        <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2">
                                            {{node.label}}
                                        </svg:text>
                                    </svg:g>
                                </ng-template>
                                <ng-template #linkTemplate let-link>
                                    <svg:g class="edge">
                                        <svg:path class="line submilestoneLine" stroke-width="5" marker-end="url(#arrow1)" (click)="RemoveMilestoneLink(link,'submilestone')">

                                        </svg:path>
                                    </svg:g>
                                </ng-template>

                            </ngx-graph>

                            <ngx-graph *ngIf="!subMilestoneHoritontal" [view]="[subMilestoneWidth, subMilestoneHeight]" class="chart-container" id="SubMilestoneChart" [links]="milestonesGraph.nodes[milestoneIndex].submilestone.links" [nodes]="milestonesGraph.nodes[milestoneIndex].submilestone.nodes"
                                [legend]="false" [curve]="curve" [enableZoom]="false" [draggingEnabled]="false" [panningEnabled]="false" [autoCenter]="true" [style.overflow-x]="subMilestoneWidth > minWidth ? 'scroll' : ''" [layoutSettings]="layoutSettings"
                                [style.overflow-y]="subMilestoneHeight > subMilestoneMaxHeight ? 'scroll' : ''">

                                <ng-template #defsTemplate>
                                    <svg:marker id="arrow1" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
                                        <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
                                    </svg:marker>
                                </ng-template>

                                <ng-template #nodeTemplate let-node>
                                    <svg:g class="node" ngx-tooltip [tooltipPlacement]="'top'" [tooltipType]="'tooltip'" [tooltipTitle]="node.label" (mouseup)="onMilestoneUp($event, node)" (mousedown)="onMilestoneDown($event, node)" (click)="SelectMilestone(node,'submilestone')" (contextmenu)="RemoveNode($event,node,'submilestone')"
                                        *ngIf="(milestonesGraph.nodes[milestoneIndex].submilestone.nodes.length > 1 && node.label !=='Default') || milestonesGraph.nodes[milestoneIndex].submilestone.nodes.length === 1 ">

                                        <svg:rect [attr.width]="node.dimension.width" [attr.style.cursor]="pointer" [attr.height]="node.dimension.height" [attr.fill]="node.color || node.options.color" />
                                        <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2">
                                            {{node.label}}
                                        </svg:text>
                                    </svg:g>
                                </ng-template>
                                <ng-template #linkTemplate let-link>
                                    <svg:g class="edge">
                                        <svg:path class="line submilestoneLine" stroke-width="5" marker-end="url(#arrow1)" (click)="RemoveMilestoneLink(link,'submilestone')">
                                        </svg:path>
                                    </svg:g>
                                </ng-template>
                            </ngx-graph>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-accordionTab>


        <p-accordionTab *ngIf="submilestoneIndex > -1" [selected]="step === 2">
            <ng-template pTemplate="header">
                <div class="p-col p-grid p-mt-0 p-p-0">
                    <h5 class="p-col p-px-2 p-pb-0 p-pt-1 p-m-0">Tasks</h5>
                    <h5 class="p-col p-px-2 p-pb-0 p-pt-1 p-m-0"></h5>
                </div>
            </ng-template>
            <ng-template pTemplate="content">
                <div class="p-col p-grid p-flex-column">
                    <div class="p-col-12">
                        <div class="p-grid p-p-4 milestones dndList panelArea" dndEffectAllowed="move">
                            <div dndPlaceholderRef class="dndPlaceholder"></div>
                            <div class="p-p-2 p-mr-2 p-mb-2 itemBox" *ngFor="let task of sharedObject.oTaskAllocation.arrTasks" [dndDraggable]="task" dndEffectAllowed="move" [dndType]="task" (dndStart)="onDragged($event)">
                                <div class="task-item"><span> {{task}}</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="p-col-12">
                        <div class="p-grid p-mt-2 task-drop taskDropArea" id="dropZone" (dndDrop)="onTaskDrop($event)" [dndDropzone]="tasks" dndEffectAllowed="move" [style.max-height]="taskMaxHeight + 'px'" [style.height]="taskMaxHeight + 'px'">
                            <div class="p-col p-grid p-m-0 p-as-start">
                                <div class="p-col"></div>
                                <div class="p-col p-grid p-ai-center">
                                    <span class="p-col p-text-center">Drop Tasks here
                                    </span>
                                </div>
                                <div class="p-col p-grid p-jc-end">

                                    <button *ngIf="!enableZoom" pButton pRipple type="button" class="p-button-outlined p-button-danger  p-mr-1" icon="pi pi-search-plus" title="Enable zooming" (click)="EnableZoom(true)"></button>

                                    <button *ngIf="enableZoom" pButton pRipple type="button" class="p-button-outlined p-button-danger  p-mr-1" icon="pi pi-search-minus" title="Disable zooming" (click)="EnableZoom(false)"></button>

                                    <button *ngIf="!enablePaan" pButton pRipple type="button" class="p-button-outlined p-button-danger  p-mr-1" icon="fa fa-table" title="Enable panning" (click)="EnablePaan(true)"></button>

                                    <button *ngIf="enablePaan" pButton pRipple type="button" class="p-button-outlined p-button-danger  p-mr-1" icon="pi pi-list" title="Disable panning" (click)="EnablePaan(false)"></button>

                                    <button pButton pRipple type="button" class="p-button-outlined p-button-danger  p-mr-1" (click)="ChangeOrientation('task')" icon="fa fa-refresh" title="Change Orientation"></button>

                                    <button pButton pRipple type="button" class="p-button-outlined p-button-danger  p-mr-1" (click)="ReloadGraph('task')" icon="pi pi-refresh" title="Refresh graph"></button>
                                </div>
                            </div>



                            <ngx-graph *ngIf="tasksHoritontal" [view]="[taskWidth,taskHeight]" class="chart-container" id="taskChart" [links]="milestonesGraph.nodes[milestoneIndex].submilestone.nodes[submilestoneIndex].task.links" [nodes]="milestonesGraph.nodes[milestoneIndex].submilestone.nodes[submilestoneIndex].task.nodes"
                                [legend]="false" [curve]="curve" [enableZoom]="enableZoom" [draggingEnabled]="false" [panningEnabled]="enablePaan" [autoCenter]="true" [style.overflow-x]="taskWidth > minWidth ? 'scroll' : ''" [style.overflow-y]="taskHeight > taskMaxHeight ? 'scroll' : ''">

                                <ng-template #defsTemplate>
                                    <svg:marker id="arrow2" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
                                        <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
                                    </svg:marker>
                                </ng-template>

                                <ng-template #nodeTemplate let-node>
                                    <svg:g class="node" *ngIf="node.taskType !== 'Adhoc' && node.taskType !== 'TB' " ngx-tooltip [tooltipPlacement]="'top'" [tooltipType]="'tooltip'" [tooltipTitle]="node.label" (click)="ontaskClick(node)" (contextmenu)="RemoveNode($event,node,'task')">
                                        <svg:rect [attr.width]="node.dimension.width" [attr.style.cursor]="pointer" [attr.height]="node.dimension.height" [attr.fill]="node.color || node.options.color" />
                                        <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2">
                                            {{node.label}}
                                        </svg:text>
                                    </svg:g>
                                </ng-template>
                                <ng-template #linkTemplate let-link>
                                    <svg:g class="edge">
                                        <svg:path class="line taskLine" stroke-width="5" marker-end="url(#arrow2)" (click)="RemoveMilestoneLink(link,'task')">

                                        </svg:path>
                                    </svg:g>
                                </ng-template>

                            </ngx-graph>
                            <ngx-graph *ngIf="!tasksHoritontal" [view]="[taskWidth,taskHeight]" class="chart-container" id="taskChart" [links]="milestonesGraph.nodes[milestoneIndex].submilestone.nodes[submilestoneIndex].task.links" [nodes]="milestonesGraph.nodes[milestoneIndex].submilestone.nodes[submilestoneIndex].task.nodes"
                                [legend]="false" [curve]="curve" [enableZoom]="enableZoom" [draggingEnabled]="false" [panningEnabled]="enablePaan" [autoCenter]="true" [layoutSettings]="layoutSettings" [style.overflow-x]="taskWidth > minWidth ? 'scroll' : ''"
                                [style.overflow-y]="taskHeight > taskMaxHeight ? 'scroll' : ''">

                                <ng-template #defsTemplate>
                                    <svg:marker id="arrow2" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
                                        <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
                                    </svg:marker>
                                </ng-template>

                                <ng-template #nodeTemplate let-node>

                                    <svg:g class="node" *ngIf="node.taskType !== 'Adhoc' && node.taskType !== 'TB' " ngx-tooltip [tooltipPlacement]="'top'" [tooltipType]="'tooltip'" [tooltipTitle]="node.label" (click)="ontaskClick(node)" (contextmenu)="RemoveNode($event,node,'task')">
                                        <svg:rect [attr.width]="node.dimension.width" [attr.style.cursor]="pointer" [attr.height]="node.dimension.height" [attr.fill]="node.color || node.options.color" />
                                        <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2">
                                            {{node.label}}
                                        </svg:text>
                                    </svg:g>

                                </ng-template>
                                <ng-template #linkTemplate let-link>
                                    <svg:g class="edge">
                                        <svg:path class="line taskLine" stroke-width="5" marker-end="url(#arrow2)" (click)="RemoveMilestoneLink(link,'task')">

                                        </svg:path>
                                    </svg:g>
                                </ng-template>

                            </ngx-graph>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-accordionTab>
    </p-accordion>



    <!-- <mat-accordion class="p-flex-column"> -->

    <!--***************************************************************************************
                                                   Milestones  panel      
***********************************************************************************************-->
    <!-- 
        <mat-expansion-panel class="p-mb-2" [expanded]="step === 0" (opened)="setStep(0)" style=" border: 1px solid #db1721;
 border-radius: 0px;width:100%;" [hidden]="mainloaderenable">
            <mat-expansion-panel-header style=" background: #db1721;" [collapsedHeight]="customCollapsedHeight" [expandedHeight]="customCollapsedHeight">
                <mat-panel-title>
                    <h3 style="width: 250px; text-align: left;"> Milestones </h3>
                    <h4 style="width: 350px; text-align: left;"> {{selectedMilestone}} </h4>
                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>

            </mat-expansion-panel-header>

            <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center start" style="margin-top: 1vh;">

                <div class="milestones dndList" dndEffectAllowed="move" fxLayoutAlign.xs="space-around center" fxLayoutAlign="start start" style="width: 100%; max-height:350px">

                    <div dndPlaceholderRef class="dndPlaceholder"></div>

                    <div *ngFor="let milestone of sharedObject.oTaskAllocation.arrMilestones" fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="0" [dndDraggable]="milestone" dndEffectAllowed="move" [dndType]="milestone">
                        <div class="milestones-item" fxLayout><span> {{milestone}}</span></div>
                    </div>
                </div>

                <div class="milestones-drop milestonesDropArea" id="dropZone" (dndDrop)="onDrop($event,'milestone',false)" [dndDropzone]="milestones" fxLayoutAlign="start" dndEffectAllowed="move" fxLayout="column" fxLayout.xs="column" fxLayoutGap.xs="0" style="width:100%;">

                    <div id="milestonetext" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" style="padding: 2vh" fxLayoutGap.xs="0">
                        <div></div>
                        <div>Drop Milestones here</div>
                        <div>

                            <button type="button" style="line-height: 0px;height: 0px;" mat-icon-button title="Refresh graph" (click)="ReloadGraph('milestone')">
                                <mat-icon>refresh</mat-icon>
                            </button>
                        </div>

                    </div>
                    <ngx-graph [view]="[width,height]" class="chart-container" id="MilestoneChart" [links]="milestonesGraph.links" [nodes]="milestonesGraph.nodes" [legend]="false" [curve]="curve" [enableZoom]="false" [panningEnabled]="false" [draggingEnabled]="false" [style.overflow-x]="width > minWidth ? 'scroll' : ''"
                        [autoCenter]="true">

                        <ng-template #defsTemplate>
                            <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
                                <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
                            </svg:marker>
                        </ng-template>

                        <ng-template #nodeTemplate let-node>
                            <svg:g class="node" ngx-tooltip [tooltipPlacement]="'top'" [tooltipType]="'tooltip'" [tooltipTitle]="node.label" (mouseup)="onMilestoneUp($event, node)" (mousedown)="onMilestoneDown($event, node)" (click)="SelectMilestone(node,'milestone')" (contextmenu)="RemoveNode($event,node,'milestone')">

                                <svg:rect [attr.width]="node.dimension.width" [attr.style.cursor]="pointer" [attr.height]="30" [attr.fill]="node.color || node.options.color" />
                                <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2">
                                    {{node.label}}
                                </svg:text>
                            </svg:g>
                        </ng-template>
                        <ng-template #linkTemplate let-link>
                            <svg:g class="edge">
                                <svg:path class="line" stroke-width="3" marker-end="url(#arrow)">

                                </svg:path>
                            </svg:g>
                        </ng-template>

                    </ngx-graph>
                </div>

            </div>


        </mat-expansion-panel> -->
    <!-- *******************************************************************************************
                                                   Sub Milestones  panel      
        ********************************************************************************************-->

    <!-- <mat-expansion-panel class="p-mb-2" *ngIf="milestoneIndex > -1" [expanded]="step === 1" (opened)="setStep(1)" style="border: 1px solid #db1721;border-radius: 0px;width: 100%;">
            <mat-expansion-panel-header style=" background: #db1721;" [collapsedHeight]="customCollapsedHeight" [expandedHeight]="customCollapsedHeight">
                <mat-panel-title>
                    <h3 style="width: 250px; text-align: left;">Sub Milestones </h3>
                    <h4 style="width: 350px; text-align: left;"> {{selectedSubMilestone}} </h4>
                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>

            </mat-expansion-panel-header>

            <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center start" style="margin-top: 1vh;">

                <div class="milestones dndList" style="width:100%;" dndEffectAllowed="move" fxLayoutAlign.xs="space-around center" fxLayoutAlign="start start">
                    <div dndPlaceholderRef class="dndPlaceholder"></div>

                    <div *ngFor="let submilestone of sharedObject.oTaskAllocation.arrSubMilestones" fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="0" [dndDraggable]="submilestone" dndEffectAllowed="move" [dndType]="submilestone">
                        <div class="submilestones-item" fxLayout><span> {{submilestone}}</span></div>
                    </div>
                </div>

                <div class="submilestones-drop submilestonesDropArea" id="dropZone" (dndDrop)="onDrop($event,'submilestone',false)" [dndDropzone]="submilestones" fxLayoutAlign="start" dndEffectAllowed="move" fxLayout="column" fxLayout.xs="column" fxLayoutGap.xs="0" [style.max-height]="subMilestoneMaxHeight + 'px'"
                    [style.height]="subMilestoneMaxHeight + 'px'" style="width:100%">

                    <div id="milestonetext" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" style="padding: 2vh" fxLayoutGap.xs="0">
                        <div></div>
                        <div>Drop Sub Milestones here</div>
                        <div>
                            <button type="button" style="line-height: 0px;height: 0px;" mat-icon-button title="Change Orientation" (click)="ChangeOrientation('submilestone')">
                                <mat-icon> autorenew</mat-icon>
                            </button>
                            <button type="button" style="line-height: 0px;height: 0px;" mat-icon-button title="Refresh graph" (click)="ReloadGraph('submilestone')">
                                <mat-icon> refresh</mat-icon>
                            </button>
                        </div>

                    </div>
                    <ngx-graph *ngIf="subMilestoneHoritontal" [view]="[subMilestoneWidth, subMilestoneHeight]" class="chart-container" id="SubMilestoneChart" [links]="milestonesGraph.nodes[milestoneIndex].submilestone.links" [nodes]="milestonesGraph.nodes[milestoneIndex].submilestone.nodes"
                        [legend]="false" [curve]="curve" [enableZoom]="false" [draggingEnabled]="false" [panningEnabled]="false" [autoCenter]="true" [style.overflow-x]="subMilestoneWidth > minWidth ? 'scroll' : ''" [style.overflow-y]="subMilestoneHeight > subMilestoneMaxHeight ? 'scroll' : ''">

                        <ng-template #defsTemplate>
                            <svg:marker id="arrow1" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
                                <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
                            </svg:marker>
                        </ng-template>

                        <ng-template #nodeTemplate let-node>
                            <svg:g class="node" ngx-tooltip [tooltipPlacement]="'top'" [tooltipType]="'tooltip'" [tooltipTitle]="node.label" (mouseup)="onMilestoneUp($event, node)" (mousedown)="onMilestoneDown($event, node)" (click)="SelectMilestone(node,'submilestone')" (contextmenu)="RemoveNode($event,node,'submilestone')"
                                *ngIf=" (milestonesGraph.nodes[milestoneIndex].submilestone.nodes.length > 1 && node.label !== 'Default') || milestonesGraph.nodes[milestoneIndex].submilestone.nodes.length === 1 ">

                                <svg:rect [attr.width]="node.dimension.width" [attr.style.cursor]="pointer" [attr.height]="node.dimension.height" [attr.fill]="node.color || node.options.color" />
                                <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2">
                                    {{node.label}}
                                </svg:text>
                            </svg:g>
                        </ng-template>
                        <ng-template #linkTemplate let-link>
                            <svg:g class="edge">
                                <svg:path class="line submilestoneLine" stroke-width="5" marker-end="url(#arrow1)" (click)="RemoveMilestoneLink(link,'submilestone')">

                                </svg:path>
                            </svg:g>
                        </ng-template>

                    </ngx-graph>
                
                    <ngx-graph *ngIf="!subMilestoneHoritontal" [view]="[subMilestoneWidth, subMilestoneHeight]" class="chart-container" id="SubMilestoneChart" [links]="milestonesGraph.nodes[milestoneIndex].submilestone.links" [nodes]="milestonesGraph.nodes[milestoneIndex].submilestone.nodes"
                        [legend]="false" [curve]="curve" [enableZoom]="false" [draggingEnabled]="false" [panningEnabled]="false" [autoCenter]="true" [style.overflow-x]="subMilestoneWidth > minWidth ? 'scroll' : ''" [orientation]="TB" [style.overflow-y]="subMilestoneHeight > subMilestoneMaxHeight ? 'scroll' : ''">

                        <ng-template #defsTemplate>
                            <svg:marker id="arrow1" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
                                <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
                            </svg:marker>
                        </ng-template>

                        <ng-template #nodeTemplate let-node>
                            <svg:g class="node" ngx-tooltip [tooltipPlacement]="'top'" [tooltipType]="'tooltip'" [tooltipTitle]="node.label" (mouseup)="onMilestoneUp($event, node)" (mousedown)="onMilestoneDown($event, node)" (click)="SelectMilestone(node,'submilestone')" (contextmenu)="RemoveNode($event,node,'submilestone')"
                                *ngIf="(milestonesGraph.nodes[milestoneIndex].submilestone.nodes.length > 1 && node.label !=='Default') || milestonesGraph.nodes[milestoneIndex].submilestone.nodes.length === 1 ">

                                <svg:rect [attr.width]="node.dimension.width" [attr.style.cursor]="pointer" [attr.height]="node.dimension.height" [attr.fill]="node.color || node.options.color" />
                                <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2">
                                    {{node.label}}
                                </svg:text>
                            </svg:g>
                        </ng-template>
                        <ng-template #linkTemplate let-link>
                            <svg:g class="edge">
                                <svg:path class="line submilestoneLine" stroke-width="5" marker-end="url(#arrow1)" (click)="RemoveMilestoneLink(link,'submilestone')">

                                </svg:path>
                            </svg:g>
                        </ng-template>

                    </ngx-graph>
                

                </div>

            </div>
        </mat-expansion-panel> -->


    <!--********************************************************************************************
                                                  Task  panel      
         ******************************************************************************************-->

    <!-- <mat-expansion-panel *ngIf="submilestoneIndex > -1  " [expanded]="step === 2" (opened)="setStep(2)" style="border: 1px solid #db1721;border-radius: 0px;width: 100%;">
            <mat-expansion-panel-header style=" background: #db1721;" [collapsedHeight]="customCollapsedHeight" [expandedHeight]="customCollapsedHeight">
                <mat-panel-title>
                    <h3 style="width: 250px; text-align: left;">Tasks </h3>
                    <h4 style="width: 350px; text-align: left;"> </h4>
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center start" style="margin-top: 1vh;">
                <div class="milestones dndList" style="width:100%;" dndEffectAllowed="move" fxLayoutAlign.xs="space-around center" fxLayoutAlign="start start">

                    <div *ngFor="let task of sharedObject.oTaskAllocation.arrTasks" fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="0" [dndDraggable]="task" dndEffectAllowed="move" [dndType]="task" (dndStart)="onDragged($event)">
                        <div class="task-item" fxLayout><span> {{task}}</span></div>
                    </div>
                </div>

                <div class="task-drop taskDropArea" id="dropZone" (dndDrop)="onTaskDrop($event)" [dndDropzone]="tasks" fxLayoutAlign="start" dndEffectAllowed="move" fxLayout="column" fxLayout.xs="column" [style.max-height]="taskMaxHeight + 'px'" [style.height]="taskMaxHeight + 'px'"
                    fxLayoutGap.xs="0" style="width:100%;">

                    <div id="milestonetext" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" style="padding: 2vh" fxLayoutGap.xs="0">
                        <div></div>
                        <div>Drop Tasks here</div>
                        <div>
                            <button *ngIf="!enableZoom" type="button" style="line-height: 0px;height: 0px;" mat-icon-button title="Enable zooming" (click)="EnableZoom(true)">
                                <mat-icon>blur_on</mat-icon>
                            </button>
                            <button *ngIf="enableZoom" type="button" style="line-height: 0px;height: 0px;" mat-icon-button title="Disable zooming" (click)="EnableZoom(false)">
                                <mat-icon>blur_off</mat-icon>
                            </button>
                            <button *ngIf="!enablePaan" type="button" style="line-height: 0px;height: 0px;" mat-icon-button title="Enable panning" (click)="EnablePaan(true)">
                                <mat-icon>grid_on</mat-icon>
                            </button>
                            <button *ngIf="enablePaan" type="button" style="line-height: 0px;height: 0px;" mat-icon-button title="Disable panning" (click)="EnablePaan(false)">
                                <mat-icon>grid_off</mat-icon>
                            </button>
                            <button type="button" style="line-height: 0px;height: 0px;" mat-icon-button title="Change Orientation" (click)="ChangeOrientation('task')">
                                <mat-icon>autorenew</mat-icon>
                            </button>
                            <button type="button" style="line-height: 0px;height: 0px;" mat-icon-button title="Refresh graph" (click)="ReloadGraph('task')">
                                <mat-icon>refresh</mat-icon>
                            </button>
                        </div>
                    </div>

                   
                    <ngx-graph *ngIf="tasksHoritontal" [view]="[taskWidth,taskHeight]" class="chart-container" id="taskChart" [links]="milestonesGraph.nodes[milestoneIndex].submilestone.nodes[submilestoneIndex].task.links" [nodes]="milestonesGraph.nodes[milestoneIndex].submilestone.nodes[submilestoneIndex].task.nodes"
                        [legend]="false" [curve]="curve" [enableZoom]="enableZoom" [draggingEnabled]="false" [panningEnabled]="enablePaan" [autoCenter]="true" [style.overflow-x]="taskWidth > minWidth ? 'scroll' : ''" [style.overflow-y]="taskHeight > taskMaxHeight ? 'scroll' : ''">

                        <ng-template #defsTemplate>
                            <svg:marker id="arrow2" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
                                <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
                            </svg:marker>
                        </ng-template>

                        <ng-template #nodeTemplate let-node>
                            <svg:g class="node" *ngIf="node.taskType !== 'Adhoc' && node.taskType !== 'TB' " ngx-tooltip [tooltipPlacement]="'top'" [tooltipType]="'tooltip'" [tooltipTitle]="node.label" (click)="ontaskClick(node)" (contextmenu)="RemoveNode($event,node,'task')">
                                <svg:rect [attr.width]="node.dimension.width" [attr.style.cursor]="pointer" [attr.height]="node.dimension.height" [attr.fill]="node.color || node.options.color" />
                                <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2">
                                    {{node.label}}
                                </svg:text>
                            </svg:g>
                        </ng-template>
                        <ng-template #linkTemplate let-link>
                            <svg:g class="edge">
                                <svg:path class="line taskLine" stroke-width="5" marker-end="url(#arrow2)" (click)="RemoveMilestoneLink(link,'task')">

                                </svg:path>
                            </svg:g>
                        </ng-template>

                    </ngx-graph>
                  
                    <ngx-graph *ngIf="!tasksHoritontal" [view]="[taskWidth,taskHeight]" class="chart-container" id="taskChart" [links]="milestonesGraph.nodes[milestoneIndex].submilestone.nodes[submilestoneIndex].task.links" [nodes]="milestonesGraph.nodes[milestoneIndex].submilestone.nodes[submilestoneIndex].task.nodes"
                        [legend]="false" [curve]="curve" [enableZoom]="enableZoom" [draggingEnabled]="false" [panningEnabled]="enablePaan" [autoCenter]="true" [orientation]="TB" [style.overflow-x]="taskWidth > minWidth ? 'scroll' : ''" [style.overflow-y]="taskHeight > taskMaxHeight ? 'scroll' : ''">

                        <ng-template #defsTemplate>
                            <svg:marker id="arrow2" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
                                <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
                            </svg:marker>
                        </ng-template>

                        <ng-template #nodeTemplate let-node>

                            <svg:g class="node" *ngIf="node.taskType !== 'Adhoc' && node.taskType !== 'TB' " ngx-tooltip [tooltipPlacement]="'top'" [tooltipType]="'tooltip'" [tooltipTitle]="node.label" (click)="ontaskClick(node)" (contextmenu)="RemoveNode($event,node,'task')">
                                <svg:rect [attr.width]="node.dimension.width" [attr.style.cursor]="pointer" [attr.height]="node.dimension.height" [attr.fill]="node.color || node.options.color" />
                                <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2">
                                    {{node.label}}
                                </svg:text>
                            </svg:g>

                        </ng-template>
                        <ng-template #linkTemplate let-link>
                            <svg:g class="edge">
                                <svg:path class="line taskLine" stroke-width="5" marker-end="url(#arrow2)" (click)="RemoveMilestoneLink(link,'task')">

                                </svg:path>
                            </svg:g>
                        </ng-template>

                    </ngx-graph>
                  
                </div>

            </div>
        </mat-expansion-panel>

    </mat-accordion>

    <div fxLayout="column" class="refreshGraph" style="padding: 10vw;width: 100%;" fxLayoutAlign="center center" *ngIf="grapLoading">
        <div id="modalInnerLoader"></div>
        <div id="modalInnerLoaderText">Refresh Graph...</div>
    </div> -->


</div>